#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE    VFT_DLL
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "I82930 Information App"
#define VER_INTERNALNAME_STR        "info.sys"
#define VER_ORIGINALFILENAME_STR    "info.sys"

#include "common.ver"

