BODY {font-family: "Verdana,Arial,Helvetica"; font-size: 9pt; color: 000000}
A:link {font-family: "Verdana,Arial,Helvetica"; font-size: 9pt; color: 000000; font-weight: bold}
A:visited {font-family: "Verdana,Arial,Helvetica"; font-size: 9pt; color: 996600; font-weight: bold}
A:active {font-family: "Verdana,Arial,Helvetica"; font-size: 9pt; color: FF0000; font-weight: bold}
H1 {font-family: "Verdana,Arial,Helvetica"; font-size: 15pt; color: 000000; text-decoration: none; margin-left=0}
STRONG {font-family: "Verdana,Arial,Helvetica"; font-size: 15pt; color: 000000; text-decoration: none; margin-left=0}
H2 {font-family: "Verdana,Arial,Helvetica"; font-size: 12pt; color: 000000; text-decoration: none; margin-left=0}
H3 {font-family: "Verdana,Arial,Helvetica"; font-size: 10pt; color: 000000; text-decoration: none; margin-left=0}
PRE {font-family: "Courier New,Courier"; font-size: 9pt; color: 000000}
P {font-family: "Verdana,Arial,Helvetica"; font-size: 9pt; color: 000000} 
BLOCKQUOTE {font-family: "Verdana,Arial,Helvetica"; font-size: 8pt; color: 000000}
UL {font-family: "Verdana,Arial,Helvetica"; font-size: 9pt; color: 000000}
OL {font-family: "Verdana,Arial,Helvetica"; font-size: 9pt; color: 000000}
TR {font-family: "Verdana,Arial,Helvetica"; font-size: 9pt; color: 000000}
TD {font-family: "Verdana,Arial,Helvetica"; font-size: 9pt; color: 000000}