#define     NOGDIINCLUDES

#include    "plotters.h"

#include    "hp7470A.h"

#undef      NUMPENCOLORS
#undef      XAPHYSICALUNITS
#undef      YAPHYSICALUNITS
#undef      XA4PHYSICALUNITS
#undef      YA4PHYSICALUNITS

#include    "hp7475A.h"


#define TABGRP  WS_TABSTOP | WS_GROUP



HP7470AdtMODE DIALOG 2, 2, 285, 115
    STYLE   WS_POPUP | WS_DLGFRAME
    CAPTION "HP 7470A: Output Mode"
BEGIN

    DEFPUSHBUTTON "Ok",                         IDOK,     165,  90,  40, 14, TABGRP
    PUSHBUTTON    "Cancel",                     IDCANCEL, 220,  90,  40, 14, TABGRP

    GROUPBOX    "Left pen",                 IDCANCEL,        5,   5, 65,105, WS_GROUP
    RADIOBUTTON "Black",                    LBLACKPEN,      10,  15, 59, 10, WS_GROUP
    RADIOBUTTON "Red",                      LREDPEN,        10,  25, 59, 10
    RADIOBUTTON "Green",                    LGREENPEN,      10,  35, 59, 10
    RADIOBUTTON "Blue ",                    LBLUEPEN,       10,  45, 59, 10
    RADIOBUTTON "Yellow",                   LYELLOWPEN,     10,  55, 59, 10
    RADIOBUTTON "Violet",                   LVIOLETPEN,     10,  65, 59, 10
    RADIOBUTTON "Turquoise",                LTURQUOISEPEN,  10,  75, 59, 10
    RADIOBUTTON "Orange",                   LORANGEPEN,     10,  85, 59, 10
    RADIOBUTTON "Brown",                    LBROWNPEN,      10,  95, 59, 10

    GROUPBOX    "Right pen",                IDCANCEL,       75,   5, 65,105, WS_GROUP
    RADIOBUTTON "Black",                    RBLACKPEN,      80,  15, 59, 10, WS_GROUP
    RADIOBUTTON "Red",                      RREDPEN,        80,  25, 59, 10
    RADIOBUTTON "Green",                    RGREENPEN,      80,  35, 59, 10
    RADIOBUTTON "Blue ",                    RBLUEPEN,       80,  45, 59, 10
    RADIOBUTTON "Yellow",                   RYELLOWPEN,     80,  55, 59, 10
    RADIOBUTTON "Violet",                   RVIOLETPEN,     80,  65, 59, 10
    RADIOBUTTON "Turquoise",                RTURQUOISEPEN,  80,  75, 59, 10
    RADIOBUTTON "Orange",                   RORANGEPEN,     80,  85, 59, 10
    RADIOBUTTON "Brown",                    RBROWNPEN,      80,  95, 59, 10

    GROUPBOX    "Paper size",                    IDCANCEL, 145,   5,135, 35, WS_GROUP
    RADIOBUTTON "US Letter (8-1/2 X 11 in.)",   APAPER, 150,  15,129, 10, WS_GROUP
    RADIOBUTTON "DIN A4 (210 X 297 mm)",    A4PAPER, 150,  25,129, 10

    GROUPBOX,   "Orientation",              IDCANCEL,      145,  45, 65, 35, WS_GROUP
    RADIOBUTTON "Landscape",                LANDSCAPE,     150,  55, 59, 10, WS_GROUP
    RADIOBUTTON "Portrait",                 PORTRAIT,      150,  65, 59, 10

    GROUPBOX    "Pen speed",                IDCANCEL,      215,  45, 65, 35, WS_GROUP
    RADIOBUTTON "Fast",                     FASTSPEED,     220,  55, 59, 10, WS_GROUP
    RADIOBUTTON "Slow",                     SLOWSPEED,     220,  65, 59, 10

/* ---------------------------------------------------------------------------
    GROUPBOX    "Output mode",             IDCANCEL,        5, 150, 125, 35, WS_GROUP
    RADIOBUTTON "Spooled output (normal)", SETSPOOLING,    10, 160, 120, 10, WS_GROUP
    RADIOBUTTON "Direct output (debug)",   RESETSPOOLING,  10, 170, 120, 10
--------------------------------------------------------------------------- */

END



HP7475AdtMODE DIALOG 2, 2, 275, 145
    STYLE   WS_POPUP | WS_DLGFRAME
    CAPTION "HP 7475A: Output Mode"
BEGIN

    DEFPUSHBUTTON "Ok",                         IDOK,     155, 120,  40, 14, TABGRP
    PUSHBUTTON    "Cancel",                     IDCANCEL, 220, 120,  40, 14, TABGRP

    GROUPBOX    "Pen Colors",                 IDCANCEL,     5,   5, 135, 75, WS_GROUP
    RADIOBUTTON "Pen 1:",                     PEN1BUTTON,  10,  15,  50, 10, WS_GROUP
    RADIOBUTTON "Pen 2:",                     PEN2BUTTON,  10,  25,  50, 10
    RADIOBUTTON "Pen 3:",                     PEN3BUTTON,  10,  35,  50, 10
    RADIOBUTTON "Pen 4:",                     PEN4BUTTON,  10,  45,  50, 10
    RADIOBUTTON "Pen 5:",                     PEN5BUTTON,  10,  55,  50, 10
    RADIOBUTTON "Pen 6:",                     PEN6BUTTON,  10,  65,  50, 10

    LTEXT       "?",                           PEN1COLOR,  70,  15,  60, 10
    LTEXT       "?",                           PEN2COLOR,  70,  25,  60, 10
    LTEXT       "?",                           PEN3COLOR,  70,  35,  60, 10
    LTEXT       "?",                           PEN4COLOR,  70,  45,  60, 10
    LTEXT       "?",                           PEN5COLOR,  70,  55,  60, 10
    LTEXT       "?",                           PEN6COLOR,  70,  65,  60, 10

    GROUPBOX    "Colors",                   IDCANCEL,     145,   5,  60,105, WS_GROUP
    RADIOBUTTON "Black",                    BLACKPEN,     150,  15,  54, 10, WS_GROUP
    RADIOBUTTON "Red",                      REDPEN,       150,  25,  54, 10
    RADIOBUTTON "Green",                    GREENPEN,     150,  35,  54, 10
    RADIOBUTTON "Blue ",                    BLUEPEN,      150,  45,  54, 10
    RADIOBUTTON "Yellow",                   YELLOWPEN,    150,  55,  54, 10
    RADIOBUTTON "Violet",                   VIOLETPEN,    150,  65,  54, 10
    RADIOBUTTON "Turquoise",                TURQUOISEPEN, 150,  75,  54, 10
    RADIOBUTTON "Orange",                   ORANGEPEN,    150,  85,  54, 10
    RADIOBUTTON "Brown",                    BROWNPEN,     150,  95,  54, 10

    GROUPBOX    "Paper size",                   IDCANCEL,   5,  85, 135, 55, WS_GROUP
    RADIOBUTTON "US Letter (8-1/2 X 11 in.)",  APAPER,  10,  95, 129, 10, WS_GROUP
    RADIOBUTTON "ANSI B (11 X 17 in.)",     BPAPER,  10, 105, 129, 10
    RADIOBUTTON "DIN A4 (210 X 297 mm)",   A4PAPER,  10, 115, 129, 10
    RADIOBUTTON "DIN A3 (297 X 420 mm)",   A3PAPER,  10, 125, 129, 10

    GROUPBOX,   "Orientation",              IDCANCEL,     210,   5,  60, 35, WS_GROUP
    RADIOBUTTON "Landscape",                LANDSCAPE,    215,  15,  54, 10, WS_GROUP
    RADIOBUTTON "Portrait",                 PORTRAIT,     215,  25,  54, 10

    GROUPBOX    "Pen speed",                IDCANCEL,     210,  45,  60, 35, WS_GROUP
    RADIOBUTTON "Fast",                     FASTSPEED,    215,  55,  54, 10, WS_GROUP
    RADIOBUTTON "Slow",                     SLOWSPEED,    215,  65,  54, 10

/* ---------------------------------------------------------------------------
    GROUPBOX    "Output mode",             IDCANCEL,        5, 150, 125, 35, WS_GROUP
    RADIOBUTTON "Spooled output (normal)", SETSPOOLING,    10, 160, 120, 10, WS_GROUP
    RADIOBUTTON "Direct output (debug)",   RESETSPOOLING,  10, 170, 120, 10
--------------------------------------------------------------------------- */

END
