#include <windows.h>
#include "ids_inst.h"
#include "gauge.h"
#include "bldver.h"

rcinclude gauge.dlg

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_PRODUCTVERSION
FILEFLAGSMASK   VER_FILEFLAGSMASK
FILEFLAGS       VER_FILEFLAGS
FILEOS          VER_FILEOS
FILETYPE        VER_FILETYPE
FILESUBTYPE     VER_FILESUBTYPE
{
   BLOCK "StringFileInfo"
   {
   BLOCK "040904E4"
      {
      VALUE "CompanyName",     VER_COMPANYNAME_STR
      VALUE "FileDescription", "Setup Install Library\0"
      VALUE "FileVersion",     VER_FILEVERSION_STR
      VALUE "InternalName",    "MSINSSTF.DLL\0"
      VALUE "LegalCopyright",  VER_LEGALCOPYRIGHT_STR
      VALUE "LegalTrademarks", VER_LEGALTRADEMARKS_STR
      VALUE "ProductName",     VER_PRODUCTNAME_STR
      VALUE "ProductVersion",  VER_PRODUCTVERSION_STR
      VALUE "Comments",        VER_COMMENT_STR
      }
   }
}

STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE
	{
	IDS_INS_LangDiffTitle,     "Setup Message"
	IDS_INS_CopyFileLangDiff,  "Currently, version %1u.%02u of %s is installed and supports %s.  The software you are installing contains the same component, but it supports %s.  Should the existing copy be overwritten?"
	IDS_INS_LangDiffAlwaysYes, "Should all such files be overwritten with new language versions?"
	IDS_INS_LangDiffAlwaysNo,  "Should all such files be left as the current language versions?"
	}

