#include <mindrvrc.h>
#include "PAINTJET.rcv"

1      RC_TABLES   PRELOAD MOVEABLE         PAINTJET.GPC

1      RC_FONT     LOADONCALL DISCARDABLE  COUR10.PFM
2      RC_FONT     LOADONCALL DISCARDABLE  LGTH12.PFM
3      RC_FONT     LOADONCALL DISCARDABLE  LGTH18.PFM

1      RC_TRANSTAB LOADONCALL MOVEABLE      ECMA94.CTT

STRINGTABLE

BEGIN
       1                  "HP PaintJet"
       2                  "HP PaintJet XL"
       257                "%d dpi "
       258                "Paper Tray"
       259                "Normal Mode"
       260                "Presentation Mode"
END
