/* Style sheet optimized for NavX   */

A:link{ color: #000066; }

A:visited { color: #000000; }

A:active { color: #0000FF; }

/* TOOLBAR, SBNMENU start */

td.clsTDMSTB {
background: #000000;
}

table.clsTableBP { 
background: #FFFFFF;
margin: 0;
margin-right: 14pt;
margin-left: -2pt;
}

table.clsTableMS {
margin:0;
padding:0;
}

td.clsTDNB {
background:#003399;
}

/* NAV_LINKS */

table.clsTableNL { 
background: #FFFFFF;
margin: 0;
margin-right: 14pt;
}

td.clsShowHide  {
background: #FFFFFF;
}

td.clsTDNL {
background:#FFFFFF;
}

A.clsBottomItem {
color: #000000;
text-decoration:none;
font-size: 8pt;
}

A.clsLeftMenu {
color: #000000;
text-decoration:none;
font-weight:bold; font-size: 8pt;
}

A.clsLeftMenu:visited{ color: #000000; } 

/* NAV_LINKS end */

body{margin-left: -10pt; margin-right: -10pt;
margin-top: -10pt;
font-size: 10pt;    
font-family: Verdana, Arial, Helvetica, MS Sans Serif;
}

blockquote{
margin-left: 10pt;
margin-right: 10pt;
margin-top: 10pt;
margin-bottom: 10pt;
font-size: 10pt; 
font-family: Verdana, Arial, Helvetica, MS Sans Serif;
}

blockquote.body{
margin-left: -20pt;
margin-right: -20pt;
margin-top: -20pt;
margin-bottom: -20pt;
font-size: 10pt; 
font-family: Verdana, Arial, Helvetica, MS Sans Serif;
}

dl{ margin-top: 5pt;
font-size: 10pt;
font-family: Verdana, Arial, Helvetica, MS Sans Serif; 
} 
dl dl{ margin-top: 5pt;
font-size: 10pt;
font-family: Verdana, Arial, Helvetica, MS Sans Serif; 
} 

h1{
font-size: 16pt;
font-family: Verdana, Arial, Helvetica, MS Sans Serif; 
margin-top: 16pt;
}
h2{
font-size: 15pt;
font-family: Verdana, Arial, Helvetica, MS Sans Serif; 
margin-top: 15pt;
}
h3{
font-size: 14pt;
font-family: Verdana, Arial, Helvetica, MS Sans Serif; 
    margin-top: 14pt;
}
h4{
font-size: 12pt;
font-family: Verdana, Arial, Helvetica, MS Sans Serif; 
    margin-top: 12pt;
}
h5{
font-size: 10pt;
font-family: Verdana, Arial, Helvetica, MS Sans Serif; 
    margin-top: 10pt;
}

h6{
font-size: 8pt;
    margin-top: 8pt;
}

hr{color: #666666;}

hr.clsTitle { 
color: #666666; 
height: 1px 
} 

p{font-size: 10pt;
font-family: Verdana, Arial, Helvetica, MS Sans Serif; 
margin-top: .6em; 
margin-bottom: .6em;
}

p.ref{ 
font-weight: bold ;
margin-top: 12pt; 
margin-bottom: 0pt;
}

P.copyright  {
font-size: 8pt; font-family: verdana, arial, helvetica, ms sans serif;
margin-top: 0; 
margin-bottom: 0;
}

pre{
font-family: Courier New;
font-size: 9pt;
background: #EEEEEE;
/*margin-top: 0pt;
margin-bottom: 0pt;
margin-left: 0pt;
padding-top: 0pt;
padding-bottom: 0pt; 
padding-left: 0pt;
padding-right: 0pt;*/
}

pre.syntax{
font-family: Verdana, Arial, Helvetica, MS Sans Serif;
font-size: 9pt;
}

ol{font-size: 10pt;
font-family: Verdana, Arial, Helvetica, MS Sans Serif; 
margin-top: 5pt; 
margin-left: 1pt;
}

ul{font-size: 10pt;
font-family: Verdana, Arial, Helvetica, MS Sans Serif; 
margin-top: 5pt; 
margin-left: 1pt;
}

ol ul{
list-style: disc; 
margin-top: 10pt;
}

li{list-style: disc; }

li li{  list-style-type: square; }

code{
font-family: Courier New; 
font-size: 138%;
background: #EEEEEE;
}

table{
font-size: 100%;
margin-top: 10pt; 
margin-bottom: 3pt;
padding-left: 2pt;
padding-right: 2pt;
}
th{
text-align: left;
background-color: #dddddd;
margin: 3pt;
vertical-align: bottom;
}

tr{ vertical-align: top; }

td{background-color: #EEEEEE;
vertical-align: top;
font-size: 10pt;
font-family: Verdana, Arial, Helvetica, MS Sans Serif; 
}

table.ref{
font-size: 100%;
margin-top: 10pt; 
margin-bottom: 6pt;
padding-left: 2pt;
padding-right: 2pt;
}

table.ref th{
font-weight: bold ;
text-align: left;
background-color: #CCCCCC;
margin: 3pt;
vertical-align: bottom;
}

table.ref tr{ vertical-align: top; }

table.ref td{
margin: 3pt;
background-color: #EEEEEE;
vertical-align: top;
}

table.paramvls{
margin-top: .25em;
}

a.line{margin-top: -1em;
text-decoration: underline; font-size: 8pt; color: black;
}

a.glossary{
text-decoration: underline; font-size: 10pt; color: green;
}

table.swtable { 
  background-color: #ffffff; 
margin-top: 10pt; 
margin-bottom: 3pt;
padding-left: 2pt;
padding-right: 2pt;
list-style-type: square;
}

table.swtable th{
  background-color: #CCCCCC; 
vertical-align: top; 
margin-right : 1em; 
margin-bottom: .25em;
list-style-type: square;
}

.defvalue {font-weight : bold; font-family : 'courier new'} /* use to indicate when text represents a default value */
.literal { font-family : 'courier new'} /* use to indicate when text represents a value the user should type */
.range { font-style : italic } /* use to indicate when text represents a range of possible values */

DIV.beta {
font-weight:bold;
color:red;
}

/* INDEX CLASSES */
DIV.clsHi{ padding-left:2em;text-indent:-2em } /* produces a hanging indent for entries */

BODY.index{ margin-left: 0pt; margin-top: 0pt; 
font-size: 80%;font-family: Verdana, Arial, Helvetica, MS Sans Serif; }
UL.index{ margin-left: 20pt; margin-top: 0pt; 
margin-bottom: 5pt; }
TABLE.index{ font-size: 100%; margin-top: 10pt; 
margin-bottom: 3pt; padding-left: 2pt; padding-right: 2pt; }
TR.index{ vertical-align: top; }
TD.index{ margin: 3pt; background-color: #EEEEEE; 
vertical-align: top; }

TR.entry { vertical-align:top; font-size:11}

TD.letters { margin: 3pt; 
vertical-align: top; 
text-align:center; 
background-color: #CCCCCC
}

TD.mainhead { background-color:#FFFFFF; 
vertical-align: top;
font-size:145%;
margin-top:1.35em;
margin-bottom:.5em;
font-weight:bold;
} /* main heading on index entry page */

A.disabled { text-Decoration:none; color:black; cursor:text; } /* disabled hyperlink */
A.enabled {  text-Decoration; color; cursor:auto } /* enabled hyperlink */

.access  {  text-decoration:underline; }

IMG.clsNoBorder {border: none 0}
