// TTY.RC -----------------------------------------------------------------
// Resource file for generic printer driver TTY.DRV
// ------------------------------------------------------------------------
//
// ------------------------------------------------------------------------
// Copyright (C) 1989-1990, Microsoft Corporation. All rights reserved.
// ------------------------------------------------------------------------
//	Microsoft history
//	11 dec 89	peterbe		Added internal copyright string,
//					S_DATE.
//	20 nov 89	peterbe		Made buttons '17 c.p.i.'
//					Added 'All Rights Reserved' in About.
//	06 nov 89	peterbe		Copyright updated for 1990
//	22 oct 89	peterbe		adjusted position of controls
//	20 oct 89	peterbe		Put version in VERSION.H
// ------------------------------------------------------------------------

#include "style.h"
#include "print.h"
#include "ttyres.h"
#include "verstr.h"
#include "tty.rcv"

StringTable LOADONCALL MOVEABLE DISCARDABLE
Begin
	IDS_MSG_CAPTION , "Generic / Text Only"
	IDS_MSG_NOSETTINGS, "Unable to retain printer codes.  Use default printer codes."

	IDS_MSG_FEED	, "Please insert the next sheet of paper."
	IDS_MSG_DEL	, "Remove %s from list ?"

	STR_NEWID	, "Text Only"

	INI_PAPER	, "Paper"
	INI_WIDE	, "Wide"
	INI_CUT 	, "Cut"
	INI_BREAK	, "PageBreak"

	PAP_LETTER	, "Letter"
	PAP_LEGAL	, "Legal"
	PAP_A4		, "A4"
	PAP_B5		, "B5"

	STR_YES 	,  "Yes"
	STR_NO		,  "No"

//	S_DATE		, DATESTRING


//  S_COPYRIGHT , "Copyright (c) 1989-1991 Microsoft Corp. All Rights Reserved."

End

MAIN_DLG DIALOG LOADONCALL MOVEABLE DISCARDABLE 19, 14, 249, 126
FONT 8 "Helv"
CAPTION "Generic / Text Only"
STYLE WS_CAPTION | DS_MODALFRAME | WS_SYSMENU
BEGIN
       CONTROL "&Printer:", 0, "static", SS_LEFT | WS_GROUP | WS_CHILD,
	    8, 12, 31, 12
       CONTROL "", 8, "combobox", CBS_DROPDOWNLIST | WS_VSCROLL |
		WS_TABSTOP | WS_CHILD, 39, 10, 101, 86
       CONTROL "OK", 1, "button", BS_DEFPUSHBUTTON | WS_GROUP |
		WS_TABSTOP | WS_CHILD, 183, 5, 60, 14
       CONTROL "Cancel", 2, "button", BS_PUSHBUTTON | WS_TABSTOP |
		WS_CHILD, 183, 22, 60, 14
       CONTROL "&Add...", 3, "button", BS_PUSHBUTTON | WS_TABSTOP |
		WS_CHILD, 183, 39, 60, 14
       CONTROL "&Modify...", 4, "button", BS_PUSHBUTTON | WS_TABSTOP |
		WS_CHILD, 183, 56, 60, 14
       CONTROL "&Characters...", 5, "button", BS_PUSHBUTTON | WS_TABSTOP |
		WS_CHILD, 183, 73, 60, 14
#ifndef NOHELP
       CONTROL "&Help...", 6, "button", BS_PUSHBUTTON | WS_TABSTOP |
		WS_CHILD, 183, 90, 60, 14
#endif
       CONTROL "A&bout...", 7, "button", BS_PUSHBUTTON | WS_TABSTOP |
		WS_CHILD, 183, 107, 60, 14
       CONTROL "Paper Size", 0, "button", BS_GROUPBOX | WS_GROUP |
		WS_CHILD, 7, 33, 65, 83
       CONTROL "&Letter", 9, "button", BS_RADIOBUTTON | WS_GROUP |
		WS_TABSTOP | WS_CHILD, 22, 49, 40, 13
       CONTROL "Le&gal", 10, "button", BS_RADIOBUTTON | WS_CHILD, 22, 63, 40, 13
       CONTROL "A&4", 11, "button", BS_RADIOBUTTON | WS_CHILD, 22, 79, 40, 13
       CONTROL "B&5", 12, "button", BS_RADIOBUTTON | WS_CHILD, 22, 93, 40, 13
       CONTROL "Paper Feed", 0, "button", BS_GROUPBOX | WS_GROUP |
		WS_CHILD, 84, 33, 81, 53
       CONTROL "Con&tinuous", 13, "button", BS_RADIOBUTTON | WS_GROUP |
		WS_TABSTOP | WS_CHILD, 94, 49, 58, 13
       CONTROL "Cut &Sheet", 14, "button", BS_RADIOBUTTON | WS_CHILD,
		94, 63, 59, 13
       CONTROL "&Wide Carriage", 15, "button", BS_CHECKBOX | WS_GROUP |
		WS_TABSTOP | WS_CHILD, 95, 91, 71, 13
       CONTROL "&No Page Break", 16, "button", BS_CHECKBOX | WS_GROUP |
		WS_TABSTOP | WS_CHILD, 95, 105, 70, 12
END

ADD_DLG DIALOG LOADONCALL MOVEABLE DISCARDABLE 30, 20, 288, 152
FONT 8 "Helv"
CAPTION "Add"
STYLE WS_CAPTION | DS_MODALFRAME | WS_SYSMENU
BEGIN
       CONTROL "&New Printer Name :", 0, "static", SS_LEFT | WS_GROUP |
		WS_CHILD, 13, 5, 75, 12
       CONTROL "", 3, "edit", ES_LEFT | WS_BORDER | WS_TABSTOP |
		WS_CHILD, 12, 17, 109, 12
       CONTROL " Printer Codes ", 4, "button", BS_GROUPBOX | WS_GROUP |
		WS_CHILD, 14, 35, 194, 109
       CONTROL "&Reset:", 5, "static", SS_LEFT | WS_GROUP |
		WS_CHILD, 23, 50, 60, 12
       CONTROL "", 6, "pedit", 0 | WS_BORDER | WS_TABSTOP |
		WS_CHILD, 100, 47, 95, 12
       CONTROL "1&0 c.p.i. font:", 7, "static", SS_LEFT | WS_GROUP |
		WS_CHILD, 24, 65, 60, 12
       CONTROL "", 8, "pedit", 0 | WS_BORDER | WS_TABSTOP |
		WS_CHILD, 100, 63, 95, 12
       CONTROL "1&2 c.p.i. font:", 9, "static", SS_LEFT | WS_GROUP |
		WS_CHILD, 24, 80, 60, 12
       CONTROL "", 10, "pedit", 0 | WS_BORDER | WS_TABSTOP |
		WS_CHILD, 100, 77, 95, 12
       CONTROL "1&7 c.p.i. font:", 11, "static", SS_LEFT | WS_GROUP |
		WS_CHILD, 25, 95, 60, 12
       CONTROL "", 12, "pedit", 0 | WS_BORDER | WS_TABSTOP |
		WS_CHILD, 100, 92, 95, 12
       CONTROL "&Begin double-width:", 13, "static", SS_LEFT | WS_GROUP |
		WS_CHILD, 24, 110, 75, 12
       CONTROL "", 14, "pedit", 0 | WS_BORDER | WS_TABSTOP |
		WS_CHILD, 100, 107, 95, 12
       CONTROL "&End double-width:", 15, "static", SS_LEFT | WS_GROUP |
		WS_CHILD, 24, 125, 75, 12
       CONTROL "", 16, "pedit", 0 | WS_BORDER | WS_TABSTOP | WS_CHILD,
		100, 122, 95, 12
       CONTROL "OK", 1, "button", BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP |
		WS_CHILD, 220, 17, 60, 14
       CONTROL "Cancel", 2, "button", BS_PUSHBUTTON | WS_TABSTOP |
		WS_CHILD, 220, 37, 60, 14
END

MOD_DLG DIALOG LOADONCALL MOVEABLE DISCARDABLE 30, 20, 290, 152
FONT 8 "Helv"
CAPTION "Modify"
STYLE WS_CAPTION | DS_MODALFRAME | WS_SYSMENU
BEGIN
       CONTROL "Existing &Printer Name :", 0, "static",
		    SS_LEFT | WS_GROUP | WS_CHILD, 13, 5, 107, 12
       CONTROL "", 3, "edit", ES_LEFT | WS_BORDER | WS_TABSTOP |
		    WS_CHILD, 12, 17, 109, 12
       CONTROL "Printer Codes", 4, "button", BS_GROUPBOX | WS_GROUP |
		WS_CHILD, 13, 33, 194, 109
       CONTROL "&Reset:", 5, "static", SS_LEFT | WS_GROUP | WS_CHILD,
		24, 50, 60, 12
       CONTROL "", 6, "pedit", 0 | WS_BORDER | WS_TABSTOP | WS_CHILD,
		100, 47, 95, 12
       CONTROL "1&0 c.p.i. font:", 7, "static", SS_LEFT | WS_GROUP | WS_CHILD,
		23, 65, 60, 12
       CONTROL "", 8, "pedit", 0 | WS_BORDER | WS_TABSTOP | WS_CHILD, 100, 62,
		95, 12
       CONTROL "1&2 c.p.i. font:", 9, "static", SS_LEFT | WS_GROUP | WS_CHILD,
		23, 80, 60, 12
       CONTROL "", 10, "pedit", 0 | WS_BORDER | WS_TABSTOP | WS_CHILD,
		100, 77, 95, 12
       CONTROL "1&7 c.p.i. font:", 11, "static", SS_LEFT | WS_GROUP |
		WS_CHILD, 23, 95, 60, 12
       CONTROL "", 12, "pedit", 0 | WS_BORDER | WS_TABSTOP | WS_CHILD,
		100, 92, 95, 12
       CONTROL "&Begin double-width:", 13, "static", SS_LEFT | WS_GROUP |
		WS_CHILD, 24, 110, 75, 12
       CONTROL "", 14, "pedit", 0 | WS_BORDER | WS_TABSTOP | WS_CHILD,
		100, 107, 95, 12
       CONTROL "&End double-width:", 15, "static", SS_LEFT | WS_GROUP |
		WS_CHILD, 24, 126, 75, 12
       CONTROL "", 16, "pedit", 0 | WS_BORDER | WS_TABSTOP | WS_CHILD,
		100, 123, 95, 12
       CONTROL "OK", 1, "button", BS_DEFPUSHBUTTON | WS_GROUP |
		WS_TABSTOP | WS_CHILD, 220, 17, 60, 14
       CONTROL "Cancel", 2, "button", BS_PUSHBUTTON | WS_TABSTOP |
		WS_CHILD, 220, 37, 60, 14
       CONTROL "&Delete", 17, "button", BS_PUSHBUTTON | WS_TABSTOP |
		WS_CHILD, 220, 57, 60, 14
END


CHAR_DLG DIALOG LOADONCALL MOVEABLE DISCARDABLE 50, 20, 228, 117
FONT 8 "Helv"
CAPTION "Characters"
STYLE WS_CAPTION | DS_MODALFRAME | WS_SYSMENU
BEGIN
       CONTROL "On &Screen:", 3, "static", SS_LEFT | WS_GROUP | WS_CHILD,
	    21, 25, 48, 12
       CONTROL "", 4, "listbox",
	    LBS_NOTIFY | LBS_SORT | LBS_STANDARD | WS_BORDER |
	    WS_VSCROLL | WS_TABSTOP | WS_CHILD, 21, 40, 47, 56
       CONTROL "On &Printer:", 5, "static", SS_LEFT | WS_GROUP | WS_CHILD,
	    82, 25, 46, 12
       CONTROL "", 6, "pedit", ES_LEFT | WS_BORDER | WS_TABSTOP | WS_CHILD,
	    82, 41, 50, 12
       CONTROL " Extended Characters ", 0, "button",
	    BS_GROUPBOX | WS_GROUP | WS_CHILD, 10, 6, 133, 101
       CONTROL "OK", 1, "button", BS_DEFPUSHBUTTON | WS_GROUP |
	    WS_TABSTOP | WS_CHILD, 155, 10, 60, 14
       CONTROL "Cancel", 2, "button", BS_PUSHBUTTON | WS_TABSTOP | WS_CHILD,
	    155, 30, 60, 14
END

ABOUT_DLG DIALOG LOADONCALL MOVEABLE DISCARDABLE 70, 30, 190, 120
FONT 8 "Helv"
CAPTION "About"
STYLE WS_CAPTION | DS_MODALFRAME | WS_SYSMENU
BEGIN
       CONTROL "Generic / Text Only    ", 0, "static", SS_CENTER | WS_CHILD,
		0, 10, 190, 12
       CONTROL VERS, 0, "static", SS_CENTER | WS_CHILD, 0, 20, 190, 12
       CONTROL "FRALC Consultores, S.C.", 0, "static", SS_CENTER | WS_CHILD,
		0, 44, 190, 12
       CONTROL "\251 M\351xico 1988, 1989.", 0, "static", SS_CENTER | WS_CHILD,
		0, 55, 190, 12
       CONTROL "\251 Microsoft Corporation 1989-1992.", 0, "static",
		SS_CENTER | WS_CHILD, 0, 70, 190, 12
       CONTROL "All Rights Reserved.", 0, "static",
		SS_CENTER | WS_CHILD, 0, 81, 190, 12

       CONTROL "OK", 1, "button", BS_DEFPUSHBUTTON | WS_TABSTOP | WS_CHILD,
		75, 96, 50, 14
END
