 /*  #include "\\windows\\oem\\printer.h" */

#include "spooler.h"
#include "windows.h"

stringtable
begin
        IDS_MERGE,       "%%"       /* merge spec for message strings */
        IDS_NAME,        "Spooler"
        IDS_NOPRINTER,   "No printers connected."
        IDS_MULTIPRINTER,"More than one printer connected to the same port."
        IDS_TERMINATE,   "Terminate spool job: %%"
        IDS_TERMALL,     "Terminate all existing print jobs?"
        IDS_PAUSED,      "[Paused]:"
        IDS_ACTIVE,      "[Active]:"
        IDS_ABOUT,       "About..."
        IDS_TEMPFILE,    "System error reading spooler temp file."
        IDS_MAXJOB,      "Cannot spool more than 20 jobs per port."
        IDS_COMMERROR,   "Cannot write to %%"
        IDS_OOP,         "Out of paper on %%"
        IDS_DNS,         "Device not selected on %%"
        IDS_MULTSPOOLER, "Spooler has been installed."
        IDS_TOOMANYPORTS,"Too many ports listed under [ports] in WIN.INI."
        IDS_OUTOFDISK,   "Not enough disk space to print %%"
        IDS_OUTOFMEMORY, "Not enough memory to print"
        IDS_NOSPOOLER,   "WIN.INI contains ""Spooler=No""."
        COMM_OPEN,       "Port already open: "
        COMM_SETTING,    "Incorrect comm port setting on %%"
        COMM_HARDWARE,   "No printer on %%"
        COMM_INVALIDPORT,"Invalid port: %%"
end

spooler  icon    spooler.ICO

spooler   menu
begin
    POPUP "&Priority"
        begin
        MENUITEM  "&Low",               LOW, CHECKED
        MENUITEM  "&High",              HIGH
        MENUITEM  SEPARATOR
        MENUITEM  "E&xit",              EXIT
        MENUITEM  "A&bout Spooler...",  ABOUT
        end

    POPUP "&Queue"
        BEGIN
        MENUITEM  "&Pause",             PAUSE
        MENUITEM  "&Resume",            RESUME
        MENUITEM  SEPARATOR
        MENUITEM  "&Terminate",         TERMINATE, GRAYED
        END
end


about dialog 10, 10, 185, 89
STYLE WS_POPUP | WS_DLGFRAME
BEGIN
           CONTROL "Microsoft Windows" -1, "static", SS_CENTER | WS_CHILD, 0, 5, 185, 8
           CONTROL "Spooler" -1, "static", SS_CENTER | WS_CHILD, 0, 15, 185, 10
           CONTROL "Version 2.1 " -1, "static", SS_CENTER | WS_CHILD, 0, 42, 185, 10
           CONTROL "Copyright © 1988 Microsoft Corp." -1, "static", SS_CENTER | WS_CHILD, 0, 53, 185, 10
           CONTROL "OK" 1, "button", BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 78, 67, 33, 14
           CONTROL "Spooler" -1, "static", SS_ICON | WS_GROUP | WS_CHILD, 24, 15, 16, 21
END
