/* Resource file for frame buffer display driver */

#define OEMRESOURCE
#include "windows.h"

OCR_NORMAL          cursor        PRELOAD FIXED   "..\\res96dpi\\normal.cur"
OCR_WAIT            cursor        PRELOAD FIXED   "..\\res96dpi\\wait.cur"
OCR_SIZENWSE        cursor        PRELOAD         "..\\res96dpi\\sizenwse.cur"
OCR_SIZENESW        cursor        PRELOAD         "..\\res96dpi\\sizenesw.cur"
OCR_SIZEWE          cursor        PRELOAD         "..\\res96dpi\\sizewe.cur"
OCR_SIZENS          cursor        PRELOAD         "..\\res96dpi\\sizens.cur"
OCR_IBEAM           cursor        PRELOAD         "..\\res96dpi\\ibeam.cur"
OCR_UP              cursor        PRELOAD         "..\\res96dpi\\up.cur"
OCR_ICON            cursor        PRELOAD         "..\\res96dpi\\icon.cur"
OCR_CROSS           cursor                        "..\\res96dpi\\cross.cur"
OCR_SIZE            cursor                        "..\\res96dpi\\size.cur"
OCR_NO              cursor                        "..\\res96dpi\\dmnodrop.cur"
OCR_SIZEALL         cursor                        "..\\res96dpi\\sizeall.cur"

OIC_HAND            icon          PRELOAD         "..\\res96dpi\\hand.ico"
OIC_QUES            icon          PRELOAD         "..\\res96dpi\\ques.ico"
OIC_BANG            icon          PRELOAD         "..\\res96dpi\\bang.ico"
OIC_NOTE            icon          PRELOAD         "..\\res96dpi\\note.ico"
OIC_SAMPLE          icon                          "..\\res96dpi\\sample.ico"

OBM_OLD_RESTORE     bitmap                        "..\\res96dpi\\orest.bmp"
OBM_OLD_REDUCE      bitmap                        "..\\res96dpi\\ored.bmp"
OBM_OLD_ZOOM        bitmap                        "..\\res96dpi\\ozoom.bmp"
OBM_OLD_RGARROW     bitmap                        "..\\res96dpi\\oright.bmp"
OBM_OLD_LFARROW     bitmap                        "..\\res96dpi\\oleft.bmp"
OBM_OLD_UPARROW     bitmap                        "..\\res96dpi\\oup.bmp"
OBM_OLD_DNARROW     bitmap                        "..\\res96dpi\\odown.bmp"
OBM_OLD_CLOSE       bitmap                        "..\\res96dpi\\oclose.bmp"

OBM_RESTORE         bitmap        PRELOAD         "..\\res96dpi\\restore.bmp"
OBM_RESTORED        bitmap        PRELOAD         "..\\res96dpi\\restored.bmp"
OBM_REDUCE          bitmap        PRELOAD         "..\\res96dpi\\min.bmp"
OBM_REDUCED         bitmap        PRELOAD         "..\\res96dpi\\mind.bmp"
OBM_ZOOM            bitmap        PRELOAD         "..\\res96dpi\\max.bmp"
OBM_ZOOMD           bitmap        PRELOAD         "..\\res96dpi\\maxd.bmp"
OBM_RGARROW         bitmap        PRELOAD         "..\\res96dpi\\right.bmp"
OBM_RGARROWD        bitmap        PRELOAD         "..\\res96dpi\\rightd.bmp"
OBM_LFARROW         bitmap        PRELOAD         "..\\res96dpi\\left.bmp"
OBM_LFARROWD        bitmap        PRELOAD         "..\\res96dpi\\leftd.bmp"
OBM_UPARROW         bitmap        PRELOAD         "..\\res96dpi\\up.bmp"
OBM_UPARROWD        bitmap        PRELOAD         "..\\res96dpi\\upd.bmp"
OBM_DNARROW         bitmap        PRELOAD         "..\\res96dpi\\down.bmp"
OBM_DNARROWD        bitmap        PRELOAD         "..\\res96dpi\\downd.bmp"
OBM_CLOSE           bitmap        PRELOAD         "..\\res96dpi\\sysmenu.bmp"
OBM_CHECK           bitmap        PRELOAD         "..\\res96dpi\\ocheck.bmp"
OBM_BTSIZE          bitmap        PRELOAD         "..\\res96dpi\\obtsize.bmp"
OBM_SIZE            bitmap        PRELOAD         "..\\res96dpi\\osize.bmp"
OBM_CHECKBOXES      bitmap        PRELOAD         "..\\res96dpi\\obutton.bmp"
OBM_BTNCORNERS      bitmap        PRELOAD         "..\\res96dpi\\obtncorn.bmp"
OBM_COMBO           bitmap        PRELOAD         "..\\res96dpi\\combo.bmp"
OBM_MNARROW         bitmap        PRELOAD         "..\\res96dpi\\mnarrow.bmp"
OBM_UPARROWI        bitmap        PRELOAD         "..\\res96dpi\\upi.bmp"
OBM_DNARROWI        bitmap        PRELOAD         "..\\res96dpi\\downi.bmp"
OBM_LFARROWI        bitmap        PRELOAD         "..\\res96dpi\\lefti.bmp"
OBM_RGARROWI        bitmap        PRELOAD         "..\\res96dpi\\righti.bmp"

;fonts              oembin        PRELOAD         "..\\res96dpi\\fonts.bin"

1 RCDATA
BEGIN
// Machine dependent parameters
    17,     // Height of vertical thumb
    17,     // Width of horizontal thumb
    2,      // Icon horiz compression factor
    2,      // Icon vert compression factor
    1,      // Cursor horz compression factor
    1,      // Cursor vert compression factor
    0,      // Kanji window height
    1,      // cxBorder (thickness of vertical lines)
    1,      // cyBorder (thickness of horizontal lines)
// Default system color values
    192,192,192,    // clrScrollbar
    192,192,192,    // clrDesktop
    000,000,128,    // clrActiveCaption
    255,255,254,    // clrInactiveCaption
    255,255,255,    // clrMenu
    255,255,255,    // clrWindow
    000,000,000,    // clrWindowFrame
    000,000,000,    // clrMenuText
    000,000,000,    // clrWindowText
    255,255,255,    // clrCaptionText
    192,192,192,    // clrActiveBorder
    192,192,192,    // clrInactiveBorder
    255,255,255,    // clrAppWorkspace
    000,000,128,    // clrHiliteBk
    255,255,255,    // clrHiliteText
    192,192,192,    // clrBtnFace
    128,128,128,    // clrBtnShadow
    192,192,192,    // clrGrayText
    000,000,000,    // clrBtnText
// filler
    0, 0
END

2 RCDATA
BEGIN
    48    // # colors in table
    0xFF,0x80,0x80,
    0xFF,0xFF,0xE8,
    0x80,0xFF,0x80,
    0x00,0xFF,0x80,
    0x80,0xFF,0xFF,
    0x00,0x80,0xFF,
    0xFF,0x80,0xC0,
    0xFF,0x80,0xFF,
    0xFF,0x00,0x00,
    0xFF,0xFF,0x80,
    0x80,0xFF,0x00,
    0x00,0xFF,0x40,
    0x00,0xFF,0xFF,
    0x00,0x80,0xC0,
    0x80,0x80,0xC0,
    0xFF,0x00,0xFF,
    0x80,0x40,0x40,
    0xFF,0xFF,0x00,
    0xFF,0x80,0x40,
    0x00,0xFF,0x00,
    0x00,0x80,0x80,
    0x00,0x40,0x80,
    0x80,0x80,0xFF,
    0x80,0x00,0x40,
    0xFF,0x00,0x80,
    0x80,0x00,0x00,
    0xFF,0x80,0x00,
    0x00,0x80,0x00,
    0x00,0x80,0x40,
    0x00,0x00,0xFF,
    0x00,0x00,0xA0,
    0x80,0x00,0x80,
    0x80,0x00,0xFF,
    0x40,0x00,0x00,
    0x80,0x40,0x00,
    0x00,0x40,0x00,
    0x00,0x40,0x40,
    0x00,0x00,0x80,
    0x00,0x00,0x40,
    0x40,0x00,0x40,
    0x40,0x00,0x80,
    0x00,0x00,0x00,
    0x80,0x80,0x00,
    0x80,0x80,0x40,
    0x80,0x80,0x80,
    0x40,0x80,0x80,
    0xC0,0xC0,0xC0,
    0x82 0x82,0x82,
    0xFF,0xFF,0xFF
END

#include <ntverp.h>

#define VER_FILETYPE                VFT_DRV
#define VER_FILESUBTYPE             VFT2_DRV_DISPLAY
#define VER_FILEDESCRIPTION_STR     "Framebuffer Display Driver"
#define VER_INTERNALNAME_STR        "framebuf.dll"
#define VER_ORIGINALFILENAME_STR    "framebuf.dll"

#include "common.ver"
