#include <mindrvrc.h>
#include "EPSON9.rcv"

1      RC_TABLES   PRELOAD MOVEABLE         EPSON9.GPC

1      RC_FONT     LOADONCALL DISCARDABLE  ROMN10.PFM
2      RC_FONT     LOADONCALL DISCARDABLE  ROMN12.PFM
3      RC_FONT     LOADONCALL DISCARDABLE  ROMN17.PFM
4      RC_FONT     LOADONCALL DISCARDABLE  ROMN20.PFM
5      RC_FONT     LOADONCALL DISCARDABLE  ROMN05.PFM
6      RC_FONT     LOADONCALL DISCARDABLE  ROMN06.PFM
7      RC_FONT     LOADONCALL DISCARDABLE  ROMNPS.PFM
8      RC_FONT     LOADONCALL DISCARDABLE  ROMNPX.PFM
9      RC_FONT     LOADONCALL DISCARDABLE  ROMN10DH.PFM
10     RC_FONT     LOADONCALL DISCARDABLE  ROMN12DH.PFM
11     RC_FONT     LOADONCALL DISCARDABLE  ROMN05DH.PFM
12     RC_FONT     LOADONCALL DISCARDABLE  ROMN06DH.PFM
13     RC_FONT     LOADONCALL DISCARDABLE  ROMNPSDH.PFM
14     RC_FONT     LOADONCALL DISCARDABLE  ROMIPS.PFM
15     RC_FONT     LOADONCALL DISCARDABLE  ROMIPSDH.PFM
16     RC_FONT     LOADONCALL DISCARDABLE  ROMIPX.PFM
17     RC_FONT     LOADONCALL DISCARDABLE  SANS10.PFM
18     RC_FONT     LOADONCALL DISCARDABLE  SANS12.PFM
19     RC_FONT     LOADONCALL DISCARDABLE  SANS17.PFM
20     RC_FONT     LOADONCALL DISCARDABLE  SANS20.PFM
21     RC_FONT     LOADONCALL DISCARDABLE  SANS05.PFM
22     RC_FONT     LOADONCALL DISCARDABLE  SANS06.PFM
23     RC_FONT     LOADONCALL DISCARDABLE  SANSPS.PFM
24     RC_FONT     LOADONCALL DISCARDABLE  SANSPX.PFM
25     RC_FONT     LOADONCALL DISCARDABLE  SANS10DH.PFM
26     RC_FONT     LOADONCALL DISCARDABLE  SANS12DH.PFM
27     RC_FONT     LOADONCALL DISCARDABLE  SANS05DH.PFM
28     RC_FONT     LOADONCALL DISCARDABLE  SANS06DH.PFM
29     RC_FONT     LOADONCALL DISCARDABLE  SANSPSDH.PFM
30     RC_FONT     LOADONCALL DISCARDABLE  SANIPS.PFM
31     RC_FONT     LOADONCALL DISCARDABLE  SANIPSDH.PFM
32     RC_FONT     LOADONCALL DISCARDABLE  SANIPX.PFM
33     RC_FONT     LOADONCALL DISCARDABLE  ROMN107.PFM
34     RC_FONT     LOADONCALL DISCARDABLE  ROMN127.PFM
35     RC_FONT     LOADONCALL DISCARDABLE  ROMN177.PFM
36     RC_FONT     LOADONCALL DISCARDABLE  ROMN207.PFM
37     RC_FONT     LOADONCALL DISCARDABLE  ROMN057.PFM
38     RC_FONT     LOADONCALL DISCARDABLE  ROMN067.PFM
39     RC_FONT     LOADONCALL DISCARDABLE  ROMNPS7.PFM
40     RC_FONT     LOADONCALL DISCARDABLE  ROMNPX7.PFM
41     RC_FONT     LOADONCALL DISCARDABLE  ROMIPS7.PFM
42     RC_FONT     LOADONCALL DISCARDABLE  ROMIPX7.PFM

1      RC_TRANSTAB LOADONCALL MOVEABLE      EPSONXTA.CTT

STRINGTABLE

BEGIN
       1                  "Epson MX-80"
       2                  "Epson MX-80 F/T"
       3                  "Epson MX-100"
       4                  "Epson RX-80"
       5                  "Epson RX-80 F/T"
       6                  "Epson RX-100"
       7                  "Epson RX-80 F/T+"
       8                  "Epson RX-100+"
       9                  "Epson FX-80"
       10                 "Epson FX-100"
       11                 "Epson FX-80+"
       12                 "Epson FX-100+"
       13                 "Epson FX-85"
       14                 "Epson FX-185"
       15                 "Epson FX-286"
       16                 "Epson FX-86e"
       17                 "Epson FX-286e"
       18                 "Epson DFX-5000"
       19                 "Epson T-750"
       20                 "Epson FX-850"
       21                 "Epson FX-1050"
       22                 "Epson JX-80"
       23                 "Epson EX-800"
       24                 "Epson EX-1000"
       25                 "Epson LX-80"
       26                 "Epson LX-86"
       27                 "Epson LX-800"
       28                 "Epson LX-810"
       29                 "Epson T-1000"
       257                "%d x %d"
END
