#include <mindrvrc.h>
#include "HPPCL.rcv"

1   RCDATA LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    "HP LaserJet Series II\0\0\0\0\0\0\0\0",		0, 3,	"32896\0\0",
    "HP LaserJet IID\0\0\0\0\0\0\0\0\0\0\0\0\0\0",	4, 7,	"50696\0\0",
    "HP LaserJet IIP\0\0\0\0\0\0\0\0\0\0\0\0\0\0",	8, 12,	"52104\0\0",
    "HP LaserJet Plus\0\0\0\0\0\0\0\0\0\0\0\0\0",	13, 14, "2\0\0\0\0\0\0",
    "HP LaserJet 500+\0\0\0\0\0\0\0\0\0\0\0\0\0",	15, 16, "12\0\0\0\0\0",
    "HP LaserJet 2000\0\0\0\0\0\0\0\0\0\0\0\0\0",	17, 21, "61480\0\0",
    "HP LaserJet\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0",	22, 22, "17\0\0\0\0\0",
    "Agfa Compugraphic Genics\0\0\0\0\0",		23, 23, "33056\0\0",
    "Apricot Laser\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0",	24, 27, "266\0\0\0\0",
    "Epson EPL-6000\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0",	28, 30, "32896\0\0",
    "Epson GQ-3500\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0",	31, 33, "268\0\0\0\0",
    "Kyocera F-Series\0\0\0\0\0\0\0\0\0\0\0\0\0",	34, 43, "266\0\0\0\0",
    "NEC Silentwriter LC 860\0\0\0\0\0\0",		44, 46, "268\0\0\0\0",
    "NEC Silentwriter LC 860 Plus\0",			47, 49, "268\0\0\0\0",
    "Okidata LaserLine 6\0\0\0\0\0\0\0\0\0\0",		50, 50, "258\0\0\0\0",
    "Olivetti PG 108\0\0\0\0\0\0\0\0\0\0\0\0\0\0",	51, 54, "32896\0\0",
    "Olivetti PG 208 M2\0\0\0\0\0\0\0\0\0\0\0", 	55, 58, "32896\0\0",
    "Olivetti PG 308 HS\0\0\0\0\0\0\0\0\0\0\0", 	59, 59, "49408\0\0",
    "Olivetti ETV 5000\0\0\0\0\0\0\0\0\0\0\0\0",	60, 60, "49408\0\0",
    "QuadLaser I\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0",	61, 61, "258\0\0\0\0",
    "Tandy LP-1000\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0",	62, 62, "258\0\0\0\0",
    "Tegra Genesis\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0",	63, 63, "33024\0\0",
    "Toshiba PageLaser12\0\0\0\0\0\0\0\0\0\0",		64, 65, "57736\0\0",
    "Wang LDP8\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0", 66, 69, "33024\0\0"
END


1      RC_TABLES   PRELOAD MOVEABLE         HPPCL.GPC

1      RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CO10B.8U
2      RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CO10R.8U
3      RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LP16B.8U
4      RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\HV14B.0U
5      RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR08B.0U
6      RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR10B.0U
7      RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR10I.0U
8      RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR10R.0U
9      RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LG10R.8U
10     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LG12R.8U
11     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LG16R.8U
12     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LP04R.0Y
13     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LP08R.0Y
14     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LP10R.0B
15     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LP12B.8Y
16     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LP12R.15Y
17     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LP12R.8Y
18     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\OA10R.0O
19     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\OB10R.1O
20     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CO10I.8U
21     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LP16R.8U
22     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PE12B.8U
23     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PE12I.8U
24     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PE12R.8U
25     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LG12B.8U
26     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LG12I.8U
27     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\HV14B.8U
28     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR08R.8U
29     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR10B.8U
30     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR10I.8U
31     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR10R.8U
32     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\HC24R.5Q
33     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LP10R.2Q
34     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\UN06R.8U
35     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\UN08B.8U
36     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\UN08R.8U
37     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\UN10B.8U
38     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\UN12B.8U
39     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\UN14B.8U
40     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LG12R.0B
41     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PE12B.0U
42     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PE12I.0U
43     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PE12R.0U
44     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PE16R.0U
45     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CS08R.8U
46     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CS10B.8U
47     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CS10I.8U
48     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CS10R.8U
49     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CT10R.8U
50     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CT14B.8U
51     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CG11B.0N
52     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CG11I.0N
53     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CG11R.0N
54     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LG12B.0N
55     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LG12I.0N
56     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LG12R.0N
57     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LG27R.0N
58     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CO10B.0U
59     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CO10I.0U
60     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CO10R.0B
61     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CO10R.0U
62     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PE12R.15U
63     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PE12R.8M
64     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PE16R.8M
65     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PE16R.8U
66     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR07R.8M
67     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR07R.8U
68     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR12B.8U
69     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR12I.8U
70     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR12R.15U
71     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR12R.8M
72     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR12R.8U
73     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\HO24B.0U
74     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\HO24B.1U
75     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LG10R.0U
76     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LG10R.1U
77     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LP10B.4Q
78     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PR05B.0U
79     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PR05B.1U
80     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PR06B.0U
81     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PR06B.1U
82     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PR08B.0U
83     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PR08B.1U
84     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PR10B.0U
85     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PR10B.1U
86     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\SE24B.0U
87     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\SE24B.1U
88     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LG12B.1U
89     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LG12I.1U
90     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LG12R.1U
91     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LG27R.1U
92     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PE12B.0N
93     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PE12B.1U
94     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PE12I.0N
95     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PE12I.1U
96     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PE12R.0N
97     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PE12R.1U
98     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PE16R.0N
99     RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PE16R.1U
100    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CO10B.1U
101    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CO10I.1U
102    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CO10R.1U
103    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CO12B.0U
104    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CO12B.1U
105    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CO12I.0U
106    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CO12I.1U
107    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CO12R.0U
108    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CO12R.1U
109    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\HV08R.0U
110    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\HV10B.0U
111    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\HV10I.0U
112    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\HV10R.0U
113    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\HV12B.0U
114    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\HV12I.0U
115    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\HV12R.0U
116    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\HV14B.1U
117    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LG12B.0U
118    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LG12I.0U
119    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LG12R.0U
120    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LG16R.0U
121    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LG18R.0U
122    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LG27R.0U
123    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LP16R.0U
124    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR08R.0U
125    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR08R.1U
126    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR10B.1U
127    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR10I.1U
128    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR10R.1U
129    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR12B.0U
130    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR12B.1U
131    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR12I.0U
132    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR12I.1U
133    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR12R.0U
134    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR12R.1U
135    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\HV08R.Z1U
136    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\HV10B.Z1U
137    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\HV10I.Z1U
138    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\HV10R.Z1U
139    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\HV14B.0N
140    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR08R.0N
141    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR12B.0N
142    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR12I.0N
143    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR12R.0N
144    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\HV06R.0U
145    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\HV08B.0U
146    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LP10B.0B
147    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CG08R.8M
148    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CG08R.8U
149    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CG10B.8U
150    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CG10I.8U
151    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CG10R.0A
152    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CG10R.15U
153    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CG10R.8M
154    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CG10R.8U
155    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PE12R.0A
156    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\HV06R.8U
157    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\HV07R.8U
158    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\HV10B.8U
159    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\HV12B.8U
160    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\HV13B.8U
161    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CG06R.7J
162    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CG08B.7J
163    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CG08I.7J
164    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CG08R.7J
165    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CG10B.7J
166    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CG10I.7J
167    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CG10R.7J
168    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CG12B.7J
169    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CG12I.7J
170    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CG12R.7J
171    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CG14B.7J
172    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CG14I.7J
173    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CG14R.7J
174    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CG18B.7J
175    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CG24B.7J
176    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\UN14R.7J
177    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\UN18R.7J
178    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\UN24R.7J
179    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CO10B.8Q
180    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CO10I.8Q
181    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CO10R.8Q
182    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CO16R.8Q
183    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR14B.Z1U
184    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\HV08R.11Q
185    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\HV10B.11Q
186    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\HV10I.11Q
187    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\HV10R.11Q
188    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\HV12B.11Q
189    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\HV12I.11Q
190    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\HV12R.11Q
191    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\HV14B.11Q
192    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LP16R.11Q
193    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR08R.11Q
194    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR10B.11Q
195    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR10I.11Q
196    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR10R.11Q
197    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR12B.11Q
198    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR12I.11Q
199    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR12R.11Q
200    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR14B.11Q
201    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\KCO12IL.PFM
202    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\KCO12PL.PFM
203    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\KEL07PL.PFM
204    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\KEL10IL.PFM
205    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\KEL10PL.PFM
206    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\KGO12IL.PFM
207    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\KGO12PL.PFM
208    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\KHV06PL.PFM
209    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\KHV08PL.PFM
210    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\KHV10BPL.PFM
211    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\KHV12BPL.PFM
212    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\KHV14BPL.PFM
213    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\KLP07PL.PFM
214    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\KLP09IL.PFM
215    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\KLP09PL.PFM
216    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\KTR08PL.PFM
217    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\KTR10BPL.PFM
218    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\KTR10IPL.PFM
219    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\KTR10PL.PFM
220    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CO120UB0.PFM
221    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CO120UM0.PFM
222    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LP085UM0.PFM
223    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CO10B.0N
224    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CO10I.0N
225    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CO10R.0N
226    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CO12R.0N
227    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LD121UMU.PFM
228    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LP16R.0B
229    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LP16R.0N
230    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CO12B.0N
231    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CO12I.0N
232    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CO120IL0.PFM
233    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CO120IM0.PFM
234    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\H014BPU.PFM
235    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\T108RPU.PFM
236    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\T110BPU.PFM
237    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\T110RPU.PFM
238    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PE100UM0.PFM
239    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PE100IM0.PFM
240    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PE100UB0.PFM
241    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LG10R.0UD
242    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LG12R.8UD
243    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LG16R.8UD
244    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LP10B.4QD
245    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LD121UMU.PFD
246    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PE12B.0ND
247    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PE12B.0UD
248    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PE12B.8UD
249    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PE12I.0ND
250    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PE12I.0UD
251    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PE12I.8UD
252    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PE12R.0ND
253    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PE12R.0UD
254    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PE12R.15D
255    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PE12R.8MD
256    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PE12R.8UD
257    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PE16R.0ND
258    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PE16R.0UD
259    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PE16R.8MD
260    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PE16R.8UD
261    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PR06B.0UD
262    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PR08B.0UD
263    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\PR10B.0UD
264    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR08R.Z1U
265    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR10B.0UD
266    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR10I.0UD
267    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR10R.0UD
268    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR12B.Z1U
269    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR12I.Z1U
270    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR12R.Z1U
271    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\HV12B.Z1U
272    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\HV12I.Z1U
273    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\HV12R.Z1U
274    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\HV14B.Z1U
275    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\LP16R.Z1U
276    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR10B.Z1U
277    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR10I.Z1U
278    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\TR10R.Z1U
279    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\HV08R.0UY
280    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\HV10B.0UY
281    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\HV12B.0UY
282    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\HV14B.0UY
283    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CO16R.0N
284    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CO16I.0N
285    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CE10R.0N
286    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CE10B.0N
287    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\CE10I.0N
288    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\SW14B.8U
289    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\DU08R.8U
290    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\DU10R.8U
291    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\DU10B.8U
292    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\DU10I.8U
293    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\SW14B.0U
294    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\SW08R.0U
295    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\SW10B.0U
296    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\SW12B.0U
297    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\SW06R.0U
298    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\SW08B.0U
299    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\SW14B.0N
300    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\DU08R.0N
301    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\DU12R.0N
302    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\DU12B.0N
303    RC_FONT     LOADONCALL DISCARDABLE  NEWPFM\DU12I.0N

2      RC_TRANSTAB LOADONCALL MOVEABLE      ROMAN8.CTT
4      RC_TRANSTAB LOADONCALL MOVEABLE      MATH8.CTT
5      RC_TRANSTAB LOADONCALL MOVEABLE      USASCII.CTT
17     RC_TRANSTAB LOADONCALL MOVEABLE      GENERIC7.CTT
19     RC_TRANSTAB LOADONCALL MOVEABLE      ECMA94.CTT
20     RC_TRANSTAB LOADONCALL MOVEABLE      Z1A.CTT

STRINGTABLE

BEGIN
       1                  "HP LaserJet Series II"
       2                  "HP LaserJet IID"
       3                  "HP LaserJet IIP%HP LaserJet IIP Plus"
       4                  "HP LaserJet 2000"
       5                  "HP LaserJet III"
       6                  "HP LaserJet IIID"
       7                  "HP LaserJet IIIP"
       8                  "HP LaserJet IIISi"
       9                  "HP LaserJet"
       10                 "HP LaserJet Plus"
       11                 "HP LaserJet 500+"
       12                 "Agfa Compugraphic Genics"
       13                 "Apricot Laser"
       14                 "Epson EPL-6000"
       15                 "Epson EPL-7000"
       16                 "Epson GQ-3500"
       17                 "Kodak EktaPlus 7016"
       18                 "Kyocera F-Series (USA)"
       19                 "Kyocera F-5000 (USA)"
       20                 "NEC Silentwriter LC 860"
       21                 "NEC Silentwriter LC 860 Plus"
       22                 "Okidata LaserLine 6"
       23                 "Okidata OL-400"
       24                 "Okidata OL-800"
       25                 "Olivetti PG 108"
       26                 "Olivetti PG 208 M2"
       27                 "Olivetti PG 308 HS"
       28                 "Olivetti ETV 5000"
       29                 "Panasonic KX-P4420"
       30                 "QuadLaser I"
       31                 "Tandy LP-1000"
       32                 "Tegra Genesis"
       33                 "Toshiba PageLaser12"
       34                 "Unisys AP9210"
       35                 "Wang LDP8"
       257                "%d dots per inch"
       258                "HP: WordPerfect"
       259                "HP: ProCollection"
       260                "HP: Global Text"
       261                "HP: Great Start"
       262                "HP: TextEquations"
       263                "HP: Polished Worksheets"
       264                "HP: Persuasive Presentations"
       265                "HP: Forms, Etc."
       266                "HP: Bar Codes & More"
       267                "A: Courier"
       268                "B: Tms Proportional 1"
       269                "C: International 1"
       270                "D: Prestige Elite"
       271                "E: Letter Gothic"
       272                "F: Tms Proportional 2"
       273                "G: Legal Elite"
       274                "H: Legal Courier"
       275                "J: Math Elite"
       276                "K: Math Tms"
       277                "L: Courier P&L"
       278                "M: Prestige Elite P&L"
       279                "N: Letter Gothic P&L"
       280                "P: Tms Rmn P&L"
       281                "Q: Memo 1"
       282                "R: Presentations 1"
       283                "S1: Courier Document 1"
       284                "S2: Tms/Helv Report 1"
       285                "T: Tax 1"
       286                "U: Forms Portrait"
       287                "V: Forms Landscape"
       288                "Y: PC Courier 1"
       289                "Z: Microsoft 1"
       290                "Z: Microsoft 1A"
       291                "P470: Swiss/Dutch"
       292                "P471: Tax Preparation"
       293                "P472: Legal Elite"
       294                "P473: Presentations"
       295                "P474: Prestige"
       296                "P475: Swiss/Dutch Report"
       297                "Epson 65-in-1"
END
