/****************************************************************************
 *
 *   sndblst.rc
 *
 *   Copyright (c) 1991-1992 Microsoft Corporation.  All Rights Reserved.
 *
 ***************************************************************************/

#include <windows.h>
#include <ver.h>
#include "sndblst.h"

/****************************************************************************
 *
 *   configuration dialog box
 *
 ***************************************************************************/

DLG_CONFIG DIALOG LOADONCALL MOVEABLE DISCARDABLE 69, 35, 142, 122
CAPTION "Sound Blaster Setup"
STYLE WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_SYSMENU | DS_MODALFRAME | WS_POPUP
FONT 8, "MS Sans Serif"
BEGIN
    CONTROL "OK", 1, "button", BS_DEFPUSHBUTTON | WS_TABSTOP | WS_CHILD, 14, 104, 45, 12
    CONTROL "Cancel", 2, "button", BS_PUSHBUTTON | WS_TABSTOP | WS_CHILD, 83, 104, 45, 12
    CONTROL "Port", IDC_PORTGRP, "button", BS_GROUPBOX | WS_TABSTOP | WS_CHILD, 14, 7, 45, 88
    CONTROL "Interrupt", IDC_INTGRP, "button", BS_GROUPBOX | WS_TABSTOP | WS_CHILD, 83, 7, 45, 88
    CONTROL "210", IDC_210, "button", BS_RADIOBUTTON | WS_TABSTOP | WS_CHILD, 18, 19, 28, 12
    CONTROL "220", IDC_220, "button", BS_RADIOBUTTON | WS_TABSTOP | WS_CHILD, 18, 31, 28, 12
    CONTROL "230", IDC_230, "button", BS_RADIOBUTTON | WS_TABSTOP | WS_CHILD, 18, 43, 28, 12
    CONTROL "240", IDC_240, "button", BS_RADIOBUTTON | WS_TABSTOP | WS_CHILD, 18, 55, 28, 12
    CONTROL "250", IDC_250, "button", BS_RADIOBUTTON | WS_TABSTOP | WS_CHILD, 18, 67, 28, 12
    CONTROL "260", IDC_260, "button", BS_RADIOBUTTON | WS_TABSTOP | WS_CHILD, 18, 79, 28, 12
    CONTROL "2", IDC_2, "button", BS_RADIOBUTTON | WS_TABSTOP | WS_CHILD, 87, 20, 28, 12
    CONTROL "3", IDC_3, "button", BS_RADIOBUTTON | WS_TABSTOP | WS_CHILD, 87, 31, 28, 12
    CONTROL "5", IDC_5, "button", BS_RADIOBUTTON | WS_TABSTOP | WS_CHILD, 87, 43, 28, 12
    CONTROL "7", IDC_7, "button", BS_RADIOBUTTON | WS_TABSTOP | WS_CHILD, 87, 55, 28, 12
END

/****************************************************************************
 *
 *   localizable strings
 *
 *   These are read into error buffers of size MAX_ERR_STRING (currently
 *   defined in sndblst.h as 250 bytes).  Keep this value the length of the
 *   longest error message plus about 30% for localization.
 ***************************************************************************/

STRINGTABLE MOVEABLE DISCARDABLE
BEGIN

/*  Product description string for sndblst driver
 */
IDS_SNDBLSTPRODUCT "Creative Labs Sound Blaster 1.5"

/*  The error messages below are displayed in a HARD SYSTEM MODAL dialog box.
 *  This requires that absolute line feeds be placed in the string for
 *  proper formatting, and also imposes a three line maximum.
 */
IDS_ERRBADVERSION "Your Sound Blaster card must be upgraded before you can use this driver.\nUse the Drivers option in the Control Panel to install the Sound Blaster 1.0 driver.\nNote: You must remove the Sound Blaster 1.5 driver first."
IDS_ERRBADCONFIG  "A configuration or hardware problem has occurred.\nUse the Drivers option in the Control Panel to re-configure the Sound Blaster driver."
IDS_ERRTWODRIVERS "You have two Sound Blaster drivers loaded in memory. Use the\nDrivers option in the Control Panel to remove one driver if you haven't already,\nand then restart your system for the changes to take effect."
IDS_ERRMCANOTSUPPORTED "The Sound Blaster 1.5 driver is not compatible\nwith your Micro Channel Architecture (MCA) Sound Blaster.\nYou should contact Creative Labs for a driver specific to your card."

/* This message will only appear on builds <= 3.1.55
 */
IDS_ERROLDVDMAD   "The Sound Blaster 1.5 driver requires the Windows 3.1 version of\nVDMAD.386 to work correctly. An incorrect version is currently in use.\nChange the device= line in SYSTEM.INI to: device=*vdmad, then restart your system."

/*  The error messages below are displayed in a normal modal dialog box,
 *  so absolute line feeds are not required.
 */
IDS_ERRBADPORT    "The port setting does not match those on the card. Check your hardware settings, and then try again."
IDS_ERRBADINT     "The interrupt setting does not match those on the card. Check your hardware settings, and then try again."
IDS_WARNPROCARD   "The Sound Blaster 1.5 driver is installed for use with your Sound Blaster Pro Card. For your card to work correctly with Windows, you should contact Creative Labs for a driver specific to your card."
IDS_WARNTHUNDER   "The Sound Blaster 1.5 driver is installed for use with your Thunder Card. For your card to work correctly with Windows, you should contact Media Vision for a driver specific to your card."

END

/****************************************************************************
 *
 *   version information
 *
 ***************************************************************************/

/*  All strings MUST have an explicit \0.  The MMRELEASE and the version
 *  string should be changed every build, and the MMRELEASE build extension
 *  should be removed on final release.  See the Windows 3.1 SDK documentation
 *  for details on version information and the VERSIONINFO structure.
 */

#ifdef RC_INVOKED
#define MMVERSION              03
#define MMREVISION             10
#define MMRELEASE              103
#define MMVERSIONSTR           "3.1\0"
#define MMVERSIONNAME          "sndblst2.drv\0"
#define MMVERSIONDESCRIPTION   "MIDI and wave driver for Sound Blaster 1.5\0"
#define MMVERSIONCOMPANYNAME   "Microsoft Corporation\0"
#define MMVERSIONPRODUCTNAME   "Microsoft Windows\0"
#define MMVERSIONCOPYRIGHT     "Copyright \251 Microsoft Corp. 1991-1992\0"

VS_VERSION_INFO VERSIONINFO
FILEVERSION    MMVERSION, MMREVISION, 0, MMRELEASE
PRODUCTVERSION MMVERSION, MMREVISION, 0, MMRELEASE
FILEFLAGSMASK  0x0000003FL
FILEFLAGS      0
FILEOS         VOS_DOS_WINDOWS16
FILETYPE       VFT_DRV
FILESUBTYPE    VFT2_DRV_INSTALLABLE
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", MMVERSIONCOMPANYNAME
            VALUE "FileDescription", MMVERSIONDESCRIPTION
            VALUE "FileVersion",  MMVERSIONSTR
            VALUE "InternalName", MMVERSIONNAME
            VALUE "LegalCopyright", MMVERSIONCOPYRIGHT
            VALUE "OriginalFilename", MMVERSIONNAME
            VALUE "ProductName", MMVERSIONPRODUCTNAME
            VALUE "ProductVersion", MMVERSIONSTR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        /* the following line should be extended for localized versions */
        VALUE "Translation", 0x409, 1252
    END
END
#endif
