/* Style sheet optimized for IE4x COOL */

A:link{ color: #000066; }

A:visited { color: #000000; }

A:active { color: #0000FF; }

A:hover { color: #0000FF ; } /* On mouse over changes link color */

body{margin-left: 0pt;
margin-top: 40pt;
font-size: 80%;    
font-family: Verdana, Arial, Helvetica, MS Sans Serif;
}

