#include "motion.h"

motion  ICON    motion.ico

motion MENU
BEGIN
    POPUP "Commands"
        BEGIN
            MENUITEM "Call Nonres seg 1\tf1", IDMNRCALL1
            MENUITEM "Call Nonres seg 2\tf2", IDMNRCALL2
            MENUITEM "LocalAlloc(512)\tf3",   IDMLEXPAND
            MENUITEM "GlobalCompact(-1)\tf4", IDMGCOMPACT
        END
END

STRINGTABLE
BEGIN
    IDSLEXPAND, "LocalAlloc(512) failed"
    IDSSEG1MSG, "Non-resident segment 1 called"
    IDSSEG2MSG, "Non-resident segment 2 called"
    IDSAPPNAME, "Motion"
    IDSABOUT,   "About..."
END

motion ACCELERATORS
BEGIN
    VK_F1, IDMNRCALL1    , VIRTKEY
    VK_F2, IDMNRCALL2    , VIRTKEY
    VK_F3, IDMLEXPAND    , VIRTKEY
    VK_F4, IDMGCOMPACT   , VIRTKEY
END

ABOUTBOX DIALOG 22, 17, 154, 75
STYLE WS_POPUP | WS_DLGFRAME
BEGIN
    CTEXT "Microsoft Windows"                   -1, 0,  5, 154, 8
    ICON  "motion"                              -1,  9, 23,  0, 0
    CTEXT "Motion application"                  -1,  0, 14,154, 8
    CTEXT "Version 1.03"                        -1, 30, 34, 94, 8
    CTEXT "Copyright © 1985,1986, Microsoft Corp."   -1,  0, 47,152, 9
    DEFPUSHBUTTON "Ok"                        IDOK, 61, 59, 32, 14, WS_GROUP
END
