
TH { 
font-family:verdana, arial, helvetica, sans-serif; font-size:60%;  
}
TD { 
font-family:verdana, arial, helvetica, sans-serif; font-size:60%; 
line-height:60%; 
}
TD.clsSiteGuideInfo { 
line-height:80%; 
}
TD A { 
color:navy; text-decoration:none; 
}
TD A:hover { 
color:navy; text-decoration:underline; 
}
