//--------------------------------------------------------------------------
//
// Module Name:  PSCRIPT.RC
//
// Brief Description:  This module contains resource information
//		       necessary for the PSCRIPT driver.
//
// Author:  Kent Settle (kentse)
// Created: 04-Nov-1991
//
// Copyright (c) 1991-1993 Microsoft Corporation
//
//--------------------------------------------------------------------------

#include "pscript.h"
#include "resource.h"

#include "fonts.rc"
#include "psproc.rc"

STRINGTABLE
BEGIN
        STRING_BASE + IDS_ALL_PFM_FILES,        "*.PFM"
        SLOTS_BASE + SLOT_MANUAL,               "Manual Feed"
        STRING_BASE + IDS_FREEMEM,              "FreeMem"
        STRING_BASE + IDS_HALFTONE,             "PrinterHT"
        STRING_BASE + IDS_NUMBER_TT_FONTS,      "CountTTFonts"
        STRING_BASE + IDS_FONT_SUBST_TABLE,     "TTFontSubTable"
        STRING_BASE + IDS_FONT_SUBST_SIZE,      "TTFontSubTableSize"
        STRING_BASE + IDS_TRAY_FORM_TABLE,      "TrayFormTable"
        STRING_BASE + IDS_TRAY_FORM_SIZE,       "TrayFormSize"
END

#include <ntverp.h>

/*-----------------------------------------------*/
/* the following lines are specific to this file */
/*-----------------------------------------------*/

/* VER_FILETYPE, VER_FILESUBTYPE, VER_FILEDESCRIPTION_STR
 * and VER_INTERNALNAME_STR must be defined before including COMMON.VER
 * The strings don't need a '\0', since common.ver has them.
 */
#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_DRV_PRINTER
#define VER_FILEDESCRIPTION_STR     "PostScript Printer Driver"
#define VER_INTERNALNAME_STR        "PSCRIPT.DLL"
#define VER_ORIGINALFILENAME_STR    "PSCRIPT.DLL"

#include "common.ver"
