BODY { color: black }

P { font-family: Verdana; color:black }
.margpara{ font-family: Verdana; font-size: 12pt; color: white; text-align: left; margin-left: .15in; margin-right: .15in; margin-bottom: .25in; margin-top: .5in;  }
.margpara2{ font-family: Verdana; font-size: 12pt; color: white; text-align: left; margin-left: .25in; margin-right: .25in; margin-bottom: .25in; margin-top: .25in;text-indent:24pt  }
.margpara3{ font-family: Verdana; font-size: 12pt; color: white; text-align: left; margin-left: .25in; margin-right: .25in; margin-bottom: .25in; margin-top: .25in;text-indent:24pt; line-height: 24pt  }
.name { font-family: Verdana; font-size: 24pt; color: black; line-height: 26pt; margin-left: .25in }
.top { font-family: Verdana; font-size: 24pt; color: gold; line-height: 26pt; margin-left: .25in; margin-top: -48pt }
.demotitle{ font-family: Verdana; font-size: 20pt; color: #000033; font-style: italic; text-align: center; line-height: 26pt; margin-left: .50in; margin-right: .50in }
.titleurl{ font-family: Verdana; font-size: 14pt; color: red; font-style: italic; text-align: center }
.number1{ font-family: Verdana; font-size: 102pt; color: black;}
.number2{ font-family: Verdana; font-size: 102pt; color: black;}
.number3{ font-family: Verdana; font-size: 102pt; color: black;}
.numbertop{ font-family: Verdana; font-size: 102pt; color: red;}

H1.wide{ font-family: verdana; color:gold; font-size: 42pt; letter-spacing: 14pt}
TD{ font-family: Verdana; font-size: 20pt; color: gold; text-align: center; font-weight: bold;}
.question{ font-family: Verdana; font-size: 200pt; color: black; text-align: right }
.question2{ font-family: Verdana; font-size: 200pt; color: gold; margin-left: -1.65in; text-align: left }
.dark{ font-family: Verdana; font-size: 20pt; color: black;text-align: center; font-weight:bold }
.left { text-align: left }
.colorbg {color: gold}
UL{ margin-top: .15in }
.sub{ margin-top: -.02in; margin-left: -.25in }

LI { font-family: Verdana; color: #000033; font-size: 18pt; font-weight: bold; line-height: 30pt; margin-left: .25in; margin-right: .50in;list-style-type:none }
.sub{ font-family: Verdana; color: #000033; font-size: 18pt; font-weight: bold; line-height: 24pt; margin-left: .25in; margin-right: .50in; list-style-type:none }

A:link.red{ font-family: Verdana; font-size: 102pt;text-decoration: none; color: red; font-weight: bold}
A:active.red{ font-family: Verdana; font-size: 102pt;text-decoration: none; color: red; font-weight: bold}
A:visited.red{ font-family: Verdana; font-size: 102pt;text-decoration: none; color: red; font-weight: bold}
A:link.red2{ font-family: Verdana; font-size: 22pt;text-decoration: none; color: red; font-weight: bold}
A:active.red2{ font-family: Verdana; font-size: 22pt;text-decoration: none; color: red; font-weight: bold}
A:visited.red2{ font-family: Verdana; font-size: 22pt;text-decoration: none; color: red; font-weight: bold}
A:link{ font-family: Verdana; text-decoration: none; color: black}
A:active{ font-family: Verdana; text-decoration: none; color: black}
A:visited{ font-family: Verdana; text-decoration: none; color: black}
A.arrow:link {text-decoration: none; font-size: 42px; color: #669900; font-family: marlett}
A.arrow:active {text-decoration: none; font-size: 42px; color: #FF3300; font-family: marlett}
A.arrow:visited {text-decoration: none; font-size: 42px; color: #6699ff; font-family: marlett}

PLAINTEXT      { font-family: Verdana; color: black; font-size: 18pt; margin-left: .25in; font-weight:bold } 