BODY { color: #000033; background-repeat:no-repeat }

P { font-family: Verdana; color: black }
.comments{ font-family: Verdana; color: black; font-size: 18pt; margin-right: .50in; margin-left: .50in  }
.smallcomments{ font-family: Verdana; color: black; font-size: 14pt; font-style: italic; font-weight: bold; margin-right: .50in  }
.name { font-family: Verdana; font-size: 24pt; color: white; line-height: 28pt; margin-right: .50in; margin-top: -.25in; text-align: right }
.top { font-family: Verdana; font-size: 24pt; color: #000033; line-height: 28pt; margin-right: .50in; margin-top: -1.80in; text-align: right  }
.demotitle{ font-family: Verdana; font-size: 24pt; color: white; background: black; text-align: center; line-height: 26pt; margin-left: .50in; margin-right: .50in }
.titleurl{ font-family: Verdana; font-size: 14pt; color: #000033; font-style: italic; text-align: center }
.number{ font-family: Verdana; font-size: 102pt; color: #000033; line-height: 68pt; font-weight: bold }
.numbertop1{ font-family: Verdana; font-size: 102pt; color: #990000; line-height: 68pt; margin-top: -1in; font-weight: bold }
.numbertop2{ font-family: Verdana; font-size: 102pt; color: #006600; line-height: 68pt; margin-top: -1in; font-weight: bold }
.numbertop3{ font-family: Verdana; font-size: 102pt; color: goldenrod; line-height: 68pt; margin-top: -1in; font-weight: bold }
.numbertop4{ font-family: Verdana; font-size: 102pt; color: #0033CC; line-height: 68pt; margin-top: -1in; font-weight: bold }
.SS{ font-family: Verdana; font-size: 32pt; color: #000033; line-height: 28pt; text-align: center; font-style: italic; font-weight: bold   }
.HI{ font-family: Verdana; font-size: 62pt; color: #000033; font-weight: bold; line-height: 60pt }
.HItop{ font-family: Verdana; font-size: 62pt; color: white; font-weight: bold; line-height: 60pt; margin-top: -1.72in }

TD{ font-family: Verdana; font-size: 24pt; color: gold; text-align: center }
.question{ font-family: Verdana; font-size: 200pt; color: #000033; text-align: right }
.question2{ font-family: Verdana; font-size: 200pt; color: white; margin-left: -1.65in; text-align: left }
.design         { color: #FFCC33; font-size: 12pt; font-style: italic; font-weight: bold; text-align: right; margin-right: .38in }

UL{ margin-top: .15in }
LI { font-family: Verdana; color: black; font-size: 20pt; line-height: 20pt; margin-left: .50in; margin-right: .50in }

HR{ color: goldenrod }

A:link{ font-family: Verdana; text-decoration: none; color: black}
A:active{ font-family: Verdana; text-decoration: none; color: black}
A:visited{ font-family: Verdana; text-decoration: none; color: black}
A.arrow:link {text-decoration: none; font-size: 42px; color: #669900; font-family: marlett}
A.arrow:active {text-decoration: none; font-size: 42px; color: #FF3300; font-family: marlett}
A.arrow:visited {text-decoration: none; font-size: 42px; color: #6699ff; font-family: marlett}

PLAINTEXT      { font-family: Verdana; color: black; font-size: 32pt }