/*
 * fonts.rc
 *
 * this file includes all the internal font PFM files.
 * printers referance these individually by the short name
 * (eg. agb, agbo, agd, etc). the second word in the font directory
 * entry points to this kind of short name.
 *
 */

#define DEF_FONT(f) f MYFONT LOADONCALL MOVEABLE DISCARDABLE f.pfm

DEF_FONT(agb)
DEF_FONT(agbo)
DEF_FONT(agd)
DEF_FONT(agdo)
DEF_FONT(ar)
DEF_FONT(arb)
DEF_FONT(arbo)
DEF_FONT(aro)
DEF_FONT(arn)
DEF_FONT(arnb)
DEF_FONT(arnbo)
DEF_FONT(arno)
DEF_FONT(bd)
DEF_FONT(bdi)
DEF_FONT(bl)
DEF_FONT(bli)
DEF_FONT(cb)
DEF_FONT(cbo)
DEF_FONT(cm)
DEF_FONT(co)
DEF_FONT(gb)
DEF_FONT(gbi)
DEF_FONT(gl)
DEF_FONT(gli)
DEF_FONT(hb)
DEF_FONT(hbo)
DEF_FONT(hc)
DEF_FONT(hcb)
DEF_FONT(hcbo)
DEF_FONT(hco)
DEF_FONT(hm)
DEF_FONT(ho)
DEF_FONT(hvbl)
DEF_FONT(hvblo)
DEF_FONT(hvl)
DEF_FONT(hvlo)
DEF_FONT(hvn)
DEF_FONT(hvnb)
DEF_FONT(hvnbo)
DEF_FONT(hvno)
DEF_FONT(krb)
DEF_FONT(krkb)
DEF_FONT(krkx)
DEF_FONT(krrg)
DEF_FONT(lb)
DEF_FONT(lbo)
DEF_FONT(ld)
DEF_FONT(ldo)
DEF_FONT(ncb)
DEF_FONT(ncbi)
DEF_FONT(nci)
DEF_FONT(ncr)
DEF_FONT(ntb)
DEF_FONT(ntbi)
DEF_FONT(nti)
DEF_FONT(ntr)
DEF_FONT(ob)
DEF_FONT(obo)
DEF_FONT(oo)
DEF_FONT(or)
DEF_FONT(pb)
DEF_FONT(pbi)
DEF_FONT(pi)
DEF_FONT(pr)
DEF_FONT(sd)
DEF_FONT(sdi)
DEF_FONT(sl)
DEF_FONT(sli)
DEF_FONT(sm)
DEF_FONT(tb)
DEF_FONT(tbi)
DEF_FONT(ti)
DEF_FONT(tr)
DEF_FONT(vtb)
DEF_FONT(vtbi)
DEF_FONT(vti)
DEF_FONT(vtr)
DEF_FONT(zc)
DEF_FONT(zca)
DEF_FONT(zcab)
DEF_FONT(zcabi)
DEF_FONT(zcai)
DEF_FONT(zd)
