/* these data items match PAPERSIZE structures defined in paper.h */

PAPERSIZES MY_DATA
BEGIN

    DMPAPER_LETTER        ,850,  1100,
    DMPAPER_LETTERSMALL     ,850,  1100,
    DMPAPER_TABLOID         ,1100, 1700,
    DMPAPER_LEDGER       ,1700, 1100,
    DMPAPER_LEGAL        ,850,  1400,
    DMPAPER_STATEMENT    ,550,  850, 
    DMPAPER_EXECUTIVE    ,725,  1050,
    DMPAPER_A3            ,1169, 1654,
    DMPAPER_A4            ,827,  1169,
    DMPAPER_A4SMALL       ,827,  1169,
    DMPAPER_A5            ,583,  827, 
    DMPAPER_B4            ,1012, 1433,
    DMPAPER_B5            ,717,  1012,
    DMPAPER_FOLIO        ,850,  1300,
    DMPAPER_QUARTO       ,846,  1083,
    DMPAPER_10X14        ,1000, 1400,
    DMPAPER_11X17        ,1100, 1700,
    DMPAPER_NOTE            ,850,  1100,
    DMPAPER_ENV_9            ,388,  888,    /* #9  envelope    */
    DMPAPER_ENV_10            ,413,  950,    /* #10 envelope    */
    DMPAPER_ENV_11            ,450,  1038,    /* #11 envelope    */
    DMPAPER_ENV_12            ,450,  1100,    /* #12 envelope    */
    DMPAPER_ENV_14            ,500,  1150,    /* #14 envelope    */

    DMPAPER_LETTER_EXTRA    ,950,  1200,    /* 9.5 x 12     */
    DMPAPER_LEGAL_EXTRA     ,950,  1500,    /* 9.5 x 15     */
    DMPAPER_TABLOID_EXTRA    ,1169, 1800,    /* 11.69 x 18   */
    DMPAPER_A4_EXTRA         ,927,  1269,    /* 9.27 12.69   */
    DMPAPER_LETTER_TRANSVERSE,850 1100,
    DMPAPER_A4_TRANSVERSE    ,827 1169,
    DMPAPER_LETTER_EXTRA_TRANSVERSE,950 1200,
    DMPAPER_ENV_DL          ,433,   866,    /* DL envelope  */
    DMPAPER_ENV_C5          ,638,   902,    /* C5 envelope  */
    DMPAPER_ENV_MONARCH, 388, 750,       /* Monarch envelope */
    DMPAPER_USER, 0, 0, 		 /* size filled in by GetPaperMetrics */
    DMPAPER_A_PLUS, 893, 1401,
    DMPAPER_B_PLUS, 1200, 1917,
    DMPAPER_LETTER_PLUS, 850, 1269,
    DMPAPER_A4_PLUS, 826, 1300,
    0                       ,0, 0
END






