/*
 * printcap.rc
 *
 * this file includes all the internal printer capabilities
 * the files are:
 *	.CAP	PRINTER structure
 *	.PSS	printer specific PS code
 *	.DIR	font directory
 *
 * when you add a printer here be sure to update NUM_INT_PRINTERS
 * in ..\printers.h
 *
 */

#define DEF_PRINTER(num, base) \
	num  PR_CAPS	LOADONCALL MOVEABLE DISCARDABLE base.cap \
	num  PR_PSS	LOADONCALL MOVEABLE DISCARDABLE base.pss \
	num  MYFONTDIR	LOADONCALL base.dir


DEF_PRINTER( 1, apple230)	/* Apple LaserWriter */

DEF_PRINTER( 2, apple380) 	/* Apple LaserWriter Plus */

DEF_PRINTER( 3, apple422) 	/* Apple LaserWriter Plus v42.2 */
	     
DEF_PRINTER( 4, lwnt_470) 	/* Apple LaserWriter NT */

DEF_PRINTER( 5, lwntx470) 	/* Apple LaserWriter NTX */

DEF_PRINTER( 6, ast__470) 	/* AST TurboLaser */

DEF_PRINTER( 7, datap462) 	/* Dataproducst LSZ-2665 */

DEF_PRINTER( 8, ibm20470) 	/* IBM Personal Page Printer */

DEF_PRINTER( 9, ibm30505) 	/* IBM Personal Page Printer II */

DEF_PRINTER(10, sheetfdr) 	/* IBM Personal Page Printer II Sheet Feeder */

DEF_PRINTER(11, qmscs494) 	/* QMS ColorScript 100 */

DEF_PRINTER(12, qms8_461)	/* QMS-PS 800 */

DEF_PRINTER(13, qms8p461)	/* QMS-PS 800 */

DEF_PRINTER(14, qms81470)	/* QMS-PS 810 */

DEF_PRINTER(15, vt600480)	/* Varityper VT-600 */

DEF_PRINTER(16, wang15)		/* Wang LCS15 */

DEF_PRINTER(17, wang15fp)	/* Wang LCS15 FontPlus */

DEF_PRINTER(18, oliv5000)	/* Olivetti LP */

DEF_PRINTER(19, agfap400)	/* Agfa/Compugraphic 400PS */

DEF_PRINTER(20, decln03r)	/* Digital LN03R ScriptPrinter */

DEF_PRINTER(21, declps40)	/* Digital LPS PrintServer 40 */

DEF_PRINTER(22, 9000_493)	/* AGFA 9000 Series PS */

DEF_PRINTER(23, oliv303)	/* Olivetti PC 303 */
