#include "windows.h"
#include "showfont.h"

ShowFont MENU
BEGIN
    POPUP "&File"
    BEGIN
	MENUITEM "&Add Font...",	IDM_ADDFONT
	MENUITEM "&Delete Font...",	IDM_DELFONT
	MENUITEM SEPARATOR
	MENUITEM "E&xit",		IDM_EXIT
	MENUITEM SEPARATOR
	MENUITEM "&About ShowFont...",	IDM_ABOUT
    END

    POPUP "&Show"
    BEGIN
	MENUITEM "&String",		IDM_SHOWSTRING
	MENUITEM "&Character Set",	IDM_SHOWCHARSET
	MENUITEM "&Logical Font",	IDM_SHOWLOGFONT
	MENUITEM "&Text Metrics",	IDM_SHOWTEXTMETRICS
	MENUITEM "&Clear",		IDM_CLEAR
    END

    POPUP "Fo&nt"
    BEGIN
	MENUITEM "&System",		IDM_SYSTEM, CHECKED
	MENUITEM "ANSI &Fixed",		IDM_ANSIFIXED
	MENUITEM "ANSI &Variable",	IDM_ANSIVAR
	MENUITEM "&OEM",		IDM_OEM
	MENUITEM "&Device Default",	IDM_DEVICEDEF
	MENUITEM SEPARATOR
	MENUITEM "&Select a Font...",	IDM_SELECTFONT
	MENUITEM "&Create a Font...",	IDM_CFONT
    END

    POPUP "&Options"
    BEGIN
	MENUITEM "&Text Color...",	 IDM_TEXTCOLOR
	MENUITEM "&Background Color...", IDM_BACKGROUNDCOLOR
	MENUITEM SEPARATOR
	MENUITEM "&Opaque Background",	    IDM_OPAQUE,	     CHECKED
	MENUITEM "Trans&parent Background", IDM_TRANSPARENT
	MENUITEM SEPARATOR
	MENUITEM "Align &Left",		IDM_ALIGNLEFT,	     CHECKED
	MENUITEM "Align &Center",	IDM_ALIGNCENTER
	MENUITEM "Align &Right",	IDM_ALIGNRIGHT
	MENUITEM SEPARATOR
	MENUITEM "Position T&op",	IDM_ALIGNTOP
	MENUITEM "Position Botto&m",	IDM_ALIGNBOTTOM
	MENUITEM "Position Ba&seline",	IDM_ALIGNBASE,	     CHECKED
    END
END

CFont DIALOG LOADONCALL MOVEABLE DISCARDABLE 13, 19, 299, 161
STYLE WS_DLGFRAME | WS_POPUP
BEGIN
  DEFPUSHBUTTON "Ok", IDOK, 85, 144, 50, 14, WS_TABSTOP | WS_GROUP
  PUSHBUTTON "&Cancel", IDCANCEL, 153, 144, 50, 14, WS_TABSTOP
  CONTROL "&Height", -1, "static", WS_CHILD | WS_TABSTOP | SS_LEFT, 8, 9, 25, 8
  EDITTEXT ID_HEIGHT, 36, 7, 32, 12, WS_TABSTOP
  CONTROL "&Width", -1, "static", WS_CHILD | WS_TABSTOP | SS_LEFT, 8, 23, 24, 9
  EDITTEXT ID_WIDTH, 36, 21, 32, 12, WS_TABSTOP
  CONTROL "&Escapement", -1, "static", WS_CHILD | WS_TABSTOP | SS_LEFT, 8,37, 24,8
  EDITTEXT ID_ESCAPEMENT, 36, 35, 32, 12, WS_TABSTOP
  CONTROL "&Orientation", -1, "static", WS_CHILD | WS_TABSTOP | SS_LEFT, 8,51, 25,8
  EDITTEXT ID_ORIENTATION, 36, 49, 32, 12, WS_TABSTOP
  CONTROL "&Facename", -1, "static", WS_CHILD | WS_TABSTOP | SS_LEFT, 8, 66, 33, 8
  EDITTEXT ID_FACE, 44, 64, 76, 12, ES_AUTOHSCROLL | WS_TABSTOP
  CHECKBOX "&Italic", ID_ITALIC, 78, 8, 33, 12, BS_AUTOCHECKBOX | WS_TABSTOP
  CHECKBOX "&Underline", ID_UNDERLINE, 78,21, 47,12, BS_AUTOCHECKBOX | WS_TABSTOP
  CHECKBOX "&Strikeout", ID_STRIKEOUT, 78,35, 45,12, BS_AUTOCHECKBOX | WS_TABSTOP

  GROUPBOX "Wei&ght", 901, 125, 3, 47, 69, WS_GROUP
    RADIOBUTTON "Light", ID_LIGHT, 133, 15, 34, 12, WS_TABSTOP | WS_GROUP
    RADIOBUTTON "Normal", ID_NORMAL, 133, 27, 34, 12
    RADIOBUTTON "Bold", ID_BOLD, 133, 39, 28, 12
    EDITTEXT ID_WEIGHT, 133, 53, 32, 12, WS_GROUP

  GROUPBOX "&Character Set", 900, 175, 3, 59, 54, WS_GROUP
    RADIOBUTTON "ANSI", ID_ANSI, 188, 14, 28, 12, WS_TABSTOP | WS_GROUP
    RADIOBUTTON "OEM", ID_OEM, 188, 26, 28, 12
    EDITTEXT ID_CHARSET, 190, 40, 32, 12, WS_GROUP

  GROUPBOX " Pitc&h", 906, 244, 2, 54, 53, WS_GROUP
    RADIOBUTTON "Fixed", ID_FIXED, 250, 12, 42, 12, WS_TABSTOP | WS_GROUP
    RADIOBUTTON "Variable", ID_VARIABLE, 250, 24, 44, 12
    RADIOBUTTON "Default", ID_DEF_PITCH, 250, 36, 41, 12

  GROUPBOX "O&utput Precision", 903, 5, 80, 70, 62, WS_GROUP
    RADIOBUTTON "String", ID_OUT_STRING, 14, 92, 35, 12, WS_TABSTOP | WS_GROUP
    RADIOBUTTON "Character", ID_OUT_CHAR, 14, 103, 52, 12
    RADIOBUTTON "Stroke", ID_OUT_STROKE, 14, 115, 53, 12
    RADIOBUTTON "Default", ID_OUT_DEFAULT, 14, 126, 49, 12

  GROUPBOX "Cli&p Precision", 904, 78, 80, 62, 52, WS_GROUP
    RADIOBUTTON "Character", ID_CLIP_CHAR, 86, 92, 46, 12, WS_TABSTOP | WS_GROUP
    RADIOBUTTON "Stroke", ID_CLIP_STROKE, 86, 104, 36, 12
    RADIOBUTTON "Default", ID_CLIP_DEFAULT, 86, 116, 47, 12

  GROUPBOX "&Quality", 905, 146, 80, 53, 52, WS_GROUP
    RADIOBUTTON "Proof", ID_PROOF, 151, 92, 28, 12, WS_TABSTOP | WS_GROUP
    RADIOBUTTON "Draft", ID_DRAFT, 151, 103, 32, 12
    RADIOBUTTON "Default", ID_DEF_QUALITY, 151, 116, 39, 12

  GROUPBOX "&Family", 907, 206, 62, 82, 84, WS_GROUP
    RADIOBUTTON "Roman", ID_ROMAN, 212, 74, 35, 12, WS_TABSTOP | WS_GROUP
    RADIOBUTTON "Swiss", ID_SWISS, 212, 85, 32, 12
    RADIOBUTTON "Modern", ID_MODERN, 212, 97, 36, 12
    RADIOBUTTON "Script", ID_SCRIPT, 212, 107, 37, 12
    RADIOBUTTON "Decorative", ID_DECO, 212, 119, 70, 12
    RADIOBUTTON "Default" ID_DEF_FAMILY, 212, 131, 54, 12
END

Colors DIALOG LOADONCALL MOVEABLE DISCARDABLE 12, 21, 119, 71
STYLE WS_DLGFRAME | WS_POPUP
BEGIN
    CONTROL "OK" 1, "button", BS_DEFPUSHBUTTON | WS_TABSTOP | WS_CHILD, 10, 52, 41, 14
    CONTROL "&Cancel" 2, "button", BS_PUSHBUTTON | WS_TABSTOP | WS_CHILD, 63, 51, 41, 14
    CONTROL "&Red" 3, "static", SS_LEFT | WS_CHILD, 10, 5, 18, 8
    CONTROL "", ID_RED, "edit", ES_LEFT | WS_BORDER | WS_TABSTOP | WS_CHILD, 39, 3, 32, 12
    CONTROL "&Green" 5, "static", SS_LEFT | WS_CHILD, 10, 20, 26, 8
    CONTROL "", ID_GREEN, "edit", ES_LEFT | WS_BORDER | WS_TABSTOP | WS_CHILD, 39, 18, 32, 12
    CONTROL "&Blue" 7, "static", SS_LEFT | WS_CHILD, 10, 35, 21, 8
    CONTROL "", ID_BLUE, "edit", ES_LEFT | WS_BORDER | WS_TABSTOP | WS_CHILD, 39, 33, 32, 12
END

SelectFont DIALOG LOADONCALL MOVEABLE DISCARDABLE 10, 25, 180, 95
STYLE WS_DLGFRAME | WS_POPUP
BEGIN
    CONTROL "OK" IDOK, "button", BS_DEFPUSHBUTTON | WS_TABSTOP | WS_CHILD, 121, 53, 45, 14
    CONTROL "&Cancel" IDCANCEL, "button", BS_PUSHBUTTON | WS_TABSTOP | WS_CHILD, 122, 71, 45, 14
    CONTROL "Typeface:" 3, "static", SS_LEFT | WS_CHILD, 6, 6, 44, 8
    CONTROL "" ID_TYPEFACE, "listbox", LBS_NOTIFY | WS_BORDER | WS_VSCROLL | WS_CHILD, 6, 19, 65, 65
    CONTROL "Size:" 5, "static", SS_LEFT | WS_CHILD, 79, 7, 29, 8
    CONTROL "" ID_SIZE, "listbox", LBS_NOTIFY | WS_BORDER | WS_VSCROLL | WS_CHILD, 80, 19, 32, 65
END

MetricBox DIALOG 150, 0, 146, 100
STYLE WS_POPUP | WS_CAPTION | WS_VISIBLE | WS_SYSMENU
BEGIN
    LTEXT "Height",	-1,			 2,   2,  38, 8
    RTEXT ""		IDMB_HEIGHT		42,   2,  12, 8
    LTEXT "Ascent",	-1,			 2,  12,  38, 8
    RTEXT ""		IDMB_ASCENT		42,  12,  12, 8
    LTEXT "Descent",	 -1,			 2,  22,  38, 8
    RTEXT ""		IDMB_DESCENT		42,  22,  12, 8
    LTEXT "Weight",	      -1,		 2,  32,  38, 8
    RTEXT ""		IDMB_WEIGHT		42,  32,  12, 8
    LTEXT "Italic",	      -1,		 2,  42,  38, 8
    RTEXT ""		IDMB_ITALIC		42,  42,  12, 8
    LTEXT "Underlined"	      -1,		 2,  52,  40, 8
    RTEXT ""		IDMB_UNDERLINED		42,  52,  12, 8
    LTEXT "StrikeOut"	      -1,		 2,  62,  38, 8
    RTEXT ""		IDMB_STRUCKOUT		42,  62,  12, 8
    LTEXT "FirstChar"	      -1,		 2,  72,  38, 8
    RTEXT ""		IDMB_FIRSTCHAR		42,  72,  12, 8
    LTEXT "LastChar"	      -1,		 2,  82,  38, 8
    RTEXT ""		IDMB_LASTCHAR		42,  82,  12, 8
    LTEXT "CharSet"	      -1,		 2,  92,  38, 8
    RTEXT ""		IDMB_CHARSET		42,  92,  12, 8

    LTEXT "InternalLeading",	 -1,		62,   2,  80, 8
    RTEXT ""		IDMB_INTERNALLEADING   126,   2,  12, 8
    LTEXT "ExternalLeading",	 -1,		62,  12,  80, 8
    RTEXT ""		IDMB_EXTERNALLEADING   126,  12,  12, 8
    LTEXT "AveCharWidth",     -1,		62,  22,  80, 8
    RTEXT ""		IDMB_AVECHARWIDTH      126,  22,  12, 8
    LTEXT "MaxCharWidth",     -1,		62,  32,  80, 8
    RTEXT ""		IDMB_MAXCHARWIDTH      126,  32,  12, 8
    LTEXT "BreakChar"	      -1,		62,  42,  38, 8
    RTEXT ""		IDMB_BREAKCHAR	       126,  42,  12, 8
    LTEXT "PitchAndFamily"    -1,		62,  52,  80, 8
    RTEXT ""		IDMB_PITCHANDFAMILY    126,  52,  12, 8
    LTEXT "DefaultChar"	      -1,		62,  62,  80, 8
    RTEXT ""		IDMB_DEFAULTCHAR       126,  62,  12, 8
    LTEXT "Overhang"	      -1,		62,  72,  80, 8
    RTEXT ""		IDMB_OVERHANG	       126,  72,  12, 8
    LTEXT "DigitizedAspectX"  -1,		62,  82,  80, 8
    RTEXT ""		IDMB_DIGITIZEDASPECTX  126,  82,  12, 8
    LTEXT "DigitizedAspectY"  -1,		62,  92,  80, 8
    RTEXT ""		IDMB_DIGITIZEDASPECTY  126,  92,  12, 8
END

LogBox DIALOG 150, 120, 146, 70
STYLE WS_POPUP | WS_CAPTION | WS_VISIBLE | WS_SYSMENU
BEGIN
    LTEXT "Height",	      -1,		 2,   2,  38, 8
    RTEXT ""		IDMI_HEIGHT		42,   2,  12, 8
    LTEXT "Width",	      -1,		 2,  12,  38, 8
    RTEXT ""		IDMI_WIDTH		42,  12,  12, 8
    LTEXT "Weight",	      -1,		 2,  22,  38, 8
    RTEXT ""		IDMI_WEIGHT		42,  22,  12, 8
    LTEXT "Italic",	      -1,		 2,  32,  38, 8
    RTEXT ""		IDMI_ITALIC		42,  32,  12, 8
    LTEXT "Underlined"	      -1,		 2,  42,  40, 8
    RTEXT ""		IDMI_UNDERLINED		42,  42,  12, 8
    LTEXT "StrikeOut"	      -1,		 2,  52,  38, 8
    RTEXT ""		IDMI_STRIKEOUT		42,  52,  12, 8
    LTEXT "CharSet"	      -1,		 2,  62,  38, 8
    RTEXT ""		IDMI_CHARSET		42,  62,  12, 8

    LTEXT "Escapement",		 -1,		62,   2,  80, 8
    RTEXT ""		IDMI_ESCAPEMENT	       126,   2,  12, 8
    LTEXT "Orientation",	 -1,		62,  12,  80, 8
    RTEXT ""		IDMI_ORIENTATION       126,  12,  12, 8
    LTEXT "OutPrecision",     -1,		62,  22,  80, 8
    RTEXT ""		IDMI_OUTPRECISION      126,  22,  12, 8
    LTEXT "ClipPrecision",    -1,		62,  32,  80, 8
    RTEXT ""		IDMI_CLIPPRECISION     126,  32,  12, 8
    LTEXT "Quality",	      -1,		62,  42,  38, 8
    RTEXT ""		IDMI_QUALITY	       126,  42,  12, 8
    LTEXT "PitchAndFamily"    -1,		62,  52,  80, 8
    RTEXT ""		IDMI_PITCHANDFAMILY    126,  52,  12, 8
END

Add DIALOG 10, 10, 148, 112
STYLE WS_DLGFRAME | WS_POPUP | WS_CAPTION
BEGIN
    LTEXT "&Select Font File Name:", ID_FILENAME, 4,  4,  70, 10
    EDITTEXT			     ID_EDIT,	  4, 16, 100, 12, ES_AUTOHSCROLL
    LTEXT "&Files in",		     ID_FILES,	  4, 40,  32, 10
    LISTBOX,			     ID_LISTBOX,  4, 52,  70, 56, WS_TABSTOP | WS_VSCROLL
    LTEXT "",			     ID_PATH,	 40, 40, 100, 10
    DEFPUSHBUTTON "&Add" ,	     IDOK,	 87, 60,  50, 14
    PUSHBUTTON "&Cancel",	     IDCANCEL,	 87, 80,  50, 14
END

Remove DIALOG 10, 10, 248, 112
STYLE WS_DLGFRAME | WS_POPUP | WS_CAPTION
BEGIN
    LTEXT "Select Font &Name:", ID_FILENAME,  4,  4,  70, 10
    EDITTEXT		     ID_EDIT,	      4,  16, 100, 12, ES_AUTOHSCROLL
    LTEXT "&Fonts:",	     ID_FILES,	      4,  40,  32, 10
    LISTBOX,		     ID_LISTBOX,      4, 52,  170, 56, LBS_STANDARD
    LTEXT "",		     ID_PATH,	     40,  40, 100, 10
    PUSHBUTTON "&Remove" ,   IDOK,	    187,  60,  50, 14
    DEFPUSHBUTTON "&Cancel", IDCANCEL,	    187,  80,  50, 14
END

AboutBox DIALOG 22, 17, 144, 75
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
BEGIN
    CTEXT "Microsoft Windows"		    -1,	 0,  5, 144, 8
    CTEXT "ShowFont Application"	    -1,	 0, 14, 144, 8
    CTEXT "Version 3.0" 		    -1,  0, 34, 144, 8
    DEFPUSHBUTTON "OK"		IDOK, 53, 59, 32, 14, WS_GROUP
END

