#include <windows.h>
#include "dlgdefs.h"
#include "pscript.h"
#include "pscrptui.h"

//
// Printer Properties dialog templates
//
#include "dlgdefs.dlg"
#include "..\pscript\fonts.rc"

ICOPORTRAIT     ICON    portrait.ico
ICOLANDSCAPE    ICON    landscap.ico
ICO_P_NONE      ICON    p_none.ico
ICO_L_NONE      ICON    l_none.ico
ICO_P_HORIZ     ICON    p_horz.ico
ICO_L_HORIZ     ICON    l_horz.ico
ICO_P_VERT      ICON    p_vert.ico
ICO_L_VERT      ICON    l_vert.ico
ICO_COLLATE     ICON    collate.ico
ICO_NO_COLLATE  ICON    nocoll8.ico
ICO_PRINTER     ICON    printer.ico

STRINGTABLE

BEGIN
    STRING_BASE + IDS_MEMWARN,              "Setting memory value greater than amount in printer could kill print jobs.  Do you want to change memory?"
    STRING_BASE + IDS_CAUTION,              "Caution!"
    STRING_BASE + IDS_PRINT_PROP,           "PostScript Printer Properties for "
    STRING_BASE + IDS_DEFAULT_FONT_DIR,     "A:\\"
    STRING_BASE + IDS_NO_INSTALLED,         "No Installed Soft Fonts"
    STRING_BASE + IDS_ALL_PFB_FILES,        "*.PFB"
    STRING_BASE + IDS_PFB_NOT_FOUND,        "Printer Font file not found.  Please insert media with .PFB file."
    STRING_BASE + IDS_AFM_NOT_FOUND,        "Font Metrics file not found.  Please insert media with .AFM file."
    STRING_BASE + IDS_PATH_NOT_FOUND,       "The specified path was not found."
    STRING_BASE + IDS_FULLNAME,             "/FullName"
    STRING_BASE + IDS_FONTNAME,             "/FontName"
    STRING_BASE + IDS_ALL_AFM_FILES,        "*.AFM"
    STRING_BASE + IDS_ALL_PFM_FILES,        "*.PFM"
    STRING_BASE + IDS_MORE_AFMS_NEEDED,     "Not all the specified .AFM files were found.  It is common to have .AFM files on multiple disks.  Please insert disk with more .AFM files."
    STRING_BASE + IDS_COLOR_ON_BW,          "DEVMODE indicated trying to print color on b/w printer."
    STRING_BASE + IDS_INVALID_DRIVER_EXTRA_SIZE, "Invalid driver extra size."
    STRING_BASE + IDS_INVALID_DUPLEX,       "Invalid duplex value."
    STRING_BASE + IDS_INVALID_COLOR,        "Invalid color value."
    STRING_BASE + IDS_INVALID_RESOLUTION,   "Invalid resolution."
    STRING_BASE + IDS_INVALID_NUMBER_OF_COPIES, "Invalid number of copies."
    STRING_BASE + IDS_INVALID_SCALE,        "Invalid scale factor."
    STRING_BASE + IDS_INVALID_ORIENTATION,  "Invalid orientation."
    STRING_BASE + IDS_INVALID_VERSION,      "Invalid DEVMODE version."
    STRING_BASE + IDS_INVALID_DEVMODE_SIZE, "Invalid DEVMODE size."
    STRING_BASE + IDS_INVALID_FORM,         "Invalid form name."
    STRING_BASE + IDS_DOWNLOAD_SOFTFONT,    "Download as Soft Font"
    STRING_BASE + IDS_NUMBER_TT_FONTS,      "CountTTFonts"
    STRING_BASE + IDS_FREEMEM,              "FreeMem"
    STRING_BASE + IDS_FORMS,                "Forms?"
    STRING_BASE + IDS_HALFTONE,             "PrinterHT"
    STRING_BASE + IDS_PSCRIPT_VERSION,      "PostScript Printer Driver V3.1"
    STRING_BASE + IDS_MODEL_STRING,         "Printer Model: "
    STRING_BASE + IDS_ERROR,                "Error!"
    STRING_BASE + IDS_NO_HELP,              "Could not load help file."
    STRING_BASE + IDS_PERMISSION,           "Permission"
    STRING_BASE + IDS_FONT_SUBST_TABLE,     "TTFontSubTable"
    STRING_BASE + IDS_FONT_SUBST_SIZE,      "TTFontSubTableSize"
    STRING_BASE + IDS_TRAY_FORM_TABLE,      "TrayFormTable"
    STRING_BASE + IDS_TRAY_FORM_SIZE,       "TrayFormSize"
    STRING_BASE + IDS_NETWORK_GONE,         "Network connection to soft font files no longer exists."
    SLOTS_BASE + SLOT_ONLYONE,              "Main Tray"
    SLOTS_BASE + SLOT_MANUAL,               "Manual Feed"

END

#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_DRV_PRINTER
#define VER_FILEDESCRIPTION_STR     "PostScript Printer Driver User Interface"
#define VER_INTERNALNAME_STR        "PSCRPTUI.DLL"
#define VER_ORIGINALFILENAME_STR    "PSCRPTUI.DLL"

#include "common.ver"
