story
{
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  width: 30em;
}

restaurant
{
  display: block;
  padding: 1.2em;
  font-size: x-small;
  margin-bottom: 1em;
}

restaurant name
{
  display: block;
  font-size: x-large;
  text-align: center;
  color: #888833;
}

restaurant logo
{
  display: block;
  position: absolute;
  width: 200px;
  height: 50px;
  top: 5em;
  left: 20em;
}

HTML\:IMG {
  border: 2px solid black;
}

HTML\:A:visited HTML\:IMG {
  border-color: grey;
}

HTML\:A:active HTML\:IMG {
  border-color: red;
}

HTML\:A:link HTML\:IMG {
  border-color: black;
}

restaurant address
{
  display: block;
}

restaurant street
{
  display: block;
}

restaurant city
{
  display: block;
}

restaurant state
{
  display: block;
}

restaurant phone
{
  display: block;
}

review
{
  display: block;
  border-top: 2px solid #888833;
  background-color: #FFFFDD;
  font-size: x-small;
  padding-left: 1.2em;
  padding-right: 1.2em;
}

review rating
{
  display: block;
  font-size: x-large;
  line-height: .5em
}

review reviewer
{
  display: block;
  text-align: right;
}

review date
{
  display: block;
  text-align: right;
}

body
{
  display: block;
  padding: 1em;
  text-align: justify;
  background-color: #FFFFDD;
}

p
{
  display: block;
  margin-bottom: .5em;
}

body person
{
  display: inline;
  font-weight: bold;
}

body city
{
  display: inline;
  font-weight: bold;
}

body self
{
  display: inline;
  font-style: italic;
}

body summary
{
  display: inline;
  color: #888833;
  font-size: larger;
}

menu
{
  display: block;
  border: 2px solid black;
  padding: 1em;
  background-color: #888833;
  color: #FFFFDD;
  font-family: Times, serif;
  font-style: italic;
  text-align: center;
}

appetizer
{
  display: block;
  margin-bottom: .4em;
}

entree
{
  display: block;
  margin-bottom: .4em;
}

price
{
  display: inline;
  font-weight: bold;
  font-style: normal;
}

description
{
  display: inline;
}

