#define NOGDICAPMASKS
#define NORASTEROPS
#define NOSHOWWINDOW
#define NOSYSMETRICS
#define NOATOM
#define NOBITMAP
#define NOBRUSH
#define NOCLIPBOARD
#define NOCOLOR
#define NOCREATESTRUCT
#define NOFONT
#define NOGDI
#define NOHDC
#define NOMEMMGR
#define NOMETAFILE
#define NOMINMAX
#define NOOPENFILE
#define NOPEN
#define NOPOINT
#define NORECT
#define NOREGION
#define NOSOUND
#define NOTEXTMETRIC
#define NOWH
#define NOWINOFFSETS
#define NOWNDCLASS
#define NOCOMM

#ifdef NEVER
#include <windows.h>
#endif

#define NOSTRUCTS
#define NOPROCS


#include "paint.h"
kanji 0x81, 0x9f, 0xe0, 0xfc



STRINGTABLE
BEGIN
	IDSCAPTION    , "ペイント "
	IDSUNTITLED   , "(無題)"
	IDSWARNING    , "ペイント"
	IDSERROR      , "ペイント"
	IDSOK	      , "確認"
	IDSCANCEL     , "取消し"
	IDSABOUT      , "プロフィール"
	IDSFONTSIZE   , "サイズ"
	IDSFONT       , "フォント"

	IDSDISKSPACE  , "ペイントを実行するのに十分なディスク容量がありません"
	IDSMEMSPACE   , "ペイントを実行するのに十分なメモリがありません"

	IDSCREATEFAIL , "新しいキャンバスを作れません"

	IDSOPENFAIL1  , "オープンできません "
	IDSOPENFAIL2  , ""

	IDSSAVEQ1     , "このまま "
	IDSSAVEQ2     , " をセーブしますか"
	IDSSAVEFAIL1  , "セーブできません"
	IDSSAVEFAIL2  , ""
	IDSSAVEDISK1  , "セーブするのに十分なディスク容量がありません "
	IDSSAVEDISK2  , ""
	IDSEXISTS1    , "置き換えますか "
	IDSEXISTS2    , "?"
	IDSINVALID1   , ""
	IDSINVALID2   , " はペイントのファイルではありません"
	IDSDUPFILE1   , ""
	IDSDUPFILE2   , " は既に編集中です"
	IDSBADNAME1   , "ファイル名が正しくありません"
	IDSBADNAME2   , ""
	IDSDISKFULL   , "もうひとつのファイルを編集するのに十分なディスク容量がありません"

	IDSPRINTERR   , "印刷できません"
	IDSPRINTMEM   , "印刷するのに十分なメモリがありません"
	IDSPRINTDISK  , "印刷するのに十分なディスク容量がありません"

	IDSPASTEERR   , "クリップボードの中に貼り付けをすることはできません"
	IDSCOPYERR    , "クリップボードから切り取りをすることはできません"
	IDSCUTERR     , "クリップボードに複写することはできません"
	IDSPASTETEXT  , "テキストが大きすぎてウィンドウに貼り付けできません"
	IDSBIGPASTE   , "貼り付けをすると上書きされます"
	IDSPASTEMEM   , "貼り付けをするのに十分なメモリがありません"
END



#undef	SHIFT

accel	ACCELERATORS
BEGIN
    VK_ESCAPE,	EUNDO,		VIRTKEY, SHIFT
    VK_DELETE,	ECUT,		VIRTKEY
    VK_INSERT,	EPASTE, 	VIRTKEY
    VK_COPY,	ECOPY,		VIRTKEY
    VK_F3,	PALTPATS,	VIRTKEY
    VK_F4,	PALTSIZE,	VIRTKEY
    VK_F5,	STYLEP, 	VIRTKEY
    VK_F6,	STYLEB, 	VIRTKEY
    VK_F7,	STYLEI, 	VIRTKEY
    VK_F8,	STYLEU, 	VIRTKEY
    VK_F9,	ZOOMIN, 	VIRTKEY
    VK_F10,	ZOOMOUT,	VIRTKEY
END


FileOpen	dialog	10, 10, 148, 80
STYLE		DS_ABSALIGN | WS_POPUP | WS_DLGFRAME | WS_VISIBLE

begin
    edittext	3,46,  2,100, 12, WS_GROUP | WS_TABSTOP | ES_AUTOHSCROLL
    listbox	5, 4, 20, 70, 58, LBS_STANDARD | WS_GROUP | WS_TABSTOP
    defpushbutton "オープン"	IDOK,		87, 40, 50, 14, WS_GROUP
    pushbutton	  "取消し"	IDCANCEL,	87, 58, 50, 14, WS_GROUP
    ltext	  "",		4,		78, 20, 40, 12
    rtext	  "ファイル名",	-1,		 2,  4, 40, 12
end

FileSaveAs	DIALOG		4, 8, 166, 48
STYLE		DS_ABSALIGN | WS_POPUP | WS_DLGFRAME | WS_VISIBLE

BEGIN
	EDITTEXT 3, 12, 15,104, 12, WS_GROUP | WS_TABSTOP | ES_AUTOHSCROLL
	defpushbutton "セーブ"  IDOK,    120, 15, 35, 14, WS_GROUP | WS_TABSTOP
	pushbutton	"取消し"IDCANCEL,120, 33, 35, 14, WS_GROUP | WS_TABSTOP
	rtext		"",	4,	  80,  2, 72, 12
	ltext		"ファイル名", -1, 12,  2, 70, 12
END

Help		DIALOG 25,25,154,78
STYLE		DS_ABSALIGN | WS_POPUP | WS_DLGFRAME | WS_VISIBLE
BEGIN
    CTEXT "マイクロソフト・ウィンドウズ"		-1,  0,  5,154, 8
    CTEXT "ペイント"					-1, 50, 17, 54, 8
    ICON  "Paint"					-1,  9, 23,  0, 0
    CTEXT "Version 1.03"				-1, 30, 34, 94, 8
    CTEXT "Copyright (C) 1985, Microsoft Corp."		-1,  0, 47,154, 9
    DEFPUSHBUTTON "確認"			IDOK, 	61, 59, 32, 14, WS_GROUP
END

AbortPrint	DIALOG 20,20,90, 64
STYLE		WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "印刷"
BEGIN
   defpushbutton "取消し" 	  IDCANCEL, 29, 44, 32, 14, WS_GROUP
   ctext    	 "プリンタに",	  -1,  	     0,  8, 90,  8
   ctext    	 "", 		   4,  	     0, 18, 90,  8
   ctext    	 "を送っています",-1,  	     0, 28, 90,  8
END

Paint	MENU

BEGIN
	POPUP	"ファイル"

	BEGIN
		MENUITEM	"新規", 	 	FNEW
		MENUITEM	"オープン",	 	FOPEN
		MENUITEM	"セーブ",	  	FSAVE
		MENUITEM	"名を変えてセーブ",	FSAVEAS
		MENUITEM	"印刷",        		FPRINT
	END

	POPUP	"編集"

	BEGIN
		MENUITEM	"取消し\tSh Esc",	EUNDO
		MENUITEM	SEPARATOR
		MENUITEM	"表示画面消去",	   	EERASE
		MENUITEM	SEPARATOR
		MENUITEM	"切取り\tDel",		ECUT,    GRAYED
		MENUITEM	"複写\tCopy",		ECOPY,   GRAYED
		MENUITEM	"貼付け\tIns",		EPASTE
		MENUITEM	"消去", 	        ECLEAR,  GRAYED
		MENUITEM	SEPARATOR
		MENUITEM	"白黒反転", 		EINVERT, GRAYED
		MENUITEM	"縁取り",		ETRACE,  GRAYED
		MENUITEM	"水平反転",		FLIPHOR, GRAYED
		MENUITEM	"垂直反転",		FLIPVER, GRAYED
	END

	MENUITEM    "フォント", 	MFONT
	MENUITEM    "サイズ", 		MSIZE

	POPUP	"スタイル"

	BEGIN
		MENUITEM	"プレーン\tF5", 	STYLEP,CHECKED
		MENUITEM	"ボールド\tF6", 	STYLEB
		MENUITEM	"イタリック\tF7",	STYLEI
		MENUITEM	"アンダーライン\tF8",	STYLEU
		MENUITEM	"白抜き",	        STYLEO
		MENUITEM	"消し線",	        STYLES
		MENUITEM	SEPARATOR
		MENUITEM	"左揃え",		ALIGNL,CHECKED
		MENUITEM	"センタリング", 	ALIGNC
		MENUITEM	"右揃え",		ALIGNR
		MENUITEM	SEPARATOR
		MENUITEM	"不透明"		SOPAQUE,CHECKED
		MENUITEM	"透明", 		STRANSP
	END

	POPUP	"パレット"

	BEGIN
		MENUITEM	"模様\tF3",		PALTPATS
		MENUITEM	"線の幅\tF4",  		PALTSIZE
		MENUITEM	"ブラシの太さ", 	PALTSHAP
		MENUITEM	"道具", 		PALTTOOL
	END

	POPUP	"オプション"

	BEGIN
		MENUITEM	"ズームイン\tF9",	ZOOMIN
		MENUITEM	"ズームアウト\tF10",	ZOOMOUT
		MENUITEM	SEPARATOR
		MENUITEM	"格子なし",	    	GRIDOFF,CHECKED
		MENUITEM	"細かい格子",	    	GRIDFIN
		MENUITEM	"普通の格子",	    	GRIDMED
		MENUITEM	"粗い格子",	  	GRIDCRS
		MENUITEM	SEPARATOR
		MENUITEM	"模様作成",   		PATEDIT
		MENUITEM	SEPARATOR
		MENUITEM	"プリンタ用",		FORPRINTER
		MENUITEM	"スクリーン用", 	FORSCREEN
		MENUITEM	SEPARATOR
		MENUITEM	"64k 以下",		LT64KMODE
		MENUITEM	"64k 以上",		NOLIMIT
	END
END


normal		CURSOR	NORMAL.CUR
curpencl	CURSOR	CURPENCL.CUR
curhand 	CURSOR	CURHAND.CUR
curtext 	CURSOR	CURTEXT.CUR
curmarqe	CURSOR	CURMARQE.CUR
curlasso	CURSOR	CURLASSO.CUR
curerase	CURSOR	CURERASE.CUR
curcross	CURSOR	CURCROSS.CUR
curpaint	CURSOR	CURPAINT.CUR
curnull 	CURSOR	CURNULL.CUR


Paint		ICON	PAINT.ICO

/*
icolasso	icon	ICOLASSO.ICO
icomarqe	icon	ICOMARQE.ICO
icohand 	icon	ICOHAND.ICO
icotext 	icon	ICOTEXT.ICO
icopaint	icon	ICOPAINT.ICO
icospray	icon	ICOSPRAY.ICO
icobrush	icon	ICOBRUSH.ICO
icopencl	icon	ICOPENCL.ICO
icoline 	icon	ICOLINE.ICO
icoerase	icon	ICOERASE.ICO
icosplin	icon	ICOSPLIN.ICO
ico3d		icon	ICO3D.ICO
icohbox 	icon	ICOHBOX.ICO
icofbox 	icon	ICOFBOX.ICO
icohrrc 	icon	ICOHRRC.ICO
icofrrc 	icon	ICOFRRC.ICO
icohcirc	icon	ICOHCIRC.ICO
icofcirc	icon	ICOFCIRC.ICO
icohoval	icon	ICOHOVAL.ICO
icofoval	icon	ICOFOVAL.ICO
icoharea	icon	ICOHAREA.ICO
icofarea	icon	ICOFAREA.ICO
icohpoly	icon	ICOHPOLY.ICO
icofpoly	icon	ICOFPOLY.ICO
*/

Paint		BITMAP	paint.bmp
