#define NOGDICAPMASKS
#define NORASTEROPS
#define NOSHOWWINDOW
#define NOSYSMETRICS
#define NOATOM
#define NOBITMAP
#define NOBRUSH
#define NOCLIPBOARD
#define NOCOLOR
#define NOCREATESTRUCT
#define NOFONT
#define NOGDI
#define NOHDC
#define NOMEMMGR
#define NOMETAFILE
#define NOMINMAX
#define NOOPENFILE
#define NOPEN
#define NOPOINT
#define NORECT
#define NOREGION
#define NOSOUND
#define NOTEXTMETRIC
#define NOWH
#define NOWINOFFSETS
#define NOWNDCLASS
#define NOCOMM

#ifdef NEVER
/* paint.h includes windows.h */
#include <windows.h>
#endif

#define NOSTRUCTS
#define NOPROCS

#include "paint.h"

rcinclude paint.dlg /* dialog box templates */

STRINGTABLE
BEGIN
	IDSCAPTION    , "Paint - "
	IDSUNTITLED   , "(untitled)"
	IDSWARNING    , "Paint"
	IDSERROR      , "Paint"
	IDSOK	      , "OK"
	IDSCANCEL     , "Cancel"
        IDSABOUT      , "&About..."
        IDSFONTSIZE   , "Si&ze"
        IDSFONT       , "&Character"

	IDSDISKSPACE  , "Not enough disk space to run Paint."
	IDSNOTEMP     , "Cannot open temp file."
	IDSMEMSPACE   , "Not enough memory to run Paint."

	IDSCREATEFAIL , "Cannot create a new canvas"

	IDSOPENFAIL1  , "Cannot open "
	IDSOPENFAIL2  , ""

	IDSSAVEQ1     , "Save current changes "
	IDSSAVEQ2     , " ?"
	IDSSAVEFAIL1  , "Cannot save "
	IDSSAVEFAIL2  , ""
	IDSSAVEDISK1  , "Not enough disk space to save "
	IDSSAVEDISK2  , ""
	IDSEXISTS1    , "Replace existing "
	IDSEXISTS2    , "?"
	IDSINVALID1   , ""
	IDSINVALID2   , " is not a valid Paint file."
	IDSDUPFILE1   , ""
	IDSDUPFILE2   , " is already being edited."
	IDSBADNAME1   , "Not a valid filename "
	IDSBADNAME2   , ""
	IDSDISKFULL   , "Not enough disk space to edit another file."

	IDSPRINTERR   , "Cannot print."
	IDSPRINTMEM   , "Not enough memory to print."
	IDSPRINTDISK  , "Not enough disk space to print."

	IDSPASTEERR   , "Paint cannot paste the contents of the Clipboard."
	IDSCOPYERR    , "Paint cannot copy to the Clipboard."
	IDSCUTERR     , "Paint cannot cut to the Clipboard."
	IDSPASTETEXT  , "Text is too big to paste into the window."
        IDSBIGPASTE   , "Paste onto hidden parts of the canvas also?"
	IDSPASTEMEM   , "Not enough memory to paste."
END


#undef  SHIFT
#undef  ALT

accel	ACCELERATORS
BEGIN
    VK_BACK,    EUNDO,          VIRTKEY, ALT
    VK_DELETE,  ECUT,           VIRTKEY, SHIFT
    VK_INSERT,  EPASTE,         VIRTKEY, SHIFT
    VK_INSERT,  ECOPY,          VIRTKEY, CONTROL
    VK_DELETE,  ECLEAR,         VIRTKEY
    VK_F3,	PALTPATS,	VIRTKEY
    VK_F4,	PALTSIZE,	VIRTKEY
    VK_F5,	STYLEP, 	VIRTKEY
    VK_F6,	STYLEB, 	VIRTKEY
    VK_F7,	STYLEI, 	VIRTKEY
    VK_F8,	STYLEU, 	VIRTKEY
END


Paint	MENU

BEGIN
        POPUP   "&File"

	BEGIN
                MENUITEM        "&New",          FNEW
                MENUITEM        "&Open...",      FOPEN
                MENUITEM        "&Save",         FSAVE
                MENUITEM        "Save &As...",   FSAVEAS
                MENUITEM        "&Print",        FPRINT
                MENUITEM        SEPARATOR
                MENUITEM        "E&xit",         FEXIT
                MENUITEM        "A&bout Paint...",     FABOUT
	END

        POPUP   "&Edit"

	BEGIN
                MENUITEM        "&Undo\tAlt+BkSp",       EUNDO
		MENUITEM	SEPARATOR
                MENUITEM        "E&rase",                EERASE
		MENUITEM	SEPARATOR
                MENUITEM        "Cu&t\tShift+Del",       ECUT,    GRAYED
                MENUITEM        "&Copy\tCtrl+Ins",       ECOPY,   GRAYED
                MENUITEM        "&Paste\tShift+Ins",     EPASTE
                MENUITEM        "Cl&ear\tDel",           ECLEAR   GRAYED
		MENUITEM	SEPARATOR
                MENUITEM        "&Invert",               EINVERT, GRAYED
                MENUITEM        "Tr&ace Edges",          ETRACE,  GRAYED
                MENUITEM        "Flip &Horizontal",      FLIPHOR, GRAYED
                MENUITEM        "Flip &Vertical",        FLIPVER, GRAYED
	END

        MENUITEM    "&Character", MFONT
        MENUITEM    "Si&ze", MSIZE

        POPUP   "&Style"

	BEGIN
                MENUITEM        "&Normal\tF5",           STYLEP,CHECKED
                MENUITEM        "&Bold\tF6",             STYLEB
                MENUITEM        "&Italic\tF7",           STYLEI
                MENUITEM        "&Underline\tF8",        STYLEU
                MENUITEM        "&Outline",              STYLEO
                MENUITEM        "&Strikeout",            STYLES
		MENUITEM	SEPARATOR
                MENUITEM        "&Left Aligned",         ALIGNL,CHECKED
                MENUITEM        "&Centered",             ALIGNC
                MENUITEM        "&Right Aligned",        ALIGNR
		MENUITEM	SEPARATOR
                MENUITEM        "O&paque",               SOPAQUE,CHECKED
                MENUITEM        "&Transparent",          STRANSP
	END

        POPUP   "&Palette"

	BEGIN
                MENUITEM        "&Patterns...\tF3",     PALTPATS
                MENUITEM        "&Line Widths...\tF4",  PALTSIZE
                MENUITEM        "&Brush Shapes...",     PALTSHAP
                MENUITEM        "&Tools...",            PALTTOOL
	END

        POPUP   "&Options"

	BEGIN
                MENUITEM        "Zoom &In",           ZOOMIN
                MENUITEM        "Zoom &Out",          ZOOMOUT
		MENUITEM	SEPARATOR
                MENUITEM        "&No Grid",           GRIDOFF,CHECKED
                MENUITEM        "&Fine Grid",         GRIDFIN
                MENUITEM        "&Medium Grid",       GRIDMED
                MENUITEM        "&Coarse Grid",       GRIDCRS
		MENUITEM	SEPARATOR
                MENUITEM        "&Edit Pattern...",   PATEDIT
		MENUITEM	SEPARATOR
                MENUITEM        "For &Printer",       FORPRINTER
                MENUITEM        "For &Screen",        FORSCREEN
		MENUITEM	SEPARATOR
                MENUITEM        "&Low Resolution",            LT64KMODE
                MENUITEM        "&High Resolution",            NOLIMIT
	END
END

normal		CURSOR	NORMAL.CUR
curpencl	CURSOR	CURPENCL.CUR
curhand 	CURSOR	CURHAND.CUR
curtext 	CURSOR	CURTEXT.CUR
curmarqe	CURSOR	CURMARQE.CUR
curlasso	CURSOR	CURLASSO.CUR
curerase	CURSOR	CURERASE.CUR
curcross	CURSOR	CURCROSS.CUR
curpaint	CURSOR	CURPAINT.CUR
curnull 	CURSOR	CURNULL.CUR


Paint		ICON	PAINT.ICO

/*
icolasso	icon	ICOLASSO.ICO
icomarqe	icon	ICOMARQE.ICO
icohand 	icon	ICOHAND.ICO
icotext 	icon	ICOTEXT.ICO
icopaint	icon	ICOPAINT.ICO
icospray	icon	ICOSPRAY.ICO
icobrush	icon	ICOBRUSH.ICO
icopencl	icon	ICOPENCL.ICO
icoline 	icon	ICOLINE.ICO
icoerase	icon	ICOERASE.ICO
icosplin	icon	ICOSPLIN.ICO
ico3d		icon	ICO3D.ICO
icohbox 	icon	ICOHBOX.ICO
icofbox 	icon	ICOFBOX.ICO
icohrrc 	icon	ICOHRRC.ICO
icofrrc 	icon	ICOFRRC.ICO
icohcirc	icon	ICOHCIRC.ICO
icofcirc	icon	ICOFCIRC.ICO
icohoval	icon	ICOHOVAL.ICO
icofoval	icon	ICOFOVAL.ICO
icoharea	icon	ICOHAREA.ICO
icofarea	icon	ICOFAREA.ICO
icohpoly	icon	ICOHPOLY.ICO
icofpoly	icon	ICOFPOLY.ICO
*/

Paint		BITMAP	paint.bmp
