#include "windows.h"
#include "cursor.h"

bullseye CURSOR bullseye.cur

AboutBox DIALOG 22, 17, 144, 75
STYLE WS_POPUP | WS_DLGFRAME
BEGIN
    CTEXT "Microsoft Windows"		    -1,	 0,  5, 144, 8
    CTEXT "Cursor Application"		    -1,	 0, 14, 144, 8
    CTEXT "Version 1.0"			    -1,	 0, 34, 144, 8
    DEFPUSHBUTTON "OK"		IDOK, 53, 59, 32, 14, WS_GROUP
END
