#include "style.h"

rcinclude calc.dlg /* about dialog box template */

1   ICON    calc.ico

1   CURSOR  finger.cur

STRINGTABLE
BEGIN
    1, "Calculator"
    2, "Error"
    3, "About..."
    4, "±"	    ;the plus/minus key
END

1 MENU
BEGIN
    POPUP  "&Edit" BEGIN
        MENUITEM "&Copy\tCtrl+Ins",   1
        MENUITEM "&Paste\tShift+Ins", 2
        MENUITEM SEPARATOR
        MENUITEM "E&xit",       3
        MENUITEM "A&bout Calculator...",   4
    END
END

1 BITMAP sqx.bmp
2 BITMAP sqr1.bmp

accel   ACCELERATORS
BEGIN
    VK_INSERT,  1,      VIRTKEY, CONTROL
    VK_INSERT,  2,      VIRTKEY, SHIFT
END
