BODY
{
    FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica;
    FONT-SIZE: 10pt
}
.feedbackbutton
{
    BORDER-LEFT: white thin solid;
    BORDER-RIGHT: white thin solid;
    COLOR: #ffffff;
    CURSOR: hand;
    DISPLAY: block;
    FONT-SIZE: 8pt;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 2px;
    PADDING-LEFT: 10px;
    PADDING-RIGHT: 10px;
    PADDING-TOP: 2px
}
.labeleffect
{
    FONT-WEIGHT: bold
}
