#include <mindrvrc.h>
#include "EPSON24.rcv"

1      RC_TABLES   PRELOAD MOVEABLE         EPSON24.GPC

1      RC_FONT     LOADONCALL DISCARDABLE  ROMAN05.PFM
2      RC_FONT     LOADONCALL DISCARDABLE  ROMAN06.PFM
3      RC_FONT     LOADONCALL DISCARDABLE  ROMAN10.PFM
4      RC_FONT     LOADONCALL DISCARDABLE  ROMAN12.PFM
5      RC_FONT     LOADONCALL DISCARDABLE  ROMAN15.PFM
6      RC_FONT     LOADONCALL DISCARDABLE  ROMAN17.PFM
7      RC_FONT     LOADONCALL DISCARDABLE  ROMAN20.PFM
8      RC_FONT     LOADONCALL DISCARDABLE  ROMANPS.PFM
9      RC_FONT     LOADONCALL DISCARDABLE  SANS05.PFM
10     RC_FONT     LOADONCALL DISCARDABLE  SANS06.PFM
11     RC_FONT     LOADONCALL DISCARDABLE  SANS10.PFM
12     RC_FONT     LOADONCALL DISCARDABLE  SANS12.PFM
13     RC_FONT     LOADONCALL DISCARDABLE  SANS15.PFM
14     RC_FONT     LOADONCALL DISCARDABLE  SANS17.PFM
15     RC_FONT     LOADONCALL DISCARDABLE  SANS20.PFM
16     RC_FONT     LOADONCALL DISCARDABLE  SANSPS.PFM
17     RC_FONT     LOADONCALL DISCARDABLE  COUR05.PFM
18     RC_FONT     LOADONCALL DISCARDABLE  COUR06.PFM
19     RC_FONT     LOADONCALL DISCARDABLE  COUR10.PFM
20     RC_FONT     LOADONCALL DISCARDABLE  COUR12.PFM
21     RC_FONT     LOADONCALL DISCARDABLE  COUR15.PFM
22     RC_FONT     LOADONCALL DISCARDABLE  COUR17.PFM
23     RC_FONT     LOADONCALL DISCARDABLE  COUR20.PFM
24     RC_FONT     LOADONCALL DISCARDABLE  PREST05.PFM
25     RC_FONT     LOADONCALL DISCARDABLE  PREST06.PFM
26     RC_FONT     LOADONCALL DISCARDABLE  PREST10.PFM
27     RC_FONT     LOADONCALL DISCARDABLE  PREST12.PFM
28     RC_FONT     LOADONCALL DISCARDABLE  PREST15.PFM
29     RC_FONT     LOADONCALL DISCARDABLE  PREST17.PFM
30     RC_FONT     LOADONCALL DISCARDABLE  PREST20.PFM
31     RC_FONT     LOADONCALL DISCARDABLE  SCRIPT05.PFM
32     RC_FONT     LOADONCALL DISCARDABLE  SCRIPT06.PFM
33     RC_FONT     LOADONCALL DISCARDABLE  SCRIPT10.PFM
34     RC_FONT     LOADONCALL DISCARDABLE  SCRIPT12.PFM
35     RC_FONT     LOADONCALL DISCARDABLE  SCRIPT15.PFM
36     RC_FONT     LOADONCALL DISCARDABLE  SCRIPT17.PFM
37     RC_FONT     LOADONCALL DISCARDABLE  SCRIPT20.PFM
38     RC_FONT     LOADONCALL DISCARDABLE  OCRA.PFM
39     RC_FONT     LOADONCALL DISCARDABLE  OCRB.PFM
40     RC_FONT     LOADONCALL DISCARDABLE  ORATOR.PFM
41     RC_FONT     LOADONCALL DISCARDABLE  ORATORS.PFM

1      RC_TRANSTAB LOADONCALL MOVEABLE      EPSONXTA.CTT
2      RC_TRANSTAB LOADONCALL MOVEABLE      EPSONXTB.CTT

STRINGTABLE

BEGIN
       1                  "Epson LQ-500"
       2                  "Epson LQ-510"
       3                  "Epson LQ-800"
       4                  "Epson LQ-850"
       5                  "Epson LQ-950"
       6                  "Epson LQ-1000"
       7                  "Epson LQ-1050"
       8                  "Epson LQ-1500"
       9                  "Epson LQ-2500"
       10                 "Epson LQ-2550"
       11                 "Epson SQ-2000"
       12                 "Epson SQ-2500"
       13                 "Epson L-750"
       14                 "Epson L-1000"
       257                "%d x %d"
       258                "Sans Serif"
       259                "Courier"
       260                "Prestige"
       261                "Script"
       262                "OCR-B"
       263                "OCR-A"
       264                "Orator"
       265                "Orator-S"
END
