#include "windows.h"
#include "shstring.h"
#include "shmenu.h"

SHELLICON   icon  PRELOAD    FLOPPY.ICO

STRINGTABLE     PRELOAD
BEGIN
    MCOPYING,       "Copying %%"
    MNEEDSYSDISK,   "Please insert MS-DOS disk in drive %%"
    MRENAMING,      "Renaming %%"
    MDELETING,      "Deleting %%"
    MPRINTING,      ""
    MMAKEDIR,       "Creating directory %%"
    ECANTFIND,      "Cannot find %%"
    EWRITING,       "Cannot write to drive %%"
    ERENAMING,      "Cannot rename %%"
    EDIRNOTEMPTY,   "%% directory is not empty."
    EDIRISCUR,      "Cannot delete the current directory."
    ECANTDEL,       "Cannot delete %%"
    ECANTPRINT,     "Cannot print"
    ECOPYTOSAME,    "Cannot copy file to itself."
    ECREATE,        "Cannot create %%"
    EDISKFULL,      "Not enough disk space to copy %%"
    EMULFILES,      "Multiple files not allowed."
    MSYSERROR,      "MS-DOS"
    MABOUT,         "About..."
    MFREE,          "K Free"
    MENDSESSION,    "End Session"
    MGETINFO,       "Get Info"
    MMSDOSNAME,     "MS-DOS Executive"
    MENDMSG,        "This will end your Windows session."
    EINSMEMORY,     "Not enough memory."
    EMULDEST,       "Multiple destinations not allowed."
    EMULSRCONEDEST, "Cannot copy multiple files to a single destination."
    ECANTRUN,       "Cannot run %%"
    EINSMEMRUN,     "Not enough memory to run %%"
    EINSMEMDIR,     "Not enough memory to display entire directory."
    EVOLSET,        "Cannot set volume name."
    ECHDIR,         "Cannot change directory to %%"
    ECREATEDIR,     "Cannot create directory "
    ENOFILES,       "%% has no files in it."
    ECANTSYS,       "Cannot put MS-DOS system on the diskette."
    ECANTFORMAT,    "Cannot format diskette."
    MRIGHTDISKS,    "Please check that the disks are setup for this operation."
    EMEMPRINT,      "Not enough memory to print."
    EDISKPRINT,     "Not enough disk space to print."
    MSTRINGINSERT,  "%%"
    ENOCONCOPY,     "Cannot copy from CON."
    MYES,           "yes"   /* for checking MinimizeMSDos= in win.ini */
    MNO,            "no"
    EWRONGWINVER    "A newer version of Windows is required to run %%"
END

FDELETE dialog 25, 25, 190, 60
STYLE  WS_POPUP | WS_DLGFRAME
BEGIN
    RTEXT       "&Delete:",  3,     4,  8, 28, 8
    EDITTEXT                4,     36,  6, 150, 12, ES_AUTOHSCROLL | WS_GROUP | WS_TABSTOP
    LTEXT       "",         7,     4,  24, 182, 8, SS_NOPREFIX | WS_GROUP
    DEFPUSHBUTTON  "OK",       IDOK,       44, 40, 32, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON  "Cancel",   IDCANCEL,   114, 40, 32, 14, WS_GROUP | WS_TABSTOP
END

SPARTIAL dialog 25, 25, 130, 44
STYLE  WS_POPUP | WS_DLGFRAME
BEGIN
    RTEXT       "&Partial:", 3,          4,  8, 32, 8
    EDITTEXT                4,          40, 6, 86, 12, WS_GROUP | WS_TABSTOP
    DEFPUSHBUTTON  "OK",       IDOK,       19, 24, 32, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON  "Cancel",   IDCANCEL,   79, 24, 32, 14, WS_GROUP | WS_TABSTOP
END

FPRINT DIALOG 25, 25, 190, 44
STYLE  WS_POPUP | WS_DLGFRAME
BEGIN
    LTEXT       "&Print:",    3,     4,  8, 24, 8
    EDITTEXT                 4,    32,  6, 154, 12, ES_AUTOHSCROLL | WS_GROUP | WS_TABSTOP
    DEFPUSHBUTTON  "OK",       IDOK,       44, 24, 32, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON  "Cancel",   IDCANCEL,   114, 24, 32, 14, WS_GROUP | WS_TABSTOP
END

MKDIR DIALOG 25, 25, 190, 60
STYLE  WS_POPUP | WS_DLGFRAME
BEGIN
    RTEXT       "&Create Directory:"  3,     4,  8, 68, 8
    EDITTEXT                 4,    76,  6, 110, 12, ES_AUTOHSCROLL | WS_GROUP | WS_TABSTOP
    LTEXT       "",          7,     4,  24, 182, 8, SS_NOPREFIX | WS_GROUP
    DEFPUSHBUTTON  "OK",       IDOK,       44, 40, 32, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON  "Cancel",   IDCANCEL,   114, 40, 32, 14, WS_GROUP | WS_TABSTOP
END

CHDIR DIALOG 25, 25, 190, 44
STYLE  WS_POPUP | WS_DLGFRAME
BEGIN
    RTEXT       "&Change To:"  3,     4,  8, 40, 8
    EDITTEXT                 4,    48,  6, 138, 12, ES_AUTOHSCROLL | WS_GROUP | WS_TABSTOP
    DEFPUSHBUTTON  "OK",       IDOK,       44, 24, 32, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON  "Cancel",   IDCANCEL,   114, 24, 32, 14, WS_GROUP | WS_TABSTOP
END

SETVNAME DIALOG 25, 25, 190, 60
STYLE  WS_POPUP | WS_DLGFRAME
BEGIN
    RTEXT       "&Volume Name:"      3,     4,  8, 48, 8
    EDITTEXT                 4,    56,  6, 130, 12, WS_GROUP | WS_TABSTOP
    LTEXT       "",          7,     4,  24, 182, 8, WS_GROUP
    DEFPUSHBUTTON  "OK",       IDOK,       44, 40, 32, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON  "Cancel",   IDCANCEL,   114, 40, 32, 14, WS_GROUP | WS_TABSTOP
END

FRUN DIALOG 25, 25, 190, 60
STYLE  WS_POPUP | WS_DLGFRAME
BEGIN
    RTEXT       "&Run:",      3,     4,   8, 16, 8
    EDITTEXT                 4,     24,  6, 162, 12, ES_AUTOHSCROLL | WS_GROUP | WS_TABSTOP
    CHECKBOX    "&Minimize MS-DOS Executive", 12, 24, 20, 110, 14, WS_GROUP | WS_TABSTOP
    DEFPUSHBUTTON  "OK",       IDOK,       44, 40, 32, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON  "Cancel",   IDCANCEL,   114, 40, 32, 14, WS_GROUP | WS_TABSTOP
END

FLOAD DIALOG 25, 25, 190, 44
STYLE  WS_POPUP | WS_DLGFRAME
BEGIN
    RTEXT       "&Load:",      3,     4,   8, 20, 8
    EDITTEXT                 4,     28,  6, 158, 12, ES_AUTOHSCROLL | WS_GROUP | WS_TABSTOP
    DEFPUSHBUTTON  "OK",       IDOK,       44, 24, 32, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON  "Cancel",   IDCANCEL,   114, 24, 32, 14, WS_GROUP | WS_TABSTOP
END

FCOPY DIALOG 25, 25, 190, 76
STYLE  WS_POPUP | WS_DLGFRAME
BEGIN
    RTEXT       "&Copy:",     3,     4,  8, 20, 8
    EDITTEXT                 4,     28,  6, 158, 12, ES_AUTOHSCROLL | WS_GROUP | WS_TABSTOP
    RTEXT       "&To:",        5,     4,   24, 20, 8, WS_GROUP
    EDITTEXT                 6,     28,  22, 158, 12, ES_AUTOHSCROLL | WS_GROUP | WS_TABSTOP
    LTEXT       "",          7,     4,  40, 182, 8, SS_NOPREFIX | WS_GROUP
    DEFPUSHBUTTON  "OK",       IDOK,       44, 56, 32, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON  "Cancel",   IDCANCEL,   114, 56, 32, 14, WS_GROUP | WS_TABSTOP
END

FRENAME DIALOG 25, 25, 190, 76
STYLE  WS_POPUP | WS_DLGFRAME
BEGIN
    RTEXT       "&Rename:",    3,      4,  8, 32, 8
    EDITTEXT                 4,     40,  6, 146, 12, ES_AUTOHSCROLL | WS_GROUP | WS_TABSTOP
    RTEXT       "&To:",        5,      4,  24, 32, 8, WS_GROUP
    EDITTEXT                 6,     40,  22,146, 12, ES_AUTOHSCROLL | WS_GROUP | WS_TABSTOP
    LTEXT       "",          7,     4,  40, 182, 8, SS_NOPREFIX | WS_GROUP
    DEFPUSHBUTTON  "OK",       IDOK,       44, 56, 32, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON  "Cancel",   IDCANCEL,   114, 56, 32, 14, WS_GROUP | WS_TABSTOP
END

FORMATA DIALOG 25, 25, 140, 60
STYLE  WS_POPUP | WS_DLGFRAME
BEGIN
    CTEXT        "Select drive to format", 20, 20, 10, 100, 8
    RADIOBUTTON  "&A",        8,     64, 22, 20, 12, WS_GROUP | WS_TABSTOP
    DEFPUSHBUTTON  "OK",       IDOK,       24, 40, 32, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON  "Cancel",   IDCANCEL,   84, 40, 32, 14, WS_GROUP | WS_TABSTOP
END

FORMATB DIALOG 25, 25, 140, 60
STYLE  WS_POPUP | WS_DLGFRAME
BEGIN
    CTEXT        "Select drive to format", 20, 20, 10, 100, 8
    RADIOBUTTON  "&A",        8,     44, 22, 20, 12, WS_GROUP | WS_TABSTOP
    RADIOBUTTON  "&B",        9,     84, 22, 20, 12,
    DEFPUSHBUTTON  "OK",       IDOK,       24, 40, 32, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON  "Cancel",   IDCANCEL,   84, 40, 32, 14, WS_GROUP | WS_TABSTOP
END

FORMATC DIALOG 25, 25, 140, 60
STYLE  WS_POPUP | WS_DLGFRAME
BEGIN
    CTEXT        "Select drive to format", 20, 20, 10, 100, 8
    RADIOBUTTON  "&A",        8,     40, 22, 20, 12, WS_GROUP | WS_TABSTOP
    RADIOBUTTON  "&B",        9,     64, 22, 20, 12,
    RADIOBUTTON  "&C",       10,     88, 22, 20, 12,
    DEFPUSHBUTTON  "OK",       IDOK,       24, 40, 32, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON  "Cancel",   IDCANCEL,   84, 40, 32, 14, WS_GROUP | WS_TABSTOP
END

FORMATD DIALOG 25, 25, 140, 60
STYLE  WS_POPUP | WS_DLGFRAME
BEGIN
    CTEXT        "Select drive to format", 20, 20, 10, 100, 8
    RADIOBUTTON  "&A",        8,     28, 22, 20, 12, WS_GROUP | WS_TABSTOP
    RADIOBUTTON  "&B",        9,     52, 22, 20, 12,
    RADIOBUTTON  "&C",       10,     76, 22, 20, 12,
    RADIOBUTTON  "&D",       11,    100, 22, 20, 12,
    DEFPUSHBUTTON  "OK",       IDOK,       24, 40, 32, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON  "Cancel",   IDCANCEL,   84, 40, 32, 14, WS_GROUP | WS_TABSTOP
END

SYSA DIALOG 25, 25, 140, 76
STYLE  WS_POPUP | WS_DLGFRAME
BEGIN
    CTEXT        "Select drive to copy", 20, 20, 10, 100, 8
    CTEXT        "system to", 21, 20, 20, 100, 8
    RADIOBUTTON  "&A",        8,     64, 35, 20, 12, WS_GROUP | WS_TABSTOP
    DEFPUSHBUTTON  "OK",       IDOK,       24, 56, 32, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON  "Cancel",   IDCANCEL,   84, 56, 32, 14, WS_GROUP | WS_TABSTOP
END

SYSB DIALOG 25, 25, 140, 76
STYLE  WS_POPUP | WS_DLGFRAME
BEGIN
    CTEXT        "Select drive to copy", 20, 20, 10, 100, 8
    CTEXT        "system to", 21, 20, 20, 100, 8
    RADIOBUTTON  "&A",        8,     44, 35, 20, 12, WS_GROUP | WS_TABSTOP
    RADIOBUTTON  "&B",        9,     84, 35, 20, 12,
    DEFPUSHBUTTON  "OK",       IDOK,       24, 56, 32, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON  "Cancel",   IDCANCEL,   84, 56, 32, 14, WS_GROUP | WS_TABSTOP
END

SYSC DIALOG 25, 25, 140, 76
STYLE  WS_POPUP | WS_DLGFRAME
BEGIN
    CTEXT        "Select drive to copy", 20, 20, 10, 100, 8
    CTEXT        "system to", 21, 20, 20, 100, 8
    RADIOBUTTON  "&A",        8,     40, 36, 20, 12, WS_GROUP | WS_TABSTOP
    RADIOBUTTON  "&B",        9,     64, 36, 20, 12,
    RADIOBUTTON  "&C",       10,     88, 36, 20, 12,
    DEFPUSHBUTTON  "OK",       IDOK,       24, 56, 32, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON  "Cancel",   IDCANCEL,   84, 56, 32, 14, WS_GROUP | WS_TABSTOP
END

SYSD DIALOG 25, 25, 140, 76
STYLE  WS_POPUP | WS_DLGFRAME
BEGIN
    CTEXT        "Select drive to copy", 20, 20, 10, 100, 8
    CTEXT        "system to", 21, 20, 20, 100, 8
    RADIOBUTTON  "&A",        8,     28, 36, 20, 12, WS_GROUP | WS_TABSTOP
    RADIOBUTTON  "&B",        9,     52, 36, 20, 12,
    RADIOBUTTON  "&C",       10,     76, 36, 20, 12,
    RADIOBUTTON  "&D",       11,    100, 36, 20, 12,
    DEFPUSHBUTTON  "OK",       IDOK,       24, 56, 32, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON  "Cancel",   IDCANCEL,   84, 56, 32, 14, WS_GROUP | WS_TABSTOP
END

SABOUT DIALOG LOADONCALL MOVEABLE DISCARDABLE 26, 27, 189, 107
STYLE WS_DLGFRAME | WS_POPUP
BEGIN
           CONTROL "Microsoft Windows" -1, "static", SS_CENTER | WS_GROUP | WS_CHILD, 0, 5, 189, 8
           CONTROL "MS-DOS Executive" -1, "static", SS_CENTER | WS_GROUP | WS_CHILD, 0, 15, 189, 8
	   CONTROL "Version 2.11 " -1, "static", SS_CENTER | WS_GROUP | WS_CHILD, 0, 35, 189, 8
           CONTROL "Copyright © 1989 Microsoft Corp." -1, "static", SS_CENTER | WS_GROUP | WS_CHILD, 0, 47, 189, 9
           CONTROL "OK" IDOK, "button", BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 78, 60, 32, 14
           CONTROL "" 1, "static", SS_BLACKRECT | WS_GROUP | WS_CHILD, 0, 77, 189, 2
           CONTROL "Disk Space Free:" -1, "static", SS_LEFT | WS_GROUP | WS_CHILD, 50, 83, 64, 8
           CONTROL "" 10, "static", SS_LEFT | WS_GROUP | WS_CHILD, 118, 83, 40, 8
           CONTROL "Memory Free:" -1, "static", SS_LEFT | WS_GROUP | WS_CHILD, 50, 95, 64, 8
           CONTROL "" 11, "static", SS_LEFT | WS_GROUP | WS_CHILD, 118, 95, 40, 8
           CONTROL "ÿ" -1, "static", SS_ICON | WS_CHILD, 24, 12, 17, 21
END

SABOUTEMS DIALOG LOADONCALL MOVEABLE DISCARDABLE 27, 27, 189, 131
STYLE WS_DLGFRAME | WS_POPUP
BEGIN
	   CONTROL "Microsoft Windows" -1, "static", SS_CENTER | WS_GROUP | WS_CHILD, 0, 5, 189, 8
	   CONTROL "MS-DOS Executive" -1, "static", SS_CENTER | WS_GROUP | WS_CHILD, 0, 15, 189, 8
	   CONTROL "Version 2.11 " -1, "static", SS_CENTER | WS_GROUP | WS_CHILD, 0, 35, 189, 8
	   CONTROL "Copyright © 1989 Microsoft Corp." -1, "static", SS_CENTER | WS_GROUP | WS_CHILD, 0, 47, 189, 9
	   CONTROL "OK" 1, "button", BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 78, 60, 32, 14
           CONTROL "" 1, "static", SS_BLACKRECT | WS_GROUP | WS_CHILD, 0, 77, 189, 2
	   CONTROL "Disk Space Free:" -1, "static", SS_LEFT | WS_GROUP | WS_CHILD, 31, 83, 103, 8
	   CONTROL "" 10, "static", SS_LEFT | WS_GROUP | WS_CHILD, 136, 83, 40, 8
	   CONTROL "Conventional Memory Free:" -1, "static", SS_LEFT | WS_GROUP | WS_CHILD, 31, 94, 103, 8
           CONTROL "" 11, "static", SS_LEFT | WS_GROUP | WS_CHILD, 136, 94, 40, 8
	   CONTROL "ÿ" -1, "static", SS_ICON | WS_CHILD, 24, 12, 16, 26
           CONTROL "Expanded Memory Free:" -1, "static", SS_LEFT | WS_CHILD, 31, 105, 102, 8
           CONTROL "" 12, "static", SS_LEFT | WS_GROUP | WS_CHILD, 136, 105, 40, 8
           CONTROL "SMARTDrive using:" 14, "static", SS_LEFT | WS_CHILD, 31, 116, 103, 8
           CONTROL "" 13, "static", SS_LEFT | WS_GROUP | WS_CHILD, 136, 116, 40, 8
END

DTABORTDLG DIALOG 20,20,90, 64
STYLE WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "MS-DOS Executive"
BEGIN
   defpushbutton "Cancel"                       IDCANCEL, 29, 44, 32, 14, WS_GROUP
   ctext    "Sending",                          -1, 0, 8, 90, 8
   ctext    "",                                 4, 0, 18, 90, 8
   ctext    "to printer.",                  -1, 0, 28, 90, 8
END

MTSHELL MENU PRELOAD
BEGIN
    POPUP   "&File"
    BEGIN
        MENUITEM    "&Run...", 54
        MENUITEM    "&Load...",74
        MENUITEM    "&Copy...", 50
        MENUITEM    "&Get Info", 59
        MENUITEM    "&Delete...", 51
        MENUITEM    "&Print...", 52
        MENUITEM    "Re&name...", 53
        MENUITEM    SEPARATOR
        MENUITEM    "E&xit",    2001
        MENUITEM    "A&bout MS-DOS Exec...", 2000


    END
    POPUP   "&View"
    BEGIN
        MENUITEM    "&Short", 62, CHECKED
        MENUITEM    "&Long", 63
        MENUITEM    SEPARATOR
        MENUITEM    "&All", 65, CHECKED
        MENUITEM    "&Partial...", 66
        MENUITEM    "P&rograms", 61
        MENUITEM    SEPARATOR
        MENUITEM    "By &Name", 68, CHECKED
        MENUITEM    "By &Date", 69
        MENUITEM    "By Si&ze", 70
        MENUITEM    "By &Kind", 71
    END
    POPUP "&Special"
    BEGIN
        MENUITEM    "&End Session", 56
        MENUITEM    "C&reate Directory...", 57
        MENUITEM    "&Change Directory...", 55
        MENUITEM    "&Format Data Disk...",  72
        MENUITEM    "&Make System Disk...", 73
        MENUITEM    "&Set Volume Name...", 58
    END
END
