#include	"windows.h"

100 DIALOG LOADONCALL MOVEABLE DISCARDABLE 33, 47, 218, 85
CAPTION "Microsoft Network"
FONT 8, "Helv"
STYLE WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_SYSMENU | DS_MODALFRAME | WS_POPUP
BEGIN
    CONTROL "&Disable warning when network not running", 200, "button", BS_AUTOCHECKBOX | WS_TABSTOP | WS_CHILD, 10, 8, 152, 12
    CONTROL "&Restore all connections at startup", 201, "button", BS_AUTOCHECKBOX | WS_TABSTOP | WS_CHILD, 10, 22, 146, 12
    CONTROL "OK", IDOK, "button", BS_DEFPUSHBUTTON | WS_TABSTOP | WS_CHILD, 173, 5, 40, 14
    CONTROL "Cancel", IDCANCEL, "button", BS_PUSHBUTTON | WS_TABSTOP | WS_CHILD, 173, 22, 40, 14
    CONTROL "&Help...", 204, "button", BS_PUSHBUTTON | WS_TABSTOP | WS_CHILD, 173, 41, 40, 14
    CONTROL "&About...", 205, "button", BS_PUSHBUTTON | WS_TABSTOP | WS_CHILD, 173, 58, 40, 14
END


101 DIALOG LOADONCALL MOVEABLE DISCARDABLE 10, 18, 245, 65
CAPTION "Microsoft Network"
FONT 8, "Helv"
STYLE WS_BORDER | DS_MODALFRAME | WS_CAPTION | WS_DLGFRAME | WS_POPUP | WS_SYSMENU
BEGIN
    CONTROL "The network software is not running.", 100, "static", SS_CENTER | WS_CHILD, 0, 10, 245, 11
    CONTROL "Network options will not be enabled.", 101, "static", SS_CENTER | WS_CHILD, 0, 20, 245, 11
    CONTROL "Disable warning when network not running", 200, "button", BS_AUTOCHECKBOX | WS_TABSTOP | WS_CHILD, 40, 30, 200, 12
    CONTROL "OK", IDOK, "button", BS_DEFPUSHBUTTON | WS_TABSTOP | WS_CHILD, 103, 45, 42, 14
END


205 DIALOG LOADONCALL MOVEABLE DISCARDABLE 10, 18, 245, 75
CAPTION "Microsoft Network"
FONT 8, "Helv"
STYLE WS_BORDER | DS_MODALFRAME | WS_CAPTION | WS_DLGFRAME | WS_POPUP | WS_SYSMENU
BEGIN
    CONTROL "Microsoft Windows Network Driver", 100, "static", SS_CENTER | WS_CHILD, 0, 10, 245, 11
    CONTROL "Version 3.1", 101, "static", SS_CENTER | WS_CHILD, 0, 20, 245, 11
    CONTROL "Copyright \251 1989-1992 by Microsoft Corp.", 102, "static", SS_CENTER | WS_CHILD, 0, 30, 245, 11
    CONTROL "OK", IDOK, "button", BS_DEFPUSHBUTTON | WS_TABSTOP | WS_CHILD, 103, 55, 42, 14
END
