<scriptlet>

<Registration ProgID="Orders.VBS.Scriptlet"/>

<implements id=Automation type=Automation>
	<method name=Display/>
</implements>

<script language=VBScript>

Sub Display()

	' Get the Object Context from MTS
	var objCurr,objCurrObjCont,Conn,RS,Count;
	objCurr = new ActiveXObject("MTxAS.AppServer.1");
	objCurrObjCont = objCurr.GetObjectContext();
	
	' Create an ADO Connection
	Conn = CreateObject ("ADODB.Connection")
	Conn.Open("advworks")
	RS = Conn.Execute("SELECT * FROM Orders")
	
	Count = RS.Fields.count
	for i = 1 to Count
		GetRequest = objCurrObjCont("Response").Write(RS.Fields(i).name)
	next i

	do while not RS.EOF
		for i = 1 to Count
			GetRequest = objCurrObjCont("Response").Write(RS.Fields(i).value)
		next i
		GetRequest = objCurrObjCont("Response").Write("<br>")
		RS.MoveNext
	loop
	RS.Close
	Conn.Close
	' Release the RecordSet and Connection Objects
	RS=null
	Conn = null
End Sub
</script>
</scriptlet>
