<scriptlet>

<Registration ProgID="Orders.JScript.Scriptlet"/>

<implements id=Automation type=Automation>
	<method name=Display/>
</implements>

<comment>
Implement the ASP handler that will provide
the ASP intrinsics by default
</comment>

<implement id=myASP type=ASP default/>

<script language=JScript>
Function Display() {
	' Get the Object Context from MTS
	var Conn,RS,Count;
	
	' Create an ADO Connection
	Conn = new ActiveXObject ("ADODB.Connection");
	Conn.Open("advworks");
	RS = Conn.Execute("SELECT * FROM Orders");

	Count = RS.Fields.count;
	for(i = 0; i < Count; ++i) {
		GetRequest = Response.Write(RS.Fields(i).name);
		}
	
	do {
	
	for(i = 0; i < Count; ++i) {
		GetRequest = Response.Write(RS.Fields(i).value);
		}
		GetRequest = Response.Write("<br>");
		RS.MoveNext;
	}
	while (! RS.EOF);

	RS.Close;
	Conn.Close;
	' Force a Garbage Collect to free objects
	CollectGarbage();
}
</script>
</scriptlet>
