<scriptlet>

<Registration ProgID="Orders.VBS.Scriptlet"/>

<implements id=Automation type=Automation>
	<method name=Display/>
</implements>

<comment>
Implement the ASP handler that will provide
the ASP intrinsics by default
</comment>

<implement id=myASP type=ASP default/>

<script language=VBScript>

Sub Display()
	' Get the Object Context from MTS
	dim Conn,RS,Count,i
	
	' Create an ADO Connection
	Conn = CreateObject ("ADODB.Connection")
	Conn.Open("advworks")
	RS = Conn.Execute("SELECT * FROM Orders")
	
	Count = RS.Fields.count
	for i = 1 to Count
		GetRequest = Response.Write(RS.Fields(i).name)
	next i

	do while not RS.EOF
		for i = 1 to Count
			GetRequest = Response.Write(RS.Fields(i).value)
		next i
		GetRequest = Response.Write("\n")
		RS.MoveNext
	loop
	RS.Close
	Conn.Close
	' Release the RecordSet and Connection Objects
	RS=null
	Conn = null
End Sub
</script>
</scriptlet>
