#include <mindrvrc.h>
#include "PROPRN24.rcv"

1      RC_TABLES   PRELOAD MOVEABLE         PROPRN24.GPC

1      RC_FONT     LOADONCALL DISCARDABLE  COUR05.PFM
2      RC_FONT     LOADONCALL DISCARDABLE  COUR05D.PFM
3      RC_FONT     LOADONCALL DISCARDABLE  COUR08.PFM
4      RC_FONT     LOADONCALL DISCARDABLE  COUR10.PFM
5      RC_FONT     LOADONCALL DISCARDABLE  COUR17.PFM
6      RC_FONT     LOADONCALL DISCARDABLE  COURPS.PFM
7      RC_FONT     LOADONCALL DISCARDABLE  COURPSD.PFM
8      RC_FONT     LOADONCALL DISCARDABLE  PREST06.PFM
9      RC_FONT     LOADONCALL DISCARDABLE  PREST06D.PFM
10     RC_FONT     LOADONCALL DISCARDABLE  PREST12.PFM
11     RC_FONT     LOADONCALL DISCARDABLE  DRAFT.PFM

1      RC_TRANSTAB LOADONCALL MOVEABLE      STDIBM.CTT

STRINGTABLE

BEGIN
       1                  "IBM Proprinter X24"
       2                  "IBM Proprinter XL24"
       3                  "IBM Proprinter X24e"
       4                  "IBM Proprinter XL24e"
       257                "%d x %d"
END
