# include "resource.h"

1      MYFONT    Pica17.fnt
2      MYFONT    Pica10.fnt
3      MYFONT    Pica8.fnt
4      MYFONT    Pica5.fnt
5      MYFONT    Elite12.fnt
6      MYFONT    Elite6.fnt
7      MYFONT    PS12.fnt
8      MYFONT    PS6.fnt
9      MYFONT    PS12it.fnt
10     MYFONT    PS6it.fnt

# include "dialog.h"

/* alternate dialog box description for FX-80 (no wide page) */

dtLETTER DIALOG 20, 20,  159,  100
    STYLE   WS_POPUP | WS_DLGFRAME
    CAPTION ": Output Mode"
BEGIN
    GROUPBOX,    "Orientation", -1,           8,  5, 70, 36, WS_GROUP
    RADIOBUTTON  "&Portrait",    PORTRAIT,   13, 16, 58, 10, WS_GROUP
    RADIOBUTTON  "&Landscape",   LANDSCAPE,  13, 28, 58, 10

    GROUPBOX,    "Print Quality", -1,         90,  5, 60, 36, WS_GROUP
    RADIOBUTTON  "&High",     HIGH,           95, 16, 28, 10, WS_GROUP
    RADIOBUTTON  "L&ow",      LOW,            95, 28, 28, 10

    GROUPBOX        "Paper Format" , -1,        8, 45, 70, 47, WS_GROUP
    RADIOBUTTON     "&US Letter",   LETTER,    13, 56, 64, 10, WS_GROUP
    RADIOBUTTON     "&DIN A4",   DINA4,        13, 68, 64, 10
    RADIOBUTTON     "&Euro Fanfold",  FANFOLD, 13, 80, 64, 10

    DEFPUSHBUTTON"OK",       IDOK,      105, 56, 32, 14, TABGRP
    PUSHBUTTON   "Cancel",   IDCANCEL,  105, 76, 32, 14, TABGRP
END
