/* Clipboard resources */
#include "windows.h"
#include "clipbrd.h"

rcinclude clipbrd.dlg

clipboard   ICON    clipbrd.ico

STRINGTABLE
BEGIN
    IDS_NAME,	    "Clipboard"
    IDS_ABOUT,      "A&bout Clipboard..."
    IDS_ALREADY,    "Already running Clipboard."
    IDH_ERROR,	    "<Error>"
    IDH_BINARY,     "<Binary Data>"
    IDH_EMPTY,	    "Clipboard is empty."
    CF_TEXT,	    "Text"
    CF_BITMAP,	    "Bitmap"
    CF_METAFILEPICT,"Picture"
    CF_SYLK,	    "Sylk"
    CF_DIF,	    "DIF"
    CF_TIFF,        "TIFF"
    CF_OEMTEXT,     "OEM Text"
END
