#include <windows.h>
#include "dlg.h"
#include "wcheck.rcv"

WCheckIcon ICON "wcheck.ico"
PieceCur CURSOR "piece.cur"

#include "wcheck.dlg"

WCheck_NORMAL MENU
BEGIN
    POPUP "&File"
    {
        MENUITEM "&Save to Inbox",              IDM_SAVE, GRAYED
        MENUITEM "&Print...",                   IDM_SAVE, GRAYED
        MENUITEM "E&xit",                       IDM_EXIT
    }
    POPUP "&Edit"
    {
        MENUITEM "&Undo",                       IDM_BACK
        MENUITEM "&Redo",                       IDM_FORWARD
        MENUITEM "Continu&e",                   IDM_CONTINUE
        MENUITEM SEPARATOR
        MENUITEM "&Must Jump Rule",             IDM_MUST_JUMP, CHECKED
        MENUITEM "Game of &Checkers",           IDM_GAME_CHECKERS, CHECKED
        MENUITEM "Game of &Give Away",          IDM_GAME_GIVEAWAY
        MENUITEM SEPARATOR
        MENUITEM "&Flip Board",                 IDM_FLIP
        MENUITEM "&Setup Board...",             IDM_SETUP_BOARD
        MENUITEM "&Players ...",                IDM_PLAYERS
    }
    POPUP        "&Tools"
    {
        MENUITEM "&Address...",                 IDM_ADDRESS
    }
    POPUP        "&Help"
    {
        MENUITEM "&About Checkers...",          IDM_ABOUT
    }
    #ifdef DEBUG
    POPUP " "
    {
        MENUITEM "&Set Max Moves Before Draw",  IDM_SETDRAWMOVES
    }
    #endif // DEBUG
END

WCheck_SETUP MENU
BEGIN
    POPUP "&Edit"
    {
        MENUITEM "E&xit Setup"                  IDM_SETUP_EXIT
    }
    POPUP        "&Help"
    {
        MENUITEM "&About Checkers...",          IDM_ABOUT
    }
END

WCheck ACCELERATORS
BEGIN
    "?", IDM_ABOUT, ALT
    "/", IDM_ABOUT, ALT
END                                                      
                                                                 

