/*
 * WINDOWS RAINBOW CONTROL - RESOURCE FILE
 *
 */

#include <windows.h>
#include "rainbow.h"

RAINBOWSTYLE DIALOG LOADONCALL MOVEABLE DISCARDABLE 34, 40, 142, 51
CAPTION "Rainbow Control Style..."
STYLE WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP
BEGIN
	   CONTROL "&ID Value", -1, "static", SS_LEFT | WS_CHILD, 4, 5, 32, 8
	   CONTROL "", IDVALUE, "edit", ES_LEFT | WS_BORDER | WS_TABSTOP | WS_CHILD, 42, 3, 96, 12
	   CONTROL "&Text", -1, "static", SS_LEFT | WS_CHILD, 4, 19, 32, 8
	   CONTROL "", IDTEXT, "edit", ES_LEFT | WS_BORDER | WS_TABSTOP | WS_CHILD, 42, 17, 96, 12
	   CONTROL "OK", 1, "button", BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 31, 33, 34, 14
	   CONTROL "Cancel", 2, "button", BS_PUSHBUTTON | WS_TABSTOP | WS_CHILD, 77, 33, 34, 14
END



