/****************************************************************************
 *
 *   ibmjoy.rc
 *
 *   Copyright (c) 1991-1992 Microsoft Corporation.  All Rights Reserved.
 *
 ***************************************************************************/

#include <windows.h>
#include <ver.h>
#include "ibmjoy.h"

/****************************************************************************
 *
 *   configuration dialog box
 *
 ***************************************************************************/

CONFIG DIALOG LOADONCALL MOVEABLE DISCARDABLE 64, 54, 136, 71
CAPTION "Game Adapter Setup"
STYLE WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_SYSMENU | DS_MODALFRAME | WS_POPUP
FONT 8, "MS Sans Serif"
BEGIN
    CONTROL "OK", 1, "button", BS_DEFPUSHBUTTON | WS_TABSTOP | WS_CHILD, 20, 51, 40, 14
    CONTROL "Cancel", 2, "button", BS_PUSHBUTTON | WS_TABSTOP | WS_CHILD, 76, 51, 40, 14
    CONTROL "One or two 2-Dimensional joysticks.", IDC_2AXES, "button", BS_RADIOBUTTON | WS_TABSTOP | WS_CHILD, 6, 14, 130, 12
    CONTROL "Single 3-Dimensional joystick.", IDC_3AXES, "button", BS_RADIOBUTTON | WS_TABSTOP | WS_CHILD, 6, 30, 130, 12
END

/****************************************************************************
 *
 *   version information
 *
 ***************************************************************************/

/*  All strings MUST have an explicit \0.  The MMRELEASE and the version
 *  string should be changed every build, and the MMRELEASE build extension
 *  should be removed on final release.  See the Windows 3.1 SDK documentation
 *  for details on version information and the VERSIONINFO structure.
 */

#ifdef RC_INVOKED
#define MMVERSION              03
#define MMREVISION             10
#define MMRELEASE              103
#define MMVERSIONSTR           "3.1\0"
#define MMVERSIONNAME          "ibmjoy.drv\0"
#define MMVERSIONDESCRIPTION   "Joystick driver for IBM-compatibles\0"
#define MMVERSIONCOMPANYNAME   "Microsoft Corporation\0"
#define MMVERSIONPRODUCTNAME   "Microsoft Windows\0"
#define MMVERSIONCOPYRIGHT     "Copyright \251 Microsoft Corp. 1991-1992\0"

VS_VERSION_INFO VERSIONINFO
FILEVERSION    MMVERSION, MMREVISION, 0, MMRELEASE
PRODUCTVERSION MMVERSION, MMREVISION, 0, MMRELEASE
FILEFLAGSMASK  0x0000003FL
FILEFLAGS      0
FILEOS         VOS_DOS_WINDOWS16
FILETYPE       VFT_DRV
FILESUBTYPE    VFT2_DRV_INSTALLABLE
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", MMVERSIONCOMPANYNAME
            VALUE "FileDescription", MMVERSIONDESCRIPTION
            VALUE "FileVersion",  MMVERSIONSTR
            VALUE "InternalName", MMVERSIONNAME
            VALUE "LegalCopyright", MMVERSIONCOPYRIGHT
            VALUE "OriginalFilename", MMVERSIONNAME
            VALUE "ProductName", MMVERSIONPRODUCTNAME
            VALUE "ProductVersion", MMVERSIONSTR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        /* the following line should be extended for localized versions */
        VALUE "Translation", 0x409, 1252
    END
END
#endif
