/**[f******************************************************************
 * pre.rc -
 *
 * Copyright (C) 1988 Aldus Corporation.  All rights reserved.
 * Company confidential.
 *
 * mod history:
 *	chrisg, 88-dec-03, getting rid of stupidity
 *
 **f]*****************************************************************/


#include <windows.h>
#include "..\resource.h"
#include "..\dmrc.h"
#include "..\psver.h"

#include "ps.dlg"

