/**[f******************************************************************
 * pre.rc -
 *
 * Copyright (C) 1988 Aldus Corporation.  All rights reserved.
 * Company confidential.
 *
 * mod history:
 *	chrisg, 88-dec-03, getting rid of stupidity
 *
 **f]*****************************************************************/

#include "win.h"
#include "resource.h"
#include "drivinit.h"
#include "printers.h"
#include "psoption.h"
//#include "psprompt.h"
#include "dmrc.h"
#include "pserrors.h"
#include "psver.h"
#include "pscript.rcv"

/* this comes from the dummy res file ps.res (it can be loaded into the
 * dialog editor) */

L	ICON	LANDSCAP.ICO
P	ICON	portrait.ico
D_PN    ICON    d_pn.ico
D_PH    ICON    d_ph.ico
D_PV    ICON    d_pv.ico
D_LN    ICON    d_ln.ico
D_LV    ICON    d_lv.ico
D_LH    ICON    d_lh.ico

#include "ps.dlg"
#include "printcap.rc"
#include "fonts.rc"

/* compressed postscript */

PS_T1EFOOTER1  	PS_DATA	LOADONCALL DISCARDABLE t1eftr1.ps
PS_T1EFOOTER2  	PS_DATA	LOADONCALL DISCARDABLE t1eftr2.ps
PS_T1EHEADER1  	PS_DATA	LOADONCALL DISCARDABLE t1ehdr1.ps
PS_T1EHEADER2  	PS_DATA	LOADONCALL DISCARDABLE t1ehdr2.ps
PS_T1HEADER1  	PS_DATA	LOADONCALL DISCARDABLE t1hdr1.ps
PS_T3HEADER   	PS_DATA	LOADONCALL DISCARDABLE t3hdr.cps
PS_HEADER   	PS_DATA	LOADONCALL DISCARDABLE header.cps
PS_DL_PREFIX	PS_DATA	LOADONCALL DISCARDABLE dlprefix.cps
PS_DL_SUFFIX	PS_DATA	LOADONCALL DISCARDABLE dlsuffix.cps
PS_1	    	PS_DATA	LOADONCALL DISCARDABLE headchk.cps
PS_2           	PS_DATA LOADONCALL DISCARDABLE headeps.cps
PS_SETCOMM  PS_DATA LOADONCALL DISCARDABLE setcomm.cps
PS_EHANDLER 	PS_DATA	LOADONCALL DISCARDABLE ehandler.cps
PS_OLIVCHSET	PS_DATA LOADONCALL DISCARDABLE olivchst.cps
PS_UNPACK	PS_DATA LOADONCALL DISCARDABLE rle.cps
PS_CIMAGE	PS_DATA LOADONCALL DISCARDABLE cimage.cps
TI_HEADER   	PS_DATA	LOADONCALL DISCARDABLE headti.cps


/* PAPER structs margin data */

#include "papersiz.rc"		/* paper sizes data */

STRINGTABLE
BEGIN
	DMBIN_BASE + DMBIN_UPPER		"Upper Tray"
	DMBIN_BASE + DMBIN_LOWER		"Lower Tray"
	DMBIN_BASE + DMBIN_MIDDLE		"Middle Tray"
	DMBIN_BASE + DMBIN_LARGEFMT		"Large Format"
	DMBIN_BASE + DMBIN_LARGECAPACITY	"Large Capacity"
	DMBIN_BASE + DMBIN_SMALLFMT		"Small Format"
//	DMBIN_BASE + DMBIN_ANYLARGEFMT		"Any Large Format"
	DMBIN_BASE + DMBIN_AUTO			"Auto Select"
	DMBIN_BASE + DMBIN_ENVMANUAL		"Envelope Manual"
	DMBIN_BASE + DMBIN_ENVELOPE		"Envelope Feed"
	DMBIN_BASE + DMBIN_MANUAL		"Manual Feed"

	// ANSI Fractions: 1/4 = \274,  1/2 = \275,  3/4 = \276 (octal):

	DMPAPER_BASE + DMPAPER_LETTER		"Letter 8.5 x 11 in"
	DMPAPER_BASE + DMPAPER_LETTERSMALL	"Letter Small 8.5 x 11 in"
	DMPAPER_BASE + DMPAPER_TABLOID		"Tabloid 11 x 17 in"
	DMPAPER_BASE + DMPAPER_LEDGER		"Ledger 17 x 11 in"
	DMPAPER_BASE + DMPAPER_LEGAL		"Legal 8.5 x 14 in"
	DMPAPER_BASE + DMPAPER_STATEMENT	"Statement 5.5 x 8.5 in"
	DMPAPER_BASE + DMPAPER_EXECUTIVE	"Executive 7.25 x 10.5 in"
	DMPAPER_BASE + DMPAPER_A3		"A3 297 x 420 mm"
	DMPAPER_BASE + DMPAPER_A4		"A4 210 x 297 mm"
	DMPAPER_BASE + DMPAPER_A4SMALL		"A4 Small 210 x 297 mm"
	DMPAPER_BASE + DMPAPER_A5		"A5 148 x 210 mm"
	DMPAPER_BASE + DMPAPER_B4		"B4 257 x 364"
	DMPAPER_BASE + DMPAPER_B5		"B5 182 x 257 mm"
	DMPAPER_BASE + DMPAPER_FOLIO		"Folio 8.5 x 13 in"
	DMPAPER_BASE + DMPAPER_QUARTO		"Quarto 215 x 275 mm"
	DMPAPER_BASE + DMPAPER_10X14		"10 x 14 in"
	DMPAPER_BASE + DMPAPER_11X17		"11 x 17 in"
	DMPAPER_BASE + DMPAPER_NOTE		"Note 8.5 x 11 in"

	DMPAPER_BASE + DMPAPER_ENV_9		"Envelope #9 3 7/8 x 8 7/8"
	DMPAPER_BASE + DMPAPER_ENV_10		"Envelope #10 4 1/8 x 9 1/2"
	DMPAPER_BASE + DMPAPER_ENV_11		"Envelope #11 4 1/2 x 10 3/8"
	DMPAPER_BASE + DMPAPER_ENV_12		"Envelope #12 4.5 x 11"
	DMPAPER_BASE + DMPAPER_ENV_14		"Envelope #14 5 x 11.5"

	DMPAPER_BASE + DMPAPER_LETTER_EXTRA	"Letter Extra 9.5 x 12 in"
	DMPAPER_BASE + DMPAPER_LEGAL_EXTRA	"Legal Extra 9.5 x 15 in"
	DMPAPER_BASE + DMPAPER_TABLOID_EXTRA	"Tabloid Extra 11.69 x 18 in"
	DMPAPER_BASE + DMPAPER_A4_EXTRA 	"A4 Extra 9.27 x 12.69 in"

        DMPAPER_BASE + DMPAPER_ENV_DL           "Envelope DL 110 x 220 mm"
        DMPAPER_BASE + DMPAPER_ENV_C5           "Envelope C5 162 x 229 mm"
        DMPAPER_BASE + DMPAPER_ENV_MONARCH      "Envelope Monarch 3 7/8 x 7 1/2 in"

        DMPAPER_BASE + DMPAPER_LETTER_TRANSVERSE "Letter Transverse 11 x 8.5 in"
        DMPAPER_BASE + DMPAPER_A4_TRANSVERSE	 "A4 Transverse 297 x 210 mm"
	DMPAPER_BASE + DMPAPER_LETTER_EXTRA_TRANSVERSE "Letter Extra Transverse 12 x 9.5 in"

	DMPAPER_BASE + DMPAPER_A_PLUS		"SuperA/SuperA/A4 227 x 356 mm"
	DMPAPER_BASE + DMPAPER_B_PLUS		"SuperB/SuperB/A3 305 x 487 mm"
	DMPAPER_BASE + DMPAPER_LETTER_PLUS	"Letter Plus 8.5 x 12.69 in"
	DMPAPER_BASE + DMPAPER_A4_PLUS		"A4 Plus 210 x 330 mm"

        DMPAPER_BASE + DMPAPER_USER              "User Defined..."

	IDS_WINDOWS		"windows"
	IDS_DEVICE		"device"
	IDS_PAPERX		"feed%d"
	IDS_PAPERSOURCE		"source"
	IDS_ORIENTATION		"orient"
	IDS_COLOR		"color"
	IDS_JOBTIMEOUT		"timeout"
	IDS_MARGINS  		"margins"
	IDS_HEADER		"header"

        IDS_ON                  " on "

	IDS_DEFAULT_USER	"Windows"
	IDS_APPLETALK		"AppleTalk"
	IDS_NULL		" "
	IDS_PREPARE		"status: preparing data."
	IDS_ATMODULEFILE	"AppleTalkFile"
	IDS_DEFAULT_ATFILE	":"
	IDS_DEFAULT_ATMODNAME	"appletlk.dll"
	IDS_EPT		  	"EPT"
        IDS_BINARYIMAGE		"binary port"
	IDS_EXTPRINTERS		"External Printers"
	IDS_PRINTER		"printer%d"
	IDS_FILE		"FILE:"
	IDS_DUPLEX              "duplex"

	IDS_DLFMTTYPE1		"Adobe Type 1"
	IDS_DLFMTTYPE3		"Bitmap (Type 3)"
	IDS_NODOWNLOAD          "Disable TrueType"
	IDS_DLFMTTRUETYPE	"Native TrueType"

	IDS_ERROR_CAPTION_GENERAL	"Error"
	IDS_ERROR_CAPTION_DATA		"Data error"
	IDS_ERROR_MESSAGE_GENERAL	"An error occurred in the PostScript driver."
	IDS_ERROR_MESSAGE_CORRUPT	"The PostScript driver may be corrupt. Try installing it again."
	IDS_ERROR_MESSAGE_COPIES	"Specify a value greater than 0 for the Copies option."
//	IDS_ERROR_MESSAGE_JOBTIMEOUT	"Value for \042Job timeout\042 out of range"
	IDS_ERROR_MESSAGE_DLGBUSY	"A Printer Setup dialog box is already open. Close it, and then try again."
	IDS_ERROR_MESSAGE_DOWNLOAD	"Unable to download the header information. Make sure your printer is connected and configured properly, and then try again."
	IDS_ERROR_MESSAGE_PORT		"The port or print file is not available. Wait until the port is free. If printing to a file, make sure your network connection is valid, the path and filename are correct, and the file is not read-only."
//	IDS_ERROR_MESSAGE_AT		"AppleTalk interface module is not available or the version is incorrect."
//	IDS_ERROR_MESSAGE_NEEDTRUETYPE	"TrueType must be installed and enabled first."
	IDS_ERROR_MESSAGE_SCALINGRANGE	"Specify a value between 0 and 400 for the \042Scaling\042 option"

#if 0
	IDS_PROMPT_CAPTION		"PostScript Printer"
	IDS_PROMPT_MESSAGE_GENERAL	"Error"
	IDS_PROMPT_MESSAGE_HEADER	"Download the PostScript header now?"
	IDS_PROMPT_MESSAGE_HANDSHAKE	"Permanently alter the printer's handshaking?"
	IDS_PROMPT_MESSAGE_EHANDLER	"Download the PostScript error handler now?"
#endif

	IDS_EPSHEAD "%%!PS-Adobe-3.0 EPSF-2.0\012"
	IDS_EPSBBOX "%%%%BoundingBox: %d %d %d %d\012"

	IDS_PSHEAD "%%!PS-Adobe-3.0\012"

	IDS_PSTITLE "%%%%Creator: Windows PSCRIPT\012%%%%Title: %s\012"

	IDS_PSJOB  "statusdict begin statusdict /jobname (%s) put end\012"
	IDS_PSTIMEOUT "statusdict begin %d setjobtimeout end\012"
//	IDS_ALREADYINSTALLED "This printer has already been installed, replace with new?"
//	IDS_ADDPRINTER	"Add Printer"
//	IDS_INSTSUCCESS "Installation successful."
//	IDS_INSTFAIL	"Copy failed."
	IDS_SETSCREENANGLE "currentscreen 3 1 roll pop %d 10 div 3 -1 roll setscreen\n"
        IDS_SETSCREEN "currentscreen 3 1 roll pop pop %d 10 div %d 10 div 3 -1 roll setscreen\n"
        IDS_NEGIMAGE "[{1 exch sub} /exec load currenttransfer /exec load] cvx settransfer\n"
        IDS_SETRESOLUTION "/setresolution where { pop %d %d setresolution } if\n"

	IDS_OLIV "Olivetti LP 5000"
	IDS_LZLIB	"lzexpand.dll"
	IDS_LZCOPY	"LZCopy"

        IDS_RES "outres"
        IDS_SCREENFREQUENCY "scrnfreq"
        IDS_SCREENANGLE "scrnangle"
        IDS_ADVFLAGS    "advflags"
        IDS_PRINTERVM   "prtvm"

	IDS_DOWNLOAD	"Download as Soft Font"

        IDS_SUBCOUNT    "SubCount"
        IDS_SUBENTRY    "Sub%d"

        IDS_DEFSUBBASE+0, "Arial,Helvetica"
        IDS_DEFSUBBASE+1, "Times New Roman,Times"
	IDS_DEFSUBBASE+2, "Courier New,Courier"
	IDS_DEFSUBBASE+3, "Symbol,Symbol"
	IDS_DEFSUBBASE+4, "Arial Narrow,Helvetica-Narrow"
	IDS_DEFSUBBASE+5, "Book Antiqua,Palatino"
	IDS_DEFSUBBASE+6, "Bookman Old Style,Bookman"
	IDS_DEFSUBBASE+7, "Century Schoolbook,NewCenturySchlbk"
	IDS_DEFSUBBASE+8, "Century Gothic,AvantGarde"
	IDS_DEFSUBBASE+9, "Monotype Corsiva,ZapfChancery"
	IDS_DEFSUBBASE+10, "Monotype Sorts,ZapfDingbats"

        IDS_ELINAME "HP LaserJet IIISi PostScript"
        IDS_ELICMD  "%-12345X@PJL ENTER LANGUAGE = PostScript"

        IDS_PORTS   "ports"
//	IDS_HANDMISMATCHMSG "The Flow Control setting selected does not match the setting in the Ports section of Control Panel.  Are you sure you want to do this?"
//	IDS_HANDMISMATCHCAP "Flow Control Mismatch"

	IDS_SETCOMMJOBNAME, "Port-Configuration Information"

        IDS_CTRLD, "ctrld"

//	IDS_SUBFONTMISSING, "A selected font is not available for this printer. The TrueType font will be downloaded as a soft font."
	IDS_SUBVERIFYDEFAULT, "The changes you have made to the Substitution Table will be replaced by the default Substitution Table. Are you sure you want to replace your changes?"
        IDS_WARNING, "Warning"

        IDS_CUSTOMWIDTH, "customwidth"
        IDS_CUSTOMHEIGHT, "customheight"
        IDS_CUSTOMUNIT, "customunit"

        IDS_MSG_USERSIZE	"User Defined Size"
	IDS_MSG_WIDTHTOOBIG	"Specify an integer value within the stated range for the Width."
	IDS_MSG_LENGTHTOOBIG	"Specify an integer value within the stated range for the Height."

        IDS_MINOUTLINEPPEM      "minoutlineppem"
        IDS_FAVORTT             "favorTT"
        IDS_LANDSCAPEORIENT     "LandscapeOrient"

   IDS_HELPFILE, "PSCRIPT.HLP"
END
