#include <mindrvrc.h>

1      RC_TABLES   PRELOAD MOVEABLE         HPPCL5MS.GPC
2      RC_TABLES   PRELOAD MOVEABLE         nt.gpc


1   RCDATA LOADONCALL MOVEABLE DISCARDABLE
BEGIN
    "Brother HL-4V\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0"     "52104\0", "3\0\0",
    "Brother HL-4Ve\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0"      "52104\0", "3\0\0",
    "Brother HL-8V\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0"     "52104\0", "3\0\0",
    "Brother HL-10V\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0"      "52104\0", "3\0\0",
    "Brother HL-10DV\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0",      "52104\0", "3\0\0",
    "Bull Compuprint PageMaster 413\0",                     "52104\0", "3\0\0",
    "Bull Compuprint Pagemaster 1025",                      "52104\0", "3\0\0",   
    "Epson EPL-4300\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0",     "52104\0", "3\0\0",
    "Epson EPL-8000\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0",     "52104\0", "3\0\0",
    "Epson EPL-8100\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0",     "52104\0", "3\0\0",
    "HP LaserJet III\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0",      "52096\0", "3\0\0",
    "HP LaserJet IIID\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0",       "61320\0", "3\0\0",
    "HP LaserJet IIIP\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0",       "52104\0", "3\0\0",
    "HP LaserJet IIISi\0\0\0\0\0\0\0\0\0\0\0\0\0\0",        "61320\0", "31\0",
    "HP LaserJet 4\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0",    "-5240\0", "5587\0",
    "HP LaserJet 4Si\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0",      "-5240\0", "5587\0",
    "IBM LaserPrinter 4039\0\0\0\0\0\0\0\0",                "61320\0", "3\0\0",
    "Kyocera FS-850 \ FS-850A\0\0\0\0\0\0\0",               "52104\0", "3\0\0",
    "Kyocera FS-1500 \ FS-1500A\0\0\0\0\0",                 "61320\0", "31\0",
    "Kyocera FS-3500 \ FS-3500A\0\0\0\0\0",                 "61320\0", "31\0",
    "Kyocera FS-5500 \ FS-5500A\0\0\0\0\0",                 "61320\0", "31\0",
    "Mannesmann Tally MT-904 Plus\0\0\0",                   "52104\0", "3\0\0",
    "Mannesmann Tally MT-908\0\0\0\0\0\0\0\0",              "52104\0", "3\0\0",
    "Minolta SP 3000\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0",      "52096\0", "3\0\0",
    "Minolta SP 3500\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0",      "52096\0", "3\0\0",
    "Oki OL-410\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0", "52104\0", "3\0\0",
    "Oki OL-810\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0", "52104\0", "3\0\0",
    "Olivetti PG-404\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0",      "52104\0", "3\0\0",
    "Olivetti PG-408\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0",      "52104\0", "3\0\0",
    "Panasonic KX-P4430\0\0\0\0\0\0\0\0\0\0\0\0\0",         "52104\0", "3\0\0",
    "Panasonic KX-P4451\0\0\0\0\0\0\0\0\0\0\0\0\0",         "52104\0", "3\0\0",
    "Ricoh LP 1200\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0",    "52104\0", "3\0\0",
    "Sharp JX-9600\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0"     "52104\0", "3\0\0"
    "Sharp JX-9700E\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0"      "52104\0", "3\0\0"
    "Star LaserPrinter 4 III\0\0\0\0\0\0\0\0",              "52104\0", "3\0\0",
    "Star LaserPrinter 8 III\0\0\0\0\0\0\0\0",              "52104\0", "3\0\0",
    "Star LaserPrinter 5 EX\0\0\0\0\0\0\0",                 "52104\0", "3\0\0",
    "Toshiba GX400\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0\0",    "61320\0", "31\0"
END


1      RC_FONT     LOADONCALL DISCARDABLE  HV14B.0U
2      RC_FONT     LOADONCALL DISCARDABLE  TR10B.0U
3      RC_FONT     LOADONCALL DISCARDABLE  TR10I.0U
4      RC_FONT     LOADONCALL DISCARDABLE  TR10R.0U
5      RC_FONT     LOADONCALL DISCARDABLE  LG10R.8U
6      RC_FONT     LOADONCALL DISCARDABLE  LG12R.8U
7      RC_FONT     LOADONCALL DISCARDABLE  LG16R.8U
8      RC_FONT     LOADONCALL DISCARDABLE  LP04R.0Y
9      RC_FONT     LOADONCALL DISCARDABLE  LP08R.0Y
10     RC_FONT     LOADONCALL DISCARDABLE  LP10R.0B
11     RC_FONT     LOADONCALL DISCARDABLE  LP12B.8Y
12     RC_FONT     LOADONCALL DISCARDABLE  LP12R.15Y
13     RC_FONT     LOADONCALL DISCARDABLE  LP12R.8Y
14     RC_FONT     LOADONCALL DISCARDABLE  OA10R.0O
15     RC_FONT     LOADONCALL DISCARDABLE  OB10R.1O
16     RC_FONT     LOADONCALL DISCARDABLE  PE12B.8U
17     RC_FONT     LOADONCALL DISCARDABLE  PE12I.8U
18     RC_FONT     LOADONCALL DISCARDABLE  PE12R.8U
19     RC_FONT     LOADONCALL DISCARDABLE  HC24R.5Q
20     RC_FONT     LOADONCALL DISCARDABLE  LP10R.2Q
21     RC_FONT     LOADONCALL DISCARDABLE  UN06R.8U
22     RC_FONT     LOADONCALL DISCARDABLE  UN08B.8U
23     RC_FONT     LOADONCALL DISCARDABLE  UN08R.8U
24     RC_FONT     LOADONCALL DISCARDABLE  UN10B.8U
25     RC_FONT     LOADONCALL DISCARDABLE  UN12B.8U
26     RC_FONT     LOADONCALL DISCARDABLE  UN14B.8U
27     RC_FONT     LOADONCALL DISCARDABLE  PE12B.0U
28     RC_FONT     LOADONCALL DISCARDABLE  PE12I.0U
29     RC_FONT     LOADONCALL DISCARDABLE  PE12R.0U
30     RC_FONT     LOADONCALL DISCARDABLE  PE16R.0U
31     RC_FONT     LOADONCALL DISCARDABLE  CS08R.8U
32     RC_FONT     LOADONCALL DISCARDABLE  CS10B.8U
33     RC_FONT     LOADONCALL DISCARDABLE  CS10I.8U
34     RC_FONT     LOADONCALL DISCARDABLE  CS10R.8U
35     RC_FONT     LOADONCALL DISCARDABLE  CT10R.8U
36     RC_FONT     LOADONCALL DISCARDABLE  CT14B.8U
37     RC_FONT     LOADONCALL DISCARDABLE  CG11B.0N
38     RC_FONT     LOADONCALL DISCARDABLE  CG11I.0N
39     RC_FONT     LOADONCALL DISCARDABLE  CG11R.0N
40     RC_FONT     LOADONCALL DISCARDABLE  LG12B.0N
41     RC_FONT     LOADONCALL DISCARDABLE  LG12I.0N
42     RC_FONT     LOADONCALL DISCARDABLE  LG12R.0N
43     RC_FONT     LOADONCALL DISCARDABLE  LG27R.0N
44     RC_FONT     LOADONCALL DISCARDABLE  CO10B.0U
45     RC_FONT     LOADONCALL DISCARDABLE  CO10I.0U
46     RC_FONT     LOADONCALL DISCARDABLE  PE12R.15U
47     RC_FONT     LOADONCALL DISCARDABLE  PE12R.8M
48     RC_FONT     LOADONCALL DISCARDABLE  PE16R.8M
49     RC_FONT     LOADONCALL DISCARDABLE  PE16R.8U
50     RC_FONT     LOADONCALL DISCARDABLE  HO24B.0U
51     RC_FONT     LOADONCALL DISCARDABLE  HO24B.1U
52     RC_FONT     LOADONCALL DISCARDABLE  LG10R.0U
53     RC_FONT     LOADONCALL DISCARDABLE  LG10R.1U
54     RC_FONT     LOADONCALL DISCARDABLE  LP10B.4Q
55     RC_FONT     LOADONCALL DISCARDABLE  PR05B.0U
56     RC_FONT     LOADONCALL DISCARDABLE  PR05B.1U
57     RC_FONT     LOADONCALL DISCARDABLE  PR06B.0U
58     RC_FONT     LOADONCALL DISCARDABLE  PR06B.1U
59     RC_FONT     LOADONCALL DISCARDABLE  PR08B.0U
60     RC_FONT     LOADONCALL DISCARDABLE  PR08B.1U
61     RC_FONT     LOADONCALL DISCARDABLE  PR10B.0U
62     RC_FONT     LOADONCALL DISCARDABLE  PR10B.1U
63     RC_FONT     LOADONCALL DISCARDABLE  SE24B.0U
64     RC_FONT     LOADONCALL DISCARDABLE  SE24B.1U
65     RC_FONT     LOADONCALL DISCARDABLE  LG12B.1U
66     RC_FONT     LOADONCALL DISCARDABLE  LG12I.1U
67     RC_FONT     LOADONCALL DISCARDABLE  LG12R.1U
68     RC_FONT     LOADONCALL DISCARDABLE  LG27R.1U
69     RC_FONT     LOADONCALL DISCARDABLE  PE12B.1U
70     RC_FONT     LOADONCALL DISCARDABLE  PE12I.1U
71     RC_FONT     LOADONCALL DISCARDABLE  PE12R.1U
72     RC_FONT     LOADONCALL DISCARDABLE  PE16R.1U
73     RC_FONT     LOADONCALL DISCARDABLE  CO10B.1U
74     RC_FONT     LOADONCALL DISCARDABLE  CO10I.1U
75     RC_FONT     LOADONCALL DISCARDABLE  CO10R.1U
76     RC_FONT     LOADONCALL DISCARDABLE  CO12B.0U
77     RC_FONT     LOADONCALL DISCARDABLE  CO12B.1U
78     RC_FONT     LOADONCALL DISCARDABLE  CO12I.0U
79     RC_FONT     LOADONCALL DISCARDABLE  CO12I.1U
80     RC_FONT     LOADONCALL DISCARDABLE  CO12R.0U
81     RC_FONT     LOADONCALL DISCARDABLE  CO12R.1U
82     RC_FONT     LOADONCALL DISCARDABLE  HV08R.0U
83     RC_FONT     LOADONCALL DISCARDABLE  HV10B.0U
84     RC_FONT     LOADONCALL DISCARDABLE  HV10I.0U
85     RC_FONT     LOADONCALL DISCARDABLE  HV10R.0U
86     RC_FONT     LOADONCALL DISCARDABLE  HV12B.0U
87     RC_FONT     LOADONCALL DISCARDABLE  HV12I.0U
88     RC_FONT     LOADONCALL DISCARDABLE  HV12R.0U
89     RC_FONT     LOADONCALL DISCARDABLE  HV14B.1U
90     RC_FONT     LOADONCALL DISCARDABLE  LG12B.0U
91     RC_FONT     LOADONCALL DISCARDABLE  LG12I.0U
92     RC_FONT     LOADONCALL DISCARDABLE  LG12R.0U
93     RC_FONT     LOADONCALL DISCARDABLE  LG16R.0U
94     RC_FONT     LOADONCALL DISCARDABLE  LG18R.0U
95     RC_FONT     LOADONCALL DISCARDABLE  LG27R.0U
96     RC_FONT     LOADONCALL DISCARDABLE  LP16R.0U
97     RC_FONT     LOADONCALL DISCARDABLE  TR08R.0U
98     RC_FONT     LOADONCALL DISCARDABLE  TR08R.1U
99     RC_FONT     LOADONCALL DISCARDABLE  TR10B.1U
100    RC_FONT     LOADONCALL DISCARDABLE  TR10I.1U
101    RC_FONT     LOADONCALL DISCARDABLE  TR10R.1U
102    RC_FONT     LOADONCALL DISCARDABLE  TR12B.0U
103    RC_FONT     LOADONCALL DISCARDABLE  TR12B.1U
104    RC_FONT     LOADONCALL DISCARDABLE  TR12I.0U
105    RC_FONT     LOADONCALL DISCARDABLE  TR12I.1U
106    RC_FONT     LOADONCALL DISCARDABLE  TR12R.0U
107    RC_FONT     LOADONCALL DISCARDABLE  TR12R.1U
108    RC_FONT     LOADONCALL DISCARDABLE  CG08R.8M
109    RC_FONT     LOADONCALL DISCARDABLE  CG08R.8U
110    RC_FONT     LOADONCALL DISCARDABLE  CG10B.8U
111    RC_FONT     LOADONCALL DISCARDABLE  CG10I.8U
112    RC_FONT     LOADONCALL DISCARDABLE  CG10R.0A
113    RC_FONT     LOADONCALL DISCARDABLE  CG10R.15U
114    RC_FONT     LOADONCALL DISCARDABLE  CG10R.8M
115    RC_FONT     LOADONCALL DISCARDABLE  CG10R.8U
116    RC_FONT     LOADONCALL DISCARDABLE  PE12R.0A
117    RC_FONT     LOADONCALL DISCARDABLE  HV08R.11Q
118    RC_FONT     LOADONCALL DISCARDABLE  HV10B.11Q
119    RC_FONT     LOADONCALL DISCARDABLE  HV10I.11Q
120    RC_FONT     LOADONCALL DISCARDABLE  HV10R.11Q
121    RC_FONT     LOADONCALL DISCARDABLE  HV12B.11Q
122    RC_FONT     LOADONCALL DISCARDABLE  HV12I.11Q
123    RC_FONT     LOADONCALL DISCARDABLE  HV12R.11Q
124    RC_FONT     LOADONCALL DISCARDABLE  HV14B.11Q
125    RC_FONT     LOADONCALL DISCARDABLE  LP16R.11Q
126    RC_FONT     LOADONCALL DISCARDABLE  TR08R.11Q
127    RC_FONT     LOADONCALL DISCARDABLE  TR10B.11Q
128    RC_FONT     LOADONCALL DISCARDABLE  TR10I.11Q
129    RC_FONT     LOADONCALL DISCARDABLE  TR10R.11Q
130    RC_FONT     LOADONCALL DISCARDABLE  TR12B.11Q
131    RC_FONT     LOADONCALL DISCARDABLE  TR12I.11Q
132    RC_FONT     LOADONCALL DISCARDABLE  TR12R.11Q
133    RC_FONT     LOADONCALL DISCARDABLE  TR14B.11Q
134    RC_FONT     LOADONCALL DISCARDABLE  CO10B.0N
135    RC_FONT     LOADONCALL DISCARDABLE  CO10I.0N
136    RC_FONT     LOADONCALL DISCARDABLE  CO10R.0N
137    RC_FONT     LOADONCALL DISCARDABLE  CO12R.0N
138    RC_FONT     LOADONCALL DISCARDABLE  LP16R.0N
139    RC_FONT     LOADONCALL DISCARDABLE  CO12B.0N
140    RC_FONT     LOADONCALL DISCARDABLE  CO12I.0N
141    RC_FONT     LOADONCALL DISCARDABLE  LD121UMU.PFD
142    RC_FONT     LOADONCALL DISCARDABLE  PE12B.0ND
143    RC_FONT     LOADONCALL DISCARDABLE  PE12I.0ND
144    RC_FONT     LOADONCALL DISCARDABLE  PE12R.0ND
145    RC_FONT     LOADONCALL DISCARDABLE  PE16R.0ND
146    RC_FONT     LOADONCALL DISCARDABLE  cgtimesr.ifi
147    RC_FONT     LOADONCALL DISCARDABLE  cgtimesb.ifi
148    RC_FONT     LOADONCALL DISCARDABLE  cgtimesi.ifi
149    RC_FONT     LOADONCALL DISCARDABLE  cgtimesj.ifi
150    RC_FONT     LOADONCALL DISCARDABLE  universr.ifi
151    RC_FONT     LOADONCALL DISCARDABLE  universb.ifi
152    RC_FONT     LOADONCALL DISCARDABLE  universi.ifi
153    RC_FONT     LOADONCALL DISCARDABLE  universj.ifi
154    RC_FONT     LOADONCALL DISCARDABLE  univercr.ifi
155    RC_FONT     LOADONCALL DISCARDABLE  univercb.ifi
156    RC_FONT     LOADONCALL DISCARDABLE  univerci.ifi
157    RC_FONT     LOADONCALL DISCARDABLE  univercj.ifi
158    RC_FONT     LOADONCALL DISCARDABLE  dingbat1.ifi
159    RC_FONT     LOADONCALL DISCARDABLE  dingbat2.ifi
160    RC_FONT     LOADONCALL DISCARDABLE  dingbat3.ifi
161    RC_FONT     LOADONCALL DISCARDABLE  dingbats.ifi
162    RC_FONT     LOADONCALL DISCARDABLE  dingbatv.ifi
163    RC_FONT     LOADONCALL DISCARDABLE  aolivecb.ifi
164    RC_FONT     LOADONCALL DISCARDABLE  aoliveb.ifi
165    RC_FONT     LOADONCALL DISCARDABLE  aolivei.ifi
166    RC_FONT     LOADONCALL DISCARDABLE  aoliver.ifi
167    RC_FONT     LOADONCALL DISCARDABLE  centuryb.ifi
168    RC_FONT     LOADONCALL DISCARDABLE  centuryi.ifi
169    RC_FONT     LOADONCALL DISCARDABLE  centuryj.ifi
170    RC_FONT     LOADONCALL DISCARDABLE  centuryr.ifi
171    RC_FONT     LOADONCALL DISCARDABLE  palaciob.ifi
172    RC_FONT     LOADONCALL DISCARDABLE  palacioi.ifi
173    RC_FONT     LOADONCALL DISCARDABLE  palacioj.ifi
174    RC_FONT     LOADONCALL DISCARDABLE  palacior.ifi
175    RC_FONT     LOADONCALL DISCARDABLE  souvnirb.ifi
176    RC_FONT     LOADONCALL DISCARDABLE  souvnirj.ifi
177    RC_FONT     LOADONCALL DISCARDABLE  souvnirr.ifi
178    RC_FONT     LOADONCALL DISCARDABLE  souvniri.ifi
179    RC_FONT     LOADONCALL DISCARDABLE  stymieb.ifi
180    RC_FONT     LOADONCALL DISCARDABLE  stymiei.ifi
181    RC_FONT     LOADONCALL DISCARDABLE  stymiej.ifi
182    RC_FONT     LOADONCALL DISCARDABLE  stymier.ifi
183    RC_FONT     LOADONCALL DISCARDABLE  bodonir.ifi
184    RC_FONT     LOADONCALL DISCARDABLE  bodonii.ifi
185    RC_FONT     LOADONCALL DISCARDABLE  bodonib.ifi
186    RC_FONT     LOADONCALL DISCARDABLE  bodonij.ifi
187    RC_FONT     LOADONCALL DISCARDABLE  benguatb.ifi
188    RC_FONT     LOADONCALL DISCARDABLE  benguati.ifi
189    RC_FONT     LOADONCALL DISCARDABLE  benguatj.ifi
190    RC_FONT     LOADONCALL DISCARDABLE  benguatr.ifi
191    RC_FONT     LOADONCALL DISCARDABLE  bookmanb.ifi
192    RC_FONT     LOADONCALL DISCARDABLE  bookmanj.ifi
193    RC_FONT     LOADONCALL DISCARDABLE  bookmanr.ifi
194    RC_FONT     LOADONCALL DISCARDABLE  bookmani.ifi
195    RC_FONT     LOADONCALL DISCARDABLE  cooperbk.ifi
196    RC_FONT     LOADONCALL DISCARDABLE  garmondb.ifi
197    RC_FONT     LOADONCALL DISCARDABLE  garmondi.ifi
198    RC_FONT     LOADONCALL DISCARDABLE  garmondj.ifi
199    RC_FONT     LOADONCALL DISCARDABLE  garmondr.ifi
200    RC_FONT     LOADONCALL DISCARDABLE  cgomegab.ifi
201    RC_FONT     LOADONCALL DISCARDABLE  cgomegai.ifi
202    RC_FONT     LOADONCALL DISCARDABLE  cgomegaj.ifi
203    RC_FONT     LOADONCALL DISCARDABLE  cgomegar.ifi
204    RC_FONT     LOADONCALL DISCARDABLE  revuer.ifi
205    RC_FONT     LOADONCALL DISCARDABLE  shannonx.ifi
206    RC_FONT     LOADONCALL DISCARDABLE  shannonb.ifi
207    RC_FONT     LOADONCALL DISCARDABLE  shannoni.ifi
208    RC_FONT     LOADONCALL DISCARDABLE  shannonr.ifi
209    RC_FONT     LOADONCALL DISCARDABLE  albertr.ifi
210    RC_FONT     LOADONCALL DISCARDABLE  albertx.ifi
211    RC_FONT     LOADONCALL DISCARDABLE  clarcd.ifi
212    RC_FONT     LOADONCALL DISCARDABLE  coronetr.ifi
213    RC_FONT     LOADONCALL DISCARDABLE  courierb.ifi
214    RC_FONT     LOADONCALL DISCARDABLE  courieri.ifi
215    RC_FONT     LOADONCALL DISCARDABLE  courierj.ifi
216    RC_FONT     LOADONCALL DISCARDABLE  courierr.ifi
217    RC_FONT     LOADONCALL DISCARDABLE  letgothb.ifi
218    RC_FONT     LOADONCALL DISCARDABLE  letgothi.ifi
219    RC_FONT     LOADONCALL DISCARDABLE  letgothr.ifi
220    RC_FONT     LOADONCALL DISCARDABLE  margoldr.ifi
221    RC_FONT     LOADONCALL DISCARDABLE  arialb.ifi
222    RC_FONT     LOADONCALL DISCARDABLE  ariali.ifi
223    RC_FONT     LOADONCALL DISCARDABLE  arialj.ifi
224    RC_FONT     LOADONCALL DISCARDABLE  arialr.ifi
225    RC_FONT     LOADONCALL DISCARDABLE  symbol.ifi
226    RC_FONT     LOADONCALL DISCARDABLE  timesnrb.ifi
227    RC_FONT     LOADONCALL DISCARDABLE  timesnri.ifi
228    RC_FONT     LOADONCALL DISCARDABLE  timesnrj.ifi
229    RC_FONT     LOADONCALL DISCARDABLE  timesnrr.ifi
230    RC_FONT     LOADONCALL DISCARDABLE  wingding.ifi
231    RC_FONT     LOADONCALL DISCARDABLE  PE12RR.8U
232    RC_FONT     LOADONCALL DISCARDABLE  PE12BR.8U
233    RC_FONT     LOADONCALL DISCARDABLE  PE12IR.8U
234    RC_FONT     LOADONCALL DISCARDABLE  PE16RR.8U
235    RC_FONT     LOADONCALL DISCARDABLE  LG12RR.8U
236    RC_FONT     LOADONCALL DISCARDABLE  LG16RR.8U
237    RC_FONT     LOADONCALL DISCARDABLE  LG16IR.8U
238    RC_FONT     LOADONCALL DISCARDABLE  BR10R.8U
239    RC_FONT     LOADONCALL DISCARDABLE  BR10B.8U
240    RC_FONT     LOADONCALL DISCARDABLE  BR12I.8U
241    RC_FONT     LOADONCALL DISCARDABLE  BR10I.8U
242    RC_FONT     LOADONCALL DISCARDABLE  BR10X.8U
243    RC_FONT     LOADONCALL DISCARDABLE  BR12R.8U
244    RC_FONT     LOADONCALL DISCARDABLE  BR12B.8U
245    RC_FONT     LOADONCALL DISCARDABLE  BR12X.8U
246    RC_FONT     LOADONCALL DISCARDABLE  BROLG16R.8U
247    RC_FONT     LOADONCALL DISCARDABLE  BROLG16B.8U
248    RC_FONT     LOADONCALL DISCARDABLE  BROLG16I.8U
249    RC_FONT     LOADONCALL DISCARDABLE  BROLG16X.8U
250    RC_FONT     LOADONCALL DISCARDABLE  br01tr.ifi
251    RC_FONT     LOADONCALL DISCARDABLE  br01tb.ifi
252    RC_FONT     LOADONCALL DISCARDABLE  br01ti.ifi
253    RC_FONT     LOADONCALL DISCARDABLE  br01tj.ifi
254    RC_FONT     LOADONCALL DISCARDABLE  br11ur.ifi
255    RC_FONT     LOADONCALL DISCARDABLE  br11ub.ifi
256    RC_FONT     LOADONCALL DISCARDABLE  br11ui.ifi
257    RC_FONT     LOADONCALL DISCARDABLE  br11uj.ifi
258    RC_FONT     LOADONCALL DISCARDABLE  br05br.ifi
259    RC_FONT     LOADONCALL DISCARDABLE  br05bb.ifi
260    RC_FONT     LOADONCALL DISCARDABLE  br05bi.ifi
261    RC_FONT     LOADONCALL DISCARDABLE  br05bj.ifi
262    RC_FONT     LOADONCALL DISCARDABLE  dutchr.ifi
263    RC_FONT     LOADONCALL DISCARDABLE  dutchb.ifi
264    RC_FONT     LOADONCALL DISCARDABLE  dutchi.ifi
265    RC_FONT     LOADONCALL DISCARDABLE  dutchj.ifi
266    RC_FONT     LOADONCALL DISCARDABLE  duch801r.ifi
267    RC_FONT     LOADONCALL DISCARDABLE  duch801b.ifi
268    RC_FONT     LOADONCALL DISCARDABLE  duch801i.ifi
269    RC_FONT     LOADONCALL DISCARDABLE  duch801j.ifi
270    RC_FONT     LOADONCALL DISCARDABLE  zurichr.ifi
271    RC_FONT     LOADONCALL DISCARDABLE  zurichb.ifi
272    RC_FONT     LOADONCALL DISCARDABLE  zurichi.ifi
273    RC_FONT     LOADONCALL DISCARDABLE  zurichj.ifi
274    RC_FONT     LOADONCALL DISCARDABLE  swis742r.ifi
275    RC_FONT     LOADONCALL DISCARDABLE  swis742b.ifi
276    RC_FONT     LOADONCALL DISCARDABLE  swis742i.ifi
277    RC_FONT     LOADONCALL DISCARDABLE  swis742j.ifi
278    RC_FONT     LOADONCALL DISCARDABLE  zurichcr.ifi
279    RC_FONT     LOADONCALL DISCARDABLE  zurichcb.ifi
280    RC_FONT     LOADONCALL DISCARDABLE  zurichci.ifi
281    RC_FONT     LOADONCALL DISCARDABLE  zurichcj.ifi
282    RC_FONT     LOADONCALL DISCARDABLE  sw742cdr.ifi
283    RC_FONT     LOADONCALL DISCARDABLE  sw742cdb.ifi
284    RC_FONT     LOADONCALL DISCARDABLE  sw742cdi.ifi
285    RC_FONT     LOADONCALL DISCARDABLE  sw742cdj.ifi
286    RC_FONT     LOADONCALL DISCARDABLE  brougham.ifi

2      RC_TRANSTAB LOADONCALL MOVEABLE      RLE\ROMAN8.RLE
4      RC_TRANSTAB LOADONCALL MOVEABLE      RLE\MATH8.RLE
5      RC_TRANSTAB LOADONCALL MOVEABLE      RLE\USASCII.RLE
17     RC_TRANSTAB LOADONCALL MOVEABLE      RLE\GENERIC7.RLE
19     RC_TRANSTAB LOADONCALL MOVEABLE      RLE\ECMA94.RLE
20     RC_TRANSTAB LOADONCALL MOVEABLE      RLE\WIN31.RLE
101    RC_TRANSTAB LOADONCALL MOVEABLE      RLE\DINGBAT1.RLE
111    RC_TRANSTAB LOADONCALL MOVEABLE      RLE\DINGBAT2.RLE
121    RC_TRANSTAB LOADONCALL MOVEABLE      RLE\Z1A.RLE

STRINGTABLE

BEGIN
       1                  "Brother HL-4V"
       2                  "Brother HL-4Ve"
       3                  "Brother HL-8V"
       4                  "Brother HL-10V"
       5                  "Brother HL-10DV"
       6                  "Bull Compuprint PageMaster 413"
       7                  "Bull Compuprint PageMaster 1025"
       8                  "Epson EPL-4300"
       9                  "Epson EPL-8000"
       10                 "Epson EPL-8100"
       11                 "HP LaserJet III"
       12                 "HP LaserJet IIID"
       13                 "HP LaserJet IIIP"
       14                 "HP LaserJet IIISi"
       15                 "HP LaserJet 4"
       16                 "HP LaserJet 4Si"
       17                 "HP PaintJet XL 300"
       18                 "HP DeskJet 1200C"
       19                 "IBM LaserPrinter 4039"
       20                 "Kyocera FS-850 / FS-850A"
       21                 "Kyocera FS-1500 / FS-1500A"
       22                 "Kyocera FS-3500 / FS-3500A"
       23                 "Kyocera FS-5500 / FS-5500A"
       24                 "Mannesmann Tally MT 904 Plus"
       25                 "Mannesmann Tally MT 908"
       26                 "Minolta SP 3000"
       27                 "Minolta SP 3500"
       28                 "NEC Silentwriter S102"
       29                 "Oki OL-410"
       30                 "Oki OL-810"
       31                 "Olivetti PG 404"
       32                 "Olivetti PG 408"
       33                 "Panasonic KX-P4430"
       34                 "Panasonic KX-P4451"
       35                 "Ricoh LP-1200"
       36                 "Sharp JX-9600"
       37                 "Sharp JX-9700E"
       38                 "Star LaserPrinter 4 III"
       39                 "Star LaserPrinter 8 III"
       40                 "Star LaserPrinter 5 EX"
       41                 "Toshiba GX-400"
       257                "%d dots per inch"
       258                "B4 250 x 354 mm"
       259                "Invoice 8.5 x 5.5 in"
       260                "Plain Paper"
       261                "Bond Paper"
       262                "Special Paper"
       263                "Glossy Film"
       264                "Transparency Film"
       265                "Main Sheet Feeder"
       266                "Upper Bin (PF-2)"
       267                "Upper Bin (PF-5)"
       268                "Lower Bin (PF-2)"
       269                "Lower Bin (PF-5)"
       270                "Universal Sheet Feeder"
       271                "Large Capacity Feeder"
       272                "Tray 1"
       273                "Tray 2"
       274                "Paper Tray"
       275                "Standard Bin 1"
       276                "Upper"
       277                "Lower"
       278                "Face-Down"
       279                "Face-Up"
       280                "Main Down"
       281                "Main Up"
       282                "LCS"
       283                "KIR - Off"
       284                "KIR - Light"
       285                "KIR - Medium"
       286                "KIR - Dark"
       287                "Presentation mode"
       288                "Normal mode"
       289                "Fast mode"
       290                "Z: Microsoft 1A"
       291                "HP: ProCollection"
       292                "HP: Global Text"
       293                "HP: Great Start"
       294                "HP: TextEquations"
       295                "HP: Polished Worksheets"
       296                "HP: Persuasive Presentations"
       297                "HP: Forms, Etc."
       298                "HP: Bar Codes & More"
       299                "Distinct Doc I / Comp Pub I"
       300                "Brilliant Pres I / Comp Pub II"
END



#include <windows.h>
#include <ntverp.h>

#define             VER_FILETYPE        VFT_DRV
#define             VER_FILESUBTYPE     VFT2_DRV_PRINTER
#define VER_FILEDESCRIPTION_STR     "HP PCL 5 Printer Driver"
#define VER_INTERNALNAME_STR        "hppcl5ms.dll"
#define VER_ORIGINALFILENAME_STR    "hppcl5ms.dll"

#include "common.ver"
