
#include "notepad.h"
#define GRP	 WS_GROUP
#define TAB	 WS_TABSTOP
#define TABGRP	 WS_TABSTOP | WS_GROUP
#define DLGMODAL WS_POPUP | WS_DLGFRAME

ID_ICON ICON	notepad.ico

IDD_OPEN DIALOG LOADONCALL MOVEABLE DISCARDABLE 10, 10, 148, 116
STYLE WS_DLGFRAME | WS_VISIBLE | WS_POPUP
BEGIN
           CONTROL "Open File &Name:" -1, "static", SS_LEFT | WS_GROUP | WS_CHILD, 2, 4, 76, 10
           CONTROL "" ID_EDIT, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_BORDER | WS_GROUP | WS_TABSTOP | WS_CHILD, 2, 17, 100, 12
           CONTROL "&Files in" -1, "static", SS_LEFT | WS_GROUP | WS_CHILD, 2, 39, 38, 10
           CONTROL "" ID_LISTBOX, "listbox", LBS_NOTIFY | LBS_SORT | LBS_STANDARD | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP | WS_CHILD, 3, 53, 70, 57
           CONTROL "&Open" IDOK, "button", BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 88, 62, 50, 16
           CONTROL "Cancel" IDCANCEL, "button", BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 88, 87, 50, 16
           CONTROL "" ID_PATH, "static", SS_LEFT | SS_NOPREFIX | WS_GROUP | WS_CHILD, 44, 39, 98, 12
END

IDD_SAVEAS DIALOG LOADONCALL MOVEABLE DISCARDABLE 10, 10, 180, 53
STYLE WS_DLGFRAME | WS_VISIBLE | WS_POPUP
BEGIN
           CONTROL "Save File &Name As:" -1, "static", SS_LEFT | WS_GROUP | WS_CHILD, 6, 5, 85, 12
           CONTROL "" ID_EDIT, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_BORDER | WS_GROUP | WS_TABSTOP | WS_CHILD, 6, 19, 104, 12
           CONTROL "OK" IDOK, "button", BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 123, 19, 43, 14
           CONTROL "Cancel" IDCANCEL, "button", BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 123, 36, 43, 14
           CONTROL "" ID_PATH, "static", SS_LEFT | SS_NOPREFIX | WS_GROUP | WS_CHILD, 90, 5, 79, 12
END

IDD_SEARCH dialog  20, 20, 116, 64, style DLGMODAL
begin
    ltext         "&Search for: ", -1, 8, 4, 100, 12
    edittext		      ID_EDIT,	      8, 16, 100, 12, TABGRP | ES_AUTOHSCROLL
    checkbox    "&Match Case", ID_SRCHCASE,      8, 30, 54, 12, TABGRP
    defpushbutton  "OK",         IDOK,            68, 32, 35, 14, TABGRP
    pushbutton	"Cancel"      IDCANCEL,        68, 48, 35, 14, TABGRP
end

IDD_ABOUT DIALOG LOADONCALL MOVEABLE DISCARDABLE 25, 23, 184, 99
STYLE WS_DLGFRAME | WS_POPUP
BEGIN
           CONTROL "Microsoft Windows" -1, "static", SS_CENTER | WS_GROUP | WS_CHILD, 0, 5, 184, 8
           CONTROL "Notepad" -1, "static", SS_CENTER | WS_GROUP | WS_CHILD, 0, 15, 184, 8
           CONTROL "Version 2.1 " -1, "static", SS_CENTER | WS_GROUP | WS_CHILD, 0, 34, 184, 8
           CONTROL "Copyright © 1988 Microsoft Corp." -1, "static", SS_CENTER | WS_GROUP | WS_CHILD, 0, 47, 184, 9
           CONTROL "OK" IDOK, "button", BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 76, 60, 32, 14
           CONTROL "" 1, "static", SS_BLACKRECT | WS_GROUP | WS_CHILD, 0, 78, 184, 2
           CONTROL "  Remaining free space:" -1, "static", SS_LEFT | WS_GROUP | WS_CHILD, 29, 86, 96, 12
           CONTROL "100" ID_PFREE, "static", SS_LEFT | WS_GROUP | WS_CHILD, 123, 86, 12, 12
           CONTROL "%" -1, "static", SS_LEFT | WS_GROUP | WS_CHILD, 136, 86, 6, 10
           CONTROL "ÿ" -1, "static", SS_ICON | WS_CHILD, 25, 14, 16, 21
END

IDD_CREATE	DIALOG 20,20, 150, 34, style DLGMODAL
caption 	"Notepad"
BEGIN
    ctext   "File not found. Create new file?",  -1, 2,4,140,12
    defpushbutton  "&Yes",         IDOK,            29, 22, 35, 16, TABGRP
    pushbutton     "&No"           IDCANCEL,        80, 22, 35, 16, TABGRP
END

IDD_ABORTPRINT DIALOG 20,20,90, 64
STYLE WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Notepad"
BEGIN
   defpushbutton "Cancel"			IDCANCEL, 29, 44, 32, 14, WS_GROUP
   ctext    "Sending",				-1, 0, 8, 90, 8
   ctext    "text",				ID_FILENAME, 0, 18, 90, 8
   ctext    "to print spooler.",		-1, 0, 28, 90, 8
END




ID_MENUBAR  MENU
BEGIN
    POPUP   "&File"
    BEGIN
        MENUITEM    "&New",          M_NEW
        MENUITEM    "&Open...",      M_OPEN
        MENUITEM    "&Save",         M_SAVE
        MENUITEM    "Save &As...",   M_SAVEAS
        MENUITEM    "&Print",        M_PRINT
        MENUITEM    SEPARATOR
        MENUITEM    "E&xit",         M_EXIT
        MENUITEM    "A&bout Notepad...",     M_ABOUT
    END
    POPUP   "&Edit"
    BEGIN
        MENUITEM    "&Undo\tAlt+BkSp",  M_UNDO
	MENUITEM	SEPARATOR
        MENUITEM    "Cu&t\tShift+Del",  M_CUT
        MENUITEM    "&Copy\tCtrl+Ins",  M_COPY
        MENUITEM    "&Paste\tShift+Ins",M_PASTE
        MENUITEM    "C&lear\tDel",      M_CLEAR
	MENUITEM	SEPARATOR
        MENUITEM    "&Select All",      M_SELECTALL
        MENUITEM    "Time/&Date\tF5",   M_DATETIME
	MENUITEM	SEPARATOR
        MENUITEM    "&Word Wrap"        M_WW
    END
    POPUP   "&Search"
    BEGIN
        MENUITEM    "&Find...",        M_FIND
        MENUITEM    "Find &Next\tF3",  M_FINDNEXT
    END
END

MainAcc ACCELERATORS
BEGIN
    VK_INSERT, M_COPY,     VIRTKEY, CONTROL
    VK_F3,     M_FINDNEXT, VIRTKEY
    VK_F5,     M_DATETIME, VIRTKEY
    VK_BACK,   M_UNDO,     VIRTKEY, ALT
END

STRINGTABLE
BEGIN
    IDS_MERGE1	    "%%"
    IDS_DISKERROR   "Cannot open file %%."
    IDS_FNF	    "%% not found - Create New File?"
    IDS_FAE	    "Replace existing %%"
    IDS_SCBC	    "Save current changes: %%"
    IDS_UNTITLED    "(untitled)";
    IDS_NOTEPAD     "Notepad - "
    IDS_CFS	    "Cannot find: %%"
    IDS_ERRSPACE    "Not enough memory"
    IDS_FTL	    "File too large: %%"
    IDS_NN	    "Notepad"
    IDS_ABOUT	    "About..."
    IDS_PASTEERR    "Line too long to Paste."
    IDS_WRITEERR    "Not enough disk space to save: %%"
    IDS_INF         "%% is not a valid notepad file."
    IDS_EFD	    "Empty file will be deleted: %%"
    IDS_CSEF	    "Cannot save empty file: %%"
    IDS_CANTPRINT   "Cannot print %%."
    IDS_NVF	    "Not a valid filename."
    IDS_NVF2	    "Not a valid filename: %%."
    IDS_NEDSTP	    "Not enough disk space to print %%"
    IDS_NEMTP	    "Not enough memory to print "
    IDS_CREATEERR   "Cannot create file %%"
    IDS_NOWW	    "Too much text to Word Wrap."
    IDS_EXT         "\\*.TXT"
END
