/*---------------------------------------------------------------------------*\
| WINDOWS PRINTER TEST APPLICATION - RESOURCE FILE                            |
|   This module contains the resources used throughout the application.       |
|                                                                             |
|   Copyright 1989-1991 by Microsoft Corporation                              |
|                                                                             |
\*---------------------------------------------------------------------------*/

#include <windows.h>
#include "PrntTest.h"
#include "dialog.h"

/*---------------------------------------------------------------------------*\
| RESOURCES                                                                   |
\*---------------------------------------------------------------------------*/
PRNTIcon  ICON Test.ico
MAINICON  ICON Test.ico

FuncSupp TEXT   FuncSupp.txt
GrayScal TEXT   GrayScal.txt
TextTest TEXT   TextTest.txt
RastTest TEXT   RastTest.txt
PolyTest TEXT   PolyTest.txt
CharWdth TEXT   CharWdth.txt
CurvTest TEXT   CurvTest.txt
LineTest TEXT   LineTest.txt
Bitmap1  BITMAP test.bmp

/*---------------------------------------------------------------------------*\
| DIALOG BOX TEMPLATES                                                        |
\*---------------------------------------------------------------------------*/
rcinclude prnttest.dlg

/*---------------------------------------------------------------------------*\
| MAIN APPLICATION MENU                                                       |
\*---------------------------------------------------------------------------*/
PRNTTEST MENU
BEGIN
     POPUP "&Settings"
     BEGIN
          MENUITEM "&Header..."        , IDM_SETTINGS_HEADER
          MENUITEM "&Tests..."         , IDM_SETTINGS_TESTS
     END
     POPUP "&Options"
     BEGIN
          MENUITEM "&Print Styles..."  , IDM_OPTIONS_STYLES
          MENUITEM "&Fonts..."         , IDM_OPTIONS_FONTS
     END
     MENUITEM "&Execute!"              , IDM_TEST_RUN
     POPUP "\a&Help"
     BEGIN
          MENUITEM "A&bout..."         , IDM_HELP_ABOUT
          MENUITEM "&Description..."   , IDM_HELP_DESCR, GRAYED
     END
END

/*---------------------------------------------------------------------------*\
| Strings used throughout application to conserve memory.                     |
\*---------------------------------------------------------------------------*/
STRINGTABLE
BEGIN
     IDS_ERROR_GETDC     "Could not get printer - possible error in profile."
     IDS_ERROR_STARTDOC  "Can not start print job."
     IDS_ERROR_GETCAPS   "Could not retrieve device information"
     IDS_TEST_JOBTITLE   "Windows Printer Driver Tests"

     IDS_INTRFACE_PROF   "Enter the Profile File-Name"
     IDS_INTRFACE_NAME   "Enter the Driver Description"
     IDS_INTRFACE_DRIV   "Enter the Device File-Name"
     IDS_INTRFACE_PORT   "Enter the Port"
     IDS_INTRFACE_ADD    "Add a new Profile to the test"
     IDS_INTRFACE_MOD    "Modify an existing Profile device-string"
     IDS_INTRFACE_REM    "Remove Profile from tests"
     IDS_INTRFACE_SET    "Bring up the printer setup dialog to setup profile"
     IDS_HEAD_TITLEPAGE  "Microsoft Windows Printer Driver Test Output"
     IDS_HEAD_PRINTAREA  "This is the printable area of this device"
     IDS_HEAD_PRINTAREA1 "2x2 inches"

     IDS_TEST_RAST_NO    "This device does not support RASTER capabilities"
     IDS_TEST_TEXT_STR1  "This is a sample text string."

     IDS_TST_HEAD_FUNC   "FuncSupp"
     IDS_TST_HEAD_GRAY   "GrayScal"
     IDS_TST_DSCR_TEXT   "TextTest"
     IDS_TST_DSCR_RAST   "RastTest"
     IDS_TST_DSCR_POLY   "PolyTest"
     IDS_TST_DSCR_WDTH   "CharWdth"
     IDS_TST_DSCR_CURV   "CurvTest"
     IDS_TST_DSCR_LINE   "LineTest"

     IDS_FOOT_TITLE      "Title Page"
     IDS_FOOT_ENTRY      "Driver Entry Points"
     IDS_FOOT_GRAY       "Gray Scale"
     IDS_FOOT_CAPS       "Device Capabilities"
     IDS_FOOT_FONT_DETAIL "Detailed Font Information"
     IDS_FOOT_FONT_SAMPLES "Font Samples"
     IDS_FOOT_PEN_INFO   "Index of Selected Pens"
     IDS_FOOT_PENS       "Pen Samples"
     IDS_FOOT_BRUSH_INFO "Index of Selected Brushes"
     IDS_FOOT_BRUSHES    "Brush Samples"
     IDS_FOOT_TEXT       "Text Test"
     IDS_FOOT_BITMAPS    "Raster Test"
     IDS_FOOT_POLYGONS   "Polygon Test"
     IDS_FOOT_CHARWIDTH  "Character Width/ANSI Conformity Test"
     IDS_FOOT_CURVES     "Curves Test"
     IDS_FOOT_LINES      "Lines Test"

     NULL                ""
END
