// Resource description for OLE user interface support

/////////////////////////////////////////////////////////////////////////////

AFX_IDD_LINKS DIALOG 45, 38, 292, 103
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Links"
BEGIN
	LISTBOX         AFX_IDC_LISTBOX, 2, 14, 240, 43, LBS_EXTENDEDSEL |
							WS_VSCROLL | WS_TABSTOP | LBS_USETABSTOPS |
							LBS_NOTIFY

	LTEXT           "Update:", -1, 3, 58, 44, 8, NOT WS_GROUP
	CONTROL         "Au&tomatic", AFX_IDC_AUTO, "button", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 31, 56, 46, 12
	CONTROL         "&Manual", AFX_IDC_MANUAL, "button", BS_AUTORADIOBUTTON | WS_TABSTOP, 78, 56, 42, 12

	PUSHBUTTON      "&Update Now", AFX_IDC_UPDATE, 40, 75, 48, 14
	PUSHBUTTON      "&Cancel Link", AFX_IDC_FREEZE, 98, 75, 45, 14
	PUSHBUTTON      "C&hange Link...", AFX_IDC_CHANGE, 153, 75, 52, 14
	PUSHBUTTON      "", AFX_IDC_VERB2, 254, 66, 32, 14, WS_GROUP
	PUSHBUTTON      "", AFX_IDC_VERB1, 254, 48, 32, 14
	PUSHBUTTON      "Done", IDOK, 254, 12, 32, 14, WS_GROUP
	
	/* No cancel since this is not undoable */
	/* PUSHBUTTON      "Cancel", IDCANCEL, 254, 30, 32, 14 */
	LTEXT           "&Links:", -1, 2, 4, 27, 8
END

/////////////////////////////////////////////////////////////////////////////

AFX_IDD_INSERTNEWOBJECT DIALOG LOADONCALL MOVEABLE DISCARDABLE 9, 26, 183, 62
CAPTION "Insert New Object"
STYLE WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_SYSMENU | WS_VISIBLE | WS_POPUP
BEGIN
	CONTROL "Object Type:", -1, "static", SS_LEFT | WS_CHILD, 7, 5, 123, 8
	CONTROL "", AFX_IDC_LISTBOX, "listbox", LBS_NOTIFY | LBS_STANDARD
		| WS_BORDER | WS_VSCROLL | WS_TABSTOP | WS_CHILD, 5, 15, 125, 41
	CONTROL "OK", IDOK, "button", BS_PUSHBUTTON | WS_TABSTOP | WS_CHILD, 140, 8, 35, 14
	CONTROL "Cancel", IDCANCEL, "button", BS_PUSHBUTTON | WS_TABSTOP | WS_CHILD, 140, 25, 35, 14
END

/////////////////////////////////////////////////////////////////////////////

// Error strings
STRINGTABLE DISCARDABLE
BEGIN
	AFX_ERROR_STATIC_OBJECT,        "Warning:  Static object unexpected."
	AFX_ERROR_FAILED_TO_CONNECT,    "Failed to connect;\nLink may be broken."
	AFX_ERROR_SERVER_BUSY,      "Unable to process command, server busy."
	AFX_ERROR_BAD_VERB,         "Failed to perform server operation."
	AFX_ERROR_MEMORY,           "Insufficient memory to perform operation."
END

// Other strings
STRINGTABLE DISCARDABLE
BEGIN
	AFX_IDS_OBJECT_MENUITEM,    "&Object"
	AFX_IDS_EDIT_VERB,          "Edit"
	AFX_IDS_ACTIVATE_VERB,      "Activate"
	AFX_IDS_CHANGE_LINK,        "Change Link"

	AFX_IDS_AUTO,               "Automatic"
	AFX_IDS_MANUAL,             "Manual"
	AFX_IDS_FROZEN,             "Canceled"

	AFX_IDS_ALL_FILES,          "All Files (*.*)|*.*||"
END

/////////////////////////////////////////////////////////////////////////////
