#include "style.h"

; Resource file for Terminal Emulator (TTY)

;-------------------------------------------------------
;
;   Cursors and Icons
;
1 DIALOG 35, 35, 206, 48
STYLE  WS_POPUP | WS_CAPTION | WS_VISIBLE
CAPTION ""
BEGIN
    RTEXT	"Parameters",  20,  4,  8,  40,  8
    EDITTEXT		       10, 48,	6, 154, 12
    DEFPUSHBUTTON  "OK"     ,  01, 87, 24,  32, 14
END

2 DIALOG 45, 45, 204,78
STYLE  WS_POPUP | WS_CAPTION | WS_VISIBLE
CAPTION "System Warning"
BEGIN
    LTEXT "Cannot find"                                 ,11,32, 8, 44,8
    LTEXT ""                                            ,10,80, 8,130,8
    LTEXT "Continue with standard defaults?"            ,20,32,16,180,8
    LTEXT "For information see Windows User's Guide:"   ,30,32,32,180,8
    LTEXT "Using Standard Applications"                 ,40,32,40,180,8
    ICON  32515 					,50, 8,20,  0,0

    DEFPUSHBUTTON  "Cancel" ,  01,126, 56,  32, 14, WS_GROUP
    PUSHBUTTON	   "OK"     ,  07, 47, 56,  32, 14
END

3 DIALOG 45, 45, 204,58
STYLE  WS_POPUP | WS_CAPTION | WS_VISIBLE
CAPTION "PIF Error"
BEGIN
    LTEXT "Program directly modified memory."           ,10,32, 8,180,8
    LTEXT "Cannot continue processing."                 ,20,32,16,180,8
    LTEXT "For information see Windows User's Guide:"   ,30,32,32,180,8
    LTEXT "Using Standard Applications"                 ,40,32,40,180,8
    ICON  32513 					,50, 8,20,  0,0
END

/*
 * Strings -- Preloaded strings start at 100h
 */


STRINGTABLE
BEGIN
/* errors */
    0x0001, "Need WINOLDAP files to run program"
    0x0002, "Cannot run with other applications"
    0x0003, "Initial directory not found"
    0x0004, "Application still active"
    0x0005, "Need more disk space"
    0x0008, "Not enough memory to run"                  /* Preloaded */
    0x0009, "Not enough memory for Clipboard"
    0x000A, "Cannot access PIF swap file"
    0x000B, "Bad EXE format encountered"
    0x000C, "Cannot swap to floppy"
    0x000D, "COM in use. Cannot swap Windows"
    0x8001, "COM1 is not available"
    0x8002, "COM2 is not available"
    0x8003, "COM1 and COM2 are not available"
/* menu items */

/* Bad Apps need identifiers that are legal within UpdateMenu */
/* These strings must be in OEM character set */
    0x0806, "&Restore"
    0x0807, "&Move"
    0x0808, "&Size"
    0x0809, "Mi&nimize"
    0x080A, "Ma&ximize"
    0x080C, "&Close"

/* Good apps use standard SC_ identifiers */
/* These strings must be in the ANSI character set */
    0xF120, "&Restore"
    0xF010, "&Move"
    0xF000, "&Size"
    0xF020, "Mi&nimize"
    0xF030, "Ma&ximize"
    0xF060, "&Close"

/* These can be the same for both good and bad apps */
/* These must be in the OEM character set */
/* These strings are converted to ANSI for good apps. */
/* Only characters that have a one to one mapping should be used */
    0x0802, "Mar&k"
    0x0803, "Cop&y"
    0x0804, "&Paste"
    0x0805, "Scro&ll"

/* title items (Cannot be more than 15 characters) */
/* These strings in OEM character set */
/* These strings are converted to ANSI for good apps */
    0x0101, "Mark"                                      /* Preloaded */
    0x0102, "Scroll"                                    /* Preloaded */
    0x0103, "Inactive"                                  /* Preloaded */

END

