/*
 *   Windows Calendar
 *   Copyright (c) 1985 by Microsoft Corporation, all rights reserved.
 *   Written by Mark L. Chamberlin, consultant to Microsoft.
 *
*/

/*
 *****
 ***** calendar.rc
 *****
*/

#define RESOURCE
#include "cal.h"

#define GRP	 WS_GROUP
#define TAB	 WS_TABSTOP
#define TABGRP	 WS_TABSTOP | WS_GROUP
#define DLGMODAL WS_POPUP | WS_DLGFRAME | WS_VISIBLE

1   ICON CAL.ICO
1   BITMAP ALARMBEL.BMP

1 MENU
BEGIN
     POPUP     "&File"
     BEGIN
          MENUITEM  "&New",IDCM_NEW
          MENUITEM  "&Open...",IDCM_OPEN
          MENUITEM  "&Save",IDCM_SAVE
          MENUITEM  "Save &As...",IDCM_SAVEAS
          MENUITEM  "&Print...",IDCM_PRINT
          MENUITEM  "&Remove...",IDCM_REMOVE
          MENUITEM  SEPARATOR
          MENUITEM  "E&xit",    IDCM_EXIT
          MENUITEM  "A&bout Calendar...", IDCM_ABOUT
     END
     POPUP     "&Edit"
     BEGIN
          MENUITEM  "Cu&t\tShift+Del",IDCM_CUT
          MENUITEM  "&Copy\tCtrl+Ins",IDCM_COPY
          MENUITEM  "&Paste\tShift+Ins",IDCM_PASTE

     END
     POPUP     "&View"
     BEGIN
          MENUITEM  "&Day",IDCM_DAY
          MENUITEM  "&Month",IDCM_MONTH
     END
     POPUP     "&Show"
     BEGIN
          MENUITEM  "&Today",IDCM_TODAY
          MENUITEM  "&Previous\tCtrl+PgUp",IDCM_PREVIOUS
          MENUITEM  "&Next\tCtrl+PgDn",IDCM_NEXT
          MENUITEM  "&Date...\tF4",IDCM_DATE
     END
     POPUP     "&Alarm"
     BEGIN
          MENUITEM  "&Set\tF5",IDCM_SET
          MENUITEM  "&Controls...",IDCM_CONTROLS
     END
     POPUP     "&Options"
     BEGIN
          MENUITEM  "&Mark\tF6",IDCM_MARK
          MENUITEM  "&Special Time...\tF7",IDCM_SPECIALTIME
          MENUITEM  "&Day Settings...",IDCM_DAYSETTINGS
     END
END


IDD_OPEN DIALOG LOADONCALL MOVEABLE DISCARDABLE 10, 10, 148, 116
STYLE WS_DLGFRAME | WS_VISIBLE | WS_POPUP
BEGIN
           CONTROL "Open File &Name:" -1, "static", SS_LEFT | WS_GROUP | WS_CHILD, 2, 4, 76, 10
           CONTROL "" IDCN_EDIT, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_BORDER | WS_GROUP | WS_TABSTOP | WS_CHILD, 2, 17, 100, 12
           CONTROL "&Files in" -1, "static", SS_LEFT | WS_GROUP | WS_CHILD, 2, 39, 38, 10
           CONTROL "" IDCN_LISTBOX, "listbox", LBS_NOTIFY | LBS_SORT | LBS_STANDARD | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP | WS_CHILD, 3, 53, 70, 57
           CONTROL "&Open" IDOK, "button", BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 88, 62, 50, 16
           CONTROL "Cancel" IDCANCEL, "button", BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 88, 87, 50, 16
           CONTROL "" IDCN_PATH, "static", SS_LEFT | SS_NOPREFIX | WS_GROUP | WS_CHILD, 44, 39, 98, 12
END


IDD_SAVEAS DIALOG LOADONCALL MOVEABLE DISCARDABLE 4, 8, 180, 53
STYLE WS_DLGFRAME | WS_VISIBLE | WS_POPUP
BEGIN
           CONTROL "Save File &Name As:" -1, "static", SS_LEFT | WS_GROUP | WS_CHILD, 6, 5, 85, 12
           CONTROL "" IDCN_EDIT, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_BORDER | WS_GROUP | WS_TABSTOP | WS_CHILD, 6, 19, 104, 12
           CONTROL "OK" IDOK, "button", BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 123, 19, 43, 14
           CONTROL "Cancel" IDCANCEL, "button", BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 123, 36, 43, 14
           CONTROL "" IDCN_PATH, "static", SS_LEFT | SS_NOPREFIX | WS_GROUP | WS_CHILD, 90, 5, 79, 12
END


IDD_PRINT DIALOG    20, 20, 124, 60, STYLE DLGMODAL
BEGIN
     LTEXT	    "Print Appointments", IDCN_IGNORE, 4, 8, 72, 8
     LTEXT          "&From:",IDCN_IGNORE, 4, 26, 20, 8
     EDITTEXT       IDCN_FROMDATE, 28, 24, 46, 12, TABGRP
     LTEXT          "&To:",IDCN_IGNORE, 4, 42, 12, 8
     EDITTEXT	    IDCN_TODATE, 28, 40, 46, 12, TABGRP
     DEFPUSHBUTTON  "OK", IDOK, 84, 23, 35, 14, TABGRP
     PUSHBUTTON     "Cancel", IDCANCEL, 84, 39, 35, 14, TABGRP
END

IDD_REMOVE DIALOG   20, 20, 124, 60, STYLE DLGMODAL
BEGIN
     LTEXT	    "Remove Appointments", IDCN_IGNORE, 4, 8, 76, 8
     LTEXT          "&From:",IDCN_IGNORE, 4, 26, 20, 8
     EDITTEXT       IDCN_FROMDATE, 28, 24, 46, 12, TABGRP
     LTEXT          "&To:",IDCN_IGNORE, 4, 42, 12, 8
     EDITTEXT	    IDCN_TODATE, 28, 40, 46, 12, TABGRP
     DEFPUSHBUTTON  "OK", IDOK, 84, 23, 35, 14, TABGRP
     PUSHBUTTON     "Cancel", IDCANCEL, 84, 39, 35, 14, TABGRP
END

IDD_DATE DIALOG     20, 20, 144, 44, STYLE DLGMODAL
BEGIN
     LTEXT          "&Show Date:",IDCN_IGNORE, 4, 10, 40, 8
     EDITTEXT	    IDCN_TODATE, 48, 8, 46, 12, TABGRP
     DEFPUSHBUTTON  "OK", IDOK, 104, 7, 35, 14, TABGRP
     PUSHBUTTON     "Cancel", IDCANCEL, 104, 24, 35, 14, TABGRP
END

IDD_CONTROLS DIALOG 20, 20, 154, 56, STYLE DLGMODAL
BEGIN
     LTEXT	    "Alarm Controls", IDCN_IGNORE, 4, 8, 56, 8
     LTEXT          "&Early Ring (0 - 10):",IDCN_IGNORE, 4, 24, 80, 8
     EDITTEXT	    IDCN_EARLYRING, 88, 22, 16, 12, TABGRP
     CHECKBOX       "&Sound", IDCN_SOUND, 4, 38, 32, 12, TABGRP
     DEFPUSHBUTTON  "OK", IDOK, 114, 21, 35, 14, TABGRP
     PUSHBUTTON     "Cancel", IDCANCEL, 114, 37, 35, 14, TABGRP
END

IDD_SPECIALTIME DIALOG 20, 20, 124, 44, STYLE DLGMODAL
BEGIN
     LTEXT          "&Special Time:", IDCN_IGNORE, 4, 8, 52, 8
     EDITTEXT	    IDCN_EDIT, 60, 7, 40, 12, TABGRP
     DEFPUSHBUTTON  "&Insert", IDCN_INSERT, 4, 24, 35, 16, TABGRP
     PUSHBUTTON     "&Delete", IDCN_DELETE, 44, 24, 35, 16, TABGRP
     PUSHBUTTON     "Cancel", IDCANCEL, 84, 24, 35, 16, TABGRP
END

IDD_DAYSETTINGS DIALOG 20, 20, 164, 72, STYLE DLGMODAL
BEGIN
     LTEXT	    "Day Settings", IDCN_IGNORE, 4, 8, 48, 8
     LTEXT          "&Interval",IDCN_IGNORE, 4, 24, 32, 8
     RADIOBUTTON    "15", IDCN_MIN15, 52, 22, 20, 12, TABGRP
     RADIOBUTTON    "30", IDCN_MIN30, 76, 22, 20, 12
     RADIOBUTTON    "60", IDCN_MIN60, 100, 22, 20, 12
     LTEXT          "&Hour Format",IDCN_IGNORE, 4, 40, 44, 8
     RADIOBUTTON    "12", IDCN_HOUR12, 52, 38, 20, 12, TABGRP
     RADIOBUTTON    "24", IDCN_HOUR24, 76, 38, 20, 12
     LTEXT          "&Starting Time:",IDCN_IGNORE, 4, 56, 56, 8
     EDITTEXT	    IDCN_STARTINGTIME, 64, 55, 40, 12, TABGRP
     DEFPUSHBUTTON  "OK", IDOK, 124, 40, 35, 14, TABGRP
     PUSHBUTTON     "Cancel", IDCANCEL, 124, 56, 35, 14, TABGRP
END

IDD_ABOUT DIALOG LOADONCALL MOVEABLE DISCARDABLE 21, 19, 182, 78
STYLE WS_DLGFRAME | WS_VISIBLE | WS_POPUP
BEGIN
           CONTROL "Microsoft Windows" DTNIL, "static", SS_CENTER | WS_CHILD, 0, 5, 182, 8
           CONTROL "Calendar" DTNIL, "static", SS_CENTER | WS_CHILD, 0, 15, 182, 8
           CONTROL "Version 2.1 " DTNIL, "static", SS_CENTER | WS_CHILD, 0, 35, 182, 8
           CONTROL "Copyright © 1988 Microsoft Corp." DTNIL, "static", SS_CENTER | WS_CHILD, 0, 47, 182, 9
           CONTROL "OK" IDOK, "button", BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 75, 59, 32, 14
           CONTROL "ÿ" DTNIL, "static", SS_ICON | WS_GROUP | WS_CHILD, 27, 13, 16, 21
END


#define LBS_ACKALARMS WS_VSCROLL | WS_BORDER
IDD_ACKALARMS DIALOG 20, 20, 208, 112, STYLE DLGMODAL
BEGIN
    LTEXT      "&Please remember...", IDCN_IGNORE, 22, 8, 72, 8
    DEFPUSHBUTTON   "OK", IDOK, 87, 90, 35, 14, TABGRP
    LISTBOX IDCN_LISTBOX, 4, 26, 200, 56, LBS_ACKALARMS | TABGRP
END

IDD_ABORTPRINT DIALOG 20, 20, 90, 64
STYLE WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Calendar"
BEGIN
   DEFPUSHBUTTON    "Cancel", IDCANCEL, 29, 44, 32, 14, WS_GROUP
   CTEXT	    "Sending", IDCN_IGNORE, 0, 8, 90, 8
   CTEXT	    "", IDCN_PATH, 0, 18, 90, 8
   CTEXT            "to printer.", IDCN_IGNORE, 0, 28, 90, 8
END

1 ACCELERATORS
BEGIN
     VK_PRIOR, IDCM_PREVIOUS, VIRTKEY, CONTROL
     VK_NEXT, IDCM_NEXT, VIRTKEY, CONTROL
     VK_F4, IDCM_DATE, VIRTKEY
     VK_F5, IDCM_SET, VIRTKEY
     VK_F6, IDCM_MARK, VIRTKEY
     VK_F7, IDCM_SPECIALTIME, VIRTKEY
     VK_INSERT, IDCM_COPY, VIRTKEY, CONTROL
/* Tandyt wants Ctrl+Home to goto start time
 * and Ctrl+End to goto start time + 12 hours.
 * 26-Mar-1987.
 */
     VK_HOME,   IDCM_START, VIRTKEY, CONTROL
     VK_END,    IDCM_START12, VIRTKEY, CONTROL
END


/* !!! WARNING - the total length of all the strings (including a zero
   byte terminator for each string) must not exceed CCHSTRINGSMAX, which
   is defined in CAL.H.  If it does, CalInit should detect the problem
   and prevent Calendar from running.  If this happens, CCHSTRINGS must
   be increased, and it may also be necessary to increase the initial
   heap size in CALENDAR.DEF too.
*/
STRINGTABLE
BEGIN
     /* Note to translators!!
	The following string (IDS_MERGE1) is the "merge spec" string.  It must
	be a unique TWO CHARACTER string that occurs in no other strings for
	this application.  In the strings that follow, every occurrence of the
	merge spec will be replaced with message specific string variables,
	such as filenames, dates, etc.	*/
     IDS_MERGE1    "%%"

     IDS_UNTITLED, "(untitled)"
     IDS_CALENDAR, "Calendar"
     IDS_BADDATE, "Date should look like %%"
     IDS_BADDATERANGE, "Improper range of dates."
     IDS_BADTIME, "Time should look like %%"
     IDS_NOCREATECHANGEFILE, "Cannot create change file - edits will not be recorded."
     IDS_NOCHANGEFILE, "No change file - edits are being discarded."
     IDS_ERRORWRITINGCHANGES, "Attempt to record edits failed."
     IDS_ERRORREADINGDATE, "Attempt to read date from file failed."
     IDS_TIMETOSAVE, "Change file is full - please do a Save."
     IDS_OUTOFMEMORY, "Not enough memory."
     IDS_RENAMEFAILED, "Can't rename new file - file is now called %%"
     IDS_SAVEFAILED, "Attempt to save file failed."
     IDS_DISKFULL, "Disk is full."
     IDS_FILEEXISTS, "Replace existing %%"
     IDS_SAVECHANGES, "Save current changes: %%"
     IDS_FILENOTFOUND, "File not found."
     IDS_NOTCALFILE, "Not a valid calendar file."
     IDS_CANNOTREADFILE, "Can't read calendar file."
     IDS_BADEARLYRING, "Improper early ring period."
     IDS_NOTSPECIALTIME, "Not a special time."
     IDS_NOSUCHTIME, "Specified time not found."
     IDS_TIMEALREADYINUSE, "Specified time already in use."
     IDS_CANNOTPRINT, "Cannot print %%"

     /* !!! WARNING - The length of this string must not exceed 50 bytes -
	49 characters + 1 terminating 0.
	If it is made longer than 50 bytes, CCHSZCALENDARDASH
	must be changed in CAL.H to correspond to the new length of the
	string.
     */
     IDS_CALENDARDASH, "Calendar - "
     /* !!! WARNING END */

     IDS_ABOUT, "About..."
     IDS_TOOMANYDATES, "Too many dates in use."
     IDS_DATEISFULL, "Date is full."
     IDS_TEXTTRUNCATED, "%%  Text truncated."
     IDS_GIVEMEORIGINAL, "original Calendar file"
     IDS_GIVEMECHANGEFILE, "Calendar change file"
     IDS_GIVEMENEW, "new Calendar file"

     IDS_BADFILENAME, "Not a valid filename %%"
     IDS_NEDSTP, "Not enough disk space to print "
     IDS_NEMTP, "Not enough memory to print "
     IDS_ALARMSYNC, "System clock has been changed, adjusting next alarm."
     IDS_NOTIMER, "Too many clocks or timers."
     IDS_DATERANGE, "Date must be in range of 1980 to 2099."
     IDS_DATESUBRANGE, "Day or month field too large."
     IDS_TIMESUBRANGE, "Hours or minutes field too large."
     IDS_NOCREATE, "Cannot create %%"
     IDS_FILEEXTENSION, "CAL"

/*** Time/Date strings */

    /* Month names */
    IDS_MONTHS+0, "January"
    IDS_MONTHS+1, "February"
    IDS_MONTHS+2, "March"
    IDS_MONTHS+3, "April"
    IDS_MONTHS+4, "May"
    IDS_MONTHS+5, "June"
    IDS_MONTHS+6, "July"
    IDS_MONTHS+7, "August"
    IDS_MONTHS+8, "September"
    IDS_MONTHS+9, "October"
    IDS_MONTHS+10,"November"
    IDS_MONTHS+11,"December"

    /* Days of the week */
    IDS_DAYSOFWEEK+0, "Sunday"
    IDS_DAYSOFWEEK+1, "Monday"
    IDS_DAYSOFWEEK+2, "Tuesday"
    IDS_DAYSOFWEEK+3, "Wednesday"
    IDS_DAYSOFWEEK+4, "Thursday"
    IDS_DAYSOFWEEK+5, "Friday"
    IDS_DAYSOFWEEK+6, "Saturday"

    /* Day of week headers for month mode */
    IDS_DAYABBREVS+0, "S"
    IDS_DAYABBREVS+1, "M"
    IDS_DAYABBREVS+2, "T"
    IDS_DAYABBREVS+3, "W"
    IDS_DAYABBREVS+4, "T"
    IDS_DAYABBREVS+5, "F"
    IDS_DAYABBREVS+6, "S"

#ifdef DISABLE	    /* no longer used */
    /* long date form separator strings */
    IDS_SEPSTRINGS+0,  ""
    IDS_SEPSTRINGS+1,  ", "
    IDS_SEPSTRINGS+2,  " "
    IDS_SEPSTRINGS+3,  ", "
    IDS_SEPSTRINGS+4,  ""
#endif

/*** End of Time/Date strings */
END
/* !!! WARNING END */
