

/* STYLEs for new Membership pages, IE3, WIP */

BODY  { font-size: 70%; font-family:verdana,arial,helvetica,sans-serif }

DIV.clsDocBody,
DIV.clsFooter  {
margin-left:10px;
margin-right:10px;
font-family:verdana,arial,helvetica,sans-serif
}

A:link { color:#003399 }
A:visited { color:#6699CC }
A:active { color:#003399 }

A.clsIncCpyRt {
color:#000000;
font-size:65%;
text-decoration:none;
}

A.clsBackTop,
A.clsBackTop:visited {
margin-top:10; margin-bottom:0;
padding-bottom:0;
font-size:70%;
color:black;
}

P {margin-top:0; margin-bottom:1.5em}

P.clsRef {
font-weight:bold;
margin-top:12pt; margin-bottom:0em;
}

PRE {
background:#EEEEEE;
margin-top:1em; margin-bottom:1em; margin-left:0px;
padding:5pt;
}

PRE.clsSyntax { font-size:100%; font-family:verdana,arial,helvetica,sans-serif; }

PRE.clsCode, PRE.clsText { font-size: 85% }

H1 { font-size:55%; font-weight:normal }
H2 { font-size: 65%; }
H3 { font-size: 75%; }
H4 { font-size: 80%; }
H5 { font-size: 90%; }
H6 { font-size: 115%; }

H2.clsBlue { color:#336699 }

H2.clsOsigHead {
font-family:arial, helvetica, sans-serif;
font-size:125%;
margin-top:1em; margin-bottom:0em;
color:#3366CC;
}

TABLE.clsNavTbl TH,
TABLE.clsNavTbl TD {
font-size:65%;
font-family:verdana,arial,helvetica,sans-serif
}

TABLE.clsTblHomeLeft A {
color:#003399;
font-size:65%;
font-family:verdana,arial,helvetica,sans-serif;
}

TABLE.clsStd TH,
BLOCKQUOTE TH {
font-size:68%;
text-align:left; vertical-align:top;
background:#DDDDDD;
padding:2px;
}

TABLE.clsStd TD,
BLOCKQUOTE TD {
font-size:68%;
vertical-align:top;
background:#EEEEEE;
padding:2px;
}

TABLE.clsParamVls,
TABLE.clsParamVls TD { padding-left:2pt; padding-right:2pt; }


UL, OL { margin-left:-13pt; margin-top:-5pt; margin-bottom:5pt; font-size:70%; }

UL LI, OL LI { margin-top:5pt; }

/*** DOCTOP ***/

DIV.clsNavLinksDiv { margin-left:10px; }

#tblNavLinks A {
color:black;
text-decoration:none;
}

#lnkShowText, #lnkSyncText, #lnkSearchText, #lnkIndexText { font-size:8pt; font-weight:bold; }
#lnkPrevText, #lnkNextText, #lnkUpText { font-size:7.5pt; font-weight:normal; }

DIV.clsBucketBranch {
margin-left:10px;
font-style:italic;
font-family: verdana,arial,helvetica,sans-serif;
}

DIV.clsBucketBranch A,
DIV.clsBucketBranch A:link,
DIV.clsBucketBranch A:active,
DIV.clsBucketBranch A:visited { text-decoration:none; color:black; }


/*** Voices Styles ***/

DIV.clsVoicesBody { margin-left:10px; margin-right:10px }
TABLE.clsVoicesHead { margin-top:4px }

TD.clsCategory {
font-size: 65%;
font-weight: bold;
font-family: verdana,arial,helvetica,sans-serif
}

TD.clsArchiveTD {
padding-left:20px;
padding-top:20px;
font-size: 68%;
font-family: verdana,arial,helvetica,sans-serif
}

H3.clsVoicesHead { font-size: 70% }

TD.clsStoryTD, TH.clsStoryTD { padding-top: 4px; font-size: 70% }
DIV.clsByLine { font-size: 70% }
SPAN.clsPubDate, TD.clsPubDate, P.clsPubDate { color: #999999 }
TD.clsPubDate { padding-top: 4px }

/*** MINI PORTAL ***/
/*** no styles currently warranted**/

/*** Voices Archives ***/

TABLE.clsCatItems { margin-top: 5px }
TABLE.clsCatItems P {margin-top:0; margin-bottom:0 }
TABLE.clsCatItems H3 { margin-top:0.1em; margin-bottom:0.25em }

/*** Voices Body Styles ***/

P.clsPostDate {
color:#0099FF;
}

DIV.clsPullQuote, DIV.clsPullQuote HR {
font-style:italic;
padding-bottom:.5em;
color:#006633;
}

SPAN.clsLeftNavDot { color:red; font-weight:normal; font-size:80%; }

/*** GLOSSARY ***/

/* I'll see if I can't get rid of some of these
   styles, or make them more universal **/

UL.clsShowHide { margin-left: 0px; }
UL.clsShowHide LI { padding-top: 8px }
DIV.clsHide { font-weight: normal; padding-top: 4px; padding-bottom: 8px; }
UL.clsShowHide LI A:visited { color: #003399; }

TD.clsBigNav A:visited { color: #003399; }
TD.clsBigNav { font-size: 200%; padding-left: 6px; cursor: hand; }
TD.clsBigNavSel { font-size: 200%; padding-left: 10px; }

LI { font-family: verdana,arial,helvetica,sans-serif }


/*** INDEX-SPECIFIC ***/

A.clsDisabled {
text-decoration:none;
color:black;
}

SPAN.clsAccess { text-decoration:underline; }

TABLE.clsIndex {
padding-left:2pt; padding-right:2pt;
margin-top: 17pt;
}

TABLE.clsIndex TD {
margin:3pt;
background:#EEEEEE;
}

TR.clsEntry { vertical-align:top; }

TABLE.clsIndex TD.clsLetters {
background:#CCCCCC;
text-align:middle;
}

TD.clsMainHead {
background:#FFFFFF;
vertical-align:top;
font-size:145%; font-weight:bold;
margin-top:1.35em; margin-bottom:.5em;
}

UL.clsIndex { margin-left:20pt; margin-top:0pt; margin-bottom:5pt; }

LI OL, LI UL { padding-bottom: 1.5em }

/*** INETSDK-SPECIFIC STYLES ***/

A.clsLeftMenu,
A.clsLeftMenu:visited {
color:#000000;
text-decoration:none;
font-weight:bold; font-size:80%;
font-family:verdana,helvetica,arial,sans-serif;
}

DIV.clsBeta {
font-family:verdana,helvetica,arial,sans-serif; font-size:75%;
font-weight:bold;
color:red;
margin-top:0.5em; margin-bottom:0.5em;
}

DIV.clsHi
{
    padding-left:2em;
    text-indent:-2em;
}

SPAN.clsRange, TD.clsRange { font-style:italic; } /* OK */

DIV.clsShowme { margin-bottom:.5em; margin-top:.5em; } /* OK */

SPAN.clsDefValue, TD.clsDefValue { font-weight:bold; font-family:'courier new'; font-size: 85%; }

SPAN.clsLiteral, TD.clsLiteral { font-family:'courier new'; } /* OK */

SPAN.clsEntryText {
font-family:verdana,helvetica,arial,sans-serif;
line-height:14pt;
font-size:10pt;
}

SPAN.clsHeading {
color:#00319C;
font-family:verdana,helvetica,arial,sans-serif;
font-size:11pt; font-weight:bold;
}

