

DIV.clsDocBody, TD, TH, BLOCKQUOTE { font-family:verdana,arial,helvetica,sans-serif } /*special addition for Nav ;P */

DIV.clsDocBody,
DIV.clsFooter  { margin-left:10px; margin-right:10px; }
DIV.clsFooter {font-family: verdana,arial,helvetica,sans-serif }

A:link { color:#0028DE; text-decoration:none; }
A:visited { color:#6699CC; }
A:active { color:#003399; }
A:hover { text-decoration:underline; }

A.clsIncCpyRt { color:#000000; font-size:95%; }
A.clsIncCpyRt:hover { color:#003399; }

A.clsBackTop,
A.clsBackTop:visited {
margin-top:10; margin-bottom:0;
padding-bottom:0;
font-size:90%;
color:black;
}
A.clsBackTop:hover { color:#003399 }

P { }

P.clsRef {
font-weight:bold;
margin-top:12pt; margin-bottom:0em;
}

PRE {
background:#EEEEEE;
margin-top:1em; margin-bottom:1em; margin-left:0px;
padding:5pt
}

PRE.clsCode, PRE.clsText { font-family:'courier new',courier,serif }

PRE.clsSyntax { font-family: verdana,arial,helvetica,sans-serif }

H1, H2, H3 {
font-family:verdana,helvetica,arial,sans-serif;
margin-top:0px; margin-bottom:0px;
}

H1 {
font-size:150%; font-weight: normal;
}

H2 {
font-size:130%;
margin-top:0px; margin-bottom:1em;
}

H2.clsOsigHead {
font-size:110%;
margin-top:1em; margin-bottom:0em;
color:#3366CC;
}

H2.clsBlue { color:#336699 }

H3 {
font-size:100%;
font-family:verdana,helvetica,arial,sans-serif;
margin-bottom:0.5em; margin-top:0.5em;
}

H4, H5, H6 {
font-size:85%;
font-family:verdana,helvetica,arial,sans-serif;
margin-bottom:0.5em; margin-top:0.5em;
}

.clsLeftNavDot, .clsLND { font-weight:normal; color:red; }

TABLE.clsNavTbl TH,
TABLE.clsNavTbl TD { font-size:75%; }

TABLE.clsTblHomeLeft A,
TABLE.clsTblHomeLeft A:visited,
TABLE.clsTblHomeLeft A:hover {
font-size:75%;
color:#003399;
}

TABLE.clsStd TH,
BLOCKQUOTE TH {
font-size:100%;
text-align:left; vertical-align:top;
background-color:#DDD;
padding:2px;
}

TABLE.clsStd TD,
BLOCKQUOTE TD {
font-size:100%;
vertical-align:top;
background-color:#EEE;
padding:2px;
}

TABLE.clsParamVls,
TABLE.clsParamVls TD { padding-left:2pt; padding-right:2pt; }

UL { margin-left:17px; margin-top:10px; margin-bottom:10px; }

UL.clsBltBlu { list-style-image:url(/msdn-online/shared/graphics/bulletblue.gif); }

UL.clsBltRed { list-style-image:url(/msdn-online/shared/graphics/bulletred.gif) }

OL { margin-left:25px; margin-top:10px; margin-bottom:10px; }

UL LI LI { list-style-type: disc; }

/*** DOCTOP ***/

DIV.clsNavLinksDiv { margin-left:10px; margin-bottom:0px; }

#tblNavLinks A {
color:black;
text-decoration:none;
font-family:verdana,arial,helvetica,sans-serif;
}

#lnkShowText, #lnkSyncText, #lnkSearchText, #lnkIndexText { font-weight:bold; font-size: 10pt; }
#lnkPrevText, #lnkNextText, #lnkUpText { font-size:10pt; font-weight:normal; }

 DIV.clsBucketBranch {
  margin:10px;
  font:italic 100% verdana,arial,helvetica,sans-serif;
 }

 DIV.clsBucketBranch A,
 DIV.clsBucketBranch A:link,
 DIV.clsBucketBranch A:active,
 DIV.clsBucketBranch A:visited { text-decoration:none; color:#000000; }
 DIV.clsBucketBranch A:hover { text-decoration:underline }


/*** GLOSSARY ***/

/* I'll see if I can't get rid of some of these
   styles, or make them more universal **/

UL.clsShowHide { margin-left: 0px; }
UL.clsShowHide LI { padding-top: 8px }
DIV.clsHide { font-weight: normal; padding-top: 4px; padding-bottom: 8px; }

TD.clsBigNav A:visited { color: #003399; }
TD.clsBigNav { font-size: 150%; padding-left: 6px; cursor: hand; }
TD.clsBigNavSel { font-size: 150%; padding-left: 10px; }

LI { font-family: verdana,arial,helvetica,sans-serif }


/*** Voices Styles ***/

DIV.clsVoicesBody { margin-left:10px; margin-right:10px }
TABLE.clsVoicesHead { margin-top:4px }


TD.clsCategory { font-size:75%; font-weight: bold }

TD.clsArchiveTD { padding-left:10px; padding-top:10px }
TD.clsArchiveTD A { font-size: 85% }

H3.clsVoicesHead {
 padding-top:3px;
 font-size: 100%;
 line-height: 120%;
 margin-bottom:1em
}

TD.clsStoryTD, TH.clsStoryTD { padding-top: 4px; padding-right:4px }
DIV.clsByLine { font-size: 75%; line-height: 90%; padding-top: 4px; }
SPAN.clsPubdate, TD.clsPubDate, P.clsPubDate { color: #999999 }
TD.clsPubDate { padding-top: 4px }

TABLE.clsCatItems { margin-top: 5px }
TABLE.clsCatItems P {margin-top:0; margin-bottom:0 }

P.clsPostDate {
font-size:75%;
color:#0099FF;
}

DIV.clsPullQuote {
font-size: 110%;
font-style:italic;
line-height: 120%;
color: #006633;
}

/*** MINI PORTAL***/
TD.clsNewsItemTD { padding-top: 4px; }

/*** SDK, IE4 ONLY ***/

DIV.clsExpanded, A.clsExpanded { display:inline; color:black; }
DIV.clsCollapsed, A.clsCollapsed { display:none; }
SPAN.clsPropattr { font-weight:bold; }

#pStyles,#pCode, #pSyntax, #pEvents, #pStyles {display:none; text-decoration:underline; cursor:hand; }


/*** INDEX-SPECIFIC ***/

A.clsDisabled {
text-decoration:none;
color:black;
}

SPAN.clsAccess { text-decoration:underline; }

TABLE.clsIndex {
padding-left:2pt; padding-right:2pt;
margin-top: 17pt;
}

TABLE.clsIndex TD {
margin:3pt;
background-color:#EEEEEE;
}

TR.clsEntry { vertical-align:top; }

TABLE.clsIndex TD.clsLetters {
background-color:#CCCCCC;
text-align:middle;
}

TD.clsMainHead {
background-color:#FFFFFF;
vertical-align:top;
font-size:145%; font-weight:bold;
margin-top:1.35em; margin-bottom:.5em;
}

UL.clsIndex { margin-left:20pt; margin-top:0pt; margin-bottom:5pt; }

LI OL, LI UL { padding-bottom: 1.5em }

/*** INETSDK-SPECIFIC STYLES ***/

A.clsLeftMenu,
A.clsLeftMenu:visited {
color:#000000;
text-decoration:none;
font-weight:bold; font-size:80%;
font-family:verdana,helvetica,arial,sans-serif;
}

DIV.clsBeta {
font-family:verdana,helvetica,arial,sans-serif; font-size:75%;
font-weight:bold;
color:red;
margin-top:0.5em; margin-bottom:0.5em;
}

DIV.clsHi
{
    padding-left:2em;
    text-indent:-2em;
}

SPAN.clsRange, TD.clsRange { font-style:italic; } /* OK */

DIV.clsShowme { margin-bottom:.5em; margin-top:.5em; } /* OK */

SPAN.clsDefValue, TD.clsDefValue { font-weight:bold; font-family:'courier new'; font-size: 85%; }

SPAN.clsLiteral, TD.clsLiteral { font-family:'courier new'; } /* OK */

SPAN.clsEntryText {
font-family:verdana,helvetica,arial,sans-serif;
line-height:14pt;
font-size:10pt;
}

SPAN.clsHeading {
color:#00319C;
font-family:verdana,helvetica,arial,sans-serif;
font-size:11pt; font-weight:bold;
}


/*** TB2 OVERRIDE

#idTBGlobal, #idTBLocal { font-size:9pt; }
#idToolbar A:hover { text-decoration:none; }

***/
