
TABLE#tblSiteMap TH FONT { 
font-family:verdana, arial, helvetica, sans-serif; font-size:85%; 
}
TABLE#tblSiteMap TD FONT { 
font-family:verdana,arial, helvetica, sans-serif; font-size:90%; color:navy; 
line-height:100%; border:1 solid black;
}
TABLE#tblSiteMap TD.clsSiteGuideInfo FONT { 
line-height:150%; 
}
TABLE#tblSiteMap TD FONT B { color:black; }
TABLE#tblSiteMap TD A { 
color:navy; text-decoration:none; 
}
TABLE#tblSiteMap TD A:hover { 
color:navy; text-decoration:underline; 
}
DIV.clsSiteMapHeadB { background-color:#99CCFF; text-align:center; padding:1px; }
DIV.clsSiteMapHeadG { background-color:#99CC99; text-align:center;  padding:1px; }

