
/* TOC-IE4MAC.CSS */

/*
a.clsTOCHeading {
line-height=120%;
color: black;
text-decoration: none; 
cursor: hand;
}

a.clsTOCItem {
color: black;
text-decoration: none;
}

a.clsTOCHeading:hover { color: red; }

a.clsTOCItem:hover { color: red; }

a.clsTOCItemSelect { 
font-weight: bold;
color: black;
text-decoration: none; 
}

body {
font-family: verdana, arial, helvetica, sans-serif;
color: #000000; 
}

ul {margin-left:-18px; margin-top:0px; margin-bottom: 0px}
ul ul li {margin-left:-19px; margin-top: .3em;}

.noexpand {list-style-image: url('/workshop/graphics/bluenone.gif')}
.clsNoExpand { list-style-image:url('/workshop/graphics/bluenone.gif'); }

.clsShowHide { list-style-image:url('/workshop/graphics/blueplus.gif'); cursor:hand; }

.clsItemsHide  { display:none; }
.clsItemsShow  { list-style-image: url('/workshop/graphics/arrowstop.gif')}

.clsBucketName  {
margin-left: 5px;
font-size: 12pt;
color:#000000;
text-decoration: none;
}
*/
