
/* TOC-IE4.CSS */

A.clsTocHeading { color:black; text-decoration:none; }
A.clsTocHeading:hover { color:red; }

A.clsTocItem { color: black; text-decoration: none; }
A.clsTocItem:hover { color: red; }

A.clsTocItemSelect { font-weight:bold; color:black; text-decoration:none; }
A.clsTocItemSelect:hover { color:black; }

BODY { font-family:verdana, arial, helvetica, sans-serif; color: #000000; }

UL { margin-left:24px; margin-top:0px; margin-bottom:2px; }

UL UL LI {margin-left:-24px; margin-top:0.1em; }  

.noexpand { list-style-image: url('/msdn-online/shared/graphics/solid.gif'); }
.clsNoExpand { list-style-image: url('/msdn-online/shared/graphics/solid.gif'); }

.clsShowHide {list-style-image:url('/msdn-online/shared/graphics/plus.gif'); cursor: hand; }
.clsShowHideShowing { list-style-image:url('/msdn-online/shared/graphics/minus.gif'); cursor: hand; }
UL.clsItemsShow { list-style-image:url('/msdn-online/shared/graphics/arrowstop.gif'); }
UL.clsItemsHide { display:none; }

.clsStyleCheck  { margin-left:15px; margin-top:5px; }
.clsStyleText  { margin-left:34px; margin-top:-16px; font-size:10px; cursor:default; }

UL.clsTocState { behavior:url('/msdn-online/shared/htc/tocstate.htc'); }