<HTML>
<HEAD><TITLE>DirectAnimation VBScript SDK Sample</TITLE>
<SCRIPT LANGUAGE="JScript">
<!--
if (window.top.frames.length!=0 && window.top.frames[0].ShowNoButtons!=null)
    window.top.frames[0].ShowNoButtons();
//-->
</SCRIPT>
</HEAD>
<BODY BGCOLOR=white>
<CENTER>
<font face="Verdana" color=blue size=+3><B>Animated properties in VBScript</B></font>
</CENTER>
<font face="Arial" size="+3">
<DIV ID="DropWave1" STYLE="position:absolute; width:300; top:100; filter:shadow(direction=315,enabled=1)">
This is a div using an animated string
</DIV>

<DIV ID="DropWave2" STYLE="position:absolute; width:300; top:200; filter:shadow(direction=315,enabled=1)">
This is a div using an animated number
</DIV>

<DIV ID="DropWave3" STYLE="position:absolute; width:300; top:300; filter:shadow(direction=315,enabled=1)">
This is a div using function callbacks
</DIV>
</font>

<DIV STYLE="position:absolute; left:400; top:100; width:300;">
<font face="Verdana" color=blue size=+1>
Behaviors don't just have to be used for multimedia elements, they can also be used to create a value 
which constantly updates a dynamic HTML property.  Time varying strings, numbers, and function callbacks 
are demonstrated here.</font>
</DIV>

<OBJECT ID="DAControl"
  STYLE="position:absolute; width:1; height:1" 
  CLASSID="CLSID:B6FFC24C-7E13-11D0-9B47-00C04FC2F51D">
</OBJECT>

<SCRIPT LANGUAGE="VBScript">
<!--
  ' The DirectAnimation library
  Set m = DAControl.MeterLibrary  

  Set filterStr = m.ConcatString(m.DAString("shadow(direction="), getNumber().ToString(0))
  Set filterStr = m.ConcatString(filterStr, m.DAString(")"))

  ' Using a DAString we can build strings which have time varying elements
  Set filterStr = filterStr.AnimateProperty("DropWave1.style.filter", "VBScript", false, .1)
  Call DAControl.AddBehaviorToRun(filterStr)

  ' Using a DANumber we can build a property which changes over time
  Set filterVal = getNumber().AnimateProperty("DropWave2.filters(0).direction", "VBScript", false, .1)
  Call DAControl.AddBehaviorToRun(filterVal)

  ' The AnimateProperty method also allows us to call an arbitrary function instead
  Set filterMethod = getNumber().AnimateProperty("setFilter", "VBScript", true, .1)
  Call DAControl.AddBehaviorToRun(filterMethod)

  DAControl.Start

  sub setFilter(val)  ' callback for third animateProperty method
    DropWave3.filters(0).direction = val
  end sub

  function getNumber   ' Makes some randomized time varying number
   Set getNumber = m.Sequence(m.DANumber(0).Duration(2), m.Interpolate(0,360,1)).RepeatForever()  
  end function
'-->
</SCRIPT>
</BODY>
</HTML>
