<HTML>
<HEAD>
<TITLE>DirectAnimation SDK, Java sample</TITLE>
<SCRIPT LANGUAGE="JScript">
<!--
if (window.top.frames.length!=0 && window.top.frames[0].ShowNoButtons!=null)
    window.top.frames[0].ShowNoButtons();
//-->
</SCRIPT>
</HEAD>
<BODY BGCOLOR=Black TEXT=White LINK="#0033CC" TOPMARGIN=15 LEFTMARGIN=20>
<FONT FACE="Verdana, Arial, Helvetica" SIZE=3>

<CENTER>
<P><FONT SIZE=4>Asynchronous Loading</FONT></P>
This demo makes use of Asynchronous importation APIs to mask
load time.  Here, the sample plays an opening animation until the
media is loaded.
<P>

<APPLET CODEBASE="..\..\..\..\Media\" CODE=AsyncApplet.class WIDTH=500 HEIGHT=500>
</APPLET>
<P> For a short tutorial on this sample click this button: 
<A HREF="Async_Load\Section1.html" TARGET="_blank"><IMG HEIGHT="44" WIDTH="44" ALT="Tutorial" ALIGN=MIDDLE SRC="..\..\..\..\Media\image\info.gif"></A>
<P>
<A HREF="Async_Load\AsyncApplet.java">View Java Source Code</A>

</CENTER>
</FONT>
</BODY>
</HTML>
