<HTML>
<HEAD>
<TITLE>DirectAnimation SDK, Java sample</TITLE>
<SCRIPT LANGUAGE="JScript">
<!--
if (window.top.frames.length!=0 && window.top.frames[0].ShowNoButtons!=null)
    window.top.frames[0].ShowNoButtons();
//-->
</SCRIPT>
</HEAD>

<BODY BGCOLOR=WHITE LINK="#0033CC" TOPMARGIN=15 LEFTMARGIN=20>
<FONT FACE="Verdana, Arial, Helvetica" SIZE=2>
<CENTER>
<H1>GeoApplet2</H1>
</CENTER>
<APPLET CODEBASE="..\..\..\..\Media\" CODE="GeoApplet2.class" WIDTH=200 HEIGHT=200 ALIGN=LEFT VSPACE=20 HSPACE=20>
</APPLET>
<P>
This applet constructs a spinning cube to fit in the view window.
Unlike GeoApplet1, which uses time-varying behaviors
for the rotation angles of the spinning cube, this applet uses switchers
to control these parameters. It also explicitly controls the sampling
and rendering of the model by overriding the tick() method. The applet sets the
frame rate to 5 frames per second.
<P> For a short tutorial on this sample click this button: 
<A HREF="GeoApplet2\Section1.html" TARGET="_blank"><IMG HEIGHT="44" WIDTH="44" ALT="Tutorial" ALIGN=MIDDLE SRC="..\..\..\..\Media\image\info.gif"></A>
<P>
<A HREF="GeoApplet2\GeoApplet2.java">View Java Source Code</A>
<HR>
</FONT>
</BODY>
</HTML>
