<HTML>
<HEAD>
<TITLE>DirectAnimation SDK, Java sample</TITLE>
<SCRIPT LANGUAGE="JScript">
<!--
if (window.top.frames.length!=0 && window.top.frames[0].ShowNoButtons!=null)
    window.top.frames[0].ShowNoButtons();
//-->
</SCRIPT>
</HEAD>
 
<BODY BGCOLOR=WHITE LINK="#0033CC" TOPMARGIN=15 LEFTMARGIN=20>
<FONT FACE="Verdana, Arial, Helvetica" SIZE=2>
<CENTER>
<H1>Video Playback</H1>
</CENTER>
<APPLET CODEBASE="..\..\..\..\Media\" CODE="VCR.class" WIDTH=500 HEIGHT=400 ALIGN=LEFT VSPACE=20 HSPACE=20></APPLET>
<P>
This applet uses AWT UI controls to control the rate of a video playback. Click on the various AWT buttons to pause, restart, fast forward, or fast
reverse. Click on the pause button a second time to un-pause the playback.
You can also use the scrollbar to control the rate at a finer level.
</P>
<P> For a short tutorial on this sample click this button: 
<A HREF="VCR\Section1.html" TARGET="_blank"><IMG HEIGHT="44" WIDTH="44" ALT="Tutorial" ALIGN=MIDDLE SRC="..\..\..\..\Media\image\info.gif"></A>
<P>
<A HREF="VCR\VCR.java">View Java Source Code</A>
<HR>
</FONT>
</BODY>
</HTML>
