/***************************************************************************\
*
* Module Name: HMTAILOR.RC
*
* OS/2 Information Presentation Facility (IPF)
* to tailor the IPF application action bar.
*
* Copyright (c) International Business Machines Corporation 1989
* Copyright (c) Microsoft Corporation 1989
*
*****************************************************************************/

#include "hmtailor.h"

MENU IDM_HM_MENU  PRELOAD
BEGIN
    SUBMENU  "Ser~vices",                       IDM_FILE
       BEGIN
	  MENUITEM   "~Search...\tCtrl+S",      IDM_SEARCH
	  MENUITEM   "~Print...",               IDM_PRINT
	  MENUITEM   "",                        -1,   MIS_SEPARATOR
	  MENUITEM   "C~opy\tCtrl+Ins",         IDM_CLIP_COPY
	  MENUITEM   "",                        -1,   MIS_SEPARATOR
	  MENUITEM   "~Copy to file\tCtrl+F",   IDM_CLIP_CF
	  MENUITEM   "~Append to file\tCtrl+A", IDM_CLIP_AF
       END

    SUBMENU  "~Options",       IDM_OPTIONS
       BEGIN
	  MENUITEM   "E~xpand one level\t+",    IDM_OPTION_EXPLEVEL
	  MENUITEM   "Expand ~branch\t*",       IDM_OPTION_EXPBRANCH
	  MENUITEM   "Expand ~all\tCtrl+*",     IDM_OPTION_EXPALL
	  MENUITEM   "~Collapse branch\t-",     IDM_OPTION_COLBRANCH
	  MENUITEM   "C~ollapse all\tCtrl+-",   IDM_OPTION_COLALL
	  MENUITEM   "",                        -1,   MIS_SEPARATOR
	  MENUITEM   "Con~tents\tCtrl+C",       IDM_TOC
	  MENUITEM   "",                        -1,   MIS_SEPARATOR
	  MENUITEM   "~Viewed pages\tCtrl+H",   IDM_VIEWPAGES
	  MENUITEM   "",                        -1,   MIS_SEPARATOR
	  MENUITEM   "~Previous\tEsc",          IDM_PREVIOUS
       END

    SUBMENU  "~Help",       IDM_HELP
       BEGIN
	MENUITEM   "~Help for help...\tShift+F10",        IDM_HELPHELP
	MENUITEM   "~Extended help...\tF2",               IDM_HELP_EXTENDED
	MENUITEM   "~Keys help...\tF9",                   IDM_HELP_KEYS
	MENUITEM   "Help ~index...\tF11",                 IDM_HELP_INDEX
       END

END


/*************************************************************************/
/* IPF accelerator table						 */
/*************************************************************************/
ACCELTABLE IDA_COVERPAGE_HM_ACCEL
BEGIN

   VK_INSERT,  IDM_CLIP_COPY, VIRTUALKEY, CONTROL
   "s",        IDM_SEARCH, CHAR, CONTROL
   "c",        IDM_TOC, CHAR, CONTROL
   "h",        IDM_VIEWPAGES, CHAR, CONTROL
   "f",        IDM_CLIP_CF, CHAR, CONTROL
   "a",        IDM_CLIP_AF, CHAR, CONTROL

   "S",        IDM_SEARCH, CHAR, CONTROL
   "C",        IDM_TOC, CHAR, CONTROL
   "H",        IDM_VIEWPAGES, CHAR, CONTROL
   "F",        IDM_CLIP_CF, CHAR, CONTROL
   "A",        IDM_CLIP_AF, CHAR, CONTROL

   VK_F10,     IDM_HELPHELP, VIRTUALKEY, SHIFT
   VK_F2,      IDM_HELP_EXTENDED, VIRTUALKEY
   VK_F9,      IDM_HELP_KEYS, VIRTUALKEY
   VK_F11,     IDM_HELP_INDEX, VIRTUALKEY
   VK_F1,      IDM_HELP_INDEX, VIRTUALKEY, SHIFT
   VK_F2,      IDM_TUTORIAL, VIRTUALKEY, SHIFT
END

