

#define    NOGDICAPMASKS
#define    NOWINMESSAGES
#define    NOSYSMETRICS
#define    NOMENUS
#define    NOICON
#define    NOKEYSTATE
#define    NOSYSCOMMANDS
#define    NORASTEROPS
#define    NOSHOWWINDOW
#define    NOSYSMETRICS
#define    NOATOM
#define    NOBITMAP
#define    NOBRUSH
#define    NOCLIPBOARD
#define    NOCREATESTRUCT
#define    NODRAWTEXT
#define    NOFONT
#define    NOGDI
#define    NOHDC
#define    NOMB
#define    NOMEMMGR
#define    NOMENUS
#define    NOMETAFILE
#define    NOMINMAX
#define    NOMSG
#define    NOOPENFILE
#define    NOPEN
#define    NOPOINT
#define    NORECT
#define    NOREGION
#define    NOSOUND
#define    NOTEXTMETRIC
#define    NOWH
#define    NOWINOFFSETS
#define    NOWNDCLASS
#define    NOCOMM
#define    NOKANJI



#include "windows.h"
#include "termrc.h"

#define GRP      WS_GROUP
#define LB_GRP    WS_GROUP
#define TAB       WS_TABSTOP
#define TABGRP    WS_TABSTOP | WS_GROUP
#define LBSTYLE   WS_VSCROLL | WS_BORDER | WS_VISIBLE | LBS_NOTIFY | TABGRP
#define LBSTYLES  LBSTYLE | LBS_SORT
#define LBSTYLEM  LBSTYLE | LBS_MULTIPLESEL
#define GROUPBOX  BS_GROUPBOX | WS_VISIBLE
#define DLGSTYLE  WS_DLGFRAME | WS_POPUP | WS_VISIBLE

TERMINAL icon    terminal.ico

TERMINAL MENU
begin
    POPUP "&File"
        begin
        MENUITEM "&New", miNew
        MENUITEM "&Open...", miOpen
        MENUITEM "&Save", miSave
        MENUITEM "Save &As...", miSaveAs
        MENUITEM SEPARATOR
        MENUITEM "E&xit",       miExit
        MENUITEM "A&bout Terminal...",   miAbout
        end
    POPUP "&Edit"
        begin
        MENUITEM "&Copy\tCtrl+Ins", miCopy
        MENUITEM "&Paste\tShift+Ins", miPaste
        end
    POPUP "&Session"
        begin
        MENUITEM "&Connect...\tCtrl+F3", miConnect
        MENUITEM "&Print     \tCtrl+F4", miPrinter
        MENUITEM "Cap&ture...\tCtrl+F5", miCapture
        MENUITEM "Pau&se     \tCtrl+F6", miPause
        MENUITEM SEPARATOR
        MENUITEM "&Break     \tCtrl+F7", miBreak
        end
    POPUP "&Configure"
        begin
        MENUITEM "&Terminal...", miTerm
        MENUITEM "&Communication...", miComm
        MENUITEM "&Phone...", miPhone
        end
    end

TERMINAL ACCELERATORS
BEGIN
    VK_INSERT, miCopy, VIRTKEY, CONTROL
    VK_INSERT, miPaste, VIRTKEY, SHIFT
    VK_F3,     miConnect, VIRTKEY, CONTROL
    VK_F4,     miPrinter, VIRTKEY, CONTROL
    VK_F5,     miCapture, VIRTKEY, CONTROL
    VK_F6,     miPause, VIRTKEY, CONTROL
    VK_F7,     miBreak, VIRTKEY, CONTROL
END

idlgAbout DIALOG LOADONCALL MOVEABLE DISCARDABLE 25, 19, 185, 77
STYLE WS_DLGFRAME | WS_POPUP
BEGIN
           CONTROL "Microsoft Windows" -1, "static", SS_CENTER | WS_GROUP | WS_CHILD, 0, 5, 185, 8
           CONTROL "Terminal" -1, "static", SS_CENTER | WS_GROUP | WS_CHILD, 0, 15, 185, 8
           CONTROL "Version 2.1 " -1, "static", SS_CENTER | WS_GROUP | WS_CHILD, 0, 34, 185, 8
           CONTROL "Copyright © 1988 Microsoft Corp." -1, "static", SS_CENTER | WS_GROUP | WS_CHILD, 0, 47, 185, 9
           CONTROL "OK" diOk, "button", BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 75, 59, 32, 14
           CONTROL "ÿ" -1, "static", SS_ICON | WS_GROUP | WS_CHILD, 25, 14, 16, 23
END

idlgOpen DIALOG LOADONCALL MOVEABLE DISCARDABLE 10, 10, 148, 116
STYLE WS_DLGFRAME | WS_VISIBLE | WS_POPUP
BEGIN
           CONTROL "Open File &Name:" -1, "static", SS_LEFT | WS_GROUP | WS_CHILD, 2, 4, 76, 10
           CONTROL "" diEdit, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_BORDER | WS_GROUP | WS_TABSTOP | WS_CHILD, 2, 17, 100, 12
           CONTROL "&Files in" -1, "static", SS_LEFT | WS_GROUP | WS_CHILD, 2, 39, 38, 10
           CONTROL "" diListBox, "listbox", LBS_NOTIFY | LBS_SORT | LBS_STANDARD | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP | WS_CHILD, 3, 53, 70, 57
           CONTROL "&Open" diOk, "button", BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 88, 62, 50, 16
           CONTROL "Cancel" diCancel, "button", BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 88, 87, 50, 16
           CONTROL "" diPath, "static", SS_LEFT | SS_NOPREFIX | WS_GROUP | WS_CHILD, 44, 39, 98, 12
END

idlgSaveChanges DIALOG 20, 20, 200, 59
STYLE DLGSTYLE | WS_CAPTION
caption         "Terminal Alert!"
BEGIN
    ctext   "Settings have changed.", diNull,10,5,180,12
    ctext   "Save changes before closing?", diNull,10,20,180,12
    defpushbutton  "&Yes",         diOk,           40, 35, 35, 14, TABGRP
    pushbutton     "&No"           diNo,           80, 35, 35, 14, TABGRP
    pushbutton     "Cancel"       diCancel,       120, 35, 35, 14, TABGRP
END

idlgSaveAs DIALOG LOADONCALL MOVEABLE DISCARDABLE 4, 8, 180, 53
STYLE WS_DLGFRAME | WS_VISIBLE | WS_POPUP
BEGIN
           CONTROL "Save File &Name As:" -1, "static", SS_LEFT | WS_GROUP | WS_CHILD, 6, 5, 85, 12
           CONTROL "" diEdit, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_BORDER | WS_GROUP | WS_TABSTOP | WS_CHILD, 6, 19, 104, 12
           CONTROL "OK" diOk, "button", BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 123, 19, 43, 14
           CONTROL "Cancel" diCancel, "button", BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 123, 36, 43, 14
           CONTROL "" diPath, "static", SS_LEFT | SS_NOPREFIX | WS_GROUP | WS_CHILD, 90, 5, 79, 12
END

idlgCapture DIALOG LOADONCALL MOVEABLE DISCARDABLE 4, 8, 180, 53
STYLE WS_DLGFRAME | WS_VISIBLE | WS_POPUP
BEGIN
           CONTROL "&Save incoming text in:" -1, "static", SS_LEFT | WS_GROUP | WS_CHILD, 6, 5, 100, 12
           CONTROL "" diEdit, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_BORDER | WS_GROUP | WS_TABSTOP | WS_CHILD, 6, 19, 104, 12
           CONTROL "OK" diOk, "button", BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 123, 19, 43, 14
           CONTROL "Cancel" diCancel, "button", BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 123, 36, 43, 14
           CONTROL "" diPath, "static", SS_LEFT | SS_NOPREFIX | WS_GROUP | WS_CHILD, 100, 5, 79, 12
END

idlgDisCon DIALOG 5, 5, 120, 52
STYLE DLGSTYLE | WS_CAPTION
caption         "Terminal"
    begin
    LTEXT "Are you sure that you", diNull,       5,   5,  100,  12
    LTEXT "want to disconnect?", diNull,         5,  18,  100,  12
    DEFPUSHBUTTON "&Yes", diOk,                   5,  33,   40,  14, TABGRP
    PUSHBUTTON "&No", diCancel,                  65, 33,   40,  14, TABGRP
    end

idlgPhNum DIALOG 5, 5, 120, 65
STYLE DLGSTYLE
    begin
    LTEXT "There is no phone number", diNull,    5,   5,  100,  12
    LTEXT "in the Phone Settings.", diNull,      5,  17,  100,  12
    LTEXT "Do you want to continue?", diNull,    5,  29,  100,  12
    DEFPUSHBUTTON "OK", diOk,                    5,  44,   40,  14, TABGRP
    PUSHBUTTON "Cancel", diCancel,               65, 44,   40,  14, TABGRP
    end

idlgAnswer DIALOG 5, 5, 160, 45
STYLE DLGSTYLE
    begin
    LTEXT "Waiting for answer:", diNull,         5,   5,  100,  12
    LTEXT "", diCount,                          105,   5,   20,  12
    DEFPUSHBUTTON "Cancel", diOk,           35,  20,   40,  14, TABGRP
    end

idlgTerm DIALOG LOADONCALL MOVEABLE DISCARDABLE 11, 17, 199, 142
STYLE WS_DLGFRAME | WS_VISIBLE | WS_POPUP
BEGIN
           CONTROL "Terminal Settings" diNull, "static", SS_LEFT | WS_GROUP | WS_CHILD, 5, 5, 80, 12
           CONTROL "&Terminal Type" diNull, "static", SS_LEFT | WS_GROUP | WS_CHILD, 5, 25, 55, 12
           CONTROL "VT52" diVT52, "button", BS_RADIOBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 65, 24, 30, 12
           CONTROL "ANSI" diAnsi, "button", BS_RADIOBUTTON | WS_CHILD, 125, 24, 40, 12
           CONTROL "&New Line" diNewLine, "button", BS_CHECKBOX | WS_GROUP | WS_TABSTOP | WS_CHILD, 5, 40, 50, 12
           CONTROL "&Local Echo" diEcho, "button", BS_CHECKBOX | WS_GROUP | WS_TABSTOP | WS_CHILD, 65, 40, 50, 12
           CONTROL "&Auto Wraparound" diWrap, "button", BS_CHECKBOX | WS_GROUP | WS_TABSTOP | WS_CHILD, 125, 40, 70, 12
           CONTROL "Te&xt size" diNull, "static", SS_LEFT | WS_GROUP | WS_CHILD, 5, 58, 50, 12
           CONTROL "Large" diLarge, "button", BS_RADIOBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 65, 56, 40, 12
           CONTROL "Small" diSmall, "button", BS_RADIOBUTTON | WS_CHILD, 125, 56, 40, 12
           CONTROL "Lines in &Buffer:" diNull, "static", SS_LEFT | WS_GROUP | WS_CHILD, 5, 74, 66, 12
           CONTROL "" diBuffer, "edit", ES_LEFT | WS_BORDER | WS_GROUP | WS_TABSTOP | WS_CHILD, 75, 72, 20, 12
           CONTROL "T&ranslation:" diNull, "static", SS_LEFT | WS_GROUP | WS_CHILD, 5, 91, 50, 12
           CONTROL "" diListBox, "listbox", LBS_NOTIFY | LBS_SORT | LBS_STANDARD | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP | WS_CHILD, 63, 90, 80, 25
           CONTROL "OK" diOk, "button", BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 37, 123, 40, 14
           CONTROL "Cancel" diCancel, "button", BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 126, 123, 40, 14
END

idlgComm DIALOG 5, 15, 200, 145
STYLE DLGSTYLE
    begin
    LTEXT "Communications Settings", diNull,      5,     5,   120,   12
    LTEXT "&Baud Rate:", diNull,                    5,    22,    50,  12
    EDITTEXT diBaud,                              55,    19,    29,  12, TABGRP
    LTEXT "&Word Length", diNull,                   5,    37,    50,  12
    RADIOBUTTON "4", diWBits4,                    55,    35,    25,  12, TABGRP
    RADIOBUTTON "5", diWBits5,                    80,    35,    25,  12
    RADIOBUTTON "6", diWBits6,                   105,    35     25,  12
    RADIOBUTTON "7", diWBits7,                   130,    35,    25,  12
    RADIOBUTTON "8", diWBits8,                   155,    35,    25,  12
    LTEXT "Pa&rity", diNull,                        5,    51,    40,  12
    RADIOBUTTON "Even", diParEven,                55,    50,    50,  12, TABGRP
    RADIOBUTTON "Odd", diParOdd,                 105,    50,    50,  12
    RADIOBUTTON "None", diParNone,               155,    50,    50,  12
    LTEXT "&Stop Bits", diNull,                      5,   67,    40,  12
    RADIOBUTTON "1",  diSB1,                       55,   65,    50,  12, TABGRP
    RADIOBUTTON "1.5", diSB15,                    105,   65,    50,  12
    RADIOBUTTON "2", diSB2,                       155,   65,    50,  12
    LTEXT "&Handshake", diNull,                      5,   82,    40,  12
    RADIOBUTTON "XOn/XOff", diXON,                55,    80,    50,  12, TABGRP
    RADIOBUTTON "Hardware", diHardware,          105,    80,    50,  12
    RADIOBUTTON "None", diNone,                  155,    80,    50,  12
    LTEXT "&Connection", diNull,                    5,    97,    40,  12
    RADIOBUTTON "Modem", diModem,                 55,    95,    50,  12, TABGRP
    RADIOBUTTON "Computer", diComputer,          105,    95,    60,  12
    LTEXT       "&Port", diNull,                    5,   112,    40,  12
    RADIOBUTTON "COM1:", diPort1,                 55,   110,    40,  12, TABGRP
    RADIOBUTTON "COM2:", diPort2,                105,   110,    40,  12
    DEFPUSHBUTTON "OK", diOk,                     55,   126,    40,  14, TABGRP
    PUSHBUTTON "Cancel", diCancel,               115,   126,    40,  14, TABGRP
    end



idlgPhone DIALOG 5, 5, 160, 120
STYLE DLGSTYLE
    begin
    LTEXT "Phone Settings", diNull,                5,      5,   70,   12
    LTEXT "&Connect to:", diNull,                   5,     24,   50,   12
    EDITTEXT diPhNum,                             55,     22,  100,   12, TABGRP | ES_AUTOHSCROLL
    LTEXT "&Dial Type", diNull,                    5,      40,   50,   12
    RADIOBUTTON "Tone", diTone,                   60,     38,   30,   12, TABGRP
    RADIOBUTTON "Pulse", diPulse,                 95,     38,   30,   12
    LTEXT "&Speed", diNull,                         5,     55,   40,   12
    RADIOBUTTON "Slow", diSlow,                   60,     53,   30,   12, TABGRP
    RADIOBUTTON "Fast", diFast,                   95,     53,   30,   12
    LTEXT "Wait for &Tone (2-15):", diNull,         5,     70,   90,   12
    EDITTEXT diTWait,                             95,     68,   20,   12, TABGRP
    LTEXT "Wait for &Answer (1-256):", diNull,      5,     85,  100,   12
    EDITTEXT diAnswer,                           105,     83,   20,   12, TABGRP
    DEFPUSHBUTTON "OK", diOk,                     20,    100,   40,   14, TABGRP
    PUSHBUTTON "Cancel", diCancel,                90,    100,   40,   14, TABGRP
    end

STRINGTABLE
BEGIN
    IDS_ABOUT       "About..."
    IDS_UNTITLED    "(untitled)";
    IDS_TERMINAL    "Terminal"
    IDS_CONNECT     "Connect"
    IDS_DISCON      "Disconnect..."
    IDS_FNCAPTURE   "TERM.TXT"
    IDS_FNTERM      "TEMP.TRM"
    IDS_EXTTERM     ".TRM"
    IDS_EXTTEXT     ".TXT"
    IDS_MB1         "Not enough memory to %%"
    IDS_MB2         "Cannot create: %%"
    IDS_MB3         "%% not found"
    IDS_MB4         "Cannot save: %%"
    IDS_MB5         "Not a valid terminal file: %%"
    IDS_MB6         "Not enough disk space to %%"
    IDS_MB7         "No answer.  Do you want to redial?"
    IDS_MB8         "Cannot communicate with the modem"
    IDS_MB9         "Cannot print"
    IDS_MB10        "Cannot connect to: %%"
    IDS_MB11        "Do you wish to save settings?"
    IDS_MB12        "Cannot write to: %%"
    IDS_MB13        "Cannot read from: %%"
    IDS_MB14        "Selected baud rate is not supported for: %%"
    IDS_MB15        "Do you wish to connect?"
    IDS_MB16        "Replace existing: %%"
    IDS_MB17        "%% is damaged - load aborted"
    IDS_MB18        "%% already exists.  Do you want to append to it?"
    IDS_MB19        "%% is busy. Cannot connect."
    IDS_CMDPRINT    "P"
    IDS_CMDCAPTURE  "C"
    IDS_LBRACKET    "  ["
    IDS_RBRACKET    "] - "
    IDS_INIT        "Initialize"
    IDS_SETTINGS    "Save settings"
    IDS_CAPTURE     "Capture text"
    IDS_COPY        "Copy text"
    IDS_COMPUTER    "computer"
    IDS_MODEM       "modem"
    IDS_PRINT       "Print"

/* Note: The resource numbers for the country name strings must
/*       not be changed without recompiling Terminal.  This means
/*       that the country names may not appear in alphabetical
/*       order in the list box for some translations.   Terminal
/*       will load the country name strings into the listbox
/*       in order of increasing resource numbers.
/**/
    IDS_NONE        "None"
    IDS_BRITISH     "United Kingdom"
    IDS_DANISH      "Denmark/Norway"
    IDS_FINNISH     "Finland"
    IDS_FRENCH      "France"
    IDS_CANADIAN    "French Canada"
    IDS_GERMAN      "Germany"
    IDS_ITALIAN     "Italy"
    IDS_SPANISH     "Spain"
    IDS_SWEDISH     "Sweden"
    IDS_SWISS       "Switzerland"
    IDS_MERGESTRING "%%"
END
