#include "windows.h"
#include "filemenu.h"

FileMenu MENU
BEGIN
    POPUP	 "&File"
    BEGIN
	MENUITEM    "&New",		 IDM_NEW
	MENUITEM    "&Open...",		 IDM_OPEN
	MENUITEM    "&Save",		 IDM_SAVE
	MENUITEM    "Save &As...",	 IDM_SAVEAS
	MENUITEM    "&Print",		 IDM_PRINT
	MENUITEM    SEPARATOR
	MENUITEM    "E&xit",		 IDM_EXIT
	MENUITEM    "A&bout Filemenu...", IDM_ABOUT
    END
END

AboutBox DIALOG 22, 17, 144, 75
STYLE WS_POPUP | WS_DLGFRAME
BEGIN
    CTEXT "Microsoft Windows"	  -1,	    0,	5, 144,	 8
    CTEXT "Filemenu Application"  -1,	    0, 14, 144,	 8
    CTEXT "Version 1.0"		  -1,	    0, 34, 144,	 8
    DEFPUSHBUTTON "OK"		IDOK,	   53, 59,  32, 14,	 WS_GROUP
END
