.menuBorder1 {
  position:absolute;
  left:-1000; top:-1000;
  background-color:#C6C3C6;    /* light gray */
  border: solid 1px;
  border-left-color:#C6C3C6;   /* light gray */
  border-top-color:#C6C3C6;    /* light gray */
  border-bottom-color:black;
  border-right-color:black;
  margin:0 0 0 0;
  overflow:none;
  visibility:visible;
  }

.menuBorder2{
  position:absolute; top:0; left:0;
  background-color:#C6C3C6;    /* light gray */
  overflow:none;
  margin: 4px 0px 4px 0px;
  border: solid 1px;
  border-left-color:white;
  border-top-color:white;
  border-bottom-color:#848284; /* dark grey */
  border-right-color:#848284;  /* dark grey */
  cursor:default;
  }

.menuTable {}

.menuRow {
  font-family: MS Sans Serif;
  font-size: 9pt;
  color:black;
  background-color:transparent;
  cursor:default;
  height:12pt;
  }

.menuImageCell {
  text-align:left;
  cursor:default;
  }

.menuCaptionCell {
  text-align:left;
  cursor:default;
  }

.menuArrowCell {
  text-align:right;
  font-size: 8pt; 
  cursor:default;
  }

#MENUINSERT {
  position:absolute;
  top:0; left:0; height:0; width:0;
}
