A		{text-decoration:none}
A:link		{ color: #FFFFFF; }
A:visited 	{ color: #FFFFFF; }
A:active 	{ color: #FFFFFF; }
A:hover 	{ color: #FF9900 ; } 	/* On mouse over changes link color */

body{	background-color: #000000;
	margin-left:0pt;    		
	font-family: Verdana, Arial, Helvetica, MS Sans Serif;
	font-size: 65%;
	}
h1{
	font-size: 125%;
	margin-top: 1.35em;
	margin-bottom: .5em;
	}
h2{
	font-size: 110%; 
	margin-top: 1.25em;  
	margin-bottom: .5em;
	}
span.canvas { }

UL {margin-top:0; margin-left:0pt;}
LI {line-height:10pt}
UL LI {margin-left:4pt; list-style-type: none}
UL UL LI {margin-left:22pt; list-style-type: disc}
UL UL UL LI {margin-left:22pt; list-style-type: disc}
UL UL UL UL LI {margin-left:22pt; list-style-type: disc}


TABLE SPAN{font-size: 65%;}

SPAN.grn A:link  	{ color: "white" ; }
SPAN.grn A:visited  	{ color: "white"; }
SPAN.grn A:active 	{ color: "#66FF00" ; }
SPAN.grn A:hover 	{ color: "#66FF00" ; }

DIV.outline {margin-right: 10pt;}