#  This MAKE file allows you to remake the CONTROL module after modifying re-
#  sources (such as ICONS, CURSORS, DIALOGUE BOXES and BITMAPS).  You simply 
#  need to have the WINDOWS 2.0 distribution version of CONTROL.EXE
#  (which is already supplied) located in this directory.  Then, modify 
#  the resources using the ICONEDIT and DLGEDIT programs.  Then, run this 
#  MAKE file.  Your modified resources will be put into a NEW version 
#  of CONTROL.EXE.
#       

CONTROL.res:       CONTROL.exe        \
                   CONTROL.H          \
                   CONTROL.rc         \
                   CONTROL.ico        \
                   MSDOS.ico
        rc -r CONTROL.rc

CONTROL.exe:      CONTROL.res
        copy CONTROL.exe CONTROL.old
        rc CONTROL.res CONTROL.exe
