#include "style.h"
#include "control.h"

/* for positioning dialogs */
#define PANEL_LEN       160     /* length of panel in dialog template units */
#define PANEL_HT        104     /* height of panel in dialob template units */
#define TIME_X          12
#define TIME_Y          8
#define DATE_X          94
#define DATE_Y          8
#define CURSOR_X        8
#define CURSOR_Y        40
#define CLICK_X         84
#define CLICK_Y         40

#define COLOR_LEN       268
#define COLOR_HT        156

#define SETCOLOR_X      8
#define SETCOLOR_Y      6
#define SCROLLS_X       SETCOLOR_X
#define SCROLLS_Y       73
#define SAMPLE_X        140
#define SAMPLE_Y        6
#define BUTTONS_X       SAMPLE_X
#define BUTTONS_Y       (SCROLLS_Y+53)


control  icon    CONTROL.ICO
SampleIcon icon  MSDOS.ICO

stringtable preload
/*  BEWARE YE CODE FIXERS!!
    When adding strings to the stringtable, be sure to check control.h for
    the defined values.  Several of the "sections" below with few strings
    are combined together in the same 16-string resource, for instance.
*/
begin
        /* initialization strings */
        INITS,          "Not enough memory."
        INITS + 1,      "Control Panel"         /* for message box titles */
        INITS + 2,      "Already running Control Panel."
        INITS + 3,      "About..."
        INITS + 4,      "&Mouse..."
        INITS + 5,      "Too many clocks or timers."
        INITS + 6,      "TEST"                  /* panel dbl click testpad */
        INITS + 7,      "None"                  /* default null port name */
        INITS + 8,      " on "       /* separator printer/port in listboxes */
        INITS + 9,      ".DRV"             /* printer driver file extension */
        INITS + 10,     ".FON"                  /* font file extension */
        INITS + 11,     "&Country Settings..."
        INITS + 13,     "&Keyboard speed..."

        /* INTERNATIONALIZERS, THIS IS FOR YOU!!! */
        /* This two character string is used as a "string spec" to insert */
        /* a string (usually a filename, printer name or such) within */
        /* another string given here in the RC file.  Thus translators can */
        /* move around key elements of the sentence. */
        /* MUST BE A TWO CHARACTER STRING!!! */
        INITS + 12,     "%S"

        /* adding a printer */
        ADDPRT,         "Add Printer"                   /* add10 */
        ADDPRT + 1,     "printer file"
        ADDPRT + 2,     "A:\\"                          /* init edit ctl */
        ADDPRT + 3,     "No printer files found."       /* add20 */
        ADDPRT + 4,     "Available &Printers"
        ADDPRT + 5,     "Printer File: "
        ADDPRT + 6,     "&Add"                           /* pushbutton */
        ADDPRT + 7,     "Copy associated printer file " /* add30 */
        ADDPRT + 8,     "to drive/directory:"
        ADDPRT + 9,     "Cannot add printer."           /* rare */

        /* deleting a printer */
        DELPRT,         "Delete &Printer"                /* del10 */
        DELPRT + 1,     "Printer File: "
        DELPRT + 2,     "&Delete"                        /* pushbutton */
        DELPRT + 3,     "Shared printer file will not be deleted."
        DELPRT + 4,     "Delete associated printer file " /* del 20 */
        DELPRT + 5,     "from drive/directory:"
        DELPRT + 6,     "No drive/directory specified."
        DELPRT + 7,     "Cannot find %S."
        DELPRT + 8,     "Cannot delete %S."

        /* adding a font */                             /**/
        ADDFONT,        "Add Font"                      /* add10 */
        ADDFONT + 1,    "font file"
        ADDFONT + 2,    "A:\\"                          /* init edit ctl */
        ADDFONT + 3,    "No font files found."          /* add20 */
        ADDFONT + 4,    "Available &Fonts"
        ADDFONT + 5,    "Font File: "
        ADDFONT + 6,    "&Add"                           /* button text */
        ADDFONT + 7,    "Copy associated font file "    /* add30 */
        ADDFONT + 8,    "to drive/directory:"
        ADDFONT + 9,    "Cannot add font."              /* rare */

        /* deleting a font */
        DELFONT,        "No fonts installed."           /* del10 */
        DELFONT + 1,    "Delete &Font"
        DELFONT + 2,    "Font File: "
        DELFONT + 3,    "&Delete"                        /* pushbutton */
        DELFONT + 4,    "Delete associated font file "  /* del20 */
        DELFONT + 5,    "from drive/directory:"
        DELFONT + 6,    "No drive/directory specified."
        DELFONT + 7,    "Cannot find %S."
        DELFONT + 8,    "Cannot delete %S."

        /* copy utility for add font or printer */
        COPY,           "Cannot copy file to itself."
        COPY + 1,       "Not enough memory to copy file."
        COPY + 2,       "Not enough disk space to copy %S."
        COPY + 3,       "Cannot create %S."

        /* connections dlg */
        CONNECT,        "No ports listed in WIN.INI."
        CONNECT+1,      "No printers installed."
        /* This one is put together like:
           <CONNECT+2> <printer1> <CONNECT+3> <printer2> <CONNECT+4>
           with the "%S" here signifying the port they're both on.
        */
        CONNECT+2,      "Cannot have both "             /* 2 on same port */
        CONNECT+3,      " and "
        CONNECT+4,      " on %S."
        CONNECT+5,      "Connections dialog only lists first 20 printers."

        /* setup printers dlg */
                     /* unlikely error -- driver was there when filled lbox */
        SETUP,          "Printer file not listed in WIN.INI."
        /* ***DEBUG*** Don't forget to remove extraneous "'" */
        SETUP+1,        "%S is not a valid printer file."

        /* communications port dlg */
        COMM,           "Not a valid baud rate."

        /* colors dialog */
        COLOR,          "Screen Background"
        COLOR+1,        "Application Workspace"
        COLOR+2,        "Window Background"
        COLOR+3,        "Window Text"
        COLOR+4,        "Menu Bar"
        COLOR+5,        "Menu Text"
        COLOR+6,        "Active Title Bar"
        COLOR+7,        "Inactive Title Bar"
        COLOR+8,        "Title Bar Text"
        COLOR+9,        "Active Border"
        COLOR+10,       "Inactive Border"
        COLOR+11,       "Window Frame"
        COLOR+12,       "Scroll Bars"
        COLOR+13,       "Active"
        COLOR+14,       "Inactive"
        COLOR+15,       "File  Edit"
        COLOR+16,       "Window Text"

        /* utility routines */
        UTILS,          "No printers installed."
        UTILS+1,        "Cannot record new settings in WIN.INI."

        /* country dialog */
        COUNTRY,        "No currency symbol specified."
        COUNTRY+1,      "Number of decimal digits not specified."



/* How to add a Country ?
   - Easy, just insert your string before the line:
  FIRST_COUNTRY+XX, "*"
     your string should like this (we take AUSTRIA as an example):
  FIRST_COUNTRY+XX, "Austria,       43, 1,3,2,1,1,   !,  !, Sch,.,,,/,:,;"
     and change the next line to be:
  FIRST_COUNTRY+(XX+1), "*"

     Meaning of the different items of these strings:

   1) "Country name" (23 char max)
   2)  Country code (phone ID of the country)
   3)  Date mode (0:MDY, 1:DMY, 2:YMD)
   4)  Currency mode(0: prefix, no separation
                     1: suffix, no separation
                     2: prefix, 1 char separation
                     3: suffix, 1 char separation)
   5)  Significant decimal digits in currency
   6)  Time mode (0: 12 hour clock, 1: 24 )
   7)  Leading zeros (0: no, 1: yes)
   8)  Trailing string from 0:00 to 11:59
   9)  Trailing string from 12:00 to 23:59
  10)  Currency symbol string
  11)  Thousands separator string
  12)  Decimal separator string
  13)  Date separator string
  14)  Time separator string
  15)  List separator string.

  Here is some rules to build your string:

    a) the trailings strings should not have more than 3 char.
    b) the separators are typically 1 char.
    c) the max reasonnable size for a currency symbol is 3 char.
    d) the leadings spaces are ignored.
    e) the item delimiter is ',', if you want to use ',' as a separator
       it must be the 1rst and the only char of this item.
    f) the char '!' means empty string "".
    g) if your item contains only space(s), it will be considered as
       a one space char string.
    h) if you want to enter an ANSI char above 128 you would need probably
       to enter by ALT combination, using IBM character set. Your char
       will look weird but it will work ! (e.g. british pound below) */


  FIRST_COUNTRY,    "U.S.A.,          1, 0,0,2,0,0, AM, PM,   $,,,.,/,:,,"
                                /* currency symbol is ANSI A5, for Yen mark */
  FIRST_COUNTRY+1,  "Japan,          81, 2,0,2,0,0, AM, PM,   ¥,,,.,/,:,,"
  FIRST_COUNTRY+2,  "Netherlands,    31, 1,0,2,1,1,  !,  !,  Fl,.,,,-,:,;"
  FIRST_COUNTRY+3,  "Belgium,        32, 1,3,2,1,1,  !,  !,   F,.,,,/,:,;"
  FIRST_COUNTRY+4,  "France,         33, 1,3,2,1,1,  !,  !,   F,.,,,/,:,;"
  FIRST_COUNTRY+5,  "Spain,          34, 1,3,2,1,1,  !,  !, Pts,.,,,/,:,;"
  FIRST_COUNTRY+6,  "Italy,          39, 1,2,0,1,1,  !,  !,  L.,.,,,/,:,;"
  FIRST_COUNTRY+7,  "Switzerland,    41, 1,2,2,1,1,  !,  !,  SF,.,,,.,.,;"
  FIRST_COUNTRY+8,  "United Kingdom, 44, 1,0,2,1,1,  !,  !,   £,,,.,-,:,,"
  FIRST_COUNTRY+9,  "Denmark,        45, 1,3,2,1,1,  !,  !,  Kr,.,,,/,.,;"
  FIRST_COUNTRY+10, "Sweden,         46, 2,3,2,1,1,  !,  !,  Kr,.,,,-,:,;"
  FIRST_COUNTRY+11, "Norway,         47, 1,3,2,1,1,  !,  !,  Kr,.,,,/,.,;"
  FIRST_COUNTRY+12, "West Germany,   49, 1,3,2,1,1,  !,  !,  DM,.,,,.,:,;"
  FIRST_COUNTRY+13, "Australia,      61, 1,0,2,1,1,  !,  !,   $,.,,,-,:,,"
  FIRST_COUNTRY+14, "Finland,       358, 1,3,2,1,0,  !,  !,  MK, ,,,-,:,,"
  FIRST_COUNTRY+15, "Brazil,         55, 1,0,2,1,0,  !,  !, Cz$,.,,,-,:,,"
  /* 'Other Country' must be last */
  FIRST_COUNTRY+16, "Other Country,   0, 0,0,2,0,0, AM, PM,   $,,,.,/,:,,"
  FIRST_COUNTRY+17, "*"         /* THIS IS A SENTINEL */
end



/*
 * HACK ALERT. in order to allow Alt+Mnemonic work for menus even
 * though control panel is actually a dialog box, we must test all
 * WM_SYSCHAR messages to see if we should pass it to the main window
 * instead of the dialog box.  In PanelDlgFilter(), we test for three
 * mnemonic characters which are defined in control.h to be the mnemonic
 * characters used here: I, S, and P.  If these are changed, make sure
 * to changed the defines in control.h and recompile panel1.c
 * 07-Jun-1987. davidhab.
 *
 */
control menu
BEGIN
    POPUP "&Installation"
    begin
        MENUITEM "Add &New Printer...",MENU_ADDPRT
        MENUITEM "&Delete Printer...",MENU_DELPRT
        MENUITEM "Add Ne&w Font...",MENU_ADDFONT
        MENUITEM "De&lete Font...",MENU_DELFONT
        MENUITEM SEPARATOR
        MENUITEM "E&xit",           MENU_EXIT
        MENUITEM "A&bout Control Panel...", MENU_ABOUT
    end

    POPUP "&Setup"
    begin
        MENUITEM "&Connections...",MENU_CONNECTIONS
        MENUITEM "&Printer...",MENU_PRINTERS
        MENUITEM "Co&mmunications Port...",MENU_PORTS
    end

    POPUP "&Preferences"
    begin
        MENUITEM "&Screen Colors...",   MENU_COLORS
        MENUITEM "Border &Width...",    MENU_BORDER,
        MENUITEM "Warning &Beep",       MENU_BEEP,
    end
END

PANELDLG DIALOG 0,0,PANEL_LEN,PANEL_HT
STYLE   WS_VISIBLE | WS_CHILD
BEGIN
        GROUPBOX "Time",TIME,
                TIME_X,TIME_Y,60,26, WS_TABSTOP | WS_GROUP
        CONTROL "",SCROLL_TIME, "ScrollBar",
                NOT WS_VISIBLE | SBS_VERT | SBS_RIGHTALIGN | WS_GROUP,
                TIME_X,TIME_Y+4,60,22

        GROUPBOX "Date",DATE,
                DATE_X,DATE_Y,48,26, WS_TABSTOP | WS_GROUP
        CONTROL "",SCROLL_DATE, "ScrollBar",
                NOT WS_VISIBLE | SBS_VERT | SBS_RIGHTALIGN | WS_GROUP,
                DATE_X,DATE_Y+4,48,22

        GROUPBOX "Cursor Blink",CURSOR,
                CURSOR_X,CURSOR_Y,68,52
        CONTROL "",SCROLL_CURSOR, "ScrollBar",
                WS_VISIBLE | SBS_HORZ | SBS_TOPALIGN | WS_TABSTOP | WS_GROUP,
                CURSOR_X+4,CURSOR_Y+24,60,12
        LTEXT   "Slow", FOO, CURSOR_X+4, CURSOR_Y+12, 16, 8, WS_GROUP
        LTEXT   "Fast", FOO, CURSOR_X+48, CURSOR_Y+12, 16, 8

        GROUPBOX "Double Click",CLICK,
                CLICK_X,CLICK_Y,68,52
        CONTROL "",SCROLL_CLICK, "ScrollBar",
                WS_VISIBLE | SBS_HORZ | SBS_TOPALIGN | WS_TABSTOP | WS_GROUP,
                CLICK_X+4,CLICK_Y+24,60,12
        LTEXT   "Slow", FOO, CLICK_X+4, CLICK_Y+12, 16, 8, WS_GROUP
        LTEXT   "Fast", FOO, CLICK_X+48, CLICK_Y+12, 16, 8
END

COMMDLG DIALOG 10,10,200,133
STYLE  WS_POPUP | WS_DLGFRAME
BEGIN

    LTEXT "Communications Settings", FOO,      5,     5,   120,   12

    LTEXT "&Baud Rate:", FOO,                    5,    22,    50,  12
    EDITTEXT BAUD,                              55,    19,    29,  12, WS_TABSTOP | WS_GROUP

    LTEXT "&Word Length", FOO,                   5,    37,    50,  12
    RADIOBUTTON "4", WDLEN4,                    55,    35,    25,  12, WS_TABSTOP | WS_GROUP
    RADIOBUTTON "5", WDLEN5,                    80,    35,    25,  12
    RADIOBUTTON "6", WDLEN6,                   105,    35     25,  12
    RADIOBUTTON "7", WDLEN7,                   130,    35,    25,  12
    RADIOBUTTON "8", WDLEN8,                   155,    35,    25,  12

    LTEXT "Pa&rity", FOO,                        5,    52,    40,  12
    RADIOBUTTON "Even", PAR_EVEN,                55,    50,    50,  12, WS_TABSTOP | WS_GROUP
    RADIOBUTTON "Odd", PAR_ODD,                 105,    50,    50,  12
    RADIOBUTTON "None", PAR_NONE,               155,    50,    50,  12

    LTEXT "&Stop Bits", FOO,                      5,   67,    40,  12
    RADIOBUTTON "1",  STOPBITS1,                   55,   65,    50,  12, WS_TABSTOP | WS_GROUP
    RADIOBUTTON "1.5", STOPBITS15,                105,   65,    50,  12
    RADIOBUTTON "2", STOPBITS2,                   155,   65,    50,  12

    LTEXT "&Handshake", FOO,                      5,   82,    40,  12
    RADIOBUTTON "Hardware", SHAKE_HWARE,          55,    80,    50,  12,  WS_TABSTOP | WS_GROUP
    RADIOBUTTON "None", SHAKE_NONE,              105,    80,    50,  12

    LTEXT       "&Port", FOO,                      5,    97,    40,  12
    RADIOBUTTON "COM1:", PORT_C1,                 55,    95,    40,  12, WS_TABSTOP | WS_GROUP
    RADIOBUTTON "COM2:", PORT_C2,                105,    95,    40,  12

    DEFPUSHBUTTON "OK", PUSH_OK,                  55,   112,    40,  14, WS_TABSTOP | WS_GROUP
    PUSHBUTTON "Cancel", PUSH_CANCEL,            115,   112,    40,  14, WS_TABSTOP | WS_GROUP
END

PRTDLG DIALOG LOADONCALL MOVEABLE DISCARDABLE  9, 7, 161, 146
STYLE WS_DLGFRAME | WS_POPUP
BEGIN
           CONTROL "Default &Printer" FOO, "static", SS_LEFT | WS_GROUP | WS_CHILD, 8, 6, 68, 8
           CONTROL "" THE_LISTBOX, "listbox", LBS_NOTIFY | LBS_SORT | LBS_STANDARD | WS_BORDER | WS_VSCROLL | WS_TABSTOP | WS_CHILD, 8, 18, 143, 50
           CONTROL "Printer Timeouts (seconds)" FOO, "button", BS_GROUPBOX | WS_CHILD, 8, 73, 143, 44
           CONTROL "&Device not selected:" FOO, "static", SS_LEFT | WS_CHILD, 22, 87, 82, 8
           CONTROL "" EDIT_DEV, "edit", ES_LEFT | WS_BORDER | WS_TABSTOP | WS_CHILD, 107, 86, 17, 12
           CONTROL "&Transmission retry:" FOO, "static", SS_LEFT | WS_CHILD, 22, 102, 78, 8
           CONTROL "" EDIT_TRANS, "edit", ES_LEFT | WS_BORDER | WS_TABSTOP | WS_CHILD, 107, 102, 17, 12
           CONTROL "OK" IDOK, "button", BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 27, 123, 35, 14
           CONTROL "Cancel" IDCANCEL, "button", BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 93, 123, 35, 14
END

CONNECTDLG DIALOG 10, 10, 238, 94
STYLE   WS_POPUP | WS_DLGFRAME
begin
    ltext "&Printer", FOO, 8,5,32,8
    LISTBOX         LBOX_PRINTER, 8, 18, 132, 50, LBS_NOTIFY | NOT LBS_SORT | WS_GROUP | WS_TABSTOP
    ltext "&Connection", FOO, 148,5,44,8
    LISTBOX         LBOX_PORT,   148, 18, 80, 50, LBS_NOTIFY | NOT LBS_SORT | WS_GROUP | WS_TABSTOP
    defpushbutton "OK", IDOK, 70, 73, 32, 14, WS_TABSTOP | WS_GROUP
    pushbutton "Cancel", IDCANCEL, 133, 73, 32, 14, WS_TABSTOP | WS_GROUP
end


/* There is no more hardcoded windows inside the color dialog box:

   1) The spectrums are sized and positionned according to the
      corresponding scrollbars (2/3 lenghth).
   2) The sample color window is sized and positionned according to the
      following rules:
      - Sample Top    = ListBox Top
      - Sample Left   = Sample String Left
      - Sample Bottom = Ok Button Top - (ListBox Top - Sample String bottom)
      - Sample Right  = Color Dialog Right - (Sample String Left - ListBox Right)
*/
/* PHILHE: RAISED THE POSITIONS OF THE STATIC TEXT FIELDS
 * "Sample" and "&Screen Colors" by the hard value 3.
 */
COLORDLG DIALOG 10,10,COLOR_LEN,COLOR_HT
STYLE   WS_POPUP | WS_DLGFRAME
BEGIN
        LTEXT   "&Screen Colors", FOO, SETCOLOR_X, SETCOLOR_Y+(-3), 64, 8
        LISTBOX  THE_LISTBOX, SETCOLOR_X,SETCOLOR_Y+12,120,50, LBS_NOTIFY | NOT LBS_SORT | WS_GROUP | WS_TABSTOP

        LTEXT   "&Hue", FOO, SCROLLS_X, SCROLLS_Y+10, 24, 8, WS_GROUP
        CONTROL "",COLOR_HUE, "ScrollBar",
                WS_VISIBLE | SBS_HORZ | SBS_TOPALIGN | WS_TABSTOP | WS_GROUP,
                SCROLLS_X+28,SCROLLS_Y+10,92,12

        LTEXT   "&Bright", FOO, SCROLLS_X,SCROLLS_Y+34,24,8, WS_GROUP
        CONTROL "",COLOR_BRIGHT, "ScrollBar",
                WS_VISIBLE | SBS_HORZ | SBS_TOPALIGN | WS_TABSTOP | WS_GROUP,
                SCROLLS_X+28,SCROLLS_Y+34,92,12

        LTEXT   "&Color", FOO, SCROLLS_X,SCROLLS_Y+58,24,8, WS_GROUP
        CONTROL "",COLOR_COLOR, "ScrollBar",
                WS_VISIBLE | SBS_HORZ | SBS_TOPALIGN | WS_TABSTOP | WS_GROUP,
                SCROLLS_X+28,SCROLLS_Y+58,92,12

        LTEXT   "Sample", SAMPLE_STRING, SAMPLE_X,SAMPLE_Y+(-3),120,8, WS_GROUP

        DEFPUSHBUTTON "OK",IDOK, BUTTONS_X,BUTTONS_Y,32,16, WS_TABSTOP | WS_GROUP
        PUSHBUTTON "&Reset", PUSH_RESET,BUTTONS_X+44,BUTTONS_Y,32,16, WS_TABSTOP | WS_GROUP
        PUSHBUTTON "Cancel", IDCANCEL, BUTTONS_X+88,BUTTONS_Y,32,16, WS_TABSTOP | WS_GROUP

END

KEYBOARDDLG DIALOG LOADONCALL MOVEABLE DISCARDABLE 10, 10, 90, 120
STYLE WS_DLGFRAME | WS_VISIBLE | WS_POPUP
BEGIN

        CONTROL "Keyboard Speed" -1, "static", SS_CENTER, 0, 5, 80, 90
	CONTROL "",  KSPEED_SCROLL , "scrollbar", SBS_HORZ | WS_GROUP | WS_TABSTOP, 
			10, 30, 70, 10
	CONTROL "Test typematic:", -1, "static", SS_LEFT, 10, 53, 70, 12
	CONTROL ""  KSPEED_EDIT, "edit", WS_BORDER | WS_GROUP | WS_TABSTOP, 
			10, 65, 70, 12

        CONTROL "OK" IDOK, "button", BS_DEFPUSHBUTTON | WS_GROUP | 
			WS_TABSTOP | WS_CHILD, 8, 100, 32, 14
        CONTROL "Cancel" IDCANCEL, "button", BS_PUSHBUTTON | 
			WS_GROUP | WS_TABSTOP | WS_CHILD, 50, 100, 32, 14
END

MOUSEDLG DIALOG LOADONCALL MOVEABLE DISCARDABLE 10, 11, 158, 107
STYLE WS_DLGFRAME | WS_VISIBLE | WS_POPUP
BEGIN
           CONTROL "Mouse Options" FOO, "static", SS_LEFT | WS_GROUP | WS_CHILD, 8, 8, 52, 8
           CONTROL "&Swap left/right mouse buttons" CHK_MOUSE, "button", BS_CHECKBOX | WS_GROUP | WS_TABSTOP | WS_CHILD, 8, 21, 140, 12
           CONTROL "Mouse Acceleration" 15, "button", BS_GROUPBOX | WS_GROUP | WS_CHILD, 7, 36, 138, 38
           CONTROL "&none" RB_NONE, "button", BS_RADIOBUTTON | WS_GROUP | WS_CHILD, 18, 53, 28, 12
           CONTROL "&medium" RB_MEDIUM, "button", BS_RADIOBUTTON | WS_CHILD, 59, 53, 35, 12
           CONTROL "&high" RB_HIGH, "button", BS_RADIOBUTTON | WS_CHILD, 105, 53, 35, 12
           CONTROL "OK" IDOK, "button", BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 35, 82, 32, 14
           CONTROL "Cancel" IDCANCEL, "button", BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 87, 82, 32, 14
END

BORDERDLG DIALOG LOADONCALL MOVEABLE DISCARDABLE 18, 31, 90, 54
STYLE WS_DLGFRAME | WS_POPUP
BEGIN
           CONTROL "Border width:" FOO, "static", SS_LEFT | WS_CHILD | WS_GROUP, 12, 13, 53, 8
           CONTROL "" EDIT_WIDTH, "edit", ES_LEFT | WS_BORDER | WS_TABSTOP | WS_CHILD | WS_GROUP, 67, 11, 12, 12
           CONTROL "OK" IDOK, "button", BS_DEFPUSHBUTTON | WS_TABSTOP | WS_CHILD | WS_GROUP, 9, 32, 32, 14
           CONTROL "Cancel" IDCANCEL, "button", BS_PUSHBUTTON | WS_TABSTOP | WS_CHILD | WS_GROUP, 51, 32, 32, 14
END

COUNTRYDLG DIALOG 10,10, 266, 158
STYLE   WS_VISIBLE |  WS_POPUP | WS_DLGFRAME
Begin
        LTEXT   "&Country Settings", FOO, 6, 6, 68, 8
        LISTBOX THE_LISTBOX, 6, 18, 108, 50,
                WS_GROUP | WS_TABSTOP | LBS_NOTIFY | NOT LBS_SORT

#define CTY_TIMEX       120
#define CTY_TIMEY       14
        GROUPBOX "&Time Format", FOO, CTY_TIMEX, CTY_TIMEY, 140, 44

        RADIOBUTTON "12 hour", PM_AM, CTY_TIMEX+4, CTY_TIMEY+12, 40, 12,
                WS_GROUP
        RADIOBUTTON "24 hour", TWENTY_FOUR_HR,
                CTY_TIMEX+4, CTY_TIMEY+28, 40, 12

        LTEXT "11:59", FOO, CTY_TIMEX+50, CTY_TIMEY+14, 20, 8
        EDITTEXT, STRING_AM, CTY_TIMEX+72, CTY_TIMEY+12, 18, 12,
                WS_GROUP | WS_TABSTOP

        LTEXT "23:59", FOO, CTY_TIMEX+96, CTY_TIMEY+14, 20, 8
        EDITTEXT, STRING_PM, CTY_TIMEX+118, CTY_TIMEY+12, 18, 12,
                WS_GROUP | WS_TABSTOP

        LTEXT "Separator:", FOO, CTY_TIMEX+50, CTY_TIMEY+30, 40, 8
        EDITTEXT TIME_SEP, CTY_TIMEX+92, CTY_TIMEY+28, 10, 12,
                WS_GROUP | WS_TABSTOP

#define CTY_DATEX       6
#define CTY_DATEY       76
        GROUPBOX "&Date Format", FOO, CTY_DATEX, CTY_DATEY, 108, 44

        RADIOBUTTON "MDY", MDY, CTY_DATEX+4, CTY_DATEY+12, 24, 12,
                WS_GROUP
        RADIOBUTTON "DMY", DMY, CTY_DATEX+42, CTY_DATEY+12, 24, 12
        RADIOBUTTON "YMD", YMD, CTY_DATEX+80, CTY_DATEY+12, 24, 12

        LTEXT "Separator:", FOO, CTY_DATEX+4, CTY_DATEY+30, 40, 8
        EDITTEXT, DATE_SEP, CTY_DATEX+46, CTY_DATEY+28, 10, 12,
                WS_GROUP | WS_TABSTOP

#define CTY_NUMX        120
#define CTY_NUMY        64
        GROUPBOX "&Number Format", FOO, CTY_NUMX, CTY_NUMY, 140, 56

        LTEXT "1000:", FOO, CTY_NUMX+4, CTY_NUMY+14, 32, 8
        EDITTEXT THOUSANDS_SEP CTY_NUMX+38, CTY_NUMY+12, 10, 12,
                WS_GROUP | WS_TABSTOP

        LTEXT "Decimal:", FOO, CTY_NUMX+4, CTY_NUMY+28, 32, 8
        EDITTEXT DECIMAL_SEP, CTY_NUMX+38, CTY_NUMY+26, 10, 12,
                WS_GROUP | WS_TABSTOP

        LTEXT "List:", FOO, CTY_NUMX+4, CTY_NUMY+42, 32, 8
        EDITTEXT LIST_SEP, CTY_NUMX+38, CTY_NUMY+40, 10, 12,
                WS_GROUP | WS_TABSTOP

        LTEXT   "Decimal digits:", FOO, CTY_NUMX+60, CTY_NUMY+20, 60, 8
        EDITTEXT DECIMAL_DIGITS, CTY_NUMX+122, CTY_NUMY+18, 10, 12,
                WS_GROUP | WS_TABSTOP

        CHECKBOX "Leading Zero", LEADING_ZERO,
                CTY_NUMX+60, CTY_NUMY+36, 60, 12, WS_GROUP | WS_TABSTOP

#define CTY_CURX        120
#define CTY_CURY        124
        GROUPBOX "Currency &Format", FOO, CTY_CURX, CTY_CURY, 140, 28

        LTEXT "Symbol:", FOO, CTY_CURX+4, CTY_CURY+14, 28, 8
        EDITTEXT, CURRENCY_SYMBOL, CTY_CURX+34, CTY_CURY+12, 22, 12,
                WS_GROUP | WS_TABSTOP

        RADIOBUTTON "Prefix", PREFIX, CTY_CURX+62, CTY_CURY+12, 36, 12,
                WS_GROUP
        RADIOBUTTON "Suffix", SUFFIX, CTY_CURX+102, CTY_CURY+12, 36, 12

#define CTY_BUTTONX     6
#define CTY_BUTTONY     130
        DEFPUSHBUTTON "OK",  IDOK, CTY_BUTTONX, CTY_BUTTONY, 32, 16,
                WS_GROUP | WS_TABSTOP
        PUSHBUTTON "&Reset",  COUNTRY_RESET, CTY_BUTTONX+38, CTY_BUTTONY, 32, 16,
                WS_GROUP | WS_TABSTOP
        PUSHBUTTON "Cancel", IDCANCEL, CTY_BUTTONX+76, CTY_BUTTONY, 32, 16,
                WS_GROUP | WS_TABSTOP
End


ADD10 DIALOG 10,10,172,90
style  WS_POPUP | WS_DLGFRAME
BEGIN
        /* e.g. "Printer" */
        LTEXT   "", AVAIL, 8, 8, 64, 8, WS_GROUP
        LTEXT   "Insert the disk with the ", FOO, 8, 20, 100, 8
        /* e.g. "printer file" */
        LTEXT   "", FILETYPE, 108,20,48,8
        LTEXT   "you wish to add into drive " FOO, 8,28,108,8
        /* e.g. A */
        LTEXT   "", DISK, 116,28,4,8
        LTEXT   ", or choose", FOO, 120,28,44,8

        LTEXT   "an alternative drive/directory:", FOO, 8,36,156,8

        EDITTEXT EDIT_PATH, 8, 48, 156, 12,
                ES_AUTOHSCROLL | WS_GROUP | WS_TABSTOP

        DEFPUSHBUTTON "OK",IDOK, 36,68,32,14,
                WS_TABSTOP | WS_GROUP
        PUSHBUTTON "Cancel", IDCANCEL, 104,68,32,14,
                WS_TABSTOP | WS_GROUP
end

ADD20DEL10 DIALOG 10,10,255,81
style  WS_POPUP | WS_DLGFRAME
BEGIN
        /* e.g. "Available Fonts" */
        LTEXT   "", AVAIL, 8,8,104,8, WS_GROUP
        LISTBOX THE_LISTBOX, 8,22,156,50, NOT LBS_SORT | WS_TABSTOP | WS_GROUP
        /* e.g. "Font File: " */
        RTEXT   " ", FILETYPE, 112,8,80,8, WS_GROUP
        CONTROL "", -1, STATIC, SS_BLACKFRAME, 192, 6, 52, 12
        CTEXT   "", FILEBOX, 193, 8, 50, 8
        DEFPUSHBUTTON "", IDOK, 172,46,32,16, WS_TABSTOP | WS_GROUP
        PUSHBUTTON "Cancel", IDCANCEL, 212,46,32,16, WS_TABSTOP | WS_GROUP
END

ADD30DEL20 DIALOG 10,10,190,76
style  WS_POPUP | WS_DLGFRAME
BEGIN
        /* e.g. "Delete associated printer file EPSON.EXE" */
        LTEXT   "", FILETYPE, 8,8,172,8
        /* e.g. "from drive/directory:" */
        LTEXT   "", SRCDEST, 8,18,172,8
        EDITTEXT  EDIT_PATH, 8,30,172,12,
                ES_AUTOHSCROLL | WS_GROUP | WS_TABSTOP

        DEFPUSHBUTTON "&Yes",IDYES, 23,50,32,16, WS_TABSTOP | WS_GROUP
        PUSHBUTTON    "&No", IDNO, 78,50,32,16, WS_TABSTOP | WS_GROUP
        PUSHBUTTON "Cancel", IDCANCEL, 133,50,32,16,WS_TABSTOP | WS_GROUP
END

ABOUT DIALOG LOADONCALL MOVEABLE DISCARDABLE 10, 10, 195, 77
STYLE WS_DLGFRAME | WS_VISIBLE | WS_POPUP
BEGIN
           CONTROL "Microsoft Windows" -1, "static", SS_CENTER | WS_GROUP | WS_CHILD, 0, 5, 195, 8
           CONTROL "Control Panel" -1, "static", SS_CENTER | WS_GROUP | WS_CHILD, 0, 15, 195, 8
           CONTROL "Version 2.11" -1, "static", SS_CENTER | WS_GROUP | WS_CHILD, 0, 33, 195, 9
           CONTROL "Copyright © 1989 Microsoft Corp." -1, "static", SS_CENTER | WS_GROUP | WS_CHILD, 0, 47, 195, 9
           CONTROL "OK" IDOK, "button", BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 82, 59, 32, 14
           CONTROL "control" -1, "static", SS_ICON | WS_GROUP | WS_CHILD, 27, 14, 16, 21
END

