#include "index.h"

/****************************************************************/
/*								*/
/*  Windows Cardfile - Written by Mark Cliggett 		*/
/*  (c) Copyright Microsoft Corp. 1985 - All Rights Reserved	*/
/*								*/
/****************************************************************/


INDEXICON  icon    CARDFILE.ICO

STRINGTABLE
BEGIN
/* prompts and such */
    IDELCURCARD,    "Delete ""%%""?"
    ICREATEFILE,    "Ok to create the file?"
    IOKTOSAVE,	    "Save current changes: %%"
    IABOUT,	    "About..."
    ICARDS,	    " Cards"
    ICARD,	    " Card"
    IUNTITLED,	    "(untitled)"
    ICARDDATA,	    "Cardfile data"
    IWARNING,	    "Cardfile"
    INOTE,	    "Cardfile"
    IPICKUPPHONE,   "Please pick up the phone.  Ok to continue?"
    ICARDFILE,	    "Cardfile"
/* errors */
    ECANTDIAL,	    "Cannot dial number."
    ECANTPRINTPICT, "Not enough memory to print picture."
    EINSMEMORY,     "Not enough memory."
    EFILEEXISTS,    "Replace existing %%"
    EINVALIDFILE,   "Not a valid filename."
    ECLIPEMPTYTEXT, "There is no text in the clipboard."
    ENOTEXTSEL,     "No text is selected."
    EDISKFULLFILE,  "Not enough disk space to save file."
    ECANTMAKETEMP,  "Cannot create temp file.  You cannot make changes."
    EINSMEMSAVE,    "Not enough memory.  Card not saved."
    EDISKFULLSAVE,  "Not enough disk space to save current card."
    EOPENTEMPSAVE,  "Cannot open temp file.  Card not saved."
    ECANTREADPICT,  "Not enough memory to read picture."
    EINSMEMRUN,     "Not enough memory to run Cardfile."
    ENOTVALIDFILE,  "Not a valid card file."
    ECANTFIND,	    "Cannot find %%"
    EINSMEMREAD,    "Not enough memory to read card."
    ECANTPRINT,     "Cannot print."
    ECLIPEMPTYPICT, "There is no picture in the clipboard."
    ENOMODEM,	    "There is no modem connected."
    ENOPICTURES,    "Not able to print pictures."
    ECANTMAKEFILE,  "Cannot create %%"
    EMEMPRINT,	    "Not enough memory to print."
    EDISKPRINT,     "Not enough disk space to print."
    ISTRINGINSERT,  "%%"
    IFILEEXTENSION, "CRD"
END


MTINDEX MENU
BEGIN
    POPUP   "&File"
    BEGIN
        MENUITEM    "&New",          NEW
        MENUITEM    "&Open...",      OPEN
        MENUITEM    "&Save",         SAVE
        MENUITEM    "Save &As...",   SAVEAS
        MENUITEM    "&Print",        PRINT
        MENUITEM    "Print A&ll",    PRINTALL
        MENUITEM    "&Merge...",     MERGE
        MENUITEM    SEPARATOR
        MENUITEM    "E&xit",         EXIT
        MENUITEM    "A&bout Cardfile...",     ABOUT
    END
    POPUP   "&Edit"
    BEGIN
        MENUITEM    "&Undo\tAlt+BkSp",    UNDO
        MENUITEM    SEPARATOR
        MENUITEM    "Cu&t\tShift+Del",    CUT
        MENUITEM    "&Copy\tCtrl+Ins",  COPY
        MENUITEM    "&Paste\tShift+Ins", PASTE
        MENUITEM    "&Index...\tF6",    HEADER
        MENUITEM    "&Restore",         RESTORE
        MENUITEM    SEPARATOR
        MENUITEM    "Te&xt"             I_TEXT,  CHECKED
        MENUITEM    "Pictur&e"          I_BITMAP
    END
    POPUP   "&View"
    BEGIN
        MENUITEM    "&Cards",        CCARDFILE
        MENUITEM    "&List",         PHONEBOOK
    END
    POPUP   "&Card"
    BEGIN
        MENUITEM    "&Add...\tF7",       ADD
        MENUITEM    "&Delete",           DELETE
        MENUITEM    "Du&plicate",        DUPLICATE
        MENUITEM    "Au&todial...\tF5",  DIAL
    END
    POPUP "&Search"
    BEGIN
        MENUITEM    "&Go To...\tF4",      GOTO
        MENUITEM    "&Find...",      FIND
        MENUITEM    "Find &Next\tF3",    FINDNEXT
    END
END

MAINACC ACCELERATORS
BEGIN
    VK_INSERT, COPY, VIRTKEY, CONTROL
    VK_F3, FINDNEXT, VIRTKEY
    VK_F4, GOTO, VIRTKEY
    VK_F5, DIAL, VIRTKEY
    VK_F6, HEADER, VIRTKEY
    VK_F7, ADD, VIRTKEY
    VK_BACK, UNDO, VIRTKEY, ALT
END



DTMERGE DIALOG LOADONCALL MOVEABLE DISCARDABLE 12, 11, 148, 116
STYLE WS_DLGFRAME | WS_VISIBLE | WS_POPUP
BEGIN
           CONTROL "File &Name:" -1, "static", SS_LEFT | WS_GROUP | WS_CHILD, 5, 4, 76, 10
           CONTROL "" ID_EDIT, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_BORDER | WS_GROUP | WS_TABSTOP | WS_CHILD, 5, 17, 100, 12
           CONTROL "&Files in" -1, "static", SS_LEFT | WS_GROUP | WS_CHILD, 5, 39, 38, 10
           CONTROL "" ID_LISTBOX, "listbox", LBS_NOTIFY | LBS_SORT | LBS_STANDARD | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP | WS_CHILD, 5, 53, 70, 57
           CONTROL "&Merge" IDOK, "button", BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 88, 62, 50, 16
           CONTROL "Cancel" IDCANCEL, "button", BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 88, 87, 50, 16
           CONTROL "" ID_PATH, "static", SS_LEFT | SS_NOPREFIX | WS_GROUP | WS_CHILD, 45, 39, 98, 12
END


DTOPEN DIALOG LOADONCALL MOVEABLE DISCARDABLE 10, 10, 148, 116
STYLE WS_DLGFRAME | WS_VISIBLE | WS_POPUP
BEGIN
           CONTROL "Open File &Name:" -1, "static", SS_LEFT | WS_GROUP | WS_CHILD, 5, 4, 76, 10
           CONTROL "" ID_EDIT, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_BORDER | WS_GROUP | WS_TABSTOP | WS_CHILD, 5, 17, 100, 12
           CONTROL "&Files in" RB_TONE, "static", SS_LEFT | WS_GROUP | WS_CHILD, 5, 39, 38, 10
           CONTROL "" ID_LISTBOX, "listbox", LBS_NOTIFY | LBS_SORT | LBS_STANDARD | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP | WS_CHILD, 5, 53, 70, 57
           CONTROL "&Open" IDOK, "button", BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 88, 62, 50, 16
           CONTROL "Cancel" IDCANCEL, "button", BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 88, 87, 50, 16
           CONTROL "" ID_PATH, "static", SS_LEFT | SS_NOPREFIX | WS_GROUP | WS_CHILD, 44, 39, 98, 12
END


DTSAVE DIALOG LOADONCALL MOVEABLE DISCARDABLE 20, 20, 180, 53
STYLE WS_DLGFRAME | WS_VISIBLE | WS_POPUP
BEGIN
           CONTROL "Save File &Name As:" -1, "static", SS_LEFT | WS_GROUP | WS_CHILD, 6, 5, 85, 12
           CONTROL "" ID_EDIT, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_BORDER | WS_GROUP | WS_TABSTOP | WS_CHILD, 6, 19, 104, 12
           CONTROL "OK" IDOK, "button", BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 123, 19, 43, 14
           CONTROL "Cancel" IDCANCEL, "button", BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 123, 36, 43, 14
           CONTROL "" ID_PATH, "static", SS_LEFT | SS_NOPREFIX | WS_GROUP | WS_CHILD, 90, 5, 79, 12
END

DTHEADER DIALOG 25, 25, 220, 44
STYLE  WS_POPUP | WS_DLGFRAME | WS_VISIBLE
BEGIN
    LTEXT       "&Index Line:"  3,     4,  8, 44, 8
    EDITTEXT                 4,    52,  6, 164, 12, WS_GROUP | WS_TABSTOP
    DEFPUSHBUTTON  "OK",       IDOK,       60, 24, 40, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON  "Cancel",   IDCANCEL,   120, 24, 40, 14, WS_GROUP | WS_TABSTOP
END

DTADD DIALOG 25, 25, 192, 44
STYLE  WS_POPUP | WS_DLGFRAME | WS_VISIBLE
BEGIN
    LTEXT       "&Add:"       3,     4,  8, 16, 8
    EDITTEXT                 4,    24,  6, 164, 12, WS_GROUP | WS_TABSTOP
    DEFPUSHBUTTON  "OK",       IDOK,       46, 24, 40, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON  "Cancel",   IDCANCEL,   106, 24, 40, 14, WS_GROUP | WS_TABSTOP
END

DTDIAL DIALOG 25, 25, 192, 92
STYLE  WS_POPUP | WS_DLGFRAME | WS_VISIBLE
BEGIN
    LTEXT       "&Dial:"       3,     4,  8, 20, 8
    EDITTEXT                 4,    28,  6, 160, 12, WS_GROUP | WS_TABSTOP
    LTEXT       "Dial &Type",      5,    4,  24, 36,  8
    RADIOBUTTON "Tone",      RB_TONE,    54,   22,    40,  12, WS_GROUP | WS_TABSTOP
    RADIOBUTTON "Pulse",     RB_PULSE,   106,   22,    40,  12
    LTEXT       "&Port",      8,    4,  40, 16,  8, WS_GROUP
    RADIOBUTTON "COM1",      RB_COM1,    54,   38,    40,  12, WS_GROUP | WS_TABSTOP
    RADIOBUTTON "COM2",      RB_COM2,   106,   38,    40,  12
    LTEXT       "&Baud Rate", 11,    4,  56, 36,  8, WS_GROUP
    RADIOBUTTON "1200",      RB_1200,    54,   54,    40,  12, WS_GROUP | WS_TABSTOP
    RADIOBUTTON "300",       RB_300,   106,   54,   40,  12
    DEFPUSHBUTTON  "OK",       IDOK,       44, 72, 40, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON  "Cancel",   IDCANCEL,   116, 72, 40, 14, WS_GROUP | WS_TABSTOP
END

DTGOTO DIALOG 25, 25, 104, 44
STYLE  WS_POPUP | WS_DLGFRAME | WS_VISIBLE
BEGIN
    LTEXT       "&Go To:"     3,     4,  8, 24, 8
    EDITTEXT                 4,    32,  6, 68, 12, WS_GROUP | WS_TABSTOP
    DEFPUSHBUTTON  "OK",       IDOK,       7, 24, 40, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON  "Cancel",   IDCANCEL,   57, 24, 40, 14, WS_GROUP | WS_TABSTOP
END

DTFIND DIALOG 25, 25, 104, 44
STYLE  WS_POPUP | WS_DLGFRAME | WS_VISIBLE
BEGIN
    LTEXT       "&Find:"    3,     4,  8, 20, 8
    EDITTEXT                 4,    28,  6, 72, 12, WS_GROUP | WS_TABSTOP
    DEFPUSHBUTTON  "OK",       IDOK,       7, 24, 40, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON  "Cancel",   IDCANCEL,   57, 24, 40, 14, WS_GROUP | WS_TABSTOP
END

DTABOUT DIALOG LOADONCALL MOVEABLE DISCARDABLE 13, 15, 197, 102
STYLE WS_DLGFRAME | WS_VISIBLE | WS_POPUP
BEGIN
           CONTROL "Microsoft Windows" -1, "static", SS_CENTER | WS_GROUP | WS_CHILD, 0, 5, 197, 8
           CONTROL "Cardfile" -1, "static", SS_CENTER | WS_GROUP | WS_CHILD, 0, 15, 197, 8
           CONTROL "Version 2.03" -1, "static", SS_CENTER | WS_GROUP | WS_CHILD, 0, 34, 197, 8
           CONTROL "Copyright © 1987 Microsoft Corp." -1, "static", SS_CENTER | WS_GROUP | WS_CHILD, 0, 47, 197, 9
           CONTROL "" IDOK, "static", SS_BLACKRECT | WS_GROUP | WS_CHILD, 0, 77, 197, 2
           CONTROL "" 4, "static", SS_CENTER | WS_GROUP | WS_CHILD, 0, 87, 197, 8
           CONTROL "OK" IDOK, "button", BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 82, 59, 32, 14
           CONTROL "ÿ" -1, "static", SS_ICON | WS_GROUP | WS_CHILD, 30, 11, 16, 21
END

DTABORTDLG DIALOG 20,20,90, 64
STYLE WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Cardfile"
BEGIN
   defpushbutton "Cancel"                       IDCANCEL, 29, 44, 32, 14, WS_GROUP
   ctext    "Sending",                          -1, 0, 8, 90, 8
   ctext    "",                                 4, 0, 18, 90, 8
   ctext    "to printer.",                   -1, 0, 28, 90, 8
END
