#include "pif.h"

1  RT_TEXTTYPE pifedit0.hlp
2  RT_TEXTTYPE pifedit1.hlp
3  RT_TEXTTYPE pifedit2.hlp
4  RT_TEXTTYPE pifedit3.hlp
5  RT_TEXTTYPE pifedit4.hlp
6  RT_TEXTTYPE pifedit5.hlp
7  RT_TEXTTYPE pifedit6.hlp
8  RT_TEXTTYPE pifedit7.hlp
9  RT_TEXTTYPE pifedit8.hlp
10 RT_TEXTTYPE pifedit9.hlp

ID_PIFICON  ICON    PIFEDIT.ICO


/*
 * HACK ALERT. in order to allow Alt+Mnemonic work for menus even
 * though pifedit is actually a dialog box, we must test all
 * WM_SYSCHAR messages to see if we should bypass the dialog manager.
 * In PifMenuMnemonic() we test for the mnemonic character which is
 * defined in pif.h to be the mnemonic used here: F.  If this is changed,
 * or more menus are added in the future, make sure to change the defines
 * in pif.h and the procedure PifMenuMnemonic().
 * 07-Jun-1987. davidhab.
 *
 */

ID_PIFMENU  MENU
{
    POPUP "&File"
      BEGIN
        MENUITEM    "&New",         M_NEW
        MENUITEM    "&Open...",     M_OPEN
        MENUITEM    "&Save"         M_SAVE
        MENUITEM    "Save &As...",  M_SAVEAS
        MENUITEM    SEPARATOR
        MENUITEM    "E&xit",        M_EXIT
        MENUITEM    "A&bout Pifedit...", M_ABOUT
      END
    MENUITEM "\aF1=Help", M_HELP, HELP
}

pifaccels ACCELERATORS
BEGIN
    VK_F1, M_HELP, VIRTKEY, NOINVERT
END


DTHELP DIALOG 20,20,280, 118
STYLE WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "PifEdit Help"
BEGIN
    CONTROL "", IDSCROLL, "ScrollBar", WS_VISIBLE | SBS_VERT | WS_GROUP | WS_TABSTOP,261, 8, 9, 82
    CONTROL "", IDTEXTBOX, "PifHelp", WS_VISIBLE | WS_BORDER | WS_GROUP , 10, 8, 252, 82
    PUSHBUTTON    "&Topics"                      IDTOPICS, 30, 96, 40, 16, WS_GROUP
    DEFPUSHBUTTON    "&Next"                     IDOK, 90, 96, 40, 16, WS_GROUP
    PUSHBUTTON    "&Previous"                    IDPREVIOUS, 150, 96, 40, 16, WS_GROUP
    PUSHBUTTON     "Cancel"                     IDCANCEL, 210, 96, 40, 16, WS_GROUP
END

DTABOUT DIALOG 20,20,228, 140
STYLE  WS_POPUP | WS_DLGFRAME | WS_VISIBLE
BEGIN
    CTEXT "Microsoft Windows"			-1, 0,	5, 228, 8
    CTEXT "Pifedit"				-1,  0, 14,228, 8
    CTEXT "Version 2.1 "                        -1,  0, 34, 228, 8
    CTEXT "Copyright © 1988 Microsoft Corp."   -1,  0, 47,228, 9
    CONTROL "", 1, STATIC, SS_BLACKRECT | WS_GROUP ,  0, 76, 228, 2
    CONTROL "", ID_LISTBOX, "listbox", LBS_NOTIFY | WS_VSCROLL | WS_BORDER | WS_GROUP | WS_TABSTOP, 4, 85,220, 55
    DEFPUSHBUTTON "&Help"                        IDOK, 72, 59, 32, 16, WS_GROUP
    PUSHBUTTON     "Cancel"                     IDCANCEL, 124, 59, 32, 16, WS_GROUP
    ICON  ID_PIFICON                            -1, 16, 13,  0, 0
END

DTOPEN DIALOG LOADONCALL MOVEABLE DISCARDABLE 10, 10, 148, 116
STYLE WS_DLGFRAME | WS_VISIBLE | WS_POPUP
BEGIN
           CONTROL "Open File &Name:" -1, "static", SS_LEFT | WS_GROUP | WS_CHILD, 5, 4, 76, 10
           CONTROL "" ID_EDIT, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_BORDER | WS_GROUP | WS_TABSTOP | WS_CHILD, 5, 17, 100, 12
           CONTROL "&Files in" -1, "static", SS_LEFT | WS_GROUP | WS_CHILD, 5, 39, 38, 10
           CONTROL "" ID_LISTBOX, "listbox", LBS_NOTIFY | LBS_SORT | LBS_STANDARD | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP | WS_CHILD, 5, 53, 70, 57
           CONTROL "&Open" IDOK, "button", BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 88, 62, 50, 16
           CONTROL "Cancel" IDCANCEL, "button", BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 88, 87, 50, 16
           CONTROL "" ID_PATH, "static", SS_LEFT | SS_NOPREFIX | WS_GROUP | WS_CHILD, 44, 39, 98, 12
END

DTSAVE DIALOG LOADONCALL MOVEABLE DISCARDABLE 20, 20, 180, 53
STYLE WS_DLGFRAME | WS_VISIBLE | WS_POPUP
BEGIN
           CONTROL "Save File &Name As:" -1, "static", SS_LEFT | WS_GROUP | WS_CHILD, 6, 5, 85, 12
           CONTROL "" ID_EDIT, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_BORDER | WS_GROUP | WS_TABSTOP | WS_CHILD, 6, 19, 104, 12
           CONTROL "OK" IDOK, "button", BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 123, 19, 43, 14
           CONTROL "Cancel" IDCANCEL, "button", BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 123, 36, 43, 14
           CONTROL "" ID_PATH, "static", SS_LEFT | SS_NOPREFIX | WS_GROUP | WS_CHILD, 90, 5, 79, 12
END


STRINGTABLE
BEGIN
errTitle,	"PIF Editor"
errNoPIF,	"File not found."
errNoFile,	"Program name not specified."
errNoCreate,	"Cannot create PIF file."
errMaxMin,	"Desired less than required memory."
errHiLow,	"High vector less than low vector."
warSave,	"Save current changes?"
warOverwrite,	"Replace existing file?"
EINSMEMORY,	"Not enough memory."
EFILEEXISTS,	"Replace existing "
EINVALIDFILE,	"Not a valid filename."
errDiskFull,	"Not enough disk space."
IABOUT, 	"About..."
errBadExt,	"Bad extension in program name."
errBadProgram,	"Not a valid program name."
errBadNumber,   "Not a valid memory value."
HELPTOPIC1,	"About PIF Files"
HELPTOPIC1+1,	"PIF Edit Options--Program"
HELPTOPIC1+2,	"PIF Edit Options--Memory"
HELPTOPIC1+3,	"PIF Edit Options--Directly Modifies"
HELPTOPIC1+4,	"PIF Edit Options--Program Switch"
HELPTOPIC1+5,	"PIF Edit Options--Screen Exchange"
HELPTOPIC1+6,	"PIF Edit Options--Window Close"
HELPTOPIC1+7,	"Default Settings"
HELPTOPIC1+8,	"Determining How Your Application will be Displayed"
HELPTOPIC1+9,	"Giving Applications More Memory"
END

ID_PIFTEMPLATE  DIALOG 15, 35, 290, 150
STYLE  WS_TILEDWINDOW | DS_LOCALEDIT
CLASS "Pif"
CAPTION "Program Information Editor"
MENU ID_PIFMENU
BEGIN
    LTEXT       "Program &Name:",                       900,  10,   4, 90, 8
    EDITTEXT                                    IDI_ENAME ,  100, 2,   152,12,WS_TABSTOP | WS_GROUP | ES_AUTOHSCROLL
    LTEXT       "Program &Title:",                      901,  10,  19, 90, 8
    EDITTEXT                                    IDI_ETITLE,  100, 17,  120,12,WS_TABSTOP | WS_GROUP
    LTEXT       "Program &Parameters:",                 902,  10,  34, 90, 8
    EDITTEXT                                    IDI_EPARM ,  100, 32,  152,12,WS_TABSTOP | WS_GROUP | ES_AUTOHSCROLL
    LTEXT       "&Initial Directory:",                  903,  10,  49, 90, 8
    EDITTEXT                                    IDI_EPATH ,  100, 47,  152,12,WS_TABSTOP | WS_GROUP | ES_AUTOHSCROLL
    LTEXT	"Memory Requirements:", 	       904,  10,  65,  84, 8
    LTEXT       "KB &Required",                         905,  100, 65,  44, 8
    EDITTEXT                                    IDI_MEMREQ,  151, 63,  18, 12,WS_TABSTOP | WS_GROUP
    LTEXT       "KB &Desired",                          906,  180, 65,  44, 8
    EDITTEXT                                    IDI_MEMDES,  231, 63,  18, 12,WS_TABSTOP | WS_GROUP
    LTEXT	"Directly Modifies",		       907,   10,  79, 84, 8, WS_GROUP
    CHECKBOX    "&Screen",                       IDI_DMSCREEN,100,  77, 50, 12,WS_TABSTOP | WS_GROUP
    CHECKBOX    "COM&1",                         IDI_DMCOM1 , 150,  77, 40, 12
    CHECKBOX    "&Memory",                       IDI_DMMEM  , 190,  77, 50, 12

    CHECKBOX    "&Keyboard",                     IDI_DMKBD  , 100,  90, 50, 12
    CHECKBOX    "COM&2",                         IDI_DMCOM2 , 150,  90, 50, 12

    LTEXT       "Program S&witch",                       920,  10, 104, 84, 8,WS_GROUP
    RADIOBUTTON "Prevent",			IDI_PSNONE , 100, 102, 40, 12,WS_TABSTOP | WS_GROUP
    RADIOBUTTON "Text", 			IDI_PSTEXT , 150, 102, 40, 12
    RADIOBUTTON "Graphics/Multiple Text",       IDI_PSGRAPH, 190, 102, 120,12

    LTEXT       "Screen &Exchange",                      930, 10,  116, 84, 8,WS_GROUP
    RADIOBUTTON "None", 			IDI_SENONE , 100, 114, 40, 12,WS_TABSTOP | WS_GROUP
    RADIOBUTTON "Text", 			IDI_SETEXT , 150, 114, 40, 12
    RADIOBUTTON "Graphics/Text",                IDI_SEGRAPH, 190, 114, 120,12

    CHECKBOX    "&Close Window on exit",        IDI_EXIT,  10,  128, 97, 12,WS_GROUP | WS_TABSTOP | BS_LEFTTEXT
END
