<scriptlet>

<Registration ProgID="Orders.JScript.Scriptlet"/>

<implements id=Automation type=Automation>
	<method name=Display/>
</implements>

<script language=JScript>
Function Display() {
	' Get the Object Context from MTS
	var objCurr,objCurrObjCont,Conn,RS,Count;
	objCurr = new ActiveXObject("MTxAS.AppServer.1");
	objCurrObjCont = objCurr.GetObjectContext();
	
	' Create an ADO Connection
	Conn = new ActiveXObject ("ADODB.Connection");
	Conn.Open("advworks");
	RS = Conn.Execute("SELECT * FROM Orders");

	Count = RS.Fields.count;
	for(i = 0; i < Count; ++i) {
		GetRequest = objCurrObjCont("Response").Write(RS.Fields(i).name);
		}
	
	do {
	
	for(i = 0; i < Count; ++i) {
		GetRequest = objCurrObjCont("Response").Write(RS.Fields(i).value);
		}
		GetRequest = objCurrObjCont("Response").Write("<br>");
		RS.MoveNext;
	}
	while (! RS.EOF);

	RS.Close;
	Conn.Close;
	' Force a Garbage Collect to free objects
	CollectGarbage();
}
</script>
</scriptlet>
