#include <mindrvrc.h>

1      RC_TABLES   PRELOAD MOVEABLE         BASE.GPC

1      RC_FONT     LOADONCALL DISCARDABLE  STANDARD.PFM

STRINGTABLE

BEGIN
       1                  "Model Name"
END
