BODY {background:navajowhite;
color: black }
.BODY {background:navajowhite;
color: black }
P { color: black;
text-indent: 20%;
font-family: Comic Sans MS, Verdana, Arial, Helvetica, helv, sans-serif } 
H1 {font-family:Verdana; color:peru; font-size=110%}
.notesTitle { color: slategray;
margin-left: 25%;
font-weight: medium;
font-family: Arial Black, Arial, Helvetica, helv, sans-serif }
.notes { font-size: 75%;
margin-top:-12pt;
margin-left: 10%;
text-align: right;
margin-right: 50%;
font-family: Verdana, Arial, Helvetica, helv, sans-serif }
.recipeTitle {color: slategray;
margin-left: 25%; 
font-weight: medium;
font-family: Arial Black, Arial, Helvetica, helv, sans-serif }
.recipe { font-size: 75%;
margin-top:-14pt;
margin-left: 30%;
margin-right: 30%; }
.directionTitle {color: slategray;
margin-left: 25%;
font-weight: medium;
font-family: Arial Black, Arial, Helvetica, helv, sans-serif }
OL {margin-top:-16pt}
.direction { font-size: 75%;
margin-left: 10%;
margin-top:0;
margin-right: 10%; }
.credit {margin-top: 5px;
font-size: 70%;
text-indent: 0;
text-align: right;
margin-left: 5%;}
.suggestTitle {color: slategray;
margin-left: 25%; 
font-weight: medium;
font-family: Arial Black, Arial, Helvetica, helv, sans-serif }
.suggest {text-indent: 0;
font-size: 75%;
margin-top:-14pt;
margin-left: 30%;
margin-right: 30%; 
font-size: 80%;
font-family: Verdana, Arial, Helvetica, helv, sans-serif }
