body {background:greenyellow; color:fuchsia; font-family:cursive; text-align:right}
.body {background:greenyellow; color:fuchsia; font-family:cursive; text-align:right}

H1 {font-style:italic; font-size:175%; font-weight:light}

H2 {}

H3 {background: fuchsia; color:yellow; font-style:italic; font-weight:light; font-size:150%; margin-top:24pt}

H4 {}

P {}

.notesTitle {}
.notes {}

.recipeTitle {}
.recipe {}

.directionTitle {}
.direction {}

.suggestTitle {}
.suggest {}

.credit {text-align:left; font-family:sans-serif; font-size:75%}
