body {background:chocolate;color:black}
.body {background:chocolate;color:black}

H1 {color:burlywood; font-size:48pt; text-align:center; font-family:Verdana; font-style:italic}

H2 {}

H3 {color:peru; font-size:48pt; font-family:Verdana}

H4 {}

P {}

.notesTitle {margin-top:-24pt}
.notes {font-size:18pt; text-indent:33%; line-height:24pt; margin-top:-32pt; margin-left:10%; margin-right:10%}

.recipeTitle {}
.recipe {font-size:16pt; margin-top:-48pt; font-family:"Verdana, sans-serif";}

.directionTitle {}
OL {font-size:16pt;
margin-top:-40pt;
font-family:serif;}
.direction {margin-top:0}

.suggestTitle {}
.suggest {font-size:16pt;
margin-top:-72pt;
margin-left:25%; margin-right:25%;
font-family:serif;font-style:italic}

.credit {}
