;-------------------------------------------------------
;
;   This is a NUL RC file except for version info.
;   Most Grabbers have no resources
;
;   (C) Copyright MICROSOFT Corp. 1986-1992
;
#include <version.h>

#include ".\grabber.rcv"

#define VER_FILEDESCRIPTION_STR     "Compaq Portable Plasma 386 enhanced mode display component"

#define VER_ORIGINALFILENAME_STR    "PLASMA.3GR"

#include <common.ver>
