;-------------------------------------------------------
;
;   This is a NUL RC file except for version info.
;   Most Grabbers have no resources
;
;   (C) Copyright MICROSOFT Corp. 1986-1992
;
#include <version.h>

#include ".\grabber.rcv"

#define VER_FILEDESCRIPTION_STR     "VGA 386 enhanced mode display component (version 3.0)"

#define VER_ORIGINALFILENAME_STR    "VGA30.3GR"

#include <common.ver>
