#include "ids.h"
#include "logids.h"
#include "bldver.h"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_PRODUCTVERSION
FILEFLAGSMASK   VER_FILEFLAGSMASK
FILEFLAGS       VER_FILEFLAGS
FILEOS          VER_FILEOS
FILETYPE        VER_FILETYPE
FILESUBTYPE     VER_FILESUBTYPE
{
   BLOCK "StringFileInfo"
   {
   BLOCK "040904E4"
      {
      VALUE "CompanyName",     VER_COMPANYNAME_STR
      VALUE "FileDescription", "Setup Common Library\0"
      VALUE "FileVersion",     VER_FILEVERSION_STR
      VALUE "InternalName",    "MSCOMSTF.DLL\0"
      VALUE "LegalCopyright",  VER_LEGALCOPYRIGHT_STR
      VALUE "LegalTrademarks", VER_LEGALTRADEMARKS_STR
      VALUE "ProductName",     VER_PRODUCTNAME_STR
      VALUE "ProductVersion",  VER_PRODUCTVERSION_STR
      VALUE "Comments",        VER_COMMENT_STR
      }
   }
}

STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE
	{
	LF_OpenLogFile,		         "[000]  Setup Log File Opened %s %s"
	LF_CloseLogFile,             "[999] Setup Log File Closed %s %s"

	LF_CreateDirectory,          "[01] Creating Directory: '%s'"
	LF_CreateDirectoryPiece,     "[02]   Creating Directory Piece: '%s'"
	LF_RemoveDirectory,          "[03] Removing Directory: '%s'"

	LF_CopyFilesInCopyList,      ";; CopyFilesInCopyList"
	LF_OurDecompCopyFile,        "[21] Using Decomp to copy file: '%s',  to: '%s'"
	LF_SDKDecompCopyFile,        "[22] Using Windows VER.DLL to copy file: '%s',  to: '%s'"
	LF_CopyFile,                 "[23] Using Straight copy of file: '%s',  to: '%s'"
	LF_OverwritingFile,          "[24] Overwriting file: '%s'"
	LF_RemoveFile,               "[25] Removing file: '%s'"
	LF_BackupFile,               "[26] Backing up file: '%s',  to: '%s'"
	LF_RenameFile,               "[27] Renaming file: '%s',  to: '%s'"
	LF_DumpCopyList,             "[28] Dumping CopyList to file: '%s'"

	LF_CreateIniSection,         "[51] Creating Ini Section - file: '%s',  section: '%s'"
	LF_RemoveIniSection,         "[53] Removing Ini Section - file: '%s',  section: '%s'"
	LF_CreateIniKeyValue,        "[55] Creating Ini Key (With Value) - file: '%s',  section: '%s',  key: '%s',  value: '%s'"
	LF_RemoveIniKey,             "[57] Removing Ini Key - file: '%s',  section: '%s',  key: '%s'"
	LF_AppendIniKeyValue,        "[58] Appending Ini Key Value - file: '%s',  section: '%s',  key: '%s',  new value: '%s'"
	LF_CreateSysIniKeyValue,     "[59] Creating Sys Ini Key Value - file: '%s',  section: '%s',  key: '%s',  value: '%s'"

	LF_CreateProgManGroup,       "[71] Creating ProgMan group: '%s',  path: '%s'"
	LF_RemoveProgManGroup,       "[72] Removing ProgMan group: '%s'"
	LF_CreateProgManItem,        "[73] Creating ProgMan item - group: '%s',  item: '%s',  command: '%s'"

	LF_StampResource,            "[81] Stamping Resource in file: '%s',  type: '%d',  ID: '%d'"
	LF_CloseSystem,              "[82] Closing System Name: '%s',  Org: '%s',  Date: '%s',  Serial: '%s'"
	LF_AddDos5Help,              "[83] Adding to DOS5 Help file: '%s',  app: '%s'"

	LF_SetRestartDir,            "[91] Setting Restart Directory: '%s'"
	LF_ExitExecRestart,          "[92] Calling ExitExecRestart"


	IDS_ERROR,               "Setup Message"
	IDS_BAD_CMDLINE,	     "The command line arguments are badly formed."
	IDS_NOTDONE,		     "Setup is not yet complete.\n\nIf you quit now, this product\nwill not be correctly installed.\n\nQuit the setup of this product?"

    // error messages
    IDS_ERROR_OOM,           "More memory needed to complete Setup.\n\nTry shutting down some other active programs."
    IDS_ERROR_OPENFILE,      "Could not open the file named: '%s'."
    IDS_ERROR_CREATEFILE,    "Could not create the file named: '%s'."
    IDS_ERROR_READFILE,      "Could not read from the file named: '%s'."
    IDS_ERROR_WRITEFILE,     "Could not write to the file named: '%s'."
	IDS_WRITE_OOD,           "\nPlease verify that destination drive has enough disk space."
    IDS_ERROR_REMOVEFILE,    "Could not remove the file named: '%s'."
    IDS_ERROR_RENAMEFILE,    "Could not rename the file '%s' to '%s'."
    IDS_ERROR_READDISK,      "Could not read disk drive '%s'."
    IDS_ERROR_CREATEDIR,     "Could not create directory '%s'."
    IDS_ERROR_REMOVEDIR,     "Could not remove directory '%s'."
    IDS_ERROR_CHANGEDIR,     "Could not change to the '%s' directory."
    IDS_ERROR_GENERALINF,    "General INF file error in file '%s'.\n\nCheck for unmatched quotes, brackets or braces."
    IDS_ERROR_INFNOTSECTION, "The INF file '%s' does not start with\na section label. Check to see\nif it is mis-formed."
    IDS_ERROR_INFBADSECTION, "There is a poorly formed\nSection Label in '%s'."
    IDS_ERROR_INFBADLINE,    "One of the lines is too long in '%s'.\n\nCheck for the absence of a newline\ncharacter at the end of the file."
    IDS_ERROR_INFHASNULLS,   "INF file '%s' contains NULL characters."
    IDS_ERROR_INFXSECTIONS,  "There are too many sections in\nthe INF file '%s'."
    IDS_ERROR_INFXKEYS,      "There are too many keys\nin INF file '%s'."
    IDS_ERROR_INFSMDSECT,    "'%s' is missing or has a mis-formed [Source Media Descriptions] section."
    IDS_ERROR_INVALIDPOER,   "The INF file contains an invalid file description line."
    IDS_ERROR_INFMISSINGLINE, "Could not find the referenced file description\nline in the INF file.\n\nCheck for missing lines."
    IDS_ERROR_INFBADFDLINE,  "The INF file contains a badly formed\nfile description line - too few fields (commas)."
    IDS_ERROR_INFBADRSLINE,  "The INF file contains a badly formed line that starts with a quoted string at the left margin which is NOT followed by an equals sign. [Source Media Description] lines need to be indented with whitespace."

    IDS_ERROR_LOADLIBRARY,   "Unable to load library file '%s'."

	IDS_ERROR_MISSINGDID,      "The INF file is missing a Source Media Description for disk number '%s'."
	IDS_ERROR_INVALIDPATH,     "Tried to create an invalid path using '%s' and '%s'"
	IDS_ERROR_WRITEINIVALUE,   "Could not write line to INI file\n	File: '%s'\n	Section: '%s'\n	Key: '%s'"
	IDS_ERROR_REPLACEINIVALUE, "Could not replace line in INI file\n	File: '%s'\n	Section: '%s'\n	Key: '%s'"
	IDS_ERROR_INIVALUETOOLONG, "The generated value is too large to write to the INI file."
	IDS_ERROR_DDEINIT,         "Unable to start DDE communication with Program Manager."
	IDS_ERROR_DDEEXEC,         "Unable to execute DDE command '%s' in Program Manager."
	IDS_ERROR_BADWINEXEFILEFORMAT, "File '%s' is not a Windows Executable file.\nCheck if it is corrupted."
	IDS_ERROR_RESOURCETOOLONG, "Could not write new resource in '%s'.\nOld resource was shorter."
	IDS_ERROR_MISSINGSYSINISECTION, "Could not find INI section '%s' in file '%s'."
	IDS_ERROR_DECOMPGENERIC,   "A General error occured while trying to decompress the file '%s'."
	IDS_ERROR_DECOMPUNKNOWNALG, "'%s' has been compressed with an\nunknown algorithm.  Could not decompress."
	IDS_ERROR_DECOMPBADHEADER, "The compressed file '%s' is corrupted."
	IDS_ERROR_READFILE2,       "Could not read file '%s'."
	IDS_ERROR_WRITEFILE2,      "Could not write file '%s'."
	IDS_ERROR_MISSINGRESOURCE, "Could not find the referenced resource in '%s'."
    IDS_ERROR_INFDEFSECT,      "The INF file is missing or has an empty [Default File Settings] section."
    IDS_ERROR_SHAREDAPP,	   "\nThis file is currently being used by another application.  Please shutdown your other applications." 	

	IDS_ERR_INFInvalidFirstChar, "Bad first Character on an INF line."
	IDS_ERR_INFLineIsTooLong,    "An INF line is too long."

	IDS_ERR_FDDid,              "Bad Disk ID value in INF File Description line."
	IDS_ERR_FDSrcFile,          "Bad Source File value in INF File Description line."
	IDS_ERR_FDAppend,           "Bad Append value in INF File Description line."
	IDS_ERR_FDBackup,           "Bad Backup value in INF File Description line."
	IDS_ERR_FDCopy,             "Bad Copy value in INF File Description line."
	IDS_ERR_FDDate,             "Bad Date value in INF File Description line."
	IDS_ERR_FDDecompress,       "Bad Decompress value in INF File Description line."
	IDS_ERR_FDLang,             "Bad Language value in INF File Description line."
	IDS_ERR_FDDestSymbol,       "Bad symbol value in Destination field in INF File Description Line."
	IDS_ERR_FDOverwrite,        "Bad Overwrite value in INF File Description line."
	IDS_ERR_FDReadOnly,         "Bad ReadOnly value in INF File Description line."
	IDS_ERR_FDRemove,           "Bad Remove value in INF File Description line."
	IDS_ERR_FDRename,           "Bad Rename value in INF File Description line."
	IDS_ERR_FDRenameSymbol,     "Bad symbol value in Rename field in INF File Description Line."
	IDS_ERR_FDRoot,             "Bad Root value in INF File Description line."
	IDS_ERR_FDSetTime,          "Bad SetTimeStamp value in INF File Description line."
	IDS_ERR_FDShared,           "Bad Shared value in INF File Description line."
	IDS_ERR_FDSize,             "Bad File Size value in INF File Description line."
	IDS_ERR_FDSystem,           "Bad System value in INF File Description line."
	IDS_ERR_FDTime,             "Bad Copy Time value in INF File Description line."
	IDS_ERR_FDUndo,             "Bad value in reserved field of INF File Description line."
	IDS_ERR_FDVersion,          "Bad Version value in INF File Description line."
	IDS_ERR_FDVital ,           "Bad Vital value in INF File Description line."
	IDS_ERR_RestartFailed,      "Setup needs to restart Windows in order to replace system files.\n\nYou must close your MS-DOS session(s) and/or other Windows applications.  Please do this now and then press 'Retry'.  Press 'Cancel' to exit Setup without completing the installation."
	IDS_ERR_FDAppendRenameRoot, "An INF File Description line contains two of Append, Rename and Root values."
	IDS_ERR_FDAppendBackup,     "An INF File Description line contains both Append and Backup values."
	IDS_ERR_FDCopyRemove,       "An INF File Description line contains both Copy and Remove values."
	IDS_ERR_RestartNotFound,    "Could not find file '%s' to execute during Windows shutdown to replace system files."

	IDS_ERR_DFSNoKey,           "A Default File Settings line has a bad or missing key (must be quoted at left margin)."
	IDS_ERR_DFSQuotedValue,     "A Default File Settings line has a bad or missing value (must be quoted)."

	IDS_ERR_SMDStartWithWhite,  "Source Media Description lines must be indented from the left margin with spaces or tabs."
	IDS_ERR_SMDQuoted,          "Source Media Description line fields must be quoted."
	IDS_ERR_SMDEarlyEnd,        "A Source Media Description line ended early."
	IDS_ERR_SMDComma,           "Source Media Description line fields must be separated with a comma immediately after the previous fields ending quote."
	IDS_ERR_SMDDid,             "Bad Disk ID value in a Source Media Description line."

	IDS_NEEDSETRESTARTDIR,      "Script must call SetRestartDir before calling CopyFilesInCopyList."
	IDS_CANTWRITERESTARTBAT,    "Cannot write to Windows Restart file."

	IDS_CANTFINDINFFILE,        "Cannot find and read the INF file: %s"
	IDS_NEEDTOOPENANINFFILE,    "You need to open an INF file earlier in the script."
	IDS_UNDEFINEDDID,           "Attempted use of undefined disk ID '%s'.\nSetup program has probably been corrupted."

	IDS_NEEDLOGFILE,            "Script must call OpenLogFile before calling WriteToLogFile."
	IDS_BADLOGFILEPATH,         "Bad path string for opening Log file: %s"
	IDS_CANTREOPENLOGFILE,      "Cannot reopen the Log file: %s"

	IDS_ERROR_INFHASCTRLZ,      "INF file '%s' ends early with Ctrl-Z character."

	IDS_BADSPECIALFILEPATH,     "Bad File Path supplied to AddSpecialFileToCopyList routine: '%s'"

	IDS_UISTART_HWND,           "Script has been corrupted.  NULL window handle arg passed to UIStartDlg."
	IDS_UISTART_DLL,            "Script or DLL has been corrupted.  Unable to load DLL: '%s'."
	IDS_UISTART_PROC,           "Script or DLL has been corrupted.  Unable to load procedure: '%s : %s'.  (It might not be exported.)"
	IDS_UISTART_DLGID,          "Script or DLL has been corrupted.  Unable to load dialog template: '%s : %u'."
	IDS_UISTART_CHILD,          "DLL has been corrupted.  Dialog created is not CHILD of frame: '%s : %u'.  (Template needs WS_CHILD style.)"
	IDS_UISTART_CREATE,         "Script or DLL has been corrupted.  CreateDialog() failed: '%s : %u'."

	IDS_APIFAILED,              "While registering OLE servers, Setup had a problem with REG.DAT, SHELL.DLL or disk space."

	IDS_MissingSectKeyLine,     "Inf file is missing line in section [%s] with reference key '%s'."
	IDS_TooFewFields,           "Inf file line has too few fields.  Section: '%s', reference key: '%s'."

	IDS_CreatePMGroup,          "Unable to create Program Manager group: '%s'."
	IDS_RemovePMGroup,          "Unable to remove Program Manager group: '%s'."
	IDS_ShowPMGroup,            "Unable to show Program Manager group: '%s'."
	IDS_CreatePMItem,           "Unable to create item in Program Manager group: '%s', item: '%s'."
	IDS_SETUP_CORRUPTED,        "Setup has encountered a problem.\n\nPlease report File='%s', Line='%u' to Microsoft Product Support Services."

	IDS_ERR_DFSBadSym,          "[Default File Settings] section of INF file contains unrecognized option: '%s'."
	IDS_ERR_DFSBadVal,          "[Default File Settings] section of INF file contains badly formed value.  option: '%s', value: '%s'."

	IDS_ERR_MissingInfSection,  "INF file is missing section: '%s'."

    IDS_ERROR_OPENFILESH,       "Could not open the file named: '%s'. It is in use by another application."
    IDS_ERROR_REMOVEFILESH,     "Could not remove the file named: '%s'.  It is in use by another application."
    IDS_ERROR_RENAMEFILESH,     "Could not rename the file '%s' to '%s'.  It is in use by another application."
	IDS_ERROR_CHMODFILESH,		"Cannot change properties of the file named: '%s'.  It is in use by another application."
	IDS_ERROR_CHMODFILE,		"Cannot change properties of the file named: '%s'."

	IDS_FileSizeMismatch,       "File Copy operation failed - incorrect number of bytes written to disk - source file or destination disk may be corrupted - use ChkDsk.  Source: '%s'  Dest: '%s'."

	IDS_OutOfMemory,            "Out Of Memory"
	}

