#include "ids.h"
#include "bldver.h"

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_FILEVERSION
PRODUCTVERSION  VER_PRODUCTVERSION
FILEFLAGSMASK   VER_FILEFLAGSMASK
FILEFLAGS       VER_FILEFLAGS
FILEOS          VER_FILEOS
FILETYPE        VER_FILETYPE
FILESUBTYPE     VER_FILESUBTYPE
{
   BLOCK "StringFileInfo"
   {
   BLOCK "040904E4"
      {
      VALUE "CompanyName",     VER_COMPANYNAME_STR
      VALUE "FileDescription", "Setup Shell Library\0"
      VALUE "FileVersion",     VER_FILEVERSION_STR
      VALUE "InternalName",    "MSSHLSTF.DLL\0"
      VALUE "LegalCopyright",  VER_LEGALCOPYRIGHT_STR
      VALUE "LegalTrademarks", VER_LEGALTRADEMARKS_STR
      VALUE "ProductName",     VER_PRODUCTNAME_STR
      VALUE "ProductVersion",  VER_PRODUCTVERSION_STR
      VALUE "Comments",        VER_COMMENT_STR
      }
   }
}

147   ICON    SETUP.ICO


STRINGTABLE LOADONCALL MOVEABLE DISCARDABLE
    BEGIN
	IDS_USAGE_TITLE,         "Setup Information"
	IDS_USAGE_MSG1,          "This program requires Microsoft (R) Windows "
	IDS_USAGE_MSG2,          "version 3.0 or higher.\n\nUsage:  Setup [/A]   (/A - Administrator mode)\n"

	IDS_ABOUT_MENU,          "&About..."
	IDS_ABOUT_TITLE,         "About Setup"
	IDS_ABOUT_MSG,           STFABOUTMSG

	IDS_ERROR,               "Setup Message"
	IDS_BAD_INF_SRC,         "Could not find INF file."
	IDS_BAD_SRC_PATH,        "The Source Path value is invalid."
	IDS_EXE_PATH_LONG,       "The full path for the executable is too long"
	IDS_GET_MOD_FAIL,        "GetModuleFileName() did not return a full path"
	IDS_VER_DLL		         "VER.DLL could not be loaded."

	IDS_REGISTER_CLASS,      "Setup is in conflict with another task.\n\nPlease shutdown your other applications or restart Windows."
	IDS_CREATE_WINDOW,       "Setup could not create its Window.\n\nPlease shutdown your other applications or restart Windows."
	IDS_SECOND_INSTANCE,     "Another Setup is already running.\n\nPlease switch to and finish that other Setup or restart Windows."

	IDS_CD_BLANKNAME,        "A name is required."
	IDS_CD_BLANKORG,         "A company name is required."
   	IDS_EXE_CORRUPT,         "The Setup executable file has been corrupted."
	IDS_CANT_END_SESSION,    "Please exit the Program normally rather\nthan trying to end the session\nthrough the Program Manager."
	IDS_SRC_FILE,		 "Source File:"
	IDS_DST_FILE,		 "Destination File:"
	IDS_REMOVING_FILE	 "Removing File:"
	IDS_INS_DISK,		 "Please insert the disk labeled\n'"
	IDS_INTO,		     "into drive "
	IDS_BAD_CMDLINE,	 "The command line arguments are badly formed."
	IDS_NOTDONE,		 "Setup is not yet complete.\n\nIf you quit now, this product\nwill not be correctly installed.\n\nQuit the setup of this product?"

	IDS_DECOMP_OKAY,     "Copy/Decompression operation was successful."
	IDS_DECOMP_FAIL,     "Copy/Decompression operation failed."
	IDS_DECOMP_FIND1,    "Insert disk with file: "
	IDS_DECOMP_FIND2,    "Cannot find file to copy/decompress: "

	IDS_NONVITAL,		 "Setup can proceed without copying the \nfiles on this disk. \nIs it okay to proceed without these files?"
    END

