#include <windows.h>

#include <ntverp.h>

#define	VER_FILETYPE	VFT_DLL
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "USB Loop Back Stub Driver"
#define VER_INTERNALNAME_STR        "usbloop.sys"
#define VER_ORIGINALFILENAME_STR    "usbloop.sys"

#include "common.ver"

