#define NOVIRTUALKEYCODES
#define NOWINMESSAGES
#define NOGDICAPMASKS
#define NOSYSMETRICS
#define NONCMESSAGES
#define NOSHOWWINDOW
#define NOKEYSTATE
#define NOMENUS
#define NOICON
#define OEMRESOURCE
#define RESOURCESTRINGS
#include "user.h"

1 MENU PRELOAD
begin
    popup " "
    begin
	menuitem "&Restore\t  Alt+F5",	  SC_RESTORE
	menuitem "&Move\t  Alt+F7",	  SC_MOVE
	menuitem "&Size\t  Alt+F8",	  SC_SIZE
	menuitem "Mi&nimize\t  Alt+F9",   SC_MINIMIZE
	menuitem "Ma&ximize\t  Alt+F10",  SC_MAXIMIZE
        menuitem                          SEPARATOR
	menuitem "&Close\t  Alt+F4",	  SC_CLOSE
    end
end


1 DIALOG LOADONCALL MOVEABLE DISCARDABLE 64, 29, 141, 67
STYLE WS_POPUP | WS_DLGFRAME | WS_VISIBLE
Begin
Control "", 100,  131, 0x50a20001,   4,  4, 80, 60
Control "", 101,  130, 0x50010000,  97,  8, 32, 24
Control "", 101,  130, 0x50020007,  95,  6, 34, 28
Control "", IDOK, 128, 0x50010000,  90, 40, 46, 21
End

1 BITMAP LOADONCALL user.bmp

; default title bar bitmaps for use with old drivers.
OBM_CLOSE   BITMAP DISCARDABLE close.bmp
OBM_RESTORE BITMAP DISCARDABLE restore.bmp
OBM_REDUCE  BITMAP DISCARDABLE reduce.bmp
OBM_ZOOM    BITMAP DISCARDABLE zoom.bmp

; default sizing arrow cursors for use with old drivers
OCR_SIZENWSE CURSOR DISCARDABLE sizenwse.cur
OCR_SIZENESW CURSOR DISCARDABLE sizenesw.cur
OCR_SIZENS   CURSOR DISCARDABLE sizens.cur
OCR_SIZEWE   CURSOR DISCARDABLE sizewe.cur
OCR_SIZEALL  CURSOR DISCARDABLE sizeall.cur

; default message box icons for use with old drivers
;  The hand.ico must be non-discardable
OIC_HAND    ICON LOADONCALL hand.ico
OIC_QUES    ICON DISCARDABLE ques.ico
OIC_BANG    ICON DISCARDABLE bang.ico
OIC_NOTE    ICON DISCARDABLE note.ico


STRINGTABLE FIXED PRELOAD
begin
;
; The order must be preserved. These are loaded in at initialization.
;
;-------------------------------------------------------------------------
; NOTE: max 15 (not 16) strings, or LoadWinStrings() may not work
;-------------------------------------------------------------------------
; Error and Untitled
;
    STR_UNTITLED        ,"Untitled"
    STR_ERROR           ,"Error!"
;
; Message Box Strings
;
    STR_MBOK            ,"OK"
    STR_MBCANCEL        ,"Cancel"
    STR_MBABORT 	,"&Abort"
    STR_MBRETRY 	,"&Retry"
    STR_MBIGNORE	,"&Ignore"
    STR_MBYES		,"&Yes"
    STR_MBNO		,"&No"
end
