#include <windows.h>

#include <ntverp.h>

#define VER_FILETYPE    VFT_DLL
#define VER_FILESUBTYPE VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "I82930 Read and Write test App"
#define VER_INTERNALNAME_STR        "rw.sys"
#define VER_ORIGINALFILENAME_STR    "rw.sys"

#include <common.ver>

