#include "pscript.h"
#define NOSTRUCTURES
#include "printers.h"
#include "version.h"

agb     MYFONT LOADONCALL MOVEABLE DISCARDABLE    agb.pfm
agbo    MYFONT LOADONCALL MOVEABLE DISCARDABLE    agbo.pfm
agd	    MYFONT LOADONCALL MOVEABLE DISCARDABLE    agd.pfm
agdo	MYFONT LOADONCALL MOVEABLE DISCARDABLE    agdo.pfm
bd	    MYFONT LOADONCALL MOVEABLE DISCARDABLE    bd.pfm
bdi     MYFONT LOADONCALL MOVEABLE DISCARDABLE    bdi.pfm
bl	    MYFONT LOADONCALL MOVEABLE DISCARDABLE    bl.pfm
bli     MYFONT LOADONCALL MOVEABLE DISCARDABLE    bli.pfm
cm	    MYFONT LOADONCALL MOVEABLE DISCARDABLE    cm.pfm
cb	    MYFONT LOADONCALL MOVEABLE DISCARDABLE    cb.pfm
cbo     MYFONT LOADONCALL MOVEABLE DISCARDABLE    cbo.pfm
co	    MYFONT LOADONCALL MOVEABLE DISCARDABLE    co.pfm
hm	    MYFONT LOADONCALL MOVEABLE DISCARDABLE    hm.pfm
hb	    MYFONT LOADONCALL MOVEABLE DISCARDABLE    hb.pfm
hbo     MYFONT LOADONCALL MOVEABLE DISCARDABLE    hbo.pfm
hvn		MYFONT LOADONCALL MOVEABLE DISCARDABLE    hvn.pfm
hvnb	MYFONT LOADONCALL MOVEABLE DISCARDABLE    hvnb.pfm
hvnbo	MYFONT LOADONCALL MOVEABLE DISCARDABLE    hvnbo.pfm
hvno	MYFONT LOADONCALL MOVEABLE DISCARDABLE    hvno.pfm
ho	    MYFONT LOADONCALL MOVEABLE DISCARDABLE    ho.pfm
ncb	    MYFONT LOADONCALL MOVEABLE DISCARDABLE    ncb.pfm
ncbi	MYFONT LOADONCALL MOVEABLE DISCARDABLE    ncbi.pfm
nci	    MYFONT LOADONCALL MOVEABLE DISCARDABLE    nci.pfm
ncr	    MYFONT LOADONCALL MOVEABLE DISCARDABLE    ncr.pfm
pb	    MYFONT LOADONCALL MOVEABLE DISCARDABLE    pb.pfm
pbi     MYFONT LOADONCALL MOVEABLE DISCARDABLE    pbi.pfm
pi	    MYFONT LOADONCALL MOVEABLE DISCARDABLE    pi.pfm
pr	    MYFONT LOADONCALL MOVEABLE DISCARDABLE    pr.pfm
sm	    MYFONT LOADONCALL MOVEABLE DISCARDABLE    sm.pfm
tb	    MYFONT LOADONCALL MOVEABLE DISCARDABLE    tb.pfm
tbi     MYFONT LOADONCALL MOVEABLE DISCARDABLE    tbi.pfm
ti	    MYFONT LOADONCALL MOVEABLE DISCARDABLE    ti.pfm
tr	    MYFONT LOADONCALL MOVEABLE DISCARDABLE    tr.pfm
zc		MYFONT LOADONCALL MOVEABLE DISCARDABLE    zc.pfm
zd	    MYFONT LOADONCALL MOVEABLE DISCARDABLE    zd.pfm
ldo	    MYFONT LOADONCALL MOVEABLE DISCARDABLE    ldo.pfm
ld		MYFONT LOADONCALL MOVEABLE DISCARDABLE    ld.pfm
lb		MYFONT LOADONCALL MOVEABLE DISCARDABLE    lb.pfm
lbo		MYFONT LOADONCALL MOVEABLE DISCARDABLE    lbo.pfm
sd		MYFONT LOADONCALL MOVEABLE DISCARDABLE    sd.pfm
sdi		MYFONT LOADONCALL MOVEABLE DISCARDABLE    sdi.pfm
sl		MYFONT LOADONCALL MOVEABLE DISCARDABLE    sl.pfm
sli		MYFONT LOADONCALL MOVEABLE DISCARDABLE    sli.pfm


1      PSHEADER  LOADONCALL DISCARDABLE header.bin

1		MYFONTDIR  LOADONCALL apple1.dir
2		MYFONTDIR  LOADONCALL apple2.dir
3		MYFONTDIR  LOADONCALL dp2665.dir
4		MYFONTDIR  LOADONCALL decln03r.dir
5		MYFONTDIR  LOADONCALL dec40.dir
6		MYFONTDIR  LOADONCALL ibm1.dir
7		MYFONTDIR  LOADONCALL lino.dir
8		MYFONTDIR  LOADONCALL qmsps800.dir
9		MYFONTDIR  LOADONCALL qmsps80p.dir
10		MYFONTDIR  LOADONCALL ti08.dir
11		MYFONTDIR  LOADONCALL ti.dir
12		MYFONTDIR  LOADONCALL wang15.dir
13		MYFONTDIR  LOADONCALL wang15fp.dir


PAPERSIZES	MY_DATA	LOADONCALL MOVEABLE DISCARDABLE papersiz.dta
ZEROMARGINS	MY_DATA	LOADONCALL MOVEABLE DISCARDABLE nomargin.dta
NEGMARGINS	MY_DATA	LOADONCALL MOVEABLE DISCARDABLE ngmargin.dta
PAPERBINS	MY_DATA	LOADONCALL MOVEABLE DISCARDABLE paperbin.dta
/*BIN2FEEDMAP	MY_DATA	LOADONCALL MOVEABLE DISCARDABLE bin2feed.dta
 */

1		PR_CAPS	LOADONCALL MOVEABLE DISCARDABLE apple1.dta
2		PR_CAPS	LOADONCALL MOVEABLE DISCARDABLE apple2.dta
3		PR_CAPS	LOADONCALL MOVEABLE DISCARDABLE dp2665.dta
4		PR_CAPS	LOADONCALL MOVEABLE DISCARDABLE decln03r.dta
5		PR_CAPS	LOADONCALL MOVEABLE DISCARDABLE dec40.dta
6		PR_CAPS	LOADONCALL MOVEABLE DISCARDABLE ibm1.dta
7		PR_CAPS	LOADONCALL MOVEABLE DISCARDABLE lino.dta
8		PR_CAPS	LOADONCALL MOVEABLE DISCARDABLE qmsps800.dta
9		PR_CAPS	LOADONCALL MOVEABLE DISCARDABLE qmsps80p.dta
10		PR_CAPS	LOADONCALL MOVEABLE DISCARDABLE ti08.dta
11		PR_CAPS	LOADONCALL MOVEABLE DISCARDABLE ti.dta
12		PR_CAPS	LOADONCALL MOVEABLE DISCARDABLE wang15.dta
13		PR_CAPS	LOADONCALL MOVEABLE DISCARDABLE wang15fp.dta
14		PR_CAPS	LOADONCALL MOVEABLE DISCARDABLE nullpr.dta


/* DTMODE DIALOG LOADONCALL MOVEABLE DISCARDABLE 16, 16, 264, 136
 */
DTMODE DIALOG LOADONCALL MOVEABLE DISCARDABLE 16, 16, 264, 148
CAPTION "PostScript Printer on "
STYLE WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP
BEGIN
           CONTROL "U&ncollated copies:" 0, "static", SS_LEFT | WS_GROUP | WS_CHILD, 8, 8, 72, 8
	   CONTROL "" COPIES, "edit", ES_LEFT | WS_BORDER | WS_GROUP | WS_TABSTOP | WS_CHILD, 84, 6, 25, 12

	   CONTROL "Orientation:" 0, "static", SS_LEFT | WS_GROUP | WS_CHILD, 8, 22, 48, 8
           CONTROL "&Portrait" PORTRAIT, "button", BS_RADIOBUTTON | WS_TABSTOP | WS_GROUP | WS_CHILD, 64, 20, 44, 12
           CONTROL "&Landscape" LANDSCAPE, "button", BS_RADIOBUTTON | WS_CHILD, 116, 20, 48, 12

	   CONTROL "Paper:" 0, "static", SS_LEFT | WS_GROUP | WS_CHILD, 8, 36, 24, 8
           CONTROL "Le&tter" LETTER, "button", BS_RADIOBUTTON | WS_TABSTOP | WS_GROUP | WS_CHILD, 40, 34, 40, 12
           CONTROL "L&egal" LEGAL, "button", BS_RADIOBUTTON | WS_CHILD, 80, 34, 36, 12
           CONTROL "11&x17" TABLOID, "button", BS_RADIOBUTTON | WS_CHILD, 116, 34, 36, 12
           CONTROL "&Half Letter" STATEMENT, "button", BS_RADIOBUTTON | WS_CHILD, 152, 34, 60, 12

           CONTROL "&A3" DINA3, "button", BS_RADIOBUTTON | WS_CHILD, 40, 46, 24, 12
           CONTROL "A&4" DINA4, "button", BS_RADIOBUTTON | WS_CHILD, 64, 46, 24, 12
           CONTROL "A&5" DINA5, "button", BS_RADIOBUTTON | WS_CHILD, 88, 46, 24, 12
           CONTROL "B&4" DINB4, "button", BS_RADIOBUTTON | WS_CHILD, 116, 46, 24, 12
           CONTROL "B&5" DINB5, "button", BS_RADIOBUTTON | WS_CHILD, 140, 46, 24, 12

	   CONTROL "Paper source:" 0, "static", SS_LEFT | WS_GROUP | WS_CHILD, 8, 62, 52, 8
           CONTROL "&Upper tray" UPPERTRAY, "button", BS_RADIOBUTTON | WS_TABSTOP | WS_GROUP | WS_CHILD, 68, 60, 52, 12
           CONTROL "Lo&wer tray" LOWERTRAY, "button", BS_RADIOBUTTON | WS_CHILD, 128, 60, 52, 12

           CONTROL "&Manual feed" MANUALFEED, "button", BS_RADIOBUTTON | WS_CHILD, 188, 60, 56, 12
           CONTROL "Graphics resolution:" 0, "static", SS_LEFT | WS_GROUP | WS_CHILD, 8, 76, 80, 8
           CONTROL "&75" RES75, "button", BS_RADIOBUTTON | WS_TABSTOP | WS_GROUP | WS_CHILD, 96, 74, 20, 12
           CONTROL "1&00" RES100, "button", BS_RADIOBUTTON | WS_CHILD, 124, 74, 24, 12
           CONTROL "&150" RES150, "button", BS_RADIOBUTTON | WS_CHILD, 156, 74, 24, 12
           CONTROL "&300" RES300, "button", BS_RADIOBUTTON | WS_CHILD, 188, 74, 24, 12
	   CONTROL "" RESCUSTOM, "button", BS_RADIOBUTTON | WS_CHILD, 220, 74, 12, 12
	   CONTROL "" EDITFIELD, "edit", ES_LEFT | WS_BORDER | WS_GROUP | WS_TABSTOP | WS_CHILD, 232, 74, 24, 12
           CONTROL "P&rinter:" 0, "static", SS_LEFT | WS_GROUP | WS_CHILD, 8, 90, 32, 8
	   CONTROL "" LISTFIELD, "listbox", LBS_NOTIFY | WS_BORDER | WS_VSCROLL | WS_GROUP | WS_TABSTOP | WS_CHILD, 48, 90, 156, 40
	   CONTROL VERSION 0, "static", SS_RIGHT | WS_GROUP | WS_CHILD, 224, 136, 32, 8
	   CONTROL "OK" IDOK, "button", BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 224, 5, 32, 14
	   CONTROL "Cancel" IDCANCEL, "button", BS_PUSHBUTTON | WS_GROUP | WS_TABSTOP | WS_CHILD, 224, 22, 32, 14
	CONTROL "\251 Microsoft, Inc. 1986.  Portions \251 Aldus Corp. 1987." -1, "static", SS_LEFT | WS_GROUP | WS_CHILD, 8, 136, 212, 8
END


STRINGTABLE
BEGIN
    IDS_PR1	"Apple LaserWriter"
    IDS_PR2	"Apple LaserWriter Plus"
	IDS_PR3 "Dataproducts LZR 2665"
	IDS_PR4		"Digital LN03R ScriptPrinter"
    IDS_PR5		"Digital LPS PrintServer 40"
    IDS_PR6 	"IBM Personal Pageprinter"
    IDS_PR7 	"Linotronic 100/300/500"
    IDS_PR8 	"QMS-PS 800"
    IDS_PR9		"QMS-PS 800 Plus"
    IDS_PR10 	"TI OmniLaser 2108"
    IDS_PR11	"TI OmniLaser 2115"
    IDS_PR12	"Wang LCS15"
    IDS_PR13	"Wang LCS15 FontPlus"
    IDS_PAPER0	"Letter"
    IDS_PAPER1	"Legal"
	IDS_PAPER2	"11x17"
	IDS_PAPER3	"Statement"
    IDS_PAPER4	"A3"
    IDS_PAPER5	"A4"
    IDS_PAPER6	"A5"
	IDS_PAPER7	"B4"
	IDS_PAPER8	"B5"
	IDS_DLOADED	"Header Downloaded"
	IDS_YES		"yes"
	IDS_NO		"no"
	IDS_TM		"Tile Mode"
	IDS_LIE		"Margins"
        IDS_AUTO        "Auto &select"
        IDS_UPPER       "&Upper tray"
	IDS_CASSETTE	"Cassette"
END

