/* Resource file for VGA (4-plane) display driver */


#define OEMRESOURCE
#define WIN31
#include "windows.h"
#include "display.rcv"
#ifdef PENWIN
#define OCR_NWPEN 32631
#endif

OCR_NORMAL	    cursor	PRELOAD FIXED	normal.cur
OCR_WAIT	    cursor	PRELOAD FIXED	wait.cur
OCR_SIZENWSE	    cursor	PRELOAD 	sizenwse.cur
OCR_SIZENESW	    cursor	PRELOAD 	sizenesw.cur
OCR_SIZEWE	    cursor	PRELOAD 	sizewe.cur
OCR_SIZENS	    cursor	PRELOAD 	sizens.cur
OCR_IBEAM	    cursor	PRELOAD 	ibeam.cur
OCR_UP		    cursor	PRELOAD 	up.cur
OCR_ICON	    cursor	PRELOAD 	icon.cur
OCR_CROSS	    cursor			cross.cur
OCR_SIZE	    cursor			size.cur
#ifdef PENWIN
OCR_NWPEN	    cursor			pen_nw.cur
#endif

OIC_HAND	    icon	PRELOAD 	hand.ico
OIC_QUES	    icon	PRELOAD 	ques.ico
OIC_BANG	    icon	PRELOAD 	bang.ico
OIC_NOTE	    icon	PRELOAD 	note.ico
OIC_SAMPLE	    icon			sample.ico

OBM_OLD_RESTORE     bitmap			orest.bmp
OBM_OLD_REDUCE	    bitmap			ored.bmp
OBM_OLD_ZOOM	    bitmap			ozoom.bmp
OBM_OLD_RGARROW     bitmap			oright.bmp
OBM_OLD_LFARROW     bitmap			oleft.bmp
OBM_OLD_UPARROW     bitmap			oup.bmp
OBM_OLD_DNARROW     bitmap			odown.bmp
OBM_OLD_CLOSE	    bitmap			oclose.bmp

OBM_RESTORE	    bitmap	PRELOAD 	restore.bmp
OBM_RESTORED	    bitmap	PRELOAD 	restored.bmp
OBM_REDUCE	    bitmap	PRELOAD 	min.bmp
OBM_REDUCED	    bitmap	PRELOAD 	mind.bmp
OBM_ZOOM	    bitmap	PRELOAD 	max.bmp
OBM_ZOOMD	    bitmap	PRELOAD 	maxd.bmp
OBM_RGARROW	    bitmap	PRELOAD 	right.bmp
OBM_RGARROWD	    bitmap	PRELOAD 	rightd.bmp
OBM_LFARROW	    bitmap	PRELOAD 	left.bmp
OBM_LFARROWD	    bitmap	PRELOAD 	leftd.bmp
OBM_UPARROW	    bitmap	PRELOAD 	up.bmp
OBM_UPARROWD	    bitmap	PRELOAD 	upd.bmp
OBM_DNARROW	    bitmap	PRELOAD 	down.bmp
OBM_DNARROWD	    bitmap	PRELOAD 	downd.bmp
OBM_CLOSE	    bitmap	PRELOAD 	sysmenu.bmp
OBM_CHECK	    bitmap	PRELOAD 	ocheck.bmp
OBM_BTSIZE	    bitmap	PRELOAD 	obtsize.bmp
OBM_SIZE	    bitmap	PRELOAD 	osize.bmp
OBM_CHECKBOXES	    bitmap	PRELOAD 	obutton.bmp
OBM_BTNCORNERS	    bitmap	PRELOAD 	obtncorn.bmp
OBM_COMBO	    bitmap	PRELOAD 	combo.bmp
OBM_MNARROW	    bitmap	PRELOAD 	mnarrow.bmp
OBM_UPARROWI	    bitmap	PRELOAD		upi.bmp
OBM_DNARROWI	    bitmap	PRELOAD		downi.bmp
OBM_LFARROWI	    bitmap	PRELOAD		lefti.bmp
OBM_RGARROWI	    bitmap	PRELOAD		righti.bmp

1		    oembin	PRELOAD 	config.bin
fonts		    oembin	PRELOAD 	fonts.bin
2		    oembin			colortab.bin

1000 strings
begin
  13,10,13,10,13,10,13,10,
  "An error occured while trying to initialize the VGA video adapter.",13,10,
  13,10,"Hit any key to continue.",13,10,"$"
end

1010 strings
begin
  13,10,13,10,13,10,13,10,
  "This Windows 3.1 SuperVGA display driver does not support",13,10,
  "your video adapter.  Please contact the video adapter's manufacturer",13,10,
  "for the correct driver. In the meantime, use Windows Setup to select",13,10,
  "a different display type, such as VGA.",13,10,13,10,
  "Hit any key to continue.",13,10,"$"
end


